<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>NewAttr</title>
</head>
<body>

<center>
<h1>How to Create a New Attribute</h1>
</center>

<p>The following instructions explain how to create a new  attribute. This
dialog allows the creation of attributes  that are numbers or strings, and
1D arrays of numbers. </p>
<p>To create an attribute, it is necessary to define the  <a
 href="#attrname">name</a>, <a href="#attrtype">type,</a> and <a
 href="#attrlen">number of values or length of string</a>. Then the <a
 href="#attrval">value(s)</a> can be entered. </p>
<p>At each step, be sure to type <return>, to make sure the value is accepted
by the dialog.  <br>
</return></p>
<p><return> </return></p>
<h2>1) <a name="attrname"></a>Attribute name</h2>
 The <i>name</i> of the attribute is a string. HDF accepts almost any characters
in an attribute name. The name can be up to ?? characters long.&nbsp;
<h2>2) <a name="attrtype"></a>Datatype</h2>
 A list of predefined <i>datatypes</i> are given. These are the data types
that can be created with this tool, you can only select  a datatype from
the list.
<p> The size specifies the size of a single data point in bits.&nbsp; </p>
<h2>3) <a name="attrlen"></a> Array length</h2>
 The <i>length</i> field is used to specify the length of array or string.
 For numeric data, you can create an attribute with a single value  or a
one-dimension array of <i>length</i> values.
<p> For a string attribute, the <i>length</i> is the maximum length of the
 String. </p>
<p> As a practical matter, attributes must be relatively small, perhaps  a
few kilobytes.&nbsp; </p>
<h2>4) <a name="attrval"></a>Attribute value</h2>
 The <i>value</i> field is used to enter the initial value of the  attribute.
 Be sure to type <return> after entering the value(s). </return>
<p> Numeric data is interpreted according to the <a href="#attrtype">Datatype</a>
, using the number formats supported by Java. If the attribute is an array,
values of the array must be  separated by a comma, for example, <i>12, 3,
4, 5</i>.  </p>
<p> In the case of a string attribute, the entered text is stored as the
string.  </p>
<p> Note that the dialog will accept more values than will fit. In this case,
the excess values will not be written to the file, although they may remain
visible in the dialog.  </p>
</body>
</html>
