<configuration debug="false" scan="true">
   <!-- general application log --> 
   <appender name="console" class="ch.qos.logback.core.ConsoleAppender"> 
      <encoder> 
         <pattern>%-5p %d [%t] %c{0}: %m%n</pattern> 
      </encoder>
   </appender>

   <appender name="asyncConsole" class="ch.qos.logback.classic.AsyncAppender">            
      <appender-ref ref="console" />
   </appender> 
   
   <!-- hibernate log -->
   <appender name="HibernateLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${edex.home}/logs/edex-${edex.run.mode}-hibernate-%d{yyyyMMdd}.log</fileNamePattern>
         <maxHistory>30</maxHistory>
      </rollingPolicy> 

      <encoder> 
         <pattern>%-5p %d [%t] %c{0}: %m%n %nopex</pattern> 
      </encoder>
   </appender>

   <!-- radar log --> 
   <appender name="RadarLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${edex.home}/logs/edex-${edex.run.mode}-radar-%d{yyyyMMdd}.log</fileNamePattern>
         <maxHistory>30</maxHistory>
      </rollingPolicy> 

      <encoder> 
         <pattern>%-5p %d [%t] %c{0}: %m%n</pattern> 
      </encoder>
   </appender> 

   <!-- satellite log --> 
   <appender name="SatelliteLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${edex.home}/logs/edex-${edex.run.mode}-satellite-%d{yyyyMMdd}.log</fileNamePattern>
         <maxHistory>30</maxHistory>
      </rollingPolicy> 

      <encoder> 
         <pattern>%-5p %d [%t] %c{0}: %m%n</pattern> 
      </encoder>
   </appender> 

   <!-- shef log --> 
   <appender name="ShefLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${edex.home}/logs/edex-${edex.run.mode}-shef-%d{yyyyMMdd}.log</fileNamePattern>
         <maxHistory>30</maxHistory>
      </rollingPolicy> 

      <encoder> 
         <pattern>%-5p %d [%t] %c{0}: %m%n</pattern> 
      </encoder>
   </appender> 

   <!-- smartInit log --> 
   <appender name="SmartInitLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${edex.home}/logs/edex-${edex.run.mode}-smartInit-%d{yyyyMMdd}.log</fileNamePattern>
         <maxHistory>30</maxHistory>
      </rollingPolicy> 

      <encoder> 
         <pattern>%-5p %d [%t] %c{0}: %m%n</pattern> 
      </encoder>
   </appender> 
      
   <!-- Purge log --> 
   <appender name="PurgeLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${edex.home}/logs/edex-${edex.run.mode}-purge-%d{yyyyMMdd}.log</fileNamePattern>
         <maxHistory>30</maxHistory>
      </rollingPolicy> 

      <encoder> 
         <pattern>%-5p %d [%t] %c{0}: %m%n</pattern> 
      </encoder>
   </appender> 
   
   <!-- Archive log --> 
   <appender name="ArchiveLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${edex.home}/logs/edex-${edex.run.mode}-archive-%d{yyyyMMdd}.log</fileNamePattern>
         <maxHistory>30</maxHistory>
      </rollingPolicy> 

      <encoder> 
         <pattern>%-5p %d [%t] %c{0}: %m%n</pattern> 
      </encoder>
   </appender> 

   <!-- RouteFailedLog log --> 
   <appender name="RouteFailedLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${edex.home}/logs/edex-${edex.run.mode}-unrecognized-files-%d{yyyyMMdd}.log</fileNamePattern>
         <maxHistory>30</maxHistory>
      </rollingPolicy> 

      <encoder> 
         <pattern>%-5p %d [%t] %c{0}: %m%n</pattern> 
      </encoder>
   </appender> 

   <!-- ShefPerformanceLog log --> 
   <appender name="ShefPerfLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${edex.home}/logs/edex-${edex.run.mode}-shef-performance-%d{yyyyMMdd}.log</fileNamePattern>
         <maxHistory>30</maxHistory>
      </rollingPolicy> 

      <encoder> 
         <pattern>%-5p %d [%t] %c{0}: %m%n</pattern> 
      </encoder>
   </appender> 

   <!-- Gen Areal FFG log --> 
   <appender name="GenArealFFG" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${edex.home}/logs/edex-${edex.run.mode}-gen_areal_ffg-%d{yyyyMMdd}.log</fileNamePattern>
         <maxHistory>30</maxHistory>
      </rollingPolicy> 
      <encoder> 
         <pattern>%-5p %d [%t] %c{0}: %m%n</pattern> 
      </encoder>      
   </appender>
   
   <!-- Gen Areal QPE log --> 
   <appender name="GenArealQPE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${edex.home}/logs/edex-${edex.run.mode}-gen_areal_qpe-%d{yyyyMMdd}.log</fileNamePattern>
         <maxHistory>30</maxHistory>
      </rollingPolicy> 
   
      <encoder> 
         <pattern>%-5p %d [%t] %c{0}: %m%n</pattern> 
      </encoder>
   </appender> 
   
   <!-- Text log --> 
   <appender name="TextLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${edex.home}/logs/edex-${edex.run.mode}-text-%d{yyyyMMdd}.log</fileNamePattern>
         <maxHistory>30</maxHistory>
      </rollingPolicy> 

      <encoder> 
         <pattern>%-5p %d [%t] %c{0}: %m%n</pattern> 
      </encoder>
   </appender> 

   <!-- Trigger log --> 
   <appender name="FailedTriggerLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${edex.home}/logs/edex-${edex.run.mode}-trigger-%d{yyyyMMdd}.log</fileNamePattern>
         <maxHistory>30</maxHistory>
      </rollingPolicy> 

      <encoder> 
         <pattern>%-5p %d [%t] %c{0}: %m%n</pattern> 
      </encoder>
   </appender>

   <appender name="ThreadBasedLog" class="com.raytheon.uf.common.status.logback.ThreadBasedAppender">
      <threadPatterns>RadarLog:radarThreadPool.*;SatelliteLog:satelliteThreadPool.*;ShefLog:shefThreadPool.*;TextLog:textThreadPool.*;SmartInitLog:smartInit.*;PurgeLog:Purge.*;ArchiveLog:Archive.*</threadPatterns>
      <defaultAppender>asyncConsole</defaultAppender>
      <appender-ref ref="asyncConsole"/>
      <appender-ref ref="RadarLog"/>
      <appender-ref ref="SatelliteLog"/>
      <appender-ref ref="ShefLog"/>
      <appender-ref ref="SmartInitLog"/>
      <appender-ref ref="TextLog"/>
      <appender-ref ref="PurgeLog"/>
      <appender-ref ref="ArchiveLog"/>
   </appender>

   <appender name="PerformanceLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${edex.home}/logs/edex-${edex.run.mode}-performance-%d{yyyyMMdd}.log</fileNamePattern>
         <maxHistory>30</maxHistory>
      </rollingPolicy> 
      <encoder> 
         <pattern>%-5p %d [%t] %c{0}: %m%n</pattern> 
      </encoder>
   </appender>

   <appender name="PerformanceLogAsync" class="ch.qos.logback.classic.AsyncAppender">            
      <appender-ref ref="PerformanceLog" />
   </appender> 

   <logger name="PerformanceLogger" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="PerformanceLogAsync" />
   </logger>

   <logger name="com.raytheon">
      <level value="INFO"/>
   </logger>
   <logger name="com.raytheon.edex.plugin.shef" additivity="false">
      <level value="INFO"/>
      <appender-ref ref="ShefLog" />
   </logger>
   <logger name="com.raytheon.edex.services.ArchiveSrv">
      <level value="WARN"/>
   </logger>
   <logger name="com.raytheon.edex.services.NotifySrv">
      <level value="WARN"/>
   </logger>

   <!-- used by c3p0 -->
   <logger name="com.mchange">
      <level value="ERROR"/>
   </logger>
   <logger name="com.tc">
      <level value="WARN"/>
   </logger>
   <logger name="mx4j">
      <level value="ERROR"/>
   </logger>
   <logger name="org.apache">
      <level value="INFO"/>
   </logger>
   <logger name="org.apache.activemq.spring">
      <level value="WARN"/>
   </logger>
   <logger name="org.apache.camel.impl.converter.DefaultTypeConverter">
      <level value="ERROR"/>
   </logger>
   <logger name="org.apache.qpid">
      <level value="INFO"/>
   </logger>
   <logger name="org.apache.qpid.client.BasicMessageProducer_0_10">
      <level value="WARN"/>
   </logger>
   <logger name="org.apache.xbean.spring">
      <level value="WARN"/>
   </logger>
   <logger name="org.quartz">
      <level value="ERROR"/>
   </logger>
   <logger name="org.springframework">
      <level value="ERROR"/>
   </logger>
   <logger name="uk.ltd.getahead">
      <level value="WARN"/>
   </logger>
   <logger name="org.hibernate" additivity="false">
      <level value="ERROR"/>
      <appender-ref ref="HibernateLog" />
   </logger>
   <logger name="org.geotools">
      <level value="WARN"/>
   </logger>
   
   <logger name="com.raytheon.uf.edex.purgesrv" additivity="false">
   		<level value="INFO"/>
   		<appender-ref ref="PurgeLog"/>
   </logger>
   
   <logger name="com.raytheon.uf.edex.database.purge" additivity="false">
   		<level value="INFO"/>
   		<appender-ref ref="PurgeLog"/>
   </logger>
   
   <logger name="com.raytheon.edex.db.purge.DataPurgeRegistry" additivity="false">
   		<level value="INFO"/>
   		<appender-ref ref="PurgeLog"/>
   </logger>

   <logger name="com.raytheon.edex.textdb.dao.StdTextProductDao.PurgeLogger" additivity="false">
   		<level value="INFO"/>
   		<appender-ref ref="PurgeLog"/>
   </logger>
   
   <logger name="RouteFailedLog" additivity="false">
      <level value="WARN"/>
      <appender-ref ref="RouteFailedLog"/>
   </logger>

   <logger name="ShefPerfLog" additivity="false">
      <level value="INFO"/>
      <appender-ref ref="ShefPerfLog"/>
   </logger>

   <logger name="GenArealFFG" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="GenArealFFG"/>
   </logger>

   <logger name="GenArealQPE" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="GenArealQPE"/>
   </logger>

   <logger name="FailedTriggerLog" additivity="false">
      <level value="ERROR"/>
      <appender-ref ref="FailedTriggerLog"/>
   </logger>

   <!-- default logging --> 
   <root> 
      <level value="INFO"/> 
      <appender-ref ref="ThreadBasedLog"/> 
    </root> 
</configuration> 
