<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=d2d.ncepHydroMenu">
          <menu
                id="ncepHydro"
                label="NCEP/Hydro"
                mnemonic="N">
             <visibleWhen>
                <reference
                      definitionId="com.raytheon.uf.viz.d2d.ui.inD2DActionSet">
                </reference>
             </visibleWhen>
             <separator name="SPC" visible="false"/>
             <separator name="TPC" visible="false"/>
             <separator name="NCO" visible="false"/>
             <separator name="HPC" visible="false"/>
             <separator name="OPC" visible="false"/>
             <separator name="CPC" visible="false"/>
             <separator name="AWC" visible="false"/>
			 <separator name="HYDRO" visible="false"/>
             <separator name="QPE" visible="false"/>
             <separator name="QPF" visible="false"/>
             <separator name="STQ"  visible="false"/>
             <separator name="HydroMenuEnd" visible="false"/>
          </menu>
	</menuContribution>
</extension>
</plugin>
