<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ecf.ui.connectWizards">
      <wizard
            class="org.eclipse.ecf.internal.provider.bittorrent.ui.BitTorrentConnectWizard"
            containerFactoryName="ecf.filetransfer.bittorrent"
            id="org.eclipse.ecf.provider.ui.bittorrent.connectWizard"
            name="BitTorrent"/>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.eclipse.ecf.internal.provider.bittorrent.ui.BitTorrentConnectWizard"
            id="org.eclipse.ecf.provider.ui.bittorrent.connectWizard"
            name="BitTorrent"
            icon="icons/transf_download.gif"
            category="org.eclipse.ecf.ui.newConnection.category"
            finalPerspective="org.eclipse.ecf.ui.perspective.communications">
          <description>%BitTorrentConnectWizardPage.description</description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ecf.ui.perspective.communications">
         <newWizardShortcut id="org.eclipse.ecf.provider.ui.bittorrent.connectWizard"/>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="org.eclipse.ecf.internal.provider.bittorrent.ui.BitTorrentHyperlinkDetector"
            id="org.eclipse.ecf.internal.provider.bittorrent.ui.BitTorrentHyperlinkDetector"
            name="TORRENT"
            targetId="org.eclipse.ui.DefaultTextEditor">
      </hyperlinkDetector>
   </extension>

   
</plugin>
