<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
 
   <extension
         point="org.eclipse.ui.commands">
      <command
          id="edu.ucar.unidata.ui.ncradarui.palette"
          name="Ncradar">
      </command>
      <command
          id="edu.ucar.unidata.ui.ncradarui.rsc.NcradaruiTool"
          name="Ncradarui Selecting">
      </command>   
      <!--
      <command
          id="edu.ucar.unidata.ui.ncradarui.help"
          name="NCRADAR Help">
      </command>
      -->
   </extension>

   <extension 
         point="org.eclipse.ui.handlers">
       <handler 
            class="edu.ucar.unidata.ui.ncradarui.palette.NcradaruiPaletteAction"
            commandId="edu.ucar.unidata.ui.ncradarui.palette">
       </handler>
       <!--     
       <handler
            class="edu.ucar.unidata.ui.ncradarui.rsc.NcradaruiModalTool"
            commandId="edu.ucar.unidata.ui.ncradarui.rsc.NcradaruiTool">
       </handler>
   
       <handler
            class="edu.ucar.unidata.ui.ncradarui.productManage.HelpHandler"
            commandId="edu.ucar.unidata.ui.ncradarui.help">
       </handler> 
      -->
	</extension>

	<extension
         point="org.eclipse.ui.views">
           <category
            id="gov.noaa.nws.ncep.viz.ui.nmap"
            name="NMAP Views"/>
           <view
            category="gov.noaa.nws.ncep.viz.ui.nmap"
            allowMultiple="false"
            restorable="true"
            class="edu.ucar.unidata.ui.ncradarui.palette.NcradaruiPaletteWindow"
            id="edu.ucar.unidata.ui.ncradarui"
            name="NCRADAR"/>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.classContext">
         <classContext
            class="edu.ucar.unidata.ui.ncradarui.palette.NcradaruiPaletteWindow">
             <contextId
                   id="gov.noaa.nws.ncep.viz.ui.display.NCMapContext">
             </contextId>
         </classContext>
   </extension>
   <!--
   <extension
       point="org.eclipse.ui.menus">
       <menuContribution
           locationURI="toolbar:edu.ucar.unidata.ui.ncradarui">          
            <command
                commandId="edu.ucar.unidata.ui.ncradarui.help"
                label="Help"
                mnemonic="H"
                style="push">
           </command>                   
       </menuContribution>               
   </extension>
   -->
   <!-- 
   <extension 
         point="edu.ucar.unidata.ui.ncradarui.palette">
   </extension>
	-->
	
	
</plugin>
