<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.scriptTemplate">
      <scriptTemplate
            pluginName="aww"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.warn.rsc.WarnResource"
            name="Warn"
            recordClass="gov.noaa.nws.ncep.edex.plugin.aww.common.AwwRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW">
      </resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.warn.rsc.WarnResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="Warn">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceParameter">
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="thunderstormEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Warn">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="thunderstormColor"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Warn">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="thunderstormSymbolWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Warn">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="thunderstormSymbolSize"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Warn">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="tornadoEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Warn">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="tornadoColor"
            defaultValue="RGB {30, 144, 255}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Warn">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="tornadoSymbolWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Warn">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="tornadoSymbolSize"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Warn">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="flashFloodEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Warn">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="flashFloodColor"
            defaultValue="RGB {255, 215, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Warn">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="flashFloodSymbolWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Warn">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="flashFloodSymbolSize"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Warn">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="timeEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Warn">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="countyNameEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Warn">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="countyOutlineEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Warn">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="stormBasedPolygonEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Warn">
      </nc-resourceParameter>
   
      <nc-resourceParameter
            ncResourceName="Warn"
            paramClass="String"
            paramName="reportType"
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            ncResourceName="Warn"
            paramClass="String"
            paramName="color"
            defaultValue="RGB {155, 155, 155}"
            paramType="IMPLEMENTATION_PARAM">
      </nc-resourceParameter>
      
   </extension>

</plugin>
