<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.scriptTemplate">
      <scriptTemplate
            pluginName="aww"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.warn.rsc.WarnResource"
            name="Warn"
            recordClass="gov.noaa.nws.ncep.edex.plugin.aww.common.AwwRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW">
      </resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.warn.rsc.WarnResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="Warn">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceAttribute">
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="thunderstormEnable"
            defaultValue="true"
            ncResourceName="Warn">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="thunderstormColor"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="Warn">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="thunderstormSymbolWidth"
            defaultValue="3"
            ncResourceName="Warn">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="thunderstormSymbolSize"
            defaultValue="1"
            ncResourceName="Warn">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="tornadoEnable"
            defaultValue="true"
            ncResourceName="Warn">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="tornadoColor"
            defaultValue="RGB {30, 144, 255}"
            ncResourceName="Warn">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="tornadoSymbolWidth"
            defaultValue="3"
            ncResourceName="Warn">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="tornadoSymbolSize"
            defaultValue="1"
            ncResourceName="Warn">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="flashFloodEnable"
            defaultValue="true"
            ncResourceName="Warn">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="flashFloodColor"
            defaultValue="RGB {255, 215, 0}"
            ncResourceName="Warn">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="flashFloodSymbolWidth"
            defaultValue="3"
            ncResourceName="Warn">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="flashFloodSymbolSize"
            defaultValue="1"
            ncResourceName="Warn">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="timeEnable"
            defaultValue="true"
            ncResourceName="Warn">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="countyNameEnable"
            defaultValue="true"
            ncResourceName="Warn">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="countyOutlineEnable"
            defaultValue="true"
            ncResourceName="Warn">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="stormBasedPolygonEnable"
            defaultValue="true"
            ncResourceName="Warn">
      </nc-resourceAttribute>
   
   </extension>

</plugin>
