<?xml version="1.0" encoding="UTF-8"?>
    <!--
        This_software_was_developed_and_/_or_modified_by_Raytheon_Company,
        pursuant_to_Contract_DG133W-05-CQ-1067_with_the_US_Government.
        
        U.S._EXPORT_CONTROLLED_TECHNICAL_DATA
        This_software_product_contains_export-restricted_data_whose
        export/transfer/disclosure_is_restricted_by_U.S._law._Dissemination
        to_non-U.S._persons_whether_in_the_United_States_or_abroad_requires
        an_export_license_or_other_authorization.
        
        Contractor_Name:________Raytheon_Company
        Contractor_Address:_____6825_Pine_Street,_Suite_340
        ________________________Mail_Stop_B8
        ________________________Omaha,_NE_68106
        ________________________402.291.0100
        
        See_the_AWIPS_II_Master_Rights_File_("Master_Rights_File.pdf")_for
        further_licensing_information.
    -->
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="com.raytheon.uf.viz.core.maps.rsc.AbstractMapResource"
            name="abstractMapResource"
            renderingOrderId="MAP_OUTLINE">
      </resource>
      <resource
            class="com.raytheon.uf.viz.core.maps.rsc.MapResourceGroup"
            name="mapResourceGroup"
            renderingOrderId="MAP_OUTLINE">
      </resource>
      <resource
            class="com.raytheon.uf.viz.core.maps.rsc.DbMapResource"
            name="dbMapResource"
            renderingOrderId="MAP_OUTLINE">
      </resource>
      <resource
            class="com.raytheon.uf.viz.core.maps.rsc.DbPointMapResource"
            name="dbPointMapResource"
            renderingOrderId="MAP_OUTLINE">
      </resource>
   </extension>
   <extension
      point="org.eclipse.ui.commands">
      <command id="com.raytheon.uf.viz.core.maps.actions.LoadMap" name="Load Map">
         <commandParameter id="mapName" name="Map Name" optional="false"/>
         <commandParameter id="mapPath" name="Map Path" optional="false"/>
      </command>
   </extension>
   <extension
      point="org.eclipse.ui.handlers">
      <handler
         class="com.raytheon.uf.viz.core.maps.actions.LoadMap"
         commandId="com.raytheon.uf.viz.core.maps.actions.LoadMap">
      </handler>
      <handler
      	 class="com.raytheon.uf.viz.core.maps.scales.MapScaleHandler"
      	 commandId="com.raytheon.viz.ui.setScale">
      </handler>
   </extension>
   <extension
         point="com.raytheon.viz.ui.contextualMenu">
      <contextualMenu
            actionClass="com.raytheon.uf.viz.core.maps.actions.SaveMapStyleAction"
            capabilityClass="com.raytheon.uf.viz.core.maps.rsc.AbstractMapResource"
            name="Save Map Style"
            sortID="600">
      </contextualMenu>
   </extension>
    <extension
         point="com.raytheon.uf.viz.productbrowser.dataDefinition">
         <dataDefinition
         	name="mapProductBrowserDataDefinition"
         	class="com.raytheon.uf.viz.core.maps.MapProductBrowserDataDefinition" >
         </dataDefinition>
   </extension>
     <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.raytheon.uf.viz.productbrowser.DataTypePreferencePage"
            id="com.raytheon.uf.viz.productbrowser.productbrowserdatapreferencepage"
            name="Maps"
            category="com.raytheon.uf.viz.productbrowser.productbrowserpreferencespage"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.raytheon.uf.viz.core.maps.display.VizMapEditor"
            default="true"
            icon="icons/map.gif"  
            id="com.raytheon.viz.ui.glmap.GLMapEditor"
            name="Map">
      </editor>
   </extension>
   <extension
	      point="com.raytheon.uf.viz.core.classContext">
	      <classContext
         	 class="com.raytheon.uf.viz.core.maps.display.VizMapEditor">
          	  <contextId
                	id="com.raytheon.viz.ui.mapContext">
          	  </contextId>
      	  </classContext>
   </extension>
   <extension
         point="com.raytheon.uf.viz.localization.localizationpath">
      <path
            application="CAVE"
            localizationType="CAVE_STATIC"
            name="Map Styles"
            recursive="false"
            value="mapStyles">
      </path>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
   		<menuContribution
               locationURI="menu:com.raytheon.viz.ui.scale">
           <dynamic
                 class="com.raytheon.uf.viz.core.maps.scales.MapScalePopulator"
                 id="com.raytheon.uf.viz.core.maps.mapScales">
           </dynamic>
         </menuContribution>
   </extension>
</plugin>
