<?xml version="1.0" encoding="UTF-8"?>

<plugin>
   <class>com.raytheon.openfire.plugin.configuration.collaboration.HttpdCollaborationConfigurationPlugin</class>
   <name>Httpd Collaboration Configuration</name>
   <description>
   	This plugin will provide httpd collaboration configuration information to CAVE
   	via openfire whenever a user logs in to openfire.
   </description>
   <author>bkowal</author>
   <version>1.0.0</version>
   <date>5/15/2012</date>
   <minServerVersion>3.7.1</minServerVersion>
</plugin>