<?xml version="1.0" encoding="ISO-8859-1" ?>
<!-- ==================================================================== -->
<!-- Declares McIDAS ingest properties                              -->
<!--                                                                      -->
<!-- File History:                                                        -->
<!--  Date:     Ticket     Engineer      Description                      -->
<!--  ========= =========  ============  ==============================   -->
<!--  08/09      144       T. Lee        Initial Creation                 -->
<!-- ==================================================================== -->
<properties>
	<Name>MCIDAS</Name>
	<Plugin>true</Plugin>
	<Database>metadata</Database>
	<Record>gov.noaa.nws.ncep.common.dataplugin.mcidas.McidasRecord</Record>
	<Decoder>gov.noaa.nws.ncep.edex.plugin.mcidas.decoder.McidasDecoder</Decoder>
</properties>
