<?xml version="1.0" encoding="UTF-8"?>
<web-app id="web-app_purge" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
   <display-name>NCEP Logger Setting Web Interface on EDEX Ingest Process -- AWIPS II</display-name>

   <servlet>
      <description><![CDATA[a servlet used to take request parameters and then set NCEP lgger log level]]></description>
      <display-name>NcepLoggerServlet</display-name>
      <servlet-name>NcepLoggerServlet</servlet-name>
      <servlet-class>gov.noaa.nws.ncep.edex.ingest.grib.web.NcepLoggerSettingOnEdexIngestServlet</servlet-class>
   </servlet>

   <servlet-mapping>
      <servlet-name>NcepLoggerServlet</servlet-name>
      <url-pattern>ncepLoggerSetting</url-pattern>
   </servlet-mapping>
   
   <welcome-file-list>
      <welcome-file>/index.html</welcome-file>
   </welcome-file-list>
</web-app>
