<?xml version="1.0" encoding="UTF-8"?>
    <!--
        This_software_was_developed_and_/_or_modified_by_Raytheon_Company,
        pursuant_to_Contract_DG133W-05-CQ-1067_with_the_US_Government.
        
        U.S._EXPORT_CONTROLLED_TECHNICAL_DATA
        This_software_product_contains_export-restricted_data_whose
        export/transfer/disclosure_is_restricted_by_U.S._law._Dissemination
        to_non-U.S._persons_whether_in_the_United_States_or_abroad_requires
        an_export_license_or_other_authorization.
        
        Contractor_Name:________Raytheon_Company
        Contractor_Address:_____6825_Pine_Street,_Suite_340
        ________________________Mail_Stop_B8
        ________________________Omaha,_NE_68106
        ________________________402.291.0100
        
        See_the_AWIPS_II_Master_Rights_File_("Master_Rights_File.pdf")_for
        further_licensing_information.
    -->
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="com.raytheon.viz.radar.rsc.RadarImageResource"
            name="Radar Image"
            recordClass="com.raytheon.uf.common.dataplugin.radar.RadarRecord"
            renderingOrderId="IMAGE_LOCAL"/>
      <resource
            class="com.raytheon.viz.radar.rsc.graphic.RadarGraphicsResource"
            name="Radar Graphic"
            recordClass="com.raytheon.uf.common.dataplugin.radar.RadarRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW">
      </resource>
      <resource
            class="com.raytheon.viz.radar.rsc.mosaic.RadarMosaicResource"
            name="Radar Mosaic"
            recordClass="com.raytheon.uf.common.dataplugin.radar.RadarRecord"
            renderingOrderId="IMAGE_LOCAL"
            resourceType="PLAN_VIEW"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.raytheon.viz.radar.ui.RadarDisplayControls"
            name="Radar Display Controls">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.raytheon.viz.radar.ui.RadarDisplayControlsHandler"
            commandId="com.raytheon.viz.radar.ui.RadarDisplayControls">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
         class="com.raytheon.uf.viz.xy.VizXyEditor"
         default="true"  
         id="com.raytheon.viz.radar.ui.xy.RadarXYEditor"
         name="Radar XY Plot">
      </editor>
   </extension>
      <extension
         point="org.eclipse.ui.editors">
      <editor
         class="com.raytheon.uf.viz.xy.VizXyEditor"
         default="true"  
         id="com.raytheon.viz.radar.ui.xy.RadarGraphEditor"
         name="Radar Graph Plot">
      </editor>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.descriptor">
      <descriptor
      		name="RadarGraphDescriptor"
            class="com.raytheon.viz.radar.ui.xy.RadarGraphDescriptor"
            editor="com.raytheon.viz.radar.ui.xy.RadarGraphEditor">
      </descriptor>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.descriptor">
      <descriptor
      		name="RadarXYDescriptor"
            class="com.raytheon.viz.radar.ui.xy.RadarXYDescriptor"
            editor="com.raytheon.viz.radar.ui.xy.RadarXYEditor">
      </descriptor>
   </extension>
   <extension point="com.raytheon.uf.viz.core.alterBundle">
   	  <alterBundle class="com.raytheon.viz.radar.ui.RadarAlterBundleContributor"/>
   </extension>
   <extension
         point="com.raytheon.viz.ui.contextualMenu">
      <contextualMenu
            actionClass="com.raytheon.viz.radar.rsc.graphic.PreviousGraphicPage"
            name="Previous Page"
            sortID="110">
      </contextualMenu>
            <contextualMenu
            actionClass="com.raytheon.viz.radar.rsc.graphic.NextGraphicPage"
            name="Next Page"
            sortID="111">
      </contextualMenu>
   </extension>
   <extension
         point="com.raytheon.uf.viz.productbrowser.dataDefinition">
         <dataDefinition
         	name="radarProductBrowserDataDefinition"
         	class="com.raytheon.viz.radar.RadarProductBrowserDataDefinition" >
         </dataDefinition>
  </extension>
  <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.raytheon.uf.viz.productbrowser.DataTypePreferencePage"
            id="com.raytheon.uf.viz.productbrowser.productbrowserdatapreferencepage"
            name="Radar"
            category="com.raytheon.uf.viz.productbrowser.productbrowserpreferencespage"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=CellTrendsSep">
         <menu
               id="Points"
               label="Points"
               >
             <visibleWhen>
                <reference
                      definitionId="com.raytheon.uf.viz.d2d.ui.inD2DActionSet">
                </reference>
             </visibleWhen>
             <dynamic
                   class="com.raytheon.viz.radar.util.CellTrendMenu"
                   id="com.raytheon.viz.radar.util.CellTrendMenu">
             </dynamic>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <fontDefinition
            id="com.raytheon.viz.radar.rsc.graphic.RadarGraphicsPage"
            label="Radar Graphics Font"
            value="Monospaced-regular-12">
      </fontDefinition>
   </extension>
</plugin>
