# etc/tafs/XXXX/ltg.cfg

[rules]
active=1,2

[rule_1]
type=wx
unique=1
method=TSObsDelta
severity=5
msg=Ten or more lightning strikes reported but TS is not in the forecast
num=10

[rule_2]
type=wx
unique=1
method=TSObsDelta
severity=3
msg=lightning reported but TS is not in the forecast
num=1
