<?xml version="1.0" encoding="UTF-8"?>
    <!--
        This_software_was_developed_and_/_or_modified_by_Raytheon_Company,
        pursuant_to_Contract_DG133W-05-CQ-1067_with_the_US_Government.
        
        U.S._EXPORT_CONTROLLED_TECHNICAL_DATA
        This_software_product_contains_export-restricted_data_whose
        export/transfer/disclosure_is_restricted_by_U.S._law._Dissemination
        to_non-U.S._persons_whether_in_the_United_States_or_abroad_requires
        an_export_license_or_other_authorization.
        
        Contractor_Name:________Raytheon_Company
        Contractor_Address:_____6825_Pine_Street,_Suite_340
        ________________________Mail_Stop_B8
        ________________________Omaha,_NE_68106
        ________________________402.291.0100
        
        See_the_AWIPS_II_Master_Rights_File_("Master_Rights_File.pdf")_for
        further_licensing_information.
    -->

<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.raytheon.viz.hydro.HydroActionSet"
            label="Hydro Action Set"
            visible="false">
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.raytheon.viz.hydro.inHydroActionSet">
         <with
               variable="activeContexts">
            <iterate
                  operator="or">
               <equals
                     value="com.raytheon.viz.hydro.HydroActionSet">
               </equals>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.raytheon.viz.hydro.perspective.HydroPerspective"
            id="com.raytheon.viz.hydro.HydroPerspective"
            name="Hydro"
            singleton="true">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:com.raytheon.viz.hydrocommon.Tools?after=additions">
         <separator
               name="com.raytheon.viz.hydro.separator1"
               visible="true">
         </separator>
            <command
                  commandId="com.raytheon.viz.hydro.colorscalemgr.opencolorscalemgr"
                  label="HydroView Color Manager..."
                  mnemonic="M">
               <visibleWhen>
                  <reference definitionId="com.raytheon.viz.hydro.inHydroActionSet"/>
               </visibleWhen>
            </command>
            <command
                  commandId="com.raytheon.viz.hydro.actions.EditLocationShiftAction"
                  label="Edit Shift Location"
                  mnemonic="L">
               <visibleWhen>
                  <reference
                        definitionId="com.raytheon.viz.hydro.inHydroActionSet">
                  </reference>
               </visibleWhen>
            </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=com.raytheon.viz.hydrocommon.Overlays">
          <menu
                id="HydroMapData"
                label="MapData"
                mnemonic="M">
             <visibleWhen>
                <reference
                      definitionId="com.raytheon.viz.hydro.inHydroActionSet">
                </reference>
             </visibleWhen>
             <command
                   commandId="com.raytheon.viz.hydro.pointdatacontrol.openpointdatacontrol"
                   label="Point Data Control..."
                   style="push">
             </command>
             <command
                   commandId="com.raytheon.viz.hydro.stationlist.openstationlist"
                   label="Station Selection..."
                   mnemonic="n"
                   style="push">
             </command>
             <command
                   commandId="com.raytheon.viz.hydro.resource.refreshresource"
                   label="Refresh Data"
                   mnemonic="f"
                   style="push">
             </command>
             <separator
                   name="HydroMapDataSep1"
                   visible="true">
             </separator>
             <command
                   commandId="com.raytheon.viz.hydro.damdisplay.opendamdisplay"
                   label="Dam Locations..."
                   mnemonic="D"
                   style="push">
             </command>
             <separator
                   name="HydroMapDataSep2"
                   visible="true">
             </separator>
             <command
                   commandId="com.raytheon.viz.hydro.bestestimateqpe.openbestestimateqpe"
                   label="Best Estimate QPE..."
                   mnemonic="B"
                   style="push">
             </command>
             <command
                   commandId="com.raytheon.viz.hydro.flashfloodguidance.openflashfloodguidance"
                   label="Flash Flood Guidance..."
                   mnemonic="l"
                   style="push">
             </command>
             <separator
                   name="HydroMapDataSep3"
                   visible="true">
             </separator>
             <command
                   commandId="com.raytheon.viz.ui.actions.cleardata"
                   label="Clear Data"
                   mnemonic="C"
                   style="push">
             </command>
          </menu>
          <menu
                id="HydroLiveData"
                label="LiveData"
                mnemonic="L">
             <visibleWhen>
                <reference
                      definitionId="com.raytheon.viz.hydro.inHydroActionSet">
                </reference>
             </visibleWhen>
             <command
                   commandId="com.raytheon.viz.hydro.timeseries.opentimeseries"
                   label="Time Series Graphs/Tables..."
                   mnemonic="T"
                   style="push">
             </command>
             <command
                   commandId="com.raytheon.viz.hydro.headwatermodel.openheadwatermodel"
                   label="Site Specific Headwater Model..."
                   mnemonic="e"
                   style="push">
	            <parameter
    	              name="bundleLocation"
        	          value="bundles/run-SiteSpecific.xml"/>
             </command>
             <separator
                   name="HydroLiveDataSep1"
                   visible="true">
             </separator>
             <command
                   commandId="com.raytheon.viz.hydro.alertalarm.openalertalarm"
                   label="Alert and Alarm Data..."
                   mnemonic="A"
                   style="push">
             </command>
             <command
                   commandId="com.raytheon.viz.hydro.questionabledata.openquestionabledata"
                   label="Questionable and Bad Data..."
                   mnemonic="Q"
                   style="push">
             </command>
             <command
                   commandId="com.raytheon.viz.hydro.datatrashcan.opendatatrashcan"
                   label="Rejected Data Trash Can..."
                   mnemonic="R"
                   style="push">
             </command>
             <separator
                   name="HydroLiveDataSep2"
                   visible="true">
             </separator>
             <command
                   commandId="com.raytheon.viz.hydro.stationreporting.openstationreporting"
                   label="Station Reporting Status/Latest Observations..."
                   mnemonic="t"
                   style="push">
             </command>
             <command
                   commandId="com.raytheon.viz.hydro.pointprecipitation.openpointprecipitation"
                   label="Point Precipitation Accumulations..."
                   mnemonic="o"
                   style="push">
             </command>
             <separator
                   name="HydroLiveDataSep3"
                   visible="true">
             </separator>
             <command
                   commandId="com.raytheon.viz.hydro.stationprofile.openstationprofile"
                   label="Station Profile..."
                   mnemonic="i"
                   style="push">
             </command>
             <command
                   commandId="com.raytheon.viz.hydro.riversummary.openriversummary"
                   label="River Summary..."
                   mnemonic="v"
                   style="push">
             </command>
          </menu>
          <menu
                id="HydroReferenceData"
                label="ReferenceData"
                mnemonic="R">
             <visibleWhen>
                <reference
                      definitionId="com.raytheon.viz.hydro.inHydroActionSet">
                </reference>
             </visibleWhen>
             <command
                   commandId="com.raytheon.viz.hydro.staffgage.openstaffgage"
                   label="Staff Gage..."
                   mnemonic="S"
                   style="push">
             </command>
             <command
                   commandId="com.raytheon.viz.hydro.impactstatement.openimpactstatement"
                   label="Impact Statement..."
                   mnemonic="I"
                   style="push">
             </command>
             <command
                   commandId="com.raytheon.viz.hydro.lowwaterstatement.openlowwaterstatement"
                   label="Low Water Statement..."
                   mnemonic="W"
                   style="push">
             </command>
             <command
                   commandId="com.raytheon.viz.hydro.ratingcurve.openratingcurve"
                   label="Rating Curve..."
                   mnemonic="R"
                   style="push">
             </command>
             <command
                   commandId="com.raytheon.viz.hydro.datasources.opendatasources"
                   label="Data Sources..."
                   mnemonic="D"
                   style="push">
             </command>
             <command
                   commandId="com.raytheon.viz.hydro.contacts.opencontacts"
                   label="Contacts..."
                   mnemonic="C"
                   style="push">
             </command>
             <command
                   commandId="com.raytheon.viz.hydro.cresthistory.opencresthistory"
                   label="Crest History..."
                   mnemonic="e"
                   style="push">
             </command>
             <command
                   commandId="com.raytheon.viz.hydro.textreport.opentextreport"
                   label="Text Reports..."
                   mnemonic="T"
                   style="push">
             </command>
          </menu>
          <menu
                id="HydroProduct"
                label="Product"
                mnemonic="d">
             <visibleWhen>
                <reference
                      definitionId="com.raytheon.viz.hydro.inHydroActionSet">
                </reference>
             </visibleWhen>
             <command
                   commandId="com.raytheon.viz.hydro.productviewer.openproductviewer"
                   label="Product Viewer..."
                   mnemonic="P"
                   style="push">
             </command>
          </menu>
		  <menu id="com.raytheon.viz.hydro.hydroApps" label="HydroApps" mnemonic="A">
			<visibleWhen>
				<reference definitionId="com.raytheon.viz.hydro.inHydroActionSet">
                </reference>
			</visibleWhen>
		    <separator
		          name="com.raytheon.viz.hydro.separator"
		          visible="true">
		    </separator>
			<!--command commandId="com.raytheon.viz.hydro.sshp.window.openunithydrographeditor" label="Launch UnitHydrographEditor..." style="push"/-->
		  </menu>           
      </menuContribution>
      <menuContribution
            locationURI="menu:help?after=aboutAdditions">
             <command
                   commandId="com.raytheon.viz.hydro.stationlegend.openstationlegend"
                   label="Station Legend"
                   style="push">
                <visibleWhen>
                   <reference
                         definitionId="com.raytheon.viz.hydro.inHydroActionSet">
                   </reference>
                </visibleWhen>
             </command>
             <command
                   commandId="com.raytheon.viz.hydro.appsdefaultsmenu"
                   label="Show SHEF Tokens"
                   style="push">
                <visibleWhen>
                   <reference
                         definitionId="com.raytheon.viz.hydro.inHydroActionSet">
                   </reference>
                </visibleWhen>
                <parameter
                      name="Action"
                      value="shefTokens">
                </parameter>
             </command>
             <command
                   commandId="com.raytheon.viz.hydro.appsdefaultsmenu"
                   label="Get Apps Defaults"
                   style="push">
                <visibleWhen>
                   <reference
                         definitionId="com.raytheon.viz.hydro.inHydroActionSet">
                   </reference>
                </visibleWhen>
                <parameter
                      name="Action"
                      value="gad">
                </parameter>
             </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:com.raytheon.viz.hydrocommon.Overlays?after=commonSeparator">
         <command
               commandId="com.raytheon.uf.viz.core.maps.actions.LoadMap"
               label="Radar Rings"
               style="toggle">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.raytheon.viz.hydro.inHydroActionSet">
               </reference>
            </visibleWhen>
            <parameter
                  name="mapName"
                  value="Radar Rings">
            </parameter>
            <parameter
                  name="mapPath"
                  value="bundles/hydro/radarRingOverlay.xml">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:com.raytheon.viz.hydrocommon.Tools?after=com.raytheon.viz.hydrocommon.separator4">
         <menu
               label="Set Font"
               mnemonic="F">
            <visibleWhen>
               <reference
                     definitionId="com.raytheon.viz.hydro.inHydroActionSet">
               </reference>
            </visibleWhen>
            <command
                  commandId="com.raytheon.viz.hydro.actions.setfont"
                  label="Miniscule"
                  mnemonic="M"
                  style="radio">
               <parameter
                     name="size"
                     value="7">
               </parameter>
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="miniscule">
               </parameter>
            </command>
            <command
                  commandId="com.raytheon.viz.hydro.actions.setfont"
                  label="Very Small"
                  mnemonic="V"
                  style="radio">
               <parameter
                     name="size"
                     value="8">
               </parameter>
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="verysmall">
               </parameter>
            </command>
            <command
                  commandId="com.raytheon.viz.hydro.actions.setfont"
                  label="Small"
                  mnemonic="S"
                  style="radio">
               <parameter
                     name="size"
                     value="9">
               </parameter>
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="small">
               </parameter>
            </command>
            <command
                  commandId="com.raytheon.viz.hydro.actions.setfont"
                  label="Normal"
                  mnemonic="N"
                  style="radio">
               <parameter
                     name="size"
                     value="10">
               </parameter>
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="normal">
               </parameter>
            </command>
            <command
                  commandId="com.raytheon.viz.hydro.actions.setfont"
                  label="Large"
                  mnemonic="L"
                  style="radio">
               <parameter
                     name="size"
                     value="12">
               </parameter>
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="large">
               </parameter>
            </command>
            <command
                  commandId="com.raytheon.viz.hydro.actions.setfont"
                  label="Very Large"
                  mnemonic="e"
                  style="radio">
               <parameter
                     name="size"
                     value="16">
               </parameter>
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="verylarge">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:com.raytheon.viz.hydrocommon.Projections">
            <command
                  commandId="com.raytheon.viz.hydrocommon.actions.setProjection"
                  label="Flat Lat/Lon"
                  mnemonic="F">
               <visibleWhen>
	               <reference
	                     definitionId="com.raytheon.viz.hydro.inHydroActionSet">
	               </reference>
               </visibleWhen>
               <parameter
                     name="projection"
                     value="FLAT">
               </parameter>
               <parameter
               		 name="prefix"
               		 value="hv">
               </parameter>
            </command>
            <command
                  commandId="com.raytheon.viz.hydrocommon.actions.setProjection"
                  label="Polar Stereographic"
                  mnemonic="P">
               <visibleWhen>
	               <reference
	                     definitionId="com.raytheon.viz.hydro.inHydroActionSet">
	               </reference>
               </visibleWhen>
               <parameter
                     name="projection"
                     value="POLAR">
               </parameter>
               <parameter
               		 name="prefix"
               		 value="hv">
               </parameter>
            </command>
            <command
                  commandId="com.raytheon.viz.hydrocommon.actions.setProjection"
                  label="HRAP"
                  mnemonic="H">
               <visibleWhen>
	               <reference
	                     definitionId="com.raytheon.viz.hydro.inHydroActionSet">
	               </reference>
               </visibleWhen>
               <parameter
                     name="projection"
                     value="HRAP">
               </parameter>
               <parameter
               		 name="prefix"
               		 value="hv">
               </parameter>
            </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.raytheon.viz.hydro.pointdatacontrol.openpointdatacontrol"
            name="PointDataControl">
      </command>
      <command
            id="com.raytheon.viz.hydro.damdisplay.opendamdisplay"
            name="DamDisplay">
      </command>
      <command
            id="com.raytheon.viz.hydro.bestestimateqpe.openbestestimateqpe"
            name="BestEstimateQPE">
      </command>
      <command
            id="com.raytheon.viz.hydro.flashfloodguidance.openflashfloodguidance"
            name="FlashFloodGuidance">
      </command>
      <command
            id="com.raytheon.viz.hydro.timeseries.opentimeseries"
            name="TimeSeries">
      </command>
      <command
            id="com.raytheon.viz.hydro.stationlist.openstationlist"
            name="StationList">
      </command>
      <command
            id="com.raytheon.viz.hydro.resource.refreshresource"
            name="RefreshResource">
      </command>
      <command
            id="com.raytheon.viz.hydro.alertalarm.openalertalarm"
            name="AlertAlarmValues">
      </command>
      <command
            id="com.raytheon.viz.hydro.questionabledata.openquestionabledata"
            name="QuestionableData">
      </command>
      <command
            id="com.raytheon.viz.hydro.datatrashcan.opendatatrashcan"
            name="DataTrashCan">
      </command>
      <command
            id="com.raytheon.viz.hydro.stationreporting.openstationreporting"
            name="StationReporting">
      </command>
      <command
            id="com.raytheon.viz.hydro.pointprecipitation.openpointprecipitation"
            name="PointPrecipitationAccum">
      </command>
      <command
            id="com.raytheon.viz.hydro.staffgage.openstaffgage"
            name="StaffGage">
      </command>
      <command
            id="com.raytheon.viz.hydro.impactstatement.openimpactstatement"
            name="ImpactStatement">
      </command>
      <command
            id="com.raytheon.viz.hydro.ratingcurve.openratingcurve"
            name="RatingCurve">
      </command>
      <command
            id="com.raytheon.viz.hydro.contacts.opencontacts"
            name="Contacts">
      </command>
      <command
            id="com.raytheon.viz.hydro.cresthistory.opencresthistory"
            name="CrestHistory">
      </command>
      <command
            id="com.raytheon.viz.hydro.colorscalemgr.opencolorscalemgr"
            name="ColorScaleMgr">
      </command>

      <command
            id="com.raytheon.viz.hydro.lowwaterstatement.openlowwaterstatement"
            name="LowWaterStatement">
      </command>
      <command
            id="com.raytheon.viz.hydro.datasources.opendatasources"
            name="DataSources">
      </command>
      <command
            id="com.raytheon.viz.hydro.productviewer.openproductviewer"
            name="ProductViewer">
      </command>
      <command
            id="com.raytheon.viz.hydro.textreport.opentextreport"
            name="TextReport">
      </command>
      <command
            id="com.raytheon.viz.hydro.stationprofile.openstationprofile"
            name="StationProfile">
      </command>
      <command
            id="com.raytheon.viz.hydro.riversummary.openriversummary"
            name="RiverSummary">
      </command>
      <command
            id="com.raytheon.viz.hydro.stationlegend.openstationlegend"
            name="Station Legend">
      </command>
      <command
            id="com.raytheon.viz.hydro.headwatermodel.openheadwatermodel"
            name="Site Specific Headwater Model">
	      	<commandParameter
	      		id="bundleLocation"
	      		name="bundleLocation"
	      		optional="false">
	      	</commandParameter>
      </command>
      <command
            id="com.raytheon.viz.ui.actions.cleardata"
            name="Clear Data">
      </command>
      <command
            id="com.raytheon.viz.hydro.actions.setfont"
            name="Set Font">
         <commandParameter
               id="size"
               name="size"
               optional="false">
         </commandParameter>        
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="State"
               optional="false">
         </commandParameter>   
         <state
               class="org.eclipse.ui.handlers.RadioState:normal"
               id="org.eclipse.ui.commands.radioState">
         </state>
      </command>
      <command
            id="com.raytheon.viz.hydro.actions.EditLocationShiftAction"
            name="Edit Location Shift">
      </command>
      <command
            id="com.raytheon.viz.hydro.Step"
            name="Step">
         <commandParameter
               id="increment"
               name="increment"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="com.raytheon.viz.hydro.appsdefaultsmenu"
            name="Apps Defaults">
         <commandParameter
               id="Action"
               name="Action"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.raytheon.viz.hydro.pointdatacontrol.PointDataControlAction"
            commandId="com.raytheon.viz.hydro.pointdatacontrol.openpointdatacontrol">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.damdisplay.DamDisplayAction"
            commandId="com.raytheon.viz.hydro.damdisplay.opendamdisplay">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.bestestimateqpe.BestEstimateQpeAction"
            commandId="com.raytheon.viz.hydro.bestestimateqpe.openbestestimateqpe">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.flashfloodguidance.FlashFloodGuidanceAction"
            commandId="com.raytheon.viz.hydro.flashfloodguidance.openflashfloodguidance">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.timeseries.TimeSeriesAction"
            commandId="com.raytheon.viz.hydro.timeseries.opentimeseries">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.stationlist.StationListAction"
            commandId="com.raytheon.viz.hydro.stationlist.openstationlist">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.resource.RefreshResourceAction"
            commandId="com.raytheon.viz.hydro.resource.refreshresource">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.alertalarm.AlertAlarmValuesAction"
            commandId="com.raytheon.viz.hydro.alertalarm.openalertalarm">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.questionabledata.QuestionableDataAction"
            commandId="com.raytheon.viz.hydro.questionabledata.openquestionabledata">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.datatrashcan.DataTrashCanAction"
            commandId="com.raytheon.viz.hydro.datatrashcan.opendatatrashcan">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.stationreporting.StationReportingAction"
            commandId="com.raytheon.viz.hydro.stationreporting.openstationreporting">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.pointprecipitation.PointPrecipAccumAction"
            commandId="com.raytheon.viz.hydro.pointprecipitation.openpointprecipitation">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.staffgage.StaffGageAction"
            commandId="com.raytheon.viz.hydro.staffgage.openstaffgage">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.impactstatement.ImpactStatementAction"
            commandId="com.raytheon.viz.hydro.impactstatement.openimpactstatement">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.ratingcurve.RatingCurveAction"
            commandId="com.raytheon.viz.hydro.ratingcurve.openratingcurve">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.contacts.ContactsAction"
            commandId="com.raytheon.viz.hydro.contacts.opencontacts">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.cresthistory.CrestHistoryAction"
            commandId="com.raytheon.viz.hydro.cresthistory.opencresthistory">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.colorscalemgr.ColorScaleMgrAction"
            commandId="com.raytheon.viz.hydro.colorscalemgr.opencolorscalemgr">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.lowwaterstatement.LowWaterStatementAction"
            commandId="com.raytheon.viz.hydro.lowwaterstatement.openlowwaterstatement">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.datasources.DataSourcesAction"
            commandId="com.raytheon.viz.hydro.datasources.opendatasources">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.productviewer.ProductViewerAction"
            commandId="com.raytheon.viz.hydro.productviewer.openproductviewer">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.textreport.TextReportAction"
            commandId="com.raytheon.viz.hydro.textreport.opentextreport">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.stationprofile.StationProfileAction"
            commandId="com.raytheon.viz.hydro.stationprofile.openstationprofile">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.riversummary.RiverSummaryAction"
            commandId="com.raytheon.viz.hydro.riversummary.openriversummary">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.stationlegend.StationLegendAction"
            commandId="com.raytheon.viz.hydro.stationlegend.openstationlegend">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.headwatermodel.HeadwaterModelAction"
            commandId="com.raytheon.viz.hydro.headwatermodel.openheadwatermodel">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.actions.ClearDataAction"
            commandId="com.raytheon.viz.ui.actions.cleardata">
      </handler>
      <handler
            class="com.raytheon.viz.hydrocommon.actions.FontAction"
            commandId="com.raytheon.viz.hydro.actions.setfont">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.actions.EditLocationShiftAction"
            commandId="com.raytheon.viz.hydro.actions.EditLocationShiftAction">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.actions.Step"
            commandId="com.raytheon.viz.hydro.Step">
      </handler>
      <handler
            class="com.raytheon.viz.hydro.appsdefaults.AppsDefaultsAction"
            commandId="com.raytheon.viz.hydro.appsdefaultsmenu">
      </handler>
   </extension>
   <extension
         point="com.raytheon.viz.ui.perspectiveManager">
      <perspectiveManager
      		perspectiveId="com.raytheon.viz.hydro.HydroPerspective"
            class="com.raytheon.viz.hydro.perspective.HydroPerspectiveManager"
            name="HydroPerspectiveManager">
      </perspectiveManager>
   </extension>
   <extension
         point="com.raytheon.viz.ui.contextualMenu">
      <contextualMenu
            actionClass="com.raytheon.viz.hydro.gagedisplay.GageColorLegendAction"
            capabilityInterface="com.raytheon.viz.hydro.resource.MultiPointResource"
            name="GageColorLegend"
            sortID="101">
      </contextualMenu>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="com.raytheon.viz.hydrocommon.resource.XmrgResource"
            name="Best Estimate QPE"
            renderingOrderId="IMAGE_REGION"
            resourceType="PLAN_VIEW">
      </resource>
      <resource
            class="com.raytheon.viz.hydro.colorbar.HydroColorBarResource"
            name="Hydro Color Bar"
            renderingOrderId="HIGHEST">
      </resource>
      <resource
            class="com.raytheon.viz.hydrocommon.resource.TimeLapseResource"
            name="Time Lapse Resource"
            renderingOrderId="IMAGE_REGION"
            resourceType="PLAN_VIEW">
      </resource>
      <resource
            class="com.raytheon.viz.hydrocommon.resource.MeanArealPrecipResource"
            name="Mean Areal Precip"
            renderingOrderId="IMAGE_REGION"
            resourceType="PLAN_VIEW">
      </resource>
      <resource
            class="com.raytheon.viz.hydro.resource.MultiPointResource"
            name="Hydro PDC Resource"
            renderingOrderId="PLOT">
      </resource>
      <resource
            class="com.raytheon.viz.grid.rsc.GridResource"
            name="Grid Resource"
            renderingOrderId="IMAGE_REGION"
            resourceType="PLAN_VIEW">
      </resource>
      <resource
            class="com.raytheon.viz.hydrocommon.resource.FFGGridResource"
            name="FfgGridResource"
            renderingOrderId="IMAGE_REGION"
            resourceType="PLAN_VIEW">
      </resource>
      <resource
            class="com.raytheon.viz.hydrocommon.resource.MeanArealFFGResource"
            name="FFGArealResource"
            renderingOrderId="IMAGE_REGION"
            resourceType="PLAN_VIEW">
      </resource>
      <resource
            class="com.raytheon.viz.hydrocommon.resource.ArealFfgResource"
            name="ArealFfgResource"
            renderingOrderId="IMAGE_REGION"
            resourceType="PLAN_VIEW">
      </resource>
      <resource
            class="com.raytheon.viz.hydrocommon.resource.GriddedArealFFGResource"
            name="GriddedArealFFGResource"
            renderingOrderId="IMAGE_REGION"
            resourceType="PLAN_VIEW">
      </resource>
      <resource
            class="com.raytheon.viz.hydrocommon.resource.RFCGriddedBasinFFGResource"
            name="RFCGriddedBasinFFGResource"
            renderingOrderId="IMAGE_REGION"
            resourceType="PLAN_VIEW">
      </resource>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.raytheon.viz.hydro.HydroPerspective">
         <actionSet
               id="com.raytheon.viz.hydro.HydroActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="*">
         <perspectiveShortcut
               id="com.raytheon.viz.hydro.HydroPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.raytheon.viz.hydro.Hydro"
            name="Hydro">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.raytheon.viz.hydro.Step"
            contextId="com.raytheon.viz.hydro.Hydro"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="ALT+ARROW_LEFT">
         <parameter
               id="increment"
               value="-1">
         </parameter>
      </key>
      <key
            commandId="com.raytheon.viz.hydro.Step"
            contextId="com.raytheon.viz.hydro.Hydro"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="ALT+ARROW_UP">
         <parameter
               id="increment"
               value="1">
         </parameter>
      </key>
      <key
            commandId="com.raytheon.viz.hydro.Step"
            contextId="com.raytheon.viz.hydro.Hydro"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="ALT+ARROW_DOWN">
         <parameter
               id="increment"
               value="-1">
         </parameter>
      </key>
      <key
            commandId="com.raytheon.viz.hydro.Step"
            contextId="com.raytheon.viz.hydro.Hydro"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="ALT+ARROW_RIGHT">
         <parameter
               id="increment"
               value="1">
         </parameter>
      </key>
   </extension>
   	<extension
	      point="com.raytheon.uf.viz.core.classContext">
	      <classContext
             class="com.raytheon.viz.hydro.perspective.HydroPerspectiveManager">
	          <contextId id="com.raytheon.viz.hydro.Hydro">
	          </contextId>
	      </classContext>
	</extension>
    <extension
          point="com.raytheon.uf.viz.localization.localizationpath">
       <path
             application="Hydro Apps"
             localizationType="COMMON_STATIC"
             name="Hydro"
             value="hydro">
       </path>
       <path
             application="Hydro Apps"
             localizationType="COMMON_STATIC"
             name="SHEF"
             value="shef">
       </path>
    </extension>
    <extension
          point="com.raytheon.uf.viz.core.component">
       <component
             class="com.raytheon.viz.hydro.timeseries.TimeSeriesconfigComponent"
             key="hydroTimeSeries">
       </component>
    </extension>
 	<extension
       point="com.raytheon.uf.viz.ui.menus.tearoffperspective">
    	<tearoffperspective
          enabled="true"
          perspectiveId="com.raytheon.viz.hydro.HydroPerspective">
    	</tearoffperspective>
 	</extension>
</plugin>
