body{
  font-family: Helvetica;
  margin-left: 75px;
  margin-right: 75px;
  background: #E0E0E0;
}
#banner{
  background: white;
  font-family: Lucida Sans;
  font-size: 24pt;
  text-align: center;
  border: 1px solid #C0C0C0;
}
#interfaceBody{
  margin-top: 10px;
}
