<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
   		point="com.raytheon.uf.viz.core.graphicsExtension">
   		<graphicsExtension
           class="com.raytheon.uf.viz.radar.gl.GLRadialMeshExtension">
   		</graphicsExtension>
   		<graphicsExtension
           class="com.raytheon.uf.viz.radar.gl.mosaic.GLRadarMosaicImageExtension">
   		</graphicsExtension>
   </extension>   
</plugin>
