#This file should be installed as a systemd unit into /etc/systemd/system/ or /lib/systemd/system/

[Unit]
Description=AWIPS2 LDM Service
After=network-online.target edex_camel.target
Requires=edex_camel.target

[Service]
Type=forking
#Restart=on-failure
ExecStart=/awips2/ldm/bin/edex_ldm start
ExecStop=/awips2/ldm/bin/edex_ldm stop
PIDFile=/awips2/ldm/ldmd.pid

PermissionsStartOnly=true

[Install]
WantedBy=multi-user.target
