<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Override this file in localization to customize the sites and roles 
	that may be selected. After configuring each site, it may be further modified 
	of adding sites to subscribe to in the feed -->
<siteConfigInformation>
	<!-- hosts must be added, these will show up in the login dialog -->
	<server hostname="edex-cloud.unidata.ucar.edu" prettyName="Omaha Cluster"></server>
	<!--  <server hostname="dx3-oma.oma.us.ray.com" prettyName="Omaha Secondary Cluster"></server>-->
	<config site="OAX">
		<subscribedSites>OAX</subscribedSites>
		<subscribedSites>DMX</subscribedSites>
		<subscribedSites>FSD</subscribedSites>
		<subscribedSites>LBF</subscribedSites>
		<subscribedSites>GID</subscribedSites>
		<subscribedSites>TOP</subscribedSites>
		<subscribedSites>EAX</subscribedSites>
		<subscribedSites>NCEP</subscribedSites>
		<roles>Short Term Forecaster</roles>
		<roles>Long Term Forecaster</roles>
		<roles>None</roles>
	</config>
	<config site="DMX">
		<subscribedSites>DMX</subscribedSites>
		<subscribedSites>DVN</subscribedSites>
		<subscribedSites>OAX</subscribedSites>
		<subscribedSites>FSD</subscribedSites>
		<subscribedSites>EAX</subscribedSites>
		<subscribedSites>ARX</subscribedSites>
		<subscribedSites>MPX</subscribedSites>
		<subscribedSites>NCEP</subscribedSites>
		<roles>Long Term Forecaster</roles>
		<roles>Short Term Forecaster</roles>
		<roles>None</roles>
	</config>
	<config site="GID">
		<subscribedSites>GID</subscribedSites>
		<subscribedSites>OAX</subscribedSites>
		<subscribedSites>TOP</subscribedSites>
		<subscribedSites>ICT</subscribedSites>
		<subscribedSites>DDC</subscribedSites>
		<subscribedSites>GLD</subscribedSites>
		<subscribedSites>LBF</subscribedSites>
		<subscribedSites>NCEP</subscribedSites>
		<roles>Short Term Forecaster</roles>
		<roles>Long Term Forecaster</roles>
		<roles>None</roles>
	</config>
</siteConfigInformation>

