<?xml version="1.0" encoding="UTF-8"?>
    <!--
        This_software_was_developed_and_/_or_modified_by_Raytheon_Company,
        pursuant_to_Contract_DG133W-05-CQ-1067_with_the_US_Government.
        
        U.S._EXPORT_CONTROLLED_TECHNICAL_DATA
        This_software_product_contains_export-restricted_data_whose
        export/transfer/disclosure_is_restricted_by_U.S._law._Dissemination
        to_non-U.S._persons_whether_in_the_United_States_or_abroad_requires
        an_export_license_or_other_authorization.
        
        Contractor_Name:________Raytheon_Company
        Contractor_Address:_____6825_Pine_Street,_Suite_340
        ________________________Mail_Stop_B8
        ________________________Omaha,_NE_68106
        ________________________402.291.0100
        
        See_the_AWIPS_II_Master_Rights_File_("Master_Rights_File.pdf")_for
        further_licensing_information.
    -->

<?eclipse version="3.3"?>
<plugin>
   <extension
         id="CAVE"
         name="Raytheon Viz"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.raytheon.uf.viz.application.application"
            name="CAVE">
         <property
               name="aboutText"
               value="%caveAboutText"/>
         <property
               name="version"
               value="%caveVersion"/>
         <property
               name="aboutImage"
               value="icons/ipr.gif"/>
         <property
               name="appName"
               value="CAVE">
         </property>
         <property
               name="startupProgressRect"
               value="3,234,413,13">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/com.raytheon.viz.ui.personalities.awips/cave_16x16.png,platform:/plugin/com.raytheon.viz.ui.personalities.awips/cave_32x32.png,platform:/plugin/com.raytheon.viz.ui.personalities.awips/cave_48x48.png,platform:/plugin/com.raytheon.viz.ui.personalities.awips/cave_64x64.png,platform:/plugin/com.raytheon.viz.ui.personalities.awips/cave_128x128.png">
         </property>
      </product>
   </extension>
</plugin>
