<?xml version="1.0" encoding="UTF-8"?>
    <!--
        This_software_was_developed_and_/_or_modified_by_Raytheon_Company,
        pursuant_to_Contract_DG133W-05-CQ-1067_with_the_US_Government.
        
        U.S._EXPORT_CONTROLLED_TECHNICAL_DATA
        This_software_product_contains_export-restricted_data_whose
        export/transfer/disclosure_is_restricted_by_U.S._law._Dissemination
        to_non-U.S._persons_whether_in_the_United_States_or_abroad_requires
        an_export_license_or_other_authorization.
        
        Contractor_Name:________Raytheon_Company
        Contractor_Address:_____6825_Pine_Street,_Suite_340
        ________________________Mail_Stop_B8
        ________________________Omaha,_NE_68106
        ________________________402.291.0100
        
        See_the_AWIPS_II_Master_Rights_File_("Master_Rights_File.pdf")_for
        further_licensing_information.
    -->
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.raytheon.viz.inHydroCommonActionSet">
         <with variable="activeContexts">
            <iterate operator="or">
               <or>
                  <equals
                        value="com.raytheon.viz.hydro.HydroActionSet">
                  </equals>
                  <equals
                        value="com.raytheon.viz.MPEActionSet">
                  </equals>
               </or>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=CAVE">
         <menu
               id="com.raytheon.viz.hydrocommon.File"
               label="File"
               mnemonic="F">
            <visibleWhen>
               <reference
                     definitionId="com.raytheon.viz.inHydroCommonActionSet">
               </reference>
            </visibleWhen>
            <command
                  commandId="com.raytheon.uf.viz.image.export.save"
                  label="Save Image as...">
                  <parameter
                        name="frameSelection" value="current" />
                  <parameter
                        name="dialogType" value="file" />
            </command>
            <command
                  commandId="com.raytheon.uf.viz.image.export.print"
                  label="Print Image...">
            </command>
            <command
                  commandId="com.raytheon.viz.ui.actions.printScreenReverseAction"
                  label="Print Reverse Image...">
            </command>
         </menu>
         <menu
               id="com.raytheon.viz.hydrocommon.Tools"
               label="Tools"
               mnemonic="T">
            <visibleWhen>
               <reference
                     definitionId="com.raytheon.viz.inHydroCommonActionSet">
               </reference>
            </visibleWhen>
            <menu id="com.raytheon.viz.hydrocommon.PointZoom"
                  label="Point Zoom"
                  mnemonic="o">
               <command
                     commandId="com.raytheon.viz.hydrocommon.actions.zoom"
                     label="In">
                  <parameter
                        name="direction"
                        value="in">
                  </parameter>
               </command>
               <command
                     commandId="com.raytheon.viz.hydrocommon.actions.zoom"
                     label="Out">
                  <parameter
                        name="direction"
                        value="out">
                  </parameter>
               </command>
            </menu>
            <menu
                  label="Pan"
                  mnemonic="P">
               <command
                     commandId="com.raytheon.viz.hydrocommon.actions.pan"
                     label="Up"
                     mnemonic="U">
                  <parameter
                        name="direction"
                        value="U">
                  </parameter>
               </command>
               <command
                     commandId="com.raytheon.viz.hydrocommon.actions.pan"
                     label="Down"
                     mnemonic="D">
                  <parameter
                        name="direction"
                        value="D">
                  </parameter>
               </command>
               <command
                     commandId="com.raytheon.viz.hydrocommon.actions.pan"
                     label="Left"
                     mnemonic="L">
                  <parameter
                        name="direction"
                        value="L">
                  </parameter>
               </command>
               <command
                     commandId="com.raytheon.viz.hydrocommon.actions.pan"
                     label="Right"
                     mnemonic="R">
                  <parameter
                        name="direction"
                        value="R">
                  </parameter>
               </command>
            </menu>
            <separator
                  name="com.raytheon.viz.hydrocommon.separator4"
                  visible="true">
            </separator>
             
            <separator
                  name="additions"
                  visible="true">
            </separator>
         </menu>
         <menu
               id="com.raytheon.viz.hydrocommon.Projections"
               label="Projections"
               mnemonic="P">
            <visibleWhen>
               <reference
                     definitionId="com.raytheon.viz.inHydroCommonActionSet">
               </reference>
            </visibleWhen>
         </menu>
         <menu
               id="com.raytheon.viz.hydrocommon.Overlays"
               label="Overlays"
               mnemonic="O">
            <visibleWhen>
               <reference
                     definitionId="com.raytheon.viz.inHydroCommonActionSet">
               </reference>
            </visibleWhen>
	         <dynamic
	               class="com.raytheon.uf.viz.core.maps.menus.MapsMenu"
	               id="com.raytheon.uf.viz.core.maps.menus.MapsMenu">
	         </dynamic>
          <separator
                name="com.raytheon.viz.hydrocommon.separator1"
                visible="true">
          </separator>
          <command
                commandId="com.raytheon.uf.viz.core.maps.actions.LoadMap"
                label="HRAP"
                style="toggle">
             <parameter
                   name="mapName"
                   value="HRAP">
             </parameter>
             <parameter
                   name="mapPath"
                   value="bundles/hydro/hrapOverlay.xml">
             </parameter>
          </command>
          <separator
                name="commonSeparator"
                visible="true">
          </separator>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=mapControls">
         <toolbar
               id="hydrocommon-1">
	         <command
	               commandId="com.raytheon.viz.hydrocommon.actions.pan"
	               icon="icons/north.gif"
	               label="Up"
	               style="push">
	            <visibleWhen>
	               <reference
	                     definitionId="com.raytheon.viz.inHydroCommonActionSet">
	               </reference>
	            </visibleWhen>
                <parameter
                      name="direction"
                      value="U">
                </parameter>
	         </command>
	         <command
	               commandId="com.raytheon.viz.hydrocommon.actions.pan"
	               icon="icons/south.gif"
	               label="Down"
	               style="push">
	            <visibleWhen>
	               <reference
	                     definitionId="com.raytheon.viz.inHydroCommonActionSet">
	               </reference>
	            </visibleWhen>
                <parameter
                      name="direction"
                      value="D">
                </parameter>
	         </command>
	         <command
	               commandId="com.raytheon.viz.hydrocommon.actions.pan"
	               icon="icons/west.gif"
	               label="Left"
	               style="push">
	            <visibleWhen>
	               <reference
	                     definitionId="com.raytheon.viz.inHydroCommonActionSet">
	               </reference>
	            </visibleWhen>
                <parameter
                      name="direction"
                      value="L">
                </parameter>
	         </command>
	         <command
	               commandId="com.raytheon.viz.hydrocommon.actions.pan"
	               icon="icons/east.gif"
	               label="Right"
	               style="push">
	            <visibleWhen>
	               <reference
	                     definitionId="com.raytheon.viz.inHydroCommonActionSet">
	               </reference>
	            </visibleWhen>
                <parameter
                      name="direction"
                      value="R">
                </parameter>
	         </command>
<!--	         
	         <command
	               commandId="com.raytheon.viz.ui.actions.notImplemented"
	               icon="icons/center.gif"
	               label="Recenter"
	               style="push">
	            <visibleWhen>
	               <reference
	                     definitionId="com.raytheon.viz.inHydroCommonActionSet">
	               </reference>
	            </visibleWhen>
	         </command>
-->
          <separator
                name="separator1"
                visible="true">
          </separator>
	         <command
	               commandId="com.raytheon.viz.hydrocommon.actions.zoom"
	               icon="icons/zoomin.gif"
	               label="Zoom In"
	               style="push">
	            <visibleWhen>
	               <reference
	                     definitionId="com.raytheon.viz.inHydroCommonActionSet">
	               </reference>
	            </visibleWhen>
             <parameter
                   name="direction"
                   value="in">
             </parameter>
	         </command>
	         <command
	               commandId="com.raytheon.viz.hydrocommon.actions.zoom"
	               icon="icons/zoomout.gif"
	               label="Zoom Out"
	               style="push">
	            <visibleWhen>
	               <reference
	                     definitionId="com.raytheon.viz.inHydroCommonActionSet">
	               </reference>
	            </visibleWhen>
             <parameter
                   name="direction"
                   value="out">
             </parameter>
	         </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.raytheon.viz.hydrocommon.actions.pan"
            name="Pan">
         <commandParameter
               id="direction"
               name="direction"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="com.raytheon.viz.hydrocommon.actions.zoom"
            name="Zoom">
         <commandParameter
               id="direction"
               name="direction"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="com.raytheon.viz.hydrocommon.actions.setProjection"
            name="Set Projection">
         <commandParameter
               id="projection"
               name="projection"
               optional="false">
         </commandParameter>
         <commandParameter
               id="prefix"
               name="prefix"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="com.raytheon.viz.hydrocommon.actions.fontsize"
            name="Set Font">
         <commandParameter
               id="size"
               name="size"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.raytheon.viz.hydrocommon.actions.Pan"
            commandId="com.raytheon.viz.hydrocommon.actions.pan">
      </handler>
      <handler
            class="com.raytheon.viz.hydrocommon.actions.Zoom"
            commandId="com.raytheon.viz.hydrocommon.actions.zoom">
      </handler>
      <handler
            class="com.raytheon.viz.hydrocommon.actions.SetProjection"
            commandId="com.raytheon.viz.hydrocommon.actions.setProjection">
      </handler>
      <handler
            class="com.raytheon.viz.hydrocommon.actions.FontAction"
            commandId="com.raytheon.viz.hydrocommon.actions.fontsize">
      </handler>
   </extension>
</plugin>
