<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.intlsig.rsc.IntlSigmetResource"
            name="International SIGMET"
            recordClass="gov.noaa.nws.ncep.common.dataplugin.intlsigmet.IntlSigmetRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW">
      </resource>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.scriptTemplate">
      <scriptTemplate
            pluginName="intlsigmet"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
       <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.intlsig.rsc.IntlSigmetResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="IntlSigmet">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceParameter">
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="thunderstormEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="thunderstormColor"
            defaultValue="RGB {0 ,  255 ,  255}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="thunderstormLineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="thunderstormSymbolWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="thunderstormSymbolSize"
            defaultValue="1.5"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="turbulenceEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="turbulenceColor"
            defaultValue="RGB {255, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="turbulenceLineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="turbulenceSymbolWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="turbulenceSymbolSize"
            defaultValue="1.5"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>      
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="hurricaneEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="hurricaneColor"
            defaultValue="RGB {255, 0,  0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
       </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Integer"
            paramName="hurricaneSymbolWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
       </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="hurricaneSymbolSize"
            defaultValue="1.5"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="tropicalStormEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="tropicalStormColor"
            defaultValue="RGB {255,255,0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Integer"
            paramName="tropicalStormSymbolWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="tropicalStormSymbolSize"
            defaultValue="1.5"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>      
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="tropicalDepressionEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="tropicalDepressionColor"
            defaultValue="RGB {0,255,0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Integer"
            paramName="tropicalDepressionSymbolWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="tropicalDepressionSymbolSize"
            defaultValue="1.5"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>              
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="volcanicAshCloudEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="volcanicAshCloudColor"
            defaultValue="RGB {255, 127, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="volcanicAshCloudLineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="volcanicAshCloudSymbolWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="volcanicAshCloudSymbolSize"
            defaultValue="1.5"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="mountainWaveEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="mountainWaveColor"
            defaultValue="RGB {255,  0,  255}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="mountainWaveLineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="mountainWaveSymbolWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="mountainWaveSymbolSize"
            defaultValue="1.5"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="tropicalCycloneEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="tropicalCycloneColor"
            defaultValue="RGB {255,0,0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Integer"
            paramName="tropicalCycloneSymbolWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="tropicalCycloneSymbolSize"
            defaultValue="1.5"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>
     <nc-resourceParameter
            paramClass="Boolean"
            paramName="squallLineEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="squallLineColor"
            defaultValue="RGB {255,  0,  255}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Integer"
            paramName="squallLineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Integer"
            paramName="squallLineSymbolWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>    
       <nc-resourceParameter
            paramClass="Float"
            paramName="squallLineSymbolSize"
            defaultValue="1.5"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>      
       <nc-resourceParameter
            paramClass="Boolean"
            paramName="squallLineEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="squallLineColor"
            defaultValue="RGB {255,0,255}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter> 
       <nc-resourceParameter
            paramClass="Integer"
            paramName="squallLineSymbolWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="squallLineSymbolSize"
            defaultValue="1.5"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="catEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="catColor"
            defaultValue="RGB {255,255,0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Integer"
            paramName="catLineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
       </nc-resourceParameter>              
       <nc-resourceParameter
            paramClass="Integer"
            paramName="catSymbolWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="catSymbolSize"
            defaultValue="1.5"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>                  
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="icingEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="icingColor"
            defaultValue="RGB {0,255,0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Integer"
            paramName="icingLineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
       </nc-resourceParameter>              
       <nc-resourceParameter
            paramClass="Integer"
            paramName="icingSymbolWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="icingSymbolSize"
            defaultValue="1.5"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="hailEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="hailColor"
            defaultValue="RGB {255,0,0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Integer"
            paramName="hailLineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
       </nc-resourceParameter>              
       <nc-resourceParameter
            paramClass="Integer"
            paramName="hailSymbolWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="hailSymbolSize"
            defaultValue="1.5"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="dustStormEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="dustStormColor"
            defaultValue="RGB {255,127,0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Integer"
            paramName="dustStormLineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
       </nc-resourceParameter>              
       <nc-resourceParameter
            paramClass="Integer"
            paramName="dustStormSymbolWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="dustStormSymbolSize"
            defaultValue="1.5"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="sandStormEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="sandStormColor"
            defaultValue="RGB {255,127,0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Integer"
            paramName="sandStormLineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
       </nc-resourceParameter>              
       <nc-resourceParameter
            paramClass="Integer"
            paramName="sandStormSymbolWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="sandStormSymbolSize"
            defaultValue="1.5"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>            
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="cumulonimbusEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="cumulonimbusColor"
            defaultValue="RGB {255,0,0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Integer"
            paramName="cumulonimbusLineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
       </nc-resourceParameter>              
       <nc-resourceParameter
            paramClass="Integer"
            paramName="cumulonimbusSymbolWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="cumulonimbusSymbolSize"
            defaultValue="1.5"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="lowLevelWindShearEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="lowLevelWindShearColor"
            defaultValue="RGB {255,255,0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Integer"
            paramName="lowLevelWindShearLineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
       </nc-resourceParameter>              
       <nc-resourceParameter
            paramClass="Integer"
            paramName="lowLevelWindShearSymbolWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="lowLevelWindShearSymbolSize"
            defaultValue="1.5"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="symbolEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="timeEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="nameOrNumberEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>  
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="motionEnable"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>               
      <nc-resourceParameter      
            paramClass="Boolean"
            paramName="flightLevelEnable"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IntlSigmet">
      </nc-resourceParameter>   
      
      <nc-resourceParameter
            ncResourceName="IntlSigmet"
            paramClass="RGB"
            paramName="legendColor"
            defaultValue="RGB {255, 255, 255}"
            paramType="IMPLEMENTATION_PARAM">
      </nc-resourceParameter>

      <nc-resourceParameter
            ncResourceName="IntlSigmet"
            paramClass="String"
            paramName="reportType"
            defaultValue="intlsigmet"
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>      
   </extension>
</plugin>
