<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.intlsig.rsc.IntlSigmetResource"
            name="International SIGMET"
            recordClass="gov.noaa.nws.ncep.common.dataplugin.intlsigmet.IntlSigmetRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW">
      </resource>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.scriptTemplate">
      <scriptTemplate
            pluginName="intlsigmet"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
       <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.intlsig.rsc.IntlSigmetResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="IntlSigmet">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceAttribute">
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="thunderstormEnable"
            defaultValue="true"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="thunderstormColor"
            defaultValue="RGB {0 ,  255 ,  255}"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="thunderstormLineWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="thunderstormSymbolWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="thunderstormSymbolSize"
            defaultValue="1.5"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="turbulenceEnable"
            defaultValue="true"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="turbulenceColor"
            defaultValue="RGB {255, 255, 0}"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="turbulenceLineWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="turbulenceSymbolWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="turbulenceSymbolSize"
            defaultValue="1.5"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>      
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="hurricaneEnable"
            defaultValue="true"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="hurricaneColor"
            defaultValue="RGB {255, 0,  0}"
            ncResourceName="IntlSigmet">
       </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="hurricaneSymbolWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
       </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="hurricaneSymbolSize"
            defaultValue="1.5"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="tropicalStormEnable"
            defaultValue="true"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="tropicalStormColor"
            defaultValue="RGB {255,255,0}"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="tropicalStormSymbolWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="tropicalStormSymbolSize"
            defaultValue="1.5"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>      
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="tropicalDepressionEnable"
            defaultValue="true"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="tropicalDepressionColor"
            defaultValue="RGB {0,255,0}"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="tropicalDepressionSymbolWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="tropicalDepressionSymbolSize"
            defaultValue="1.5"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>              
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="volcanicAshCloudEnable"
            defaultValue="true"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="volcanicAshCloudColor"
            defaultValue="RGB {255, 127, 0}"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="volcanicAshCloudLineWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="volcanicAshCloudSymbolWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="volcanicAshCloudSymbolSize"
            defaultValue="1.5"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="mountainWaveEnable"
            defaultValue="true"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="mountainWaveColor"
            defaultValue="RGB {255,  0,  255}"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="mountainWaveLineWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="mountainWaveSymbolWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="mountainWaveSymbolSize"
            defaultValue="1.5"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="tropicalCycloneEnable"
            defaultValue="true"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="tropicalCycloneColor"
            defaultValue="RGB {255,0,0}"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="tropicalCycloneSymbolWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="tropicalCycloneSymbolSize"
            defaultValue="1.5"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>
     <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="squallLineEnable"
            defaultValue="true"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="squallLineColor"
            defaultValue="RGB {255,  0,  255}"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="squallLineWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="squallLineSymbolWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>    
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="squallLineSymbolSize"
            defaultValue="1.5"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>      
       <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="squallLineEnable"
            defaultValue="true"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="squallLineColor"
            defaultValue="RGB {255,0,255}"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="squallLineLineWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
       </nc-resourceAttribute>              
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="squallLineSymbolWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="squallLineSymbolSize"
            defaultValue="1.5"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="catEnable"
            defaultValue="true"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="catColor"
            defaultValue="RGB {255,255,0}"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="catLineWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
       </nc-resourceAttribute>              
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="catSymbolWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="catSymbolSize"
            defaultValue="1.5"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>                  
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="icingEnable"
            defaultValue="true"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="icingColor"
            defaultValue="RGB {0,255,0}"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="icingLineWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
       </nc-resourceAttribute>              
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="icingSymbolWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="icingSymbolSize"
            defaultValue="1.5"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="hailEnable"
            defaultValue="true"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="hailColor"
            defaultValue="RGB {255,0,0}"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="hailLineWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
       </nc-resourceAttribute>              
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="hailSymbolWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="hailSymbolSize"
            defaultValue="1.5"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="dustStormEnable"
            defaultValue="true"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="dustStormColor"
            defaultValue="RGB {255,127,0}"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="dustStormLineWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
       </nc-resourceAttribute>              
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="dustStormSymbolWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="dustStormSymbolSize"
            defaultValue="1.5"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="sandStormEnable"
            defaultValue="true"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="sandStormColor"
            defaultValue="RGB {255,127,0}"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="sandStormLineWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
       </nc-resourceAttribute>              
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="sandStormSymbolWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="sandStormSymbolSize"
            defaultValue="1.5"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>            
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="cumulonimbusEnable"
            defaultValue="true"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="cumulonimbusColor"
            defaultValue="RGB {255,0,0}"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="cumulonimbusLineWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
       </nc-resourceAttribute>              
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="cumulonimbusSymbolWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="cumulonimbusSymbolSize"
            defaultValue="1.5"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="lowLevelWindShearEnable"
            defaultValue="true"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="lowLevelWindShearColor"
            defaultValue="RGB {255,255,0}"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="lowLevelWindShearLineWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
       </nc-resourceAttribute>              
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="lowLevelWindShearSymbolWidth"
            defaultValue="2"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="lowLevelWindShearSymbolSize"
            defaultValue="1.5"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="symbolEnable"
            defaultValue="true"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="timeEnable"
            defaultValue="true"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="nameOrNumberEnable"
            defaultValue="true"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>  
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="motionEnable"
            defaultValue="false"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>               
      <nc-resourceAttribute      
            attributeClass="Boolean"
            attributeName="flightLevelEnable"
            defaultValue="false"
            ncResourceName="IntlSigmet">
      </nc-resourceAttribute>         
   </extension>
</plugin>
