bin/
.metadata/
ldm/Debug
test-bin/
testbin/
testBin/
bin-test/
*.class
*.pyo
*.pyc
*.o
*.orig
__pycache__
build/awips-ade/RPMS/
build/logs/
cave/com.raytheon.viz.ui.personalities.awips/splash.bmp
dist/
