bin/
.metadata/
ldm/Debug
test-bin/
testbin/
testBin/
bin-test/
dist/
build/logs/
*.class
*.pyo
*.rpm
*.pyc
*.o
*.orig
keepLocal
.pydevproject
build/clean.sh
cave/diff.txt
cave/menus/
edexOsgi/build.edex/opt/db/replication/
edexOsgi/com.raytheon.uf.edex.dissemination/
edexOsgi/deploy.edex.awips2/esb/conf/resources/
	feature.xml
edexOsgi/build.edex/${site-package.directory}
scripts
output/
rpms/awips2.upc/Installer.metpy/
