<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.raytheon.viz.volumebrowser.datacatalog">
      <dataCatalog
            catalogClass="com.raytheon.uf.viz.volumebrowser.dataplugin.grid.GridDataCatalog">
      </dataCatalog>
      <dataCatalog
            catalogClass="com.raytheon.uf.viz.volumebrowser.dataplugin.point.PointDataCatalog">
      </dataCatalog>
      <dataCatalog
            catalogClass="com.raytheon.uf.viz.volumebrowser.dataplugin.point.DmdDataCatalog">
      </dataCatalog>
      <dataCatalog
            catalogClass="com.raytheon.uf.viz.volumebrowser.dataplugin.point.ModelSoundingCatalog">
      </dataCatalog>
      <dataCatalog
            catalogClass="com.raytheon.uf.viz.volumebrowser.dataplugin.point.VwpDataCatalog">
      </dataCatalog>
   </extension>
   <extension
         point="com.raytheon.viz.volumebrowser.productcreator">
      <productCreator
            creatorClass="com.raytheon.uf.viz.volumebrowser.dataplugin.grid.GridMapProductCreator"
            plugins="grid"
            resourceType="plan_view">
      </productCreator>
      <productCreator
            creatorClass="com.raytheon.uf.viz.volumebrowser.dataplugin.grid.GridCrossSectionProductCreator"
            plugins="grid"
            resourceType="cross_section">
      </productCreator>
      <productCreator
            creatorClass="com.raytheon.uf.viz.volumebrowser.dataplugin.grid.GridTimeHeightProductCreator"
            plugins="grid"
            resourceType="time_height">
      </productCreator>
      <productCreator
            creatorClass="com.raytheon.uf.viz.volumebrowser.dataplugin.grid.GridVarHeightProductCreator"
            plugins="grid"
            resourceType="var_height">
      </productCreator>
      <productCreator
            creatorClass="com.raytheon.uf.viz.volumebrowser.dataplugin.grid.GridTimeSeriesProductCreator"
            plugins="grid"
            resourceType="time_series">
      </productCreator>
      <productCreator
            creatorClass="com.raytheon.uf.viz.volumebrowser.dataplugin.point.OAMapProductCreator"
            plugins="obs,bufrua"
            resourceType="plan_view">
      </productCreator>
      <productCreator
            creatorClass="com.raytheon.uf.viz.volumebrowser.dataplugin.point.OATimeSeriesProductCreator"
            plugins="bufrua,obs"
            resourceType="time_series">
      </productCreator>
      <productCreator
            creatorClass="com.raytheon.viz.volumebrowser.loader.TimeSeriesProductCreator"
            plugins="goessounding,poessounding,profiler,bufrmosLAMP,modelsounding,radar,ldadmesonet"
            resourceType="time_series">
      </productCreator>
      <productCreator
            creatorClass="com.raytheon.uf.viz.volumebrowser.dataplugin.point.PointCrossSectionProductCreator"
            plugins="goessounding,poessounding,profiler,bufrua,modelsounding"
            resourceType="cross_section">
      </productCreator>
      <productCreator
            creatorClass="com.raytheon.uf.viz.volumebrowser.dataplugin.point.PointTimeHeightProductCreator"
            plugins="goessounding,poessounding,profiler,bufrua,modelsounding,radar"
            resourceType="time_height">
      </productCreator>
      <productCreator
            creatorClass="com.raytheon.uf.viz.volumebrowser.dataplugin.point.VwpCrossSectionCreator"
            plugins="radar"
            resourceType="cross_section">
      </productCreator>
      <productCreator
            creatorClass="com.raytheon.viz.volumebrowser.loader.VarHeightProductCreator"
            plugins="goessounding,poessounding,profiler,bufrua,modelsounding,radar"
            resourceType="var_height">
      </productCreator>
      <productCreator
            creatorClass="com.raytheon.viz.volumebrowser.loader.VarHeightHodoProductCreator"
            plugins="radar,profiler"
            resourceType="sounding">
      </productCreator>
   </extension>

</plugin>
