<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.wcp.rsc.WCPResourceData"
            name="WCP"
            recordClass="gov.noaa.nws.ncep.edex.plugin.wcp.common.WcpRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW"/>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.scriptTemplate">
      <scriptTemplate
            pluginName="wcp"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.wcp.rsc.WCPResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="WCP">
      </nc-resource>
   </extension>
      <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceAttribute">
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="lineWidth"
            defaultValue="2"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="color"
            defaultValue="RGB {0, 100, 255}"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="String"
            attributeName="thunderstormName"
            defaultValue="Thunderstorm"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="thunderstormEnable"
            defaultValue="true"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="thunderstormColor"
            defaultValue="RGB {0, 255, 255}"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="String"
            attributeName="tornadoName"
            defaultValue="Tornado"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="tornadoEnable"
            defaultValue="true"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="tornadoColor"
            defaultValue="RGB {255, 0, 0}"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="String"
            attributeName="watch0Name"
            defaultValue="Watch xxx0"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watch0Enable"
            defaultValue="true"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="watch0Color"
            defaultValue="RGB {0, 0, 0}"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="String"
            attributeName="watch1Name"
            defaultValue="Watch xxx1"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watch1Enable"
            defaultValue="true"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="watch1Color"
            defaultValue="RGB {0, 0, 0}"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="String"
            attributeName="watch2Name"
            defaultValue="Watch xxx2"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watch2Enable"
            defaultValue="true"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="watch2Color"
            defaultValue="RGB {0, 0, 0}"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="String"
            attributeName="watch3Name"
            defaultValue="Watch xxx3"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watch3Enable"
            defaultValue="true"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="watch3Color"
            defaultValue="RGB {0, 0, 0}"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="String"
            attributeName="watch4Name"
            defaultValue="Watch xxx4"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watch4Enable"
            defaultValue="true"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="watch4Color"
            defaultValue="RGB {0, 0, 0}"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="String"
            attributeName="watch5Name"
            defaultValue="Watch xxx5"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watch5Enable"
            defaultValue="true"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="watch5Color"
            defaultValue="RGB {0, 0, 0}"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="String"
            attributeName="watch6Name"
            defaultValue="Watch xxx6"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watch6Enable"
            defaultValue="true"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="watch6Color"
            defaultValue="RGB {0, 0, 0}"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="String"
            attributeName="watch7Name"
            defaultValue="Watch xxx7"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watch7Enable"
            defaultValue="true"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="watch7Color"
            defaultValue="RGB {0, 0, 0}"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="String"
            attributeName="watch8Name"
            defaultValue="Watch xxx8"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watch8Enable"
            defaultValue="true"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="watch8Color"
            defaultValue="RGB {0, 0, 0}"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="String"
            attributeName="watch9Name"
            defaultValue="Watch xxx9"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watch9Enable"
            defaultValue="true"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="watch9Color"
            defaultValue="RGB {0, 0, 0}"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="String"
            attributeName="timeLabelName"
            defaultValue="Time"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="timeLabelEnable"
            defaultValue="true"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="String"
            attributeName="watchNumberLabelName"
            defaultValue="Watch Number"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watchNumberLabelEnable"
            defaultValue="true"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="String"
            attributeName="colorCodeName"
            defaultValue="Color Code"
            ncResourceName="WCP">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="colorCodeEnable"
            defaultValue="false"
            ncResourceName="WCP">
      </nc-resourceAttribute>
   </extension>
</plugin>
