<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.wcp.rsc.WCPResourceData"
            name="WCP"
            recordClass="gov.noaa.nws.ncep.edex.plugin.wcp.common.WcpRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW"/>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.scriptTemplate">
      <scriptTemplate
            pluginName="wcp"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.wcp.rsc.WCPResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="WCP">
      </nc-resource>
   </extension>
      <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceParameter">
      <nc-resourceParameter
            paramClass="Integer"
            paramName="lineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="color"
            defaultValue="RGB {0, 100, 255}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="thunderstormName"
            defaultValue="Thunderstorm"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="thunderstormEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="thunderstormColor"
            defaultValue="RGB {0, 255, 255}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="tornadoName"
            defaultValue="Tornado"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="tornadoEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="tornadoColor"
            defaultValue="RGB {255, 0, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="watch0Name"
            defaultValue="Watch xxx0"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watch0Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="watch0Color"
            defaultValue="RGB {0, 0, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="watch1Name"
            defaultValue="Watch xxx1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watch1Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="watch1Color"
            defaultValue="RGB {0, 0, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="watch2Name"
            defaultValue="Watch xxx2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watch2Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="watch2Color"
            defaultValue="RGB {0, 0, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="watch3Name"
            defaultValue="Watch xxx3"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watch3Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="watch3Color"
            defaultValue="RGB {0, 0, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="watch4Name"
            defaultValue="Watch xxx4"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watch4Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="watch4Color"
            defaultValue="RGB {0, 0, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="watch5Name"
            defaultValue="Watch xxx5"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watch5Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="watch5Color"
            defaultValue="RGB {0, 0, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="watch6Name"
            defaultValue="Watch xxx6"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watch6Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="watch6Color"
            defaultValue="RGB {0, 0, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="watch7Name"
            defaultValue="Watch xxx7"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watch7Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="watch7Color"
            defaultValue="RGB {0, 0, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="watch8Name"
            defaultValue="Watch xxx8"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watch8Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="watch8Color"
            defaultValue="RGB {0, 0, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="watch9Name"
            defaultValue="Watch xxx9"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watch9Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="watch9Color"
            defaultValue="RGB {0, 0, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="timeLabelName"
            defaultValue="Time"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="timeLabelEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="watchNumberLabelName"
            defaultValue="Watch Number"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watchNumberLabelEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="colorCodeName"
            defaultValue="Color Code"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="colorCodeEnable"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WCP">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            ncResourceName="WCP"
            paramClass="String"
            paramName="reportType"
            defaultValue="wcp"
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>

	  <nc-resourceParameter
            ncResourceName="WCP"
            paramClass="String"
            paramName="color"
            defaultValue="RGB {0, 100, 255}"
            paramType="IMPLEMENTATION_PARAM">
      </nc-resourceParameter>

   </extension>
</plugin>
