<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.hrcn.rsc.HrcnResource"
            name="HRCN"
            recordClass="gov.noaa.nws.ncep.common.dataplugin.tcm.TcmRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW"/>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.scriptTemplate"> 
      <scriptTemplate
            pluginName="tcm"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.hrcn.rsc.HrcnResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="HRCN">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceAttribute">
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="hurricaneEnable"
            defaultValue="true"
            ncResourceName="HRCN">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="hurricaneColor"
            defaultValue="RGB {255, 0, 0}"
            ncResourceName="HRCN">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="hurricaneSymbolWidth"
            defaultValue="1"
            ncResourceName="HRCN">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="hurricaneSymbolSize"
            defaultValue="3"
            ncResourceName="HRCN">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="tropicalStormEnable"
            defaultValue="true"
            ncResourceName="HRCN">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="tropicalStormColor"
            defaultValue="RGB {255, 255, 0}"
            ncResourceName="HRCN">
      </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="tropicalStormSymbolWidth"
            defaultValue="2"
            ncResourceName="HRCN">
      </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="tropicalStormSymbolSize"
            defaultValue="1.5"
            ncResourceName="HRCN">
      </nc-resourceAttribute>      
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="tropicalDepressionEnable"
            defaultValue="true"
            ncResourceName="HRCN">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="tropicalDepressionColor"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="HRCN">
      </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="tropicalDepressionSymbolWidth"
            defaultValue="1"
            ncResourceName="HRCN">
      </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="tropicalDepressionSymbolSize"
            defaultValue="3"
            ncResourceName="HRCN">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="motionDirectionEnable"
            defaultValue="false"
            ncResourceName="HRCN">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="motionDirectionColor"
            defaultValue="RGB {255, 0, 255}"
            ncResourceName="HRCN">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="motionDirectionArrowWidth"
            defaultValue="1"
            ncResourceName="HRCN">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="motionDirectionArrowSize"
            defaultValue="3"
            ncResourceName="HRCN">
      </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="motionDirectionArrowHeadSize"
            defaultValue="1"
            ncResourceName="HRCN">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="timeEnable"
            defaultValue="true"
            ncResourceName="HRCN">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="namePressureEnable"
            defaultValue="true"
            ncResourceName="HRCN">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="motionSpeedEnable"
            defaultValue="false"
            ncResourceName="HRCN">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="windSeaFtRadiiEnable"
            defaultValue="true"
            ncResourceName="HRCN">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="forecastPosHour00"
            defaultValue="true"
            ncResourceName="HRCN">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="forecastPosHour06"
            defaultValue="false"
            ncResourceName="HRCN">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="forecastPosHour12"
            defaultValue="true"
            ncResourceName="HRCN">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="forecastPosHour18"
            defaultValue="false"
            ncResourceName="HRCN">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="forecastPosHour24"
            defaultValue="true"
            ncResourceName="HRCN">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="forecastPosHour30"
            defaultValue="false"
            ncResourceName="HRCN">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="forecastPosHour36"
            defaultValue="true"
            ncResourceName="HRCN">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="forecastPosHour42"
            defaultValue="false"
            ncResourceName="HRCN">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="forecastPosHour48"
            defaultValue="true"
            ncResourceName="HRCN">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="forecastPosHour54"
            defaultValue="false"
            ncResourceName="HRCN">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="forecastPosHour60"
            defaultValue="false"
            ncResourceName="HRCN">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="forecastPosHour66"
            defaultValue="false"
            ncResourceName="HRCN">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="forecastPosHour72"
            defaultValue="true"
            ncResourceName="HRCN">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="forecastPosHour78"
            defaultValue="false"
            ncResourceName="HRCN">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="forecastPosHour84"
            defaultValue="false"
            ncResourceName="HRCN">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="forecastPosHour90"
            defaultValue="false"
            ncResourceName="HRCN">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="forecastPosHour96"
            defaultValue="true"
            ncResourceName="HRCN">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="forecastPosHour120"
            defaultValue="true"
            ncResourceName="HRCN">
      </nc-resourceAttribute> 
   </extension>
</plugin>