<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.hrcn.rsc.HrcnResource"
            name="HRCN"
            recordClass="gov.noaa.nws.ncep.common.dataplugin.tcm.TcmRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW"/>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.scriptTemplate"> 
      <scriptTemplate
            pluginName="tcm"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.hrcn.rsc.HrcnResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="HRCN">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceParameter">
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="hurricaneEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="hurricaneColor"
            defaultValue="RGB {255, 0, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="hurricaneSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="hurricaneSymbolSize"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="tropicalStormEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="tropicalStormColor"
            defaultValue="RGB {255, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="tropicalStormSymbolWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="tropicalStormSymbolSize"
            defaultValue="1.5"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter>      
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="tropicalDepressionEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="tropicalDepressionColor"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="tropicalDepressionSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="tropicalDepressionSymbolSize"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="motionDirectionEnable"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="motionDirectionColor"
            defaultValue="RGB {255, 0, 255}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="motionDirectionArrowWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="motionDirectionArrowSize"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="motionDirectionArrowHeadSize"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="timeEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="namePressureEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="motionSpeedEnable"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="windSeaFtRadiiEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="forecastPosHour00"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="forecastPosHour06"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="forecastPosHour12"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="forecastPosHour18"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="forecastPosHour24"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="forecastPosHour30"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="forecastPosHour36"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="forecastPosHour42"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="forecastPosHour48"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="forecastPosHour54"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="forecastPosHour60"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="forecastPosHour66"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="forecastPosHour72"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="forecastPosHour78"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="forecastPosHour84"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="forecastPosHour90"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="forecastPosHour96"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="forecastPosHour120"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="HRCN">
      </nc-resourceParameter> 
      
      <nc-resourceParameter
            ncResourceName="HRCN"
            paramClass="String"
            paramName="reportType"
            defaultValue="TCM"
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>
      <nc-resourceParameter
            ncResourceName="HRCN"
            paramClass="String"
            paramName="color"
            defaultValue="RGB {155, 155, 155}"
            paramType="IMPLEMENTATION_PARAM">
      </nc-resourceParameter>
      
   </extension>
</plugin>
