<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ecf.ui.connectWizards">
      <wizard
            class="org.eclipse.ecf.internal.irc.ui.wizards.IRCConnectWizard"
            containerFactoryName="ecf.irc.irclib"
            id="org.eclipse.ecf.provider.ui.irc.connectWizard"
            name="IRC"/>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.eclipse.ecf.internal.irc.ui.wizards.IRCConnectWizard"
            id="org.eclipse.ecf.provider.ui.irc.connectWizard"
            name="IRC"
            icon="icons/new_connection.gif"
            category="org.eclipse.ecf.ui.newConnection.category"
            finalPerspective="org.eclipse.ecf.ui.perspective.communications">
          <description>%IRCConnectWizardPage.description</description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ecf.ui.perspective.communications">
         <newWizardShortcut id="org.eclipse.ecf.provider.ui.irc.connectWizard"/>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="org.eclipse.ecf.internal.irc.ui.hyperlink.IRCHyperlinkDetector"
            id="org.eclipse.ecf.internal.irc.hyperlink.IRCHyperlinkDetector"
            name="%IRCHyperlinkDetector"
            targetId="org.eclipse.ui.DefaultTextEditor">
      </hyperlinkDetector>
      <hyperlinkDetector
            activate="true"
            class="org.eclipse.ecf.internal.irc.ui.hyperlink.IRCChannelHyperlinkDetector"
            id="org.eclipse.ecf.internal.irc.hyperlink.IRCChannelHyperlinkDetector"
            name="IRC Channel"
            targetId="org.eclipse.ecf.internal.provider.irc.container">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.eclipse.ecf.provider.irc.ui.viewerContribution1"
            targetID="org.eclipse.ecf.presence.ui.chatroom.participantsView">
         <action
               class="org.eclipse.ecf.internal.irc.ui.actions.KickAction"
               id="org.eclipse.ecf.provider.irc.ui.action2"
               label="%KickAction_Label"
               menubarPath="additions">
         </action>
         <action
               class="org.eclipse.ecf.internal.irc.ui.actions.BanAction"
               id="org.eclipse.ecf.provider.irc.ui.action2"
               label="%BanAction_Label"
               menubarPath="additions">
         </action>
         <action
               class="org.eclipse.ecf.internal.irc.ui.actions.OpAction"
               id="org.eclipse.ecf.provider.irc.ui.action2"
               label="%OpAction_Label"
               menubarPath="additions">
         </action>
         <action
               class="org.eclipse.ecf.internal.irc.ui.actions.DeopAction"
               id="org.eclipse.ecf.provider.irc.ui.action2"
               label="%DeopAction_Label"
               menubarPath="additions">
         </action>
         <action
               class="org.eclipse.ecf.internal.irc.ui.actions.VoiceAction"
               id="org.eclipse.ecf.provider.irc.ui.action2"
               label="%VoiceAction_Label"
               menubarPath="additions">
         </action>
         <action
               class="org.eclipse.ecf.internal.irc.ui.actions.DevoiceAction"
               id="org.eclipse.ecf.provider.irc.ui.action2"
               label="%DevoiceAction_Label"
               menubarPath="additions">
         </action>
         <action
               class="org.eclipse.ecf.internal.irc.ui.actions.WhoisAction"
               id="org.eclipse.ecf.provider.irc.ui.action2"
               label="%WhoisAction_Label"
               menubarPath="additions">
         </action>
         <visibility>
            <objectState
                  name="scheme"
                  value="irc">
            </objectState>
         </visibility>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <colorDefinition
            categoryId="org.eclipse.ecf.presence.ui.themeElementCategory"
            defaultsTo="org.eclipse.ecf.presence.ui.sentColor"
            id="org.eclipse.ecf.presence.irc.ui.meColor"
            isEditable="true"
            label="%colorDefinition.ircMeColor">
         <description>
            %colorDefinition.ircMeColor.description
         </description>
      </colorDefinition>
      <fontDefinition
            categoryId="org.eclipse.ecf.presence.ui.themeElementCategory"
            id="org.eclipse.ecf.presence.irc.ui.meFont"
            isEditable="true"
            label="%fontDefinition.ircMeFont"
            value="-italic-10">
         <description>
            %fontDefinition.ircMeFont.description
         </description>
      </fontDefinition>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
            id="org.eclipse.ecf.internal.provider.irc.container"
            name="IRC Chatroom container">
      </target>
   </extension>

</plugin>
