<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.convsigmet.rsc.ConvSigmetResource"
            name="ConvectiveSigmet"
            recordClass="gov.noaa.nws.ncep.common.dataplugin.convsigmet.ConvSigmetRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW"/>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.scriptTemplate"> 
      <scriptTemplate
            pluginName="convsigmet"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.convsigmet.rsc.ConvSigmetResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="ConvectiveSigmet">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceParameter">
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="hour0Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="hour0Color"
            defaultValue="RGB {255, 0, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="hour0LineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="hour1Enable"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="hour1Color"
            defaultValue="RGB {0, 0, 255}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="hour1LineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="hour2Enable"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="hour2Color"
            defaultValue="RGB {255, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="hour2LineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceParameter>      
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="outlookEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="outlookColor"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="outlookLineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="hour0sequenceIdEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="hour1sequenceIdEnable"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="hour2sequenceIdEnable"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="timeEnable"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="motionEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="flightLevelEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="intensityEnable"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            ncResourceName="ConvectiveSigmet"
            paramClass="String"
            paramName="reportType"
            defaultValue="convsigmet"
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>
      <nc-resourceParameter
            ncResourceName="ConvectiveSigmet"
            paramClass="String"
            paramName="color"
            defaultValue="RGB {155, 155, 155}"
            paramType="IMPLEMENTATION_PARAM">
      </nc-resourceParameter>
            <nc-resourceParameter
            ncResourceName="ConvectiveSigmet"
            paramClass="String"
            paramName="legendName"
            defaultValue="convsigmet"
            paramType="IMPLEMENTATION_PARAM">
      </nc-resourceParameter>
      
      
   </extension>
</plugin>
