<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.convsigmet.rsc.ConvSigmetResource"
            name="ConvectiveSigmet"
            recordClass="gov.noaa.nws.ncep.common.dataplugin.convsigmet.ConvSigmetRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW"/>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.scriptTemplate"> 
      <scriptTemplate
            pluginName="convsigmet"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.convsigmet.rsc.ConvSigmetResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="ConvectiveSigmet">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceAttribute">
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="hour0Enable"
            defaultValue="true"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="hour0Color"
            defaultValue="RGB {255, 0, 0}"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="hour0LineWidth"
            defaultValue="2"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="hour1Enable"
            defaultValue="false"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="hour1Color"
            defaultValue="RGB {0, 0, 255}"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="hour1LineWidth"
            defaultValue="2"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="hour2Enable"
            defaultValue="false"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="hour2Color"
            defaultValue="RGB {255, 255, 0}"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="hour2LineWidth"
            defaultValue="2"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceAttribute>      
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="outlookEnable"
            defaultValue="true"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="outlookColor"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="outlookLineWidth"
            defaultValue="2"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="hour0sequenceIdEnable"
            defaultValue="true"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="hour1sequenceIdEnable"
            defaultValue="false"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="hour2sequenceIdEnable"
            defaultValue="false"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="timeEnable"
            defaultValue="false"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="motionEnable"
            defaultValue="true"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="flightLevelEnable"
            defaultValue="true"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="intensityEnable"
            defaultValue="false"
            ncResourceName="ConvectiveSigmet">
      </nc-resourceAttribute>
   </extension>
</plugin>