<?xml version="1.0" encoding="UTF-8"?>
    <!--
        This_software_was_developed_and_/_or_modified_by_Raytheon_Company,
        pursuant_to_Contract_DG133W-05-CQ-1067_with_the_US_Government.
        
        U.S._EXPORT_CONTROLLED_TECHNICAL_DATA
        This_software_product_contains_export-restricted_data_whose
        export/transfer/disclosure_is_restricted_by_U.S._law._Dissemination
        to_non-U.S._persons_whether_in_the_United_States_or_abroad_requires
        an_export_license_or_other_authorization.
        
        Contractor_Name:________Raytheon_Company
        Contractor_Address:_____6825_Pine_Street,_Suite_340
        ________________________Mail_Stop_B8
        ________________________Omaha,_NE_68106
        ________________________402.291.0100
        
        See_the_AWIPS_II_Master_Rights_File_("Master_Rights_File.pdf")_for
        further_licensing_information.
    -->

<?eclipse version="3.2"?>
<plugin>
   <extension 
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.raytheon.viz.drawing.CollabActionSet"
            label="Collaboration Action Set"
            visible="false">
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.raytheon.viz.drawing.inCollabActionSet">
         <with
               variable="activeContexts">
            <iterate
                  operator="or">
               <equals
                     value="com.raytheon.viz.drawing.CollabActionSet">
               </equals>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.raytheon.viz.drawing.collaboration.CollaborationPerspective"
            fixed="false"
            id="com.raytheon.viz.drawing.collaboration.CollaborationPerspective"
            name="Collaboration"
            singleton="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="drawingControls">
         <command
               icon="icons/collaborate.gif"
               commandId="com.raytheon.viz.drawing.collaboration.StartCollaborationTool"
               label="Start/Stop Collaboration"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="com.raytheon.viz.drawing.inCollabActionSet">
               </reference>
            </visibleWhen>
            </command>
         <command
               icon="icons/clearDrawing.gif"
               commandId="com.raytheon.viz.drawing.ResetDrawingTool"
               label="Reset Drawing"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="com.raytheon.viz.drawing.inCollabActionSet">
               </reference>
            </visibleWhen>
            </command>
         <command
               icon="icons/delete.gif"
               commandId="com.raytheon.viz.drawing.RemoveTool"
               label="Remove Drawing Item"
               style="toggle">
            <visibleWhen>
               <reference
                     definitionId="com.raytheon.viz.drawing.inCollabActionSet">
               </reference>
            </visibleWhen>
            </command>
         <command
               icon="icons/coldFront.gif"
               commandId="com.raytheon.viz.drawing.fronts.ColdFrontTool"
               label="Cold Front"
               style="radio">
            <visibleWhen>
               <reference
                     definitionId="com.raytheon.viz.drawing.inCollabActionSet">
               </reference>
            </visibleWhen>
            </command>
         <command
               icon="icons/warmFront.gif"
               commandId="com.raytheon.viz.drawing.fronts.WarmFrontTool"
               label="Warm Front"
               style="radio">
            <visibleWhen>
               <reference
                     definitionId="com.raytheon.viz.drawing.inCollabActionSet">
               </reference>
            </visibleWhen>
            </command>    
         <command
               icon="icons/stationaryFront.gif"
               commandId="com.raytheon.viz.drawing.fronts.StationaryFrontTool"
               label="Stationary Front"
               style="radio">
            <visibleWhen>
               <reference
                     definitionId="com.raytheon.viz.drawing.inCollabActionSet">
               </reference>
            </visibleWhen>
            </command>
         <command
               icon="icons/thunderstorm.gif"
               commandId="com.raytheon.viz.drawing.WeatherSymbolTool:17"
               label="Thunderstorm"
               style="radio"
               tooltip="Thunderstorm">      
            <visibleWhen>
               <reference
                     definitionId="com.raytheon.viz.drawing.inCollabActionSet">
               </reference>
            </visibleWhen>
            </command>
            <command
                  commandId="com.raytheon.viz.drawing.LineDrawingTool"
                  icon="icons/line.gif"
                  label="Line Drawing"
                  style="radio">
            <visibleWhen>
               <reference
                     definitionId="com.raytheon.viz.drawing.inCollabActionSet">
               </reference>
            </visibleWhen>
            </command>
         <command
               icon="icons/path.gif"
               commandId="com.raytheon.viz.drawing.PathDrawingTool"
               label="Draw Path"
               style="radio">
            <visibleWhen>
               <reference
                     definitionId="com.raytheon.viz.drawing.inCollabActionSet">
               </reference>
            </visibleWhen>
            </command>
            <command
               commandId="com.raytheon.viz.drawing.RectDrawingTool"
               icon="icons/rectangle.gif"
               label="Draw Rect"
               style="radio">
            <visibleWhen>
               <reference
                     definitionId="com.raytheon.viz.drawing.inCollabActionSet">
               </reference>
            </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.raytheon.viz.drawing.MapDrawingCapabilities"
            targetID="com.raytheon.viz.ui.glmap.GLMapEditor">
      </editorContribution>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="com.raytheon.viz.drawing.DrawingLayer"
            name="DrawingLayer"
            renderingOrderId="ANNOTATION"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.raytheon.viz.drawing.collaboration.ChatWindow"
            id="com.raytheon.viz.drawing.collaboration.ParticipationWindow"
            name="Chat"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
         <command
               id="com.raytheon.viz.drawing.collaboration.StartCollaborationTool"
               name="Start/Stop Collaboration">
            </command>
         <command
               id="com.raytheon.viz.drawing.ResetDrawingTool"
               name="Reset Drawing">
            </command>
         <command
               categoryId="com.raytheon.viz.ui.modalTool"
               id="com.raytheon.viz.drawing.RemoveTool"
               name="Remove Drawing Item">
            </command>
         <command
               categoryId="com.raytheon.viz.ui.modalTool"
               id="com.raytheon.viz.drawing.fronts.ColdFrontTool"
               name="Cold Front">
            </command>
         <command
               categoryId="com.raytheon.viz.ui.modalTool"
               id="com.raytheon.viz.drawing.fronts.WarmFrontTool"
               name="Warm Front">
            </command>    
         <command
               categoryId="com.raytheon.viz.ui.modalTool"
               id="com.raytheon.viz.drawing.fronts.StationaryFrontTool"
               name="Stationary Front">
            </command>
         <command
               categoryId="com.raytheon.viz.ui.modalTool"
               id="com.raytheon.viz.drawing.WeatherSymbolTool:17"
               name="Thunderstorm">
            </command>
            <command
                  categoryId="com.raytheon.viz.ui.modalTool"
                  id="com.raytheon.viz.drawing.LineDrawingTool"
                  name="Line Drawing">
            </command>
         <command
               categoryId="com.raytheon.viz.ui.modalTool"
               id="com.raytheon.viz.drawing.PathDrawingTool"
               name="Draw Path">
            </command>
            <command
                  categoryId="com.raytheon.viz.ui.modalTool"
                  id="com.raytheon.viz.drawing.RectDrawingTool"
                  name="Draw Rect">
            </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
         <handler
               class="com.raytheon.viz.drawing.collaboration.StartCollaborationTool"
               commandId="com.raytheon.viz.drawing.collaboration.StartCollaborationTool">
            </handler>
         <handler
               class="com.raytheon.viz.drawing.ResetDrawingTool"
               commandId="com.raytheon.viz.drawing.ResetDrawingTool">
            </handler>
         <handler
               class="com.raytheon.viz.drawing.RemoveTool"
               commandId="com.raytheon.viz.drawing.RemoveTool">
            </handler>
         <handler
               class="com.raytheon.viz.drawing.fronts.ColdFrontTool"
               commandId="com.raytheon.viz.drawing.fronts.ColdFrontTool">
            </handler>
         <handler
               class="com.raytheon.viz.drawing.fronts.WarmFrontTool"
               commandId="com.raytheon.viz.drawing.fronts.WarmFrontTool">
            </handler>    
         <handler
               class="com.raytheon.viz.drawing.fronts.StationaryFrontTool"
               commandId="com.raytheon.viz.drawing.fronts.StationaryFrontTool">
            </handler>
         <handler
               class="com.raytheon.viz.drawing.WeatherSymbolTool"
               commandId="com.raytheon.viz.drawing.WeatherSymbolTool:17">
            </handler>
            <handler
                  class="com.raytheon.viz.drawing.LineDrawingTool"
                  commandId="com.raytheon.viz.drawing.LineDrawingTool">
            </handler>
         <handler
               class="com.raytheon.viz.drawing.PathDrawingTool"
               commandId="com.raytheon.viz.drawing.PathDrawingTool">
            </handler>
            <handler
                  class="com.raytheon.viz.drawing.RectDrawingTool"
                  commandId="com.raytheon.viz.drawing.RectDrawingTool">
            </handler>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.raytheon.viz.drawing.collaboration.CollaborationPerspective">
         <actionSet
               id="com.raytheon.viz.drawing.CollabActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="*">
         <perspectiveShortcut
               id="com.raytheon.viz.drawing.collaboration.CollaborationPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="com.raytheon.viz.ui.perspectiveManager">
      <perspectiveManager
            class="com.raytheon.viz.ui.perspectives.DefaultPerspectiveManager"
            name="DefaultPerspectiveManager"
            perspectiveId="com.raytheon.viz.drawing.collaboration.CollaborationPerspective">
      </perspectiveManager>
   </extension>
</plugin>
