<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d [%t] %c{1}: %m%n" />
        </layout>
    </appender>
    
    <!-- Less verbose logging for COTS -->
    <category name="org.springframework">
        <priority value="WARN" />
    </category>

    <category name="org.hibernate">
        <priority value="WARN" />
    </category>
    
    <root>
        <priority value="INFO" />
        <appender-ref ref="ConsoleAppender" />
    </root>
</log4j:configuration>