<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
         <!-- is this still needed? -->
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.wavesat.rsc.WaveSatResource"
            name="WaveSat"
            recordClass="gov.noaa.nws.ncep.common.dataplugin.sgwh.SgwhRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW"/>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.scriptTemplate">
      <scriptTemplate
            pluginName="sgwh"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.wavesat.rsc.WaveSatResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.rsc.wavesat.rsc.EditWaveSatAttrsDialog"
            name="WaveSat">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceParameter">      
      <nc-resourceParameter
            paramClass="ColorBar"
            paramName="colorBar"
            paramType="EDITABLE_ATTRIBUTE"
            paramRefLocation="ncep/ColorBars/WaveSat"
            ncResourceName="WaveSat">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="fontName"
            defaultValue="Monospace"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WaveSat">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="fontSize"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="12"
            ncResourceName="WaveSat">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="timeDisplayInterval"
            defaultValue="30"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WaveSat">
      </nc-resourceParameter>

      <nc-resourceParameter
            paramClass="RGB"
            paramName="timeDisplayColor"
            defaultValue="RGB {255,255,255}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WaveSat">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            ncResourceName="WaveSat"
            paramClass="String"
            paramName="satelliteId"
            paramType="REQUEST_CONSTRAINT"
            constraintName="said">
      </nc-resourceParameter>
      <nc-resourceParameter
            ncResourceName="WaveSat"
            paramClass="RGB"
            paramName="legendColor"
            defaultValue="RGB {33,100,255}"
            paramType="IMPLEMENTATION_PARAM">
      </nc-resourceParameter>

   </extension>

</plugin>
