<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.plotdata.rsc.PlotResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.rsc.plotdata.rsc.EditPlotDataAttrsDialog"
            name="PlotData">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceAttribute">
      <nc-resourceAttribute
            attributeClass="PlotModel"
            attributeName="plotModel"
            ncResourceName="PlotData">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="String"
            attributeName="levelKey"
            ncResourceName="PlotData">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="java.lang.Integer"
            attributeName="plotDensity"
            ncResourceName="PlotData">
      </nc-resourceAttribute>    
      <nc-resourceAttribute
            attributeClass="String"
            attributeName="conditionalFilterName"
            ncResourceName="PlotData">
      </nc-resourceAttribute>          
      <nc-resourceAttribute
            attributeClass="ConditionalFilter"
            attributeName="conditionalFilter"
            ncResourceName="PlotData">
      </nc-resourceAttribute>
   </extension>
   
   <extension
          point="com.raytheon.uf.viz.localization.localizationpath">
       	<path
             application="NCEP"
             localizationType="CAVE_STATIC"
             name="Plot Models"
             recursive="true"
             value="ncep/PlotModels"
	         extensionFilter=".xml,.svg,.spi">
       </path>
    </extension>
   <extension
          point="com.raytheon.uf.viz.localization.localizationpath">
       	<path
             application="NCEP"
             localizationType="CAVE_STATIC"
             name="Plot Parameters"
             recursive="false"
             value="ncep/PlotModels/PlotParameters"
	         extensionFilter=".xml">
       </path>
    </extension>
 	<extension
          point="com.raytheon.uf.viz.localization.localizationpath">
       	<path
             application="NCEP"
             localizationType="CAVE_STATIC"
             name="Conditional Filters"
             recursive="false"
             value="ncep/PlotModels/ConditionalFilters"
	         extensionFilter=".xml">
       </path>
    </extension> 
    
</plugin>
