<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.provider.r_osgi.identity.R_OSGiNamespace"
            description="R-OSGi Namespace"
            name="ecf.namespace.r_osgi">
      </namespace>
   </extension>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.internal.provider.r_osgi.R_OSGiContainerInstantiator"
            description="R-OSGi Container Instantiator"
            name="ecf.r_osgi.peer">
      </containerFactory>
   </extension>

</plugin>
