<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
          point="com.raytheon.uf.viz.localization.localizationpath">
       <path
             application="NCEP"
             localizationType="CAVE_STATIC"
             name="Color Maps"
             recursive="true"
             value="ncep/ColorMaps"
	         extensionFilter=".tbl,.cmap">
       </path>
    </extension>

</plugin>
