<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="gov.noaa.nws.ncep.viz.localization.localizationData">
      <singleLocalizationValue
            fileName="settings_tbl.xml"
            location="pgen"
            name="settingsTable">
      </singleLocalizationValue>
      <singleLocalizationValue
            fileName="linePatterns.xml"
            location="pgen"
            name="linePatternsTable">
      </singleLocalizationValue>
      <singleLocalizationValue
            fileName="symbolPatterns.xml"
            location="pgen"
            name="symbolPatternsTable">
      </singleLocalizationValue>
      <singleLocalizationValue
            fileName="productTypes.xml"
            location="pgen"
            name="productTypesTable">
      </singleLocalizationValue>
      <singleLocalizationValue
            fileName="PgenHelp.txt"
            location="pgen"
            name="pgenHelpFile">
      </singleLocalizationValue>
      <singleLocalizationValue
            fileName="TCAinfo.xml"
            location="pgen"
            name="tcaAttrInfoTable">
      </singleLocalizationValue>
      <singleLocalizationValue
            fileName="gfa.xml"
            location="pgen"
            name="gfaAttrTable">
      </singleLocalizationValue>
      <singleLocalizationValue
            fileName="airmetcycle.xml"
            location="pgen"
            name="airmetCycleTable">
      </singleLocalizationValue>
      <singleLocalizationValue
            fileName="gfa_product.xsl"
            location="xslt/airmet"
            name="gfaProductXslFile">
      </singleLocalizationValue>
      <singleLocalizationValue
            fileName="IslandBreakpoints.xml"
            location="pgen"
            name="islandBreakpointsTable">
      </singleLocalizationValue>
      <singleLocalizationValue
            fileName="WaterBreakpoints.xml"
            location="pgen"
            name="waterBreakpointsTable">
      </singleLocalizationValue>
      <singleLocalizationValue
            fileName="CoastBreakpoints.xml"
            location="pgen"
            name="coastBreakpointsTable">
      </singleLocalizationValue>
      <singleLocalizationValue
            fileName="spcwatch.xml"
            location="stns"
            name="spcAnchorTable">
      </singleLocalizationValue>
      <singleLocalizationValue
            fileName="vors.xml"
            location="stns"
            name="vorTable">
      </singleLocalizationValue>
      <singleLocalizationValue
            fileName="firbnds.shp"
            location="shapefiles/firbnds"
            name="firShapeFile">
      </singleLocalizationValue>
      <singleLocalizationValue
            fileName="vaaXml2Txt.xslt"
            location="xslt/vaa"
            name="volcanoXsltFile">
      </singleLocalizationValue>
      <singleLocalizationValue
            fileName="vaa.xml"
            location="pgen"
            name="vaaXmlFile">
      </singleLocalizationValue>
      <singleLocalizationValue
            fileName="ccfpXml2Txt.xslt"
            location="xslt/ccfp"
            name="ccfpXsltFile">
      </singleLocalizationValue>
      <singleLocalizationValue
            fileName="ccfpTimes.xml"
            location="pgen"
            name="ccfpTimesXmlFile">
      </singleLocalizationValue>
      <singleLocalizationValue
            fileName="seekStns.xml"
            location="stns"
            name="seekStnsFile">
      </singleLocalizationValue>
      <singleLocalizationValue
            fileName="phenomenons.xml"
            location="pgen"
            name="phenomXmlFile">
      </singleLocalizationValue>
   </extension>

</plugin>
