<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
          point="com.raytheon.uf.viz.localization.localizationpath">
       <path
             application="NCEP"
             localizationType="CAVE_STATIC"
             name="Color Maps"
             recursive="true"
             value="ncep/ColorMaps"
	         extensionFilter=".tbl,.cmap">
       </path>
    </extension>
   <extension
         point="org.eclipse.ui.preferencePages">   
      <page
            class="gov.noaa.nws.ncep.viz.common.NcepPreferences"
            id="org.eclipse.jface.Prerences"
            name="NCEP">
      </page>   
      <page
            category="org.eclipse.jface.Prerences"
            class="gov.noaa.nws.ncep.viz.common.GraphicsAreaPreferences"
            id="gov.noaa.nws.ncep.viz.common.GraphicsAreaPreferences"
            name="Data Area">
      </page>
   </extension>
</plugin>
