<?xml version="1.0" encoding="UTF-8"?>
    <!--
        This_software_was_developed_and_/_or_modified_by_Raytheon_Company,
        pursuant_to_Contract_DG133W-05-CQ-1067_with_the_US_Government.
        
        U.S._EXPORT_CONTROLLED_TECHNICAL_DATA
        This_software_product_contains_export-restricted_data_whose
        export/transfer/disclosure_is_restricted_by_U.S._law._Dissemination
        to_non-U.S._persons_whether_in_the_United_States_or_abroad_requires
        an_export_license_or_other_authorization.
        
        Contractor_Name:________Raytheon_Company
        Contractor_Address:_____6825_Pine_Street,_Suite_340
        ________________________Mail_Stop_B8
        ________________________Omaha,_NE_68106
        ________________________402.291.0100
        
        See_the_AWIPS_II_Master_Rights_File_("Master_Rights_File.pdf")_for
        further_licensing_information.
    -->
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="resource" name="resource" schema="schema/resource.exsd"/>
   <extension-point id="units" name="units" schema="schema/units.exsd"/>
   <extension-point id="descriptor" name="descriptor" schema="schema/descriptor.exsd"/>
   <extension-point id="renderingOrder" name="renderingOrder" schema="schema/renderingOrder.exsd"/>
   <extension-point id="graphicsFactory" name="graphics factory" schema="schema/graphicsFactory.exsd"/>
   <extension-point id="classContext" name="classContext" schema="schema/classContext.exsd"/>
   <extension-point id="userManager" name="userManager" schema="schema/userManager.exsd"/>
   <extension-point id="graphicsExtension" name="graphicsExtension" schema="schema/graphicsExtension.exsd"/>
   <extension-point id="alterBundle" name="alterBundle" schema="schema/alterBundle.exsd"/>


   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.raytheon.uf.viz.core.localization.LocalizationPreferences"
            id="com.raytheon.uf.viz.core.localization.LocalizationPreferences"
            name="Localization"/>
   </extension>
   <extension point="org.eclipse.ui.themes">
    <themeElementCategory 
        id="com.raytheon.uf.viz.core.theme"
        label="CAVE">
        <description>
            Theme for CAVE
        </description>
    </themeElementCategory>
    <fontDefinition
        categoryId="com.raytheon.uf.viz.core.theme"
        id="com.raytheon.uf.viz.core.defaultFont"
        label="Default CAVE Font"
        value="Monospace-bold-14">
        <description>
            The default font for CAVE
        </description>
    </fontDefinition>
    <fontDefinition
        categoryId="com.raytheon.uf.viz.core.theme"
        id="com.raytheon.uf.viz.core.rsc.sampling.SamplingResource"
        label="Sampling Font"
        value="Monospaced-bold-12">
        <description>
            The sampling font for CAVE
        </description>
    </fontDefinition>
    <colorDefinition
    	  categoryId="com.raytheon.uf.viz.core.theme"
          id="com.raytheon.uf.viz.core.backgroundColor"
          label="Canvas Background Color"
          value="0,0,0">
          <description>
             Starting background color for new canvases. (Requires restart)
          </description>
    </colorDefinition>
    </extension>
   <extension
       point="com.raytheon.uf.viz.localization.localizationpath">
       <path
          application="CAVE"
          localizationType="COMMON_STATIC"
          name="Style Rules"
          value="styleRules" 
          recursive="true">
       </path>
       <path
          application="CAVE"
          localizationType="CAVE_STATIC"
          name="Bundles"
          value="bundles" 
          recursive="true">
       </path>
       <path
          application="CAVE"
          localizationType="CAVE_STATIC"
          name="Basemaps"
          value="basemaps" 
          recursive="true">
       </path>
    </extension>
    <extension
   		point="com.raytheon.uf.viz.core.graphicsExtension">
   		<graphicsExtension
           class="com.raytheon.uf.viz.core.drawables.ext.colormap.GeneralColormappedImageExtension">
   		</graphicsExtension>
   		<graphicsExtension
           class="com.raytheon.uf.viz.core.drawables.ext.GeneralCanvasRenderingExtension">
   		</graphicsExtension>
   		<graphicsExtension
           class="com.raytheon.uf.viz.core.drawables.ext.colormap.GeneralColormapShadedShapeExtension">
   		</graphicsExtension>
   	</extension>
</plugin>
