<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.airmet.rsc.AirmetResource"
            name="Airmet"
            recordClass="gov.noaa.nws.ncep.common.dataplugin.airmet.AirmetRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW"/>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.scriptTemplate">
      <scriptTemplate
            pluginName="airmet"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.airmet.rsc.AirmetResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="Airmet">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceAttribute">
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="ifrEnable"
            defaultValue="true"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="ifrColor"
            defaultValue="RGB {255, 0, 0}"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="ifrLineWidth"
            defaultValue="2"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="ifrSymbolSize"
            defaultValue="2"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
         
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="mntObscEnable"
            defaultValue="true"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="mntObscColor"
            defaultValue="RGB {255, 255, 0}"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="mntObscLineWidth"
            defaultValue="2"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="mntObscSymbolSize"
            defaultValue="2"
            ncResourceName="Airmet">
      </nc-resourceAttribute>

      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="turbEnable"
            defaultValue="true"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="turbColor1"
            defaultValue="RGB {30, 144, 255}"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="turbColor2"
            defaultValue="RGB {255, 0, 255}"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="turbLineWidth"
            defaultValue="2"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="turbSymbolWidth"
            defaultValue="2"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="turbSymbolSize"
            defaultValue="2"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="turbLevel"
            defaultValue="420"
            ncResourceName="Airmet">
      </nc-resourceAttribute>

      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="icingEnable"
            defaultValue="true"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="icingColor"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="icingLineWidth"
            defaultValue="2"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="icingSymbolWidth"
            defaultValue="2"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="icingSymbolSize"
            defaultValue="2"
            ncResourceName="Airmet">
      </nc-resourceAttribute>

      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="sustWindsEnable"
            defaultValue="true"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="sustWindsColor"
            defaultValue="RGB {255, 106, 106}"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="sustWindsLineWidth"
            defaultValue="2"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="sustWindsSymbolWidth"
            defaultValue="2"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="sustWindsSymbolSize"
            defaultValue="2"
            ncResourceName="Airmet">
      </nc-resourceAttribute>

      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="lowLevelWindShearEnable"
            defaultValue="true"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="lowLevelWindShearColor"
            defaultValue="RGB {0, 238, 238}"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="lowLevelWindShearLineWidth"
            defaultValue="2"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="lowLevelWindShearSymbolSize"
            defaultValue="2"
            ncResourceName="Airmet">
      </nc-resourceAttribute>

      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="lowerFilterLevel"
            defaultValue="150"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="upperFilterLevel"
            defaultValue="300"
            ncResourceName="Airmet">
      </nc-resourceAttribute>


      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="timeEnable"
            defaultValue="true"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="symbolEnable"
            defaultValue="true"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="flightLevelEnable"
            defaultValue="true"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="seqIdEnable"
            defaultValue="false"
            ncResourceName="Airmet">
      </nc-resourceAttribute>
   </extension>
</plugin>
