<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.airmet.rsc.AirmetResource"
            name="Airmet"
            recordClass="gov.noaa.nws.ncep.common.dataplugin.airmet.AirmetRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW"/>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.scriptTemplate">
      <scriptTemplate
            pluginName="airmet"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.airmet.rsc.AirmetResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="Airmet">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceParameter">
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="ifrEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="ifrColor"
            defaultValue="RGB {255, 0, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="ifrLineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="ifrSymbolSize"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
         
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="mntObscEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="mntObscColor"
            defaultValue="RGB {255, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="mntObscLineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="mntObscSymbolSize"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>

      <nc-resourceParameter
            paramClass="Boolean"
            paramName="turbEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="turbColor1"
            defaultValue="RGB {30, 144, 255}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="turbColor2"
            defaultValue="RGB {255, 0, 255}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="turbLineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="turbSymbolWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="turbSymbolSize"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="turbLevel"
            defaultValue="420"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>

      <nc-resourceParameter
            paramClass="Boolean"
            paramName="icingEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="icingColor"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="icingLineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="icingSymbolWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="icingSymbolSize"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>

      <nc-resourceParameter
            paramClass="Boolean"
            paramName="sustWindsEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="sustWindsColor"
            defaultValue="RGB {255, 106, 106}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="sustWindsLineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="sustWindsSymbolWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="sustWindsSymbolSize"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>

      <nc-resourceParameter
            paramClass="Boolean"
            paramName="lowLevelWindShearEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="lowLevelWindShearColor"
            defaultValue="RGB {0, 238, 238}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="lowLevelWindShearLineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="lowLevelWindShearSymbolSize"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>

      <nc-resourceParameter
            paramClass="Integer"
            paramName="lowerFilterLevel"
            defaultValue="150"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="upperFilterLevel"
            defaultValue="300"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>


      <nc-resourceParameter
            paramClass="Boolean"
            paramName="timeEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="symbolEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="flightLevelEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="seqIdEnable"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Airmet">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            ncResourceName="Airmet"
            paramClass="RGB"
            paramName="legendColor"
            defaultValue="RGB {155, 155, 155}"
            paramType="IMPLEMENTATION_PARAM">
      </nc-resourceParameter>
       
      <nc-resourceParameter
            ncResourceName="Airmet"
            paramClass="String"
            paramName="reportType"
            defaultValue="airmet"
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>
      
   </extension>
</plugin>
