<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.1"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.provider.generic.TCPClientSOContainer"
            class="org.eclipse.ecf.provider.datashare.DatashareContainerAdapterFactory">
         <adapter type="org.eclipse.ecf.datashare.IChannelContainerAdapter"/>
      </factory>
   </extension>

</plugin>
