<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.provider.generic.TCPClientSOContainer"
            class="org.eclipse.ecf.provider.remoteservice.generic.RemoteServiceContainerAdapterFactory">
         <adapter type="org.eclipse.ecf.remoteservice.IRemoteServiceContainerAdapter"/>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.provider.generic.TCPServerSOContainer"
            class="org.eclipse.ecf.provider.remoteservice.generic.RemoteServiceContainerAdapterFactory">
         <adapter type="org.eclipse.ecf.remoteservice.IRemoteServiceContainerAdapter"/>
      </factory>
   </extension>

</plugin>
