<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
  		point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.idft.rsc.IDFTResource"
            name="IDFT"
            recordClass="gov.noaa.nws.ncep.edex.plugin.idft.common.IdftRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW"/>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.scriptTemplate">
      <scriptTemplate
            pluginName="idft"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.idft.rsc.IDFTResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.rsc.idft.rsc.EditIDFTAttrsDialog"
            name="IDFT">
      </nc-resource>
   </extension> 
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceParameter">
      <nc-resourceParameter
            paramClass="String"
            paramName="symbolName"
            defaultValue="ASTERISK"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IDFT">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="distanceColor"
            defaultValue="RGB {255,215,0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IDFT">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Double"
            paramName="pointSize"
            defaultValue="2.0"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IDFT">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="pointColor"
            defaultValue="RGB {255,0,0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IDFT">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="arrowColor"
            defaultValue="RGB {255,215,0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IDFT">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Double"
            paramName="arrowLength"
            defaultValue="1.25"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IDFT">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Double"
            paramName="arrowLineWidth"
            defaultValue="1.25"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="IDFT">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            ncResourceName="IDFT"
            paramClass="String"
            paramName="reportType"
            defaultValue="idft"
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>
   </extension>

</plugin>
