<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=d2d.upperAirMenu">
          <menu
                id="upperAir"
                label="Upper Air"
                mnemonic="U">
             <visibleWhen>
                <reference
                      definitionId="com.raytheon.uf.viz.d2d.ui.inD2DActionSet">
                </reference>
             </visibleWhen>

             <command
                   commandId="com.raytheon.viz.ui.actions.titleAction"
                   label="------ Profiler ------" id="PROFILER">
             </command>
             <separator name="ProfilerMenuEnd" visible="false"/>
             <command
                   commandId="com.raytheon.viz.ui.actions.titleAction"
                   label="------ Radar ------" id="RADAR">
                
             </command>
             <command
                   commandId="com.raytheon.viz.ui.actions.titleAction"
                   label="------ Aircraft ------" id="AIRCRAFT">
             </command>
             <separator name="AircraftMenuEnd" visible="false"/>      
          </menu>
    </menuContribution>
</extension>
</plugin>
