<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.wstm.rsc.WstmResource"
            name="WSTM"
            recordClass="gov.noaa.nws.ncep.common.dataplugin.aww.AwwRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW">
      </resource>
   </extension>
    <extension
         point="com.raytheon.uf.viz.core.scriptTemplate">
      <scriptTemplate
            pluginName="wstm"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
       <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.wstm.rsc.WstmResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.rsc.wstm.rsc.EditWstmAttrDialog"
            name="WSTM">
      </nc-resource>
   </extension> 
         <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceParameter">
      <nc-resourceParameter
            paramClass="java.lang.Boolean"
            paramName="wstmWarningEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WSTM">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="org.eclipse.swt.graphics.RGB"
            paramName="wstmWarningColor"
            defaultValue="RGB {255,0,0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WSTM">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="java.lang.Integer"
            paramName="wstmWarningLineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WSTM">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="java.lang.Integer"
            paramName="wstmWarningSymbolWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WSTM">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="java.lang.Float"
            paramName="wstmWarningSymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WSTM">
      </nc-resourceParameter>

      <nc-resourceParameter
            paramClass="java.lang.Boolean"
            paramName="wstmWatchEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WSTM">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="org.eclipse.swt.graphics.RGB"
            paramName="wstmWatchColor"
            defaultValue="RGB {255,127,0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WSTM">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="java.lang.Integer"
            paramName="wstmWatchLineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WSTM">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="java.lang.Integer"
            paramName="wstmWatchSymbolWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WSTM">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="java.lang.Float"
            paramName="wstmWatchSymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WSTM">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="java.lang.Boolean"
            paramName="wstmAdvisoryEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WSTM">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="org.eclipse.swt.graphics.RGB"
            paramName="wstmAdvisoryColor"
            defaultValue="RGB {255,255,0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WSTM">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="java.lang.Integer"
            paramName="wstmAdvisoryLineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WSTM">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="java.lang.Integer"
            paramName="wstmAdvisorySymbolWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WSTM">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="java.lang.Float"
            paramName="wstmAdvisorySymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WSTM">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="java.lang.Boolean"
            paramName="timeEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WSTM">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="java.lang.Boolean"
            paramName="zoneNameEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WSTM">
      </nc-resourceParameter>  
      <nc-resourceParameter
            paramClass="java.lang.Boolean"
            paramName="outlineEnable"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
             ncResourceName="WSTM">
      </nc-resourceParameter>             
      
      <nc-resourceParameter
            ncResourceName="WSTM"
            paramClass="String"
            paramName="reportType"
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            ncResourceName="WSTM"
            paramClass="RGB"
            paramName="legendColor"
            defaultValue="RGB {255, 255, 255}"
            paramType="IMPLEMENTATION_PARAM">
      </nc-resourceParameter>

     </extension> 
</plugin>
