<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.provider.discovery.CompositeDiscoveryContainerInstantiator"
            description="Composite Discovery Container"
            name="ecf.discovery.*"
            server="true">
       </containerFactory>
      <containerFactory
            class="org.eclipse.ecf.provider.discovery.SingletonDiscoveryContainerInstantiator"
            description="Single Discvovery Container"
            name="ecf.singleton.discovery"
            server="true">
      </containerFactory>
   </extension>

</plugin>
