<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.stormtrack.rsc.StormTrackResource"
            name="StormTrack"
            recordClass="gov.noaa.nws.ncep.common.dataplugin.stormtrack.StormTrackRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW">
      </resource>
   </extension>
    <extension
         point="com.raytheon.uf.viz.core.scriptTemplate">
      <scriptTemplate
            pluginName="stormtrack"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
       <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.stormtrack.rsc.StormTrackResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="StormTrack">
      </nc-resource>
   </extension> 
      <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceParameter">
                
      <!--
      TODO : add a colorbar for the wind speed to replace the following
      -->
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="tropDepressionEnable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"
            ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="tropDepressionColor"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="RGB {0, 255,255}"               
            ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Float"
            paramName="tropDepressionUpperLimit"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="34.0"              
             ncResourceName="StormTrack">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Boolean"
            paramName="galeEnable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"
            ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="galeColor"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="RGB {0, 255,255}"               
            ncResourceName="StormTrack">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="galeUpperLimit"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="34.0"              
             ncResourceName="StormTrack">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="tropStormEnable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"
             ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="tropStormColor"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="RGB {0, 255,255}"               
             ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Float"
            paramName="tropStormUpperLimit"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="34.0"              
             ncResourceName="StormTrack">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Boolean"
            paramName="hurricaneEnable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"
            ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="hurricaneColor"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="RGB {0, 255,255}"               
            ncResourceName="StormTrack">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="hurricaneUpperLimit"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="34.0"              
            ncResourceName="StormTrack">
      </nc-resourceParameter>
   
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="forecastHourEnable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"
            ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="forecastHour"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="0"
            ncResourceName="StormTrack">
      </nc-resourceParameter>         
               
      <!-- Model 01 -->
      <nc-resourceParameter
            paramClass="String"
            paramName="model01Name"
            paramType="IMPLEMENTATION_PARAM"
            defaultValue=""
            ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="model01Enable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"
            ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="model01Color"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="RGB {255,0,0}"               
            ncResourceName="StormTrack">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="model01LineWidth"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="3"              
            ncResourceName="StormTrack">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="model01SymbolSize"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"
            ncResourceName="StormTrack">
      </nc-resourceParameter>
               
      <!-- Model 02 -->
      <nc-resourceParameter
            paramClass="String"
            paramName="model02Name"
            paramType="IMPLEMENTATION_PARAM"
            defaultValue=""
            ncResourceName="StormTrack">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="model02Enable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"
            ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="model02Color"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="RGB {0,255,0}"               
            ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="model02LineWidth"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="3"
             ncResourceName="StormTrack">
       </nc-resourceParameter>            
       <nc-resourceParameter
            paramClass="Float"
            paramName="model02SymbolSize"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"               
            ncResourceName="StormTrack">
      </nc-resourceParameter>
               
      <!-- Model 03 -->
      <nc-resourceParameter
            paramClass="String"
            paramName="model03Name"
            paramType="IMPLEMENTATION_PARAM"
            defaultValue=""
            ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="model03Enable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"
            ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="model03Color"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="RGB {0,0,255}"               
            ncResourceName="StormTrack">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="model03LineWidth"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="3"              
            ncResourceName="StormTrack">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="model03SymbolSize"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"
            ncResourceName="StormTrack">
      </nc-resourceParameter>
              
      <!-- Model 04 -->
      <nc-resourceParameter
            paramClass="String"
            paramName="model04Name"
            paramType="IMPLEMENTATION_PARAM"
            defaultValue=""
             ncResourceName="StormTrack">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="model04Enable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"
             ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="model04Color"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="RGB {255,255,0}"               
              ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="model04LineWidth"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="3"
              ncResourceName="StormTrack">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Float"
            paramName="model04SymbolSize"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"               
             ncResourceName="StormTrack">
      </nc-resourceParameter>         

      <!-- Model 05 -->
       <nc-resourceParameter
            paramClass="String"
            paramName="model05Name"
            paramType="IMPLEMENTATION_PARAM"
            defaultValue=""
               ncResourceName="StormTrack">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="model05Enable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"
             ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="model05Color"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="RGB {0,255,255}"               
             ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="model05LineWidth"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="3"
             ncResourceName="StormTrack">
       </nc-resourceParameter>            
       <nc-resourceParameter
            paramClass="Float"
            paramName="model05SymbolSize"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"               
            ncResourceName="StormTrack">
      </nc-resourceParameter>
              
      <!-- Model 06 -->
      <nc-resourceParameter
            paramClass="String"
            paramName="model06Name"
            paramType="IMPLEMENTATION_PARAM"
            defaultValue=""
            ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="model06Enable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"
            ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="model06Color"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="RGB {255,0,255}"               
             ncResourceName="StormTrack">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="model06LineWidth"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="3"              
             ncResourceName="StormTrack">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="model06SymbolSize"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"
            ncResourceName="StormTrack">
      </nc-resourceParameter>
              
      <!-- Model 07 -->
      <nc-resourceParameter
            paramClass="String"
            paramName="model07Name"
            paramType="IMPLEMENTATION_PARAM"
            defaultValue=""
             ncResourceName="StormTrack">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="model07Enable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"
             ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="model07Color"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="RGB {139,71,38}"
             ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="model07LineWidth"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="3"
 			ncResourceName="StormTrack">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="model07SymbolSize"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"
            ncResourceName="StormTrack">
      </nc-resourceParameter>
              
      <!-- Model 08 -->
      <nc-resourceParameter
            paramClass="String"
            paramName="model08Name"
            paramType="IMPLEMENTATION_PARAM"
            defaultValue=""
             ncResourceName="StormTrack">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="model08Enable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"
            ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="model08Color"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="RGB {255,130,71}"
            ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="model08LineWidth"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="3"
             ncResourceName="StormTrack">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="model08SymbolSize"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"
            ncResourceName="StormTrack">
      </nc-resourceParameter>
               
      <!-- Model 09 -->
      <nc-resourceParameter
            paramClass="String"
            paramName="model09Name"
            paramType="IMPLEMENTATION_PARAM"
            defaultValue=""
            ncResourceName="StormTrack">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="model09Enable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"
            ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="model09Color"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="RGB {255,165,79}"             
 		    ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="model09LineWidth"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="3"
            ncResourceName="StormTrack">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="model09SymbolSize"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"
            ncResourceName="StormTrack">
      </nc-resourceParameter>
              
      <!-- Model 10 -->
      <nc-resourceParameter
            paramClass="String"
            paramName="model10Name"
            paramType="IMPLEMENTATION_PARAM"
            defaultValue=""
             ncResourceName="StormTrack">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="model10Enable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"
               ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="model10Color"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="RGB {255,174,185}"
            ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="model10LineWidth"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="3"
             ncResourceName="StormTrack">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Float"
            paramName="model10SymbolSize"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"               
             ncResourceName="StormTrack">
      </nc-resourceParameter>         

      <!-- Model 11 -->
       <nc-resourceParameter
            paramClass="String"
            paramName="model11Name"
            paramType="IMPLEMENTATION_PARAM"
            defaultValue=""
		   ncResourceName="StormTrack">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="model11Enable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"
               ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="model11Color"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="RGB {255,106,106}"
               ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="model11LineWidth"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="3"
               ncResourceName="StormTrack">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Float"
            paramName="model11SymbolSize"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"               
               ncResourceName="StormTrack">
      </nc-resourceParameter>         

      <!-- Model 12 -->
       <nc-resourceParameter
            paramClass="String"
            paramName="model12Name"
            paramType="IMPLEMENTATION_PARAM"
            defaultValue=""
               ncResourceName="StormTrack">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="model12Enable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"
               ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="model12Color"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="RGB {238,44,44}"
               ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="model12LineWidth"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="3"
               ncResourceName="StormTrack">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Float"
            paramName="model12SymbolSize"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"               
               ncResourceName="StormTrack">
      </nc-resourceParameter>         

      <!-- Model 13 -->
       <nc-resourceParameter
            paramClass="String"
            paramName="model13Name"
            paramType="IMPLEMENTATION_PARAM"
            defaultValue=""
               ncResourceName="StormTrack">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="model13Enable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"
               ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="model13Color"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="RGB {139,0,0}"
               ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="model13LineWidth"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="3"
               ncResourceName="StormTrack">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Float"
            paramName="model13SymbolSize"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"               
               ncResourceName="StormTrack">
      </nc-resourceParameter>         

      <!-- Model 14 -->
       <nc-resourceParameter
            paramClass="String"
            paramName="model14Name"
            paramType="IMPLEMENTATION_PARAM"
            defaultValue=""
               ncResourceName="StormTrack">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="model14Enable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"
               ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="model14Color"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="RGB {205,0,0}"
               ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="model14LineWidth"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="3"
               ncResourceName="StormTrack">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Float"
            paramName="model14SymbolSize"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"               
               ncResourceName="StormTrack">
      </nc-resourceParameter>         

      <!-- Model 15 -->
       <nc-resourceParameter
            paramClass="String"
            paramName="model15Name"
            paramType="IMPLEMENTATION_PARAM"
            defaultValue=""
               ncResourceName="StormTrack">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="model15Enable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"
               ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="model15Color"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="RGB {238,64,0}"
               ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="model15LineWidth"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="3"
               ncResourceName="StormTrack">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Float"
            paramName="model15SymbolSize"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"               
               ncResourceName="StormTrack">
      </nc-resourceParameter>         

      <!-- Model 16 -->
       <nc-resourceParameter
            paramClass="String"
            paramName="model16Name"
            paramType="IMPLEMENTATION_PARAM"
            defaultValue=""
               ncResourceName="StormTrack">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="model16Enable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"
               ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="model16Color"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="RGB {255,127,0}"
               ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="model16LineWidth"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="3"
               ncResourceName="StormTrack">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Float"
            paramName="model16SymbolSize"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"               
               ncResourceName="StormTrack">
      </nc-resourceParameter>         

      <!-- Model 17 -->
       <nc-resourceParameter
            paramClass="String"
            paramName="model17Name"
            paramType="IMPLEMENTATION_PARAM"
            defaultValue=""
               ncResourceName="StormTrack">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="model17Enable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"
               ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="model17Color"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="RGB {205,133,0}"
               ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="model17LineWidth"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="3"
               ncResourceName="StormTrack">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Float"
            paramName="model17SymbolSize"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"               
               ncResourceName="StormTrack">
      </nc-resourceParameter>         

      <!-- Model 18 -->
       <nc-resourceParameter
            paramClass="String"
            paramName="model18Name"
            paramType="IMPLEMENTATION_PARAM"
            defaultValue=""
               ncResourceName="StormTrack">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="model18Enable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"
               ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="model18Color"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="RGB {255,215,0}"
               ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="model18LineWidth"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="3"
               ncResourceName="StormTrack">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Float"
            paramName="model18SymbolSize"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"               
               ncResourceName="StormTrack">
      </nc-resourceParameter>         

      <!-- Model 19 -->
       <nc-resourceParameter
            paramClass="String"
            paramName="model19Name"
            paramType="IMPLEMENTATION_PARAM"
            defaultValue=""
               ncResourceName="StormTrack">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="model19Enable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"
               ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="model19Color"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="RGB {238,238,0}"
               ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="model19LineWidth"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="3"
               ncResourceName="StormTrack">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Float"
            paramName="model19SymbolSize"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"               
            ncResourceName="StormTrack">
      </nc-resourceParameter>

      <!-- Model 20 -->
      <nc-resourceParameter
            paramClass="String"
            paramName="model20Name"
            paramType="IMPLEMENTATION_PARAM"
            defaultValue=""
            ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="model20Enable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"
            ncResourceName="StormTrack">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="model20Color"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="RGB {255,0,0}"               
            ncResourceName="StormTrack">
      </nc-resourceParameter>
	  <nc-resourceParameter
            paramClass="Integer"
            paramName="model20LineWidth"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="3"              
               ncResourceName="StormTrack">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="model20SymbolSize"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"
               ncResourceName="StormTrack">
      </nc-resourceParameter>         
      
      
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="drawBeginDateTime"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="true"
             ncResourceName="StormTrack">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="drawForecastHour"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="true"
              ncResourceName="StormTrack">
      </nc-resourceParameter>  
      <nc-resourceParameter      
            paramClass="Boolean"
            paramName="drawPressure"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="true"
            ncResourceName="StormTrack">
      </nc-resourceParameter>        
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="drawWindSpeed"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"             
              ncResourceName="StormTrack">
      </nc-resourceParameter>  
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="drawModelName"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"             
            ncResourceName="StormTrack">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="drawCycloneID"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"             
            ncResourceName="StormTrack">
      </nc-resourceParameter>
      <nc-resourceParameter      
            paramClass="Boolean"
            paramName="drawMarker"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="true"
            ncResourceName="StormTrack">
      </nc-resourceParameter>        
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="colorCodeByWindSpeed"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="false"               
            ncResourceName="StormTrack">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            ncResourceName="StormTrack"
            paramClass="String"
            paramName="reportType"
            defaultValue="ENSCYC"
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>

      <nc-resourceParameter
            paramClass="String"
            paramName="legend"
            paramType="IMPLEMENTATION_PARAM"
            defaultValue="StormTrack"
            ncResourceName="StormTrack">
      </nc-resourceParameter>
                     
      </extension>   
   
</plugin>
