## The standard template gets all of its behavior from VM_global_library macros
#if($mode == "select")
#standardSelect($scriptLibrary $maxRecords $scriptMetadata false)
#elseif($mode == "catalog")
#standardCatalog($scriptLibrary $scriptMetadata)
#elseif($mode == "latestTime")
#standardLatestTime($scriptMetadata)
#elseif($mode == "plot")
#standardSelect($scriptLibrary $maxRecords $scriptMetadata true)
#elseif($mode == "dbquery")
#standardDbQuery($scriptMetadata)
#elseif($mode == "hqlquery")
#hqlQuery($scriptMetadata)
#elseif($mode == "sqlquery")
#sqlQuery($scriptMetadata)
#elseif($mode == "sqlstatement")
#sqlStatement($scriptMetadata)
#elseif($mode == "hqlstatement")
#hqlStatement($scriptMetadata)
#elseif($mode == "saveOrUpdateObject")
#saveOrUpdateObject($scriptMetadata)
#elseif($mode == "getRecordClass")
#getRecordClass($scriptMetadata)
#end
