### IF YOU HAVE DUPLICATE COUNTY NAMES IN YOUR CWA 
### (e.g. JOHNSON KANSAS AND JOHNSON MISSOURI) INCLUDE FIPS BELOW
### IN THE XXYYY FORMAT WHERE XX = STATE FIPS AND YYY = COUNTY FIPS
### For example: #set ($dupcounties = ["20091","20107","29101","29115"])
### IF YOU DO NOT HAVE DUPLICATE COUNTY NAMES USE THE FOLLOWING SYNTAX:
### Null example: #set ($dupcounties = [""])
#set ($dupcounties = ["20091","20107","29101","29115"])