################################################################
## SEVERE WEATHER STATEMENT TEMPLATE                          ##
## FOR CR IMPACT BASED TOR/SVR INITIATIVE                     ## 
## CREATED BY PHIL KURIMSKI - WFO DTX                         ##
## VERSION AWIPS II 1.0 -- 2-21-2012 OB12.1.1-1               ##
## VERSION AWIPS II 1.1 -- 2-29-2012 OB12.2.1-4               ##
## VERSION AWIPS II 1.2 -- 4-20-2012                          ##
##        BY QINGLU LIN    7-31-2012 DR 15217 use roundAndPad ##
##           Qinglu Lin   12-27-2012 DR 15594. Appended true to headlineLocList's parameter list.
################################################################
##
###################################################################
## Set null variables for wind/hail tags used in the template    ##
###################################################################
#set ($windhailTag = "")
#set ($hailTag = "")
#set ($windTag = "")
#set ($hazard = "")
#set ($source = "")
#set ($impact = "")
#set ($torTag = "")
#set ($svrTorTag = "")
#set ($pdssvr = "")
#set ($pdstor = "")
#set ($extrasource = "")
#set ($torimpact = "")
#set ($svrimpact = "")
#set ($confirmed = "")
#set ($preAmbleTOR = "")
############################################
## CREATE INITIAL SET OF VARIABLES        ##
############################################
##PATHCAST LEAD VARIABLE ADD LATER????? 
#if(${phenomena}=="SV")
  #set($eventType = "SEVERE THUNDERSTORM")
    #if(${stormType} == "line")
      #set($reportType1 = "LINE OF SEVERE THUNDERSTORMS")
      #set($reportType2 = "THESE STORMS WERE")
      #set($reportType = "A LINE OF SEVERE THUNDERSTORMS ARE")
      #set($pathcastLead = "THESE SEVERE STORMS")
    #else
      #set($reportType1 = "SEVERE THUNDERSTORM")
      #set($reportType2 = "THIS STORM WAS")
      #set($reportType = "A SEVERE THUNDERSTORM IS")
      #set($pathcastLead = "THIS SEVERE STORM")
    #end
#elseif(${phenomena}=="TO")
  #set($eventType = "TORNADO")
  #set ($torTag = "RADAR INDICATED")
  #set ($torThreat = "")
  #set ($torHazard = "POTENTIAL TORNADO")
  #set ($torGround = "ON THE GROUND")
  #set ($source = "RADAR INDICATED ROTATION.")
  #set ($torimpact = "SIGNIFICANT HOUSE AND BUILDING DAMAGE POSSIBLE. MOBILE HOMES COMPLETELY DESTROYED IF HIT. SOME TREES UPROOTED OR SNAPPED. VEHICLES WILL LIKELY BE THROWN BY TORNADIC WINDS.")
    #if(${stormType} == "line")
      #set ($reportType = "A TORNADO WAS REPORTED")
      #set($reportType1 = "LINE OF TORNADO PRODUCING STORMS")
      #set($reportType2 = "THESE TORNADO PRODUCING STORMS WERE")
      #set($pathcastLead = "THESE TORNADIC STORMS")
    #else
      #set($reportType = "A LINE OF TORNADO PRODUCING STORMS WAS REPORTED")
      #set($reportType1 = "TORNADO")
      #set($reportType2 = "THIS TORNADIC STORM WAS")
      #set($pathcastLead = "THIS TORNADO")
    #end
#end
######################################################
## Check to see if the SVR Tornado Tag was selected ##
######################################################
#if(${list.contains($bullets, "svrTorTag")})
  #set ($svrTorTag = "<L>TORNADO...POSSIBLE</L>")
#end
######################################
### CREATE WMO/MND HEADER ############
######################################
${WMOId} ${vtecOffice} 000000 ${BBBId}
SVS${siteId}

#if(${productClass}=="T")
TEST...SEVERE WEATHER STATEMENT...TEST
#else
SEVERE WEATHER STATEMENT
#end
NATIONAL WEATHER SERVICE ${officeShort}
#backupText(${backupSite})
${dateUtil.format(${now}, ${timeFormat.header}, ${localtimezone})}

#if(${action}=="COR" && ${cancelareas})
#set($CORCAN = "true")
#else
#set($CORCAN = "false")
#end
#if(${action}=="CANCON")
${ugclinecan}
/${productClass}.CAN.${vtecOffice}.${phenomena}.W.${etn}.000000T0000Z-${dateUtil.format(${expire},${timeFormat.ymdthmz})}/
#foreach (${area} in ${cancelareas})
${area.name} ${area.stateabbr}-##
#end
#elseif(${CORCAN}=="true")
${ugclinecan}
/${productClass}.COR.${vtecOffice}.${phenomena}.W.${etn}.000000T0000Z-${dateUtil.format(${expire},${timeFormat.ymdthmz})}/
#foreach (${area} in ${cancelareas})
${area.name} ${area.stateabbr}-##
#end
#else
${ugcline}
/${productClass}.${action}.${vtecOffice}.${phenomena}.W.${etn}.000000T0000Z-${dateUtil.format(${expire},${timeFormat.ymdthmz})}/
#foreach (${area} in ${areas}) 
${area.name} ${area.stateabbr}-##
#end
#end

${dateUtil.format(${now}, ${timeFormat.header}, ${localtimezone})}

#if(${productClass}=="T")
...THIS MESSAGE IS FOR TEST PURPOSES ONLY...

#end
#######################################
###### END CREATE HEADER ##############
#######################################
##
##
#################################################################
#################################################################
## LETS START WITH EXPIRATION AND CANCELLATION SEGMENTS     #####
#################################################################
#################################################################
### CREATE PHRASING DEPENDING ON WHETHER WE ISSUE EXP PRIOR TO EXPIRATION TIME OR NOT
#if(${now.compareTo(${expire})} >= 0 && ${action}=="EXP" )
  #set($expcanHLTag = "HAS EXPIRED")
  #set($expcanBODYTag = "HAS BEEN ALLOWED TO EXPIRE")
#elseif(${action}=="EXP")
  #set($expcanHLTag = "WILL EXPIRE AT ${dateUtil.format(${expire}, ${timeFormat.clock}, 15, ${localtimezone})}")
  #set($expcanBODYTag = "WILL BE ALLOWED TO EXPIRE")
#elseif(${action}=="CAN" || ${action}=="CANCON" || ${CORCAN}=="true")
  #set($expcanHLTag = "IS CANCELLED")
  #set($expcanBODYTag = "HAS BEEN CANCELLED")
#end
################################
#### CREATE HEADLINES ##########
################################
##
#if(${action}=="EXP" || ${action}=="CAN")
...THE ${eventType} WARNING FOR ##
#headlineLocList(${areas} true true true false true)
 ${expcanHLTag}...
## SLIGHTLY DIFFERENT VARIABLE FOR PARTIAL CANCELLATION HEADLINE
#elseif(${action}=="CANCON" || ${CORCAN}=="true")
...THE ${eventType} WARNING FOR ##
#headlineLocList(${cancelareas} true true true false true)
 ${expcanHLTag}...
#end
############################
## END CAN/EXP HEADLINE ####
############################
##
#########################################
## NOW LETS FORGE OUR CAN/EXP STATEMENTS#
#########################################
#if(${action}=="EXP" || ${action}=="CAN" || ${action}=="CANCON" || ${CORCAN}=="true")
#### SET A DEFAULT STATEMENT IN CASE NO BULLET WAS SELECTED OR AVAILABLE
#if(${stormType} == "line")
  #set($expcanPhrase = "THE LINE OF STORMS WHICH PROMPTED THE WARNING HAVE !** WEAKENED/MOVED OUT OF THE WARNED AREA **!. THEREFORE THE WARNING ${expcanBODYTag}.")
#else
  #if(${phenomena}=="SV")
    #set($expcanPhrase = "THE SEVERE THUNDERSTORM WHICH PROMPTED THE WARNING HAS !** WEAKENED/MOVED OUT OF THE WARNED AREA **!. THEREFORE THE WARNING ${expcanBODYTag}.")
  #else
    #set($expcanPhrase = "THE TORNADIC THUNDERSTORM WHICH PROMPTED THE WARNING HAS !** WEAKENED/MOVED OUT OF THE WARNED AREA **!. THEREFORE THE WARNING ${expcanBODYTag}.")
  #end
#end
#### WEAKENED BELOW SEVERE LIMITS
#if(${list.contains($bullets, "weakened")})
  #if(${stormType} == "line")
    #if(${phenomena}=="SV")
      #set($expcanPhrase = "THE LINE OF STORMS WHICH PROMPTED THE WARNING HAVE WEAKENED BELOW SEVERE LIMITS...AND NO LONGER POSE AN IMMEDIATE THREAT TO LIFE OR PROPERTY. THEREFORE THE WARNING ${expcanBODYTag}.")
    #else
      #set($expcanPhrase = "THE LINE OF STORMS WHICH PROMPTED THE WARNING HAVE WEAKENED BELOW SEVERE LIMITS...AND NO LONGER APPEAR CAPABLE OF PRODUCING A TORNADO. THEREFORE THE WARNING ${expcanBODYTag}.")
    #end
  #else
    #if(${phenomena}=="SV")
      #set($expcanPhrase = "THE STORM WHICH PROMPTED THE WARNING HAS WEAKENED BELOW SEVERE LIMITS...AND NO LONGER POSE AN IMMEDIATE THREAT TO LIFE OR PROPERTY. THEREFORE THE WARNING ${expcanBODYTag}.")
    #else
      #set($expcanPhrase = "THE STORM WHICH PROMPTED THE WARNING HAS WEAKENED BELOW SEVERE LIMITS...AND NO LONGER APPEARS CAPABLE OF PRODUCING A TORNADO. THEREFORE THE WARNING ${expcanBODYTag}.")
    #end
  #end
#end
#### MOVED OUT OF THE WARNED AREA
#if(${list.contains($bullets, "movedout")})
  #if(${stormType} == "line")
      #set($expcanPhrase = "THE LINE OF STORMS WHICH PROMPTED THE WARNING HAVE MOVED OUT OF THE AREA. THEREFORE THE WARNING ${expcanBODYTag}.")
  #else
      #set($expcanPhrase = "THE STORM WHICH PROMPTED THE WARNING HAS MOVED OUT OF THE AREA. THEREFORE THE WARNING ${expcanBODYTag}.")
  #end
#end
#### WEAKENED AND MOVED OUT OF THE AREA
#if(${list.contains($bullets, "wkndandmoved")})
  #if(${stormType} == "line")
      #set($expcanPhrase = "THE LINE OF STORMS WHICH PROMPTED THE WARNING HAVE WEAKENED BELOW SEVERE LIMITS...AND EXITED THE WARNED AREA. THEREFORE THE WARNING ${expcanBODYTag}.")
  #else
      #set($expcanPhrase = "THE STORM WHICH PROMPTED THE WARNING HAS WEAKENED BELOW SEVERE LIMITS AND EXITED THE WARNED AREA. THEREFORE THE WARNING ${expcanBODYTag}.")
  #end
#end
#### SVR UPGRADED TO TOR
#if(${list.contains($bullets, "torupgrade")})
    #set($expcanPhrase = "THE SEVERE THUNDERSTORM WARNING THAT WAS PREVIOUSLY IN EFFECT HAS BEEN UPGRADED TO A TORNADO WARNING. PLEASE REFER TO THAT BULLETIN FOR THE LATEST INFORMATION ON THIS DANGEROUS WEATHER SITUATION.")
#end
#### SVR REISSUE
#if(${list.contains($bullets, "svrreissue")})
    #set($expcanPhrase = "THE SEVERE THUNDERSTORM WARNING THAT WAS PREVIOUSLY IN EFFECT HAS BEEN REISSUED FOR !** INSERT COUNTY(IES)**! AND IS IN EFFECT UNTIL !**NEW WARNING TIME**!. PLEASE REFER TO THAT BULLETIN FOR THE LATEST SEVERE WEATHER INFORMATION.")
#end
#### TORNADO WARNING CANCEL -- SEVERE STILL IN EFFECT
#if(${list.contains($bullets, "tordowngrade")})
    #set($expcanPhrase = "THE TORNADO THREAT HAS DIMINISHED...THEREFORE THE TORNADO WARNING HAS BEEN CANCELLED. HOWEVER...LARGE HAIL AND DAMAGING WINDS REMAIN LIKELY AND A SEVERE THUNDERSTORM WARNING REMAINS IN EFFECT FOR THE AREA.")
#end
#### TORNADO WARNING EXPIRED - REISSUE
#if(${list.contains($bullets, "torreissue")})
    #set($expcanPhrase = "THE TORNADO WARNING THAT WAS PREVIOUSLY IN EFFECT HAS BEEN REISSUED FOR !** INSERT COUNTY(IES)**! AND IS IN EFFECT UNTIL !**NEW WARNING TIME**!. PLEASE REFER TO THAT BULLETIN FOR THE LATEST SEVERE WEATHER INFORMATION.")
#end
########################################
## END OF WARNING THREATS SECTION ######
########################################
### SET INITIAL VARIABLES ####
#if(${stormType} == "line")
  #set($stormTypePhrase = "THESE THUNDERSTORMS")
#else
  #set($stormTypePhrase = "THIS THUNDERSTORM")
#end
#set($addhailcheck = 0)
#set($addwindcheck = 0)
#set($addraincheck = 0)
#set($watchlead = "ADDITIONAL SEVERE THUNDERSTORM DEVELOPMENT REMAINS POSSIBLE")
##Hail still a threat
#if(${list.contains($bullets, "stillhail")})
 #set($addhail = "SMALL HAIL")
 #set($addhailcheck = 1)
 #set($watchlead = "IN ADDITION...SEVERE THUNDERSTORM REDEVELOPMENT REMAINS POSSIBLE")
#end
##Wind still a threat
#if(${list.contains($bullets, "stillwind")})
 #set($addwind = "GUSTY WINDS")
 #set($addwindcheck = 1)
 #set($watchlead = "IN ADDITION...SEVERE THUNDERSTORM REDEVELOPMENT REMAINS POSSIBLE")
#end
##Hvy rain still a threat
#if(${list.contains($bullets, "stillrain")})
 #set($addrain = "HEAVY RAIN")
 #set($addraincheck = 1)
 #set($watchlead = "IN ADDITION...SEVERE THUNDERSTORM REDEVELOPMENT REMAINS POSSIBLE")
#end
## FORMULATE PHRASEOLOGY
#set($addthreat = "")
#if(${addhailcheck} == "1" && ${addwindcheck} == "0" && ${addraincheck} == "0" )
 #set($addthreat = " HOWEVER ${addhail} IS STILL POSSIBLE WITH ${stormTypePhrase}.")
#elseif (${addhailcheck} == "0" && ${addwindcheck} == "1" && ${addraincheck} == "0" )
 #set($addthreat = " HOWEVER ${addwind} ARE STILL POSSIBLE WITH ${stormTypePhrase}.")
#elseif (${addhailcheck} == "0" && ${addwindcheck} == "0" && ${addraincheck} == "1" )
 #set($addthreat = " HOWEVER ${addrain} IS STILL POSSIBLE WITH ${stormTypePhrase}.")
#elseif (${addhailcheck} == "1" && ${addwindcheck} == "1" && ${addraincheck} == "0" )
 #set($addthreat = " HOWEVER ${addhail} AND ${addwind} ARE STILL POSSIBLE WITH ${stormTypePhrase}.")
#elseif (${addhailcheck} == "1" && ${addwindcheck} == "0" && ${addraincheck} == "1" )
 #set($addthreat = " HOWEVER ${addhail} AND ${addrain} ARE STILL POSSIBLE WITH ${stormTypePhrase}.")
#elseif (${addhailcheck} == "0" && ${addwindcheck} == "1" && ${addraincheck} == "1" )
 #set($addthreat = " HOWEVER ${addwind} AND ${addrain} ARE STILL POSSIBLE WITH ${stormTypePhrase}.")
#elseif (${addhailcheck} == "1" && ${addwindcheck} == "1" && ${addraincheck} == "1" )
 #set($addthreat = " HOWEVER ${addhail}....${addwind} AND ${addrain} ARE STILL POSSIBLE WITH ${stormTypePhrase}.")
#end

${expcanPhrase} ${addthreat}

###########################################
##OTHER EXP/CAN STATEMENT INFO
###########################################
## WATCHES ##
#############
###if(${list.contains($includedWatches, "torWatches")})
###inserttorwatches(${watches}, ${list}, ${secondtimezone}, ${dateUtil}, ${timeFormat})
###end
###if(${list.contains($includedWatches, "svrWatches")})
###insertsvrwatches(${watches}, ${list}, ${secondtimezone}, ${dateUtil}, ${timeFormat})
###end
###end
#if(${list.contains($bullets, "svrboxactive")})
${watchlead}...AND A SEVERE THUNDERSTORM WATCH REMAINS IN EFFECT UNTIL !** enter time here **!

#end
#if (${list.contains($bullets, "torboxactive")})
${watchlead}...AND A TORNADO WATCH REMAINS IN EFFECT UNTIL !** enter time here **!

#end
#if(${list.contains($bullets, "reporttolaw")})
TO REPORT SEVERE WEATHER...CONTACT YOUR NEAREST LAW ENFORCEMENT AGENCY. THEY WILL RELAY YOUR REPORT TO THE NATIONAL WEATHER SERVICE ${officeLoc}.

#end
#if(${list.contains($bullets, "svrwrngactive")})
REMEMBER...A SEVERE THUNDERSTORM WARNING STILL REMAINS IN EFFECT FOR !** PORTION AND COUNTY NAMES UNTIL TIME **!

#end
#if(${list.contains($bullets, "torwrngactive")})
REMEMBER...A TORNADO WARNING STILL REMAINS IN EFFECT FOR !** PORTION AND COUNTY NAMES UNTIL TIME **!

#end
#printcoords(${areaPoly}, ${list})

TIME...MOT...LOC ##
${dateUtil.format(${now}, ${timeFormat.time})}Z ##
${mathUtil.roundAndPad(${movementDirection})}DEG ##
${mathUtil.round(${movementInKnots})}KT ##
#foreach(${eventCoord} in ${eventLocation})
#llFormat(${eventCoord.y}) #llFormat(${eventCoord.x}) ##
#end


$$
##
#end
##
###################################################
##### END CANCELLATION/EXPIRATION SECTION #########
###################################################
##
##
##################################################
##################################################
## NOW LET'S DO OUR CONTINUATION SEGMENT     #####
##################################################
##################################################
####
#### IF PARTIAL CANCELLATION, INSERT $$ AND 2ND UGC/MND SECTION PRIOR TO CON PORTION
####
#if(${action}=="CANCON")


${ugcline}
/${productClass}.CON.${vtecOffice}.${phenomena}.W.${etn}.000000T0000Z-${dateUtil.format(${expire}, ${timeFormat.ymdthmz})}/
#foreach (${area} in ${areas}) 
${area.name} ${area.stateabbr}-##
#end

${dateUtil.format(${now}, ${timeFormat.header}, ${localtimezone})}

#if(${productClass}=="T")
...THIS MESSAGE IS FOR TEST PURPOSES ONLY...

#end
#elseif(${CORCAN}=="true")


${ugcline}
/${productClass}.COR.${vtecOffice}.${phenomena}.W.${etn}.000000T0000Z-${dateUtil.format(${expire}, ${timeFormat.ymdthmz})}/
#foreach (${area} in ${areas}) 
${area.name} ${area.stateabbr}-##
#end

${dateUtil.format(${now}, ${timeFormat.header}, ${localtimezone})}

#if(${productClass}=="T")
...THIS MESSAGE IS FOR TEST PURPOSES ONLY...

#end
#end
#if(${action}=="CANCON" || ${action}=="CON" || ${action}=="COR" || ${CORCAN}=="true")
...A ${eventType} WARNING REMAINS IN EFFECT #secondBullet(${dateUtil},${expire},${timeFormat},${localtimezone},${secondtimezone}) FOR ##
#headlineLocList(${areas} true true true false true)
...##
########### END NEW HEADLINE CODE ####################
#####################################################################
### TORNADO EMERGENCY PER NWS 10-511 DIRECTIVE                      #
#####################################################################

#if(${list.contains($bullets, "torEmergency")})

...THIS IS A TORNADO EMERGENCY FOR !** EDIT LOCATION(S) **!...

#end
#set($reportType = "!** BASIS FOR WARNING **!")
#set($reportAuthSVR = "")
############### BASIS SECTION ####################
#if(${list.contains($bullets, "dopplerTOR")})
#set ($torGround = "DEVELOPING")
  #if(${stormType} == "line")
    #set($reportType = "A LINE OF SEVERE THUNDERSTORMS CAPABLE OF PRODUCING TORNADOES")
    #set($reportType2 = "THESE DANGEROUS STORMS WERE")
    #set($pathcastLead = "THESE DANGEROUS STORMS") 
  #else
    #set($reportType = "A SEVERE THUNDERSTORM CAPABLE OF PRODUCING A TORNADO")
    #set($reportType2 = "THIS DANGEROUS STORM WAS")
    #set($pathcastLead = "THIS DANGEROUS STORM") 
  #end
#elseif(${list.contains($bullets, "dopplerSquallTOR")})
  #set ($reportType = "A SEVERE SQUALL LINE CAPABLE OF PRODUCING BOTH TORNADOES AND EXTENSIVE STRAIGHT LINE WIND DAMAGE")
  #set($reportType2 = "THESE DANGEROUS STORMS WERE")
  #set($pathcastLead = "THESE DANGEROUS STORMS") 
#elseif(${list.contains($bullets, "confirmedDopplerTOR")})
  #set ($torTag = "OBSERVED")
  #set ($torHazard = "DAMAGING TORNADO")
  #set ($confirmed = "CONFIRMED ")
  #set ($source = "RADAR CONFIRMED TORNADO.")
    #if(${stormType} == "line")
      #set($reportType2 = "THESE TORNADIC STORMS WERE")
      #set ($reportType = "A LINE OF TORNADO PRODUCING STORMS WAS LOCATED")
    #else
      #set($reportType2 = "THIS TORNADO")
      #set ($reportType = "A CONFIRMED TORNADO WAS LOCATED")
    #end
  #set($preAmbleTOR = "TO REPEAT...A TORNADO IS ON THE GROUND. ")
#elseif(${list.contains($bullets, "confirmedLargeTOR")})
  #set($reportType = "NATIONAL WEATHER SERVICE DOPPLER RADAR AND STORM SPOTTERS WERE TRACKING A LARGE AND EXTREMELY DANGEROUS TORNADO")
  #set($preAmbleTOR = "TO REPEAT...A LARGE...EXTREMELY DANGEROUS AND POTENTIALLY DEADLY TORNADO IS ON THE GROUND! TO PROTECT YOUR LIFE...")
#elseif(${list.contains($bullets, "spotterTOR")})
  #set($preAmbleTOR = "TO REPEAT...A TORNADO IS ON THE GROUND. ")
  #set ($torTag = "OBSERVED")
  #set ($torHazard = "DAMAGING TORNADO")
  #set ($confirmed = "CONFIRMED ")
  #set ($source = "WEATHER SPOTTERS CONFIRMED TORNADO.")
  #if(${stormType} == "line")
    #set ($reportType = "A LINE OF TORNADO PRODUCING STORMS")
  #else
    #set ($reportType = "A CONFIRMED TORNADO")
  #end
#elseif(${list.contains($bullets, "lawEnforcementTOR")})
  #set($preAmbleTOR = "TO REPEAT...A TORNADO IS ON THE GROUND. ")
  #set ($torTag = "OBSERVED")
  #set ($torHazard = "DAMAGING TORNADO")
  #set ($confirmed = "CONFIRMED ")
  #set ($source = "LAW ENFORCEMENT CONFIRMED TORNADO.")
  #if(${stormType} == "line")
    #set ($reportType = "A LINE OF TORNADO PRODUCING STORMS")
  #else
    #set ($reportType = "A CONFIRMED TORNADO WAS LOCATED")
  #end
#elseif(${list.contains($bullets, "emergencyManagementTOR")})
  #set($reportType = "EMERGENCY MANAGEMENT REPORTED A ${reportType1}")
  #set($preAmbleTOR = "TO REPEAT...A TORNADO IS ON THE GROUND. ")
  #set ($torTag = "OBSERVED")
  #set ($torHazard = "DAMAGING TORNADO")
  #set ($confirmed = "CONFIRMED ")
  #set ($source = "EMERGENCY MANAGEMENT CONFIRMED TORNADO.")
  #if(${stormType} == "line")
    #set ($reportType = "A LINE OF TORNADO PRODUCING STORMS")
  #else
    #set ($reportType = "A CONFIRMED TORNADO")
  #end
#elseif(${list.contains($bullets, "publicTOR")})
  #set($preAmbleTOR = "TO REPEAT...A TORNADO IS ON THE GROUND. ")
  #set ($torTag = "OBSERVED")
  #set ($torHazard = "DAMAGING TORNADO")
  #set ($confirmed = "CONFIRMED ")
  #set ($source = "PUBLIC CONFIRMED TORNADO.")
  #if(${stormType} == "line")
    #set ($reportType = "A LINE OF TORNADO PRODUCING STORMS")
  #else
    #set ($reportType = "A CONFIRMED TORNADO")
  #end
#elseif(${list.contains($bullets, "spotterFunnelCloud")})
  #set ($source = "WEATHER SPOTTERS REPORTED FUNNEL CLOUD.")
  #set ($torGround = "DEVELOPING")
    #if(${stormType} == "line")
      #set($reportType = "A LINE OF SEVERE THUNDERSTORMS CAPABLE OF PRODUCING A TORNADO")
      #set($reportType2 = "A TORNADO MAY DEVELOP AT ANY TIME. THESE DANGEROUS STORMS WERE")
      #set($pathcastLead = "THESE DANGEROUS STORMS") 
    #else
      #set($reportType = "A SEVERE THUNDERSTORM CAPABLE OF PRODUCING A TORNADO")
      #set($reportType2 = "A TORNADO MAY DEVELOP AT ANY TIME. THIS DANGEROUS STORM WAS")
      #set($pathcastLead = "THIS DANGEROUS STORM") 
    #end
#elseif(${list.contains($bullets, "dopplerSVR")})
  #set($reportType = "A ${reportType1}")
  #set($reportAuthSVR = "CAPABLE OF PRODUCING")
  #set ($source = "RADAR INDICATED.")
#elseif(${list.contains($bullets, "trainedSpottersSVR")})
  #set($reportType = "A ${reportType1}")
  #set($reportAuthSVR = "PRODUCING")
  #set ($source = "TRAINED WEATHER SPOTTERS.")
#elseif(${list.contains($bullets, "lawEnforcementSVR")})
  #set($reportType = "A ${reportType1}")
  #set($reportAuthSVR = "PRODUCING")
  #set ($source = "LAW ENFORCEMENT.")
#elseif(${list.contains($bullets, "emergencyManagementSVR")})
  #set($reportType = "A ${reportType1}")
  #set($reportAuthSVR = "PRODUCING")
  #set ($source = "EMERGENCY MANAGEMENT.")
#elseif(${list.contains($bullets, "publicSVR")})
  #set($reportType = "A ${reportType1}")
  #set($reportAuthSVR = "PRODUCING")
  #set ($source = "PUBLIC.")
#end

############################################################################
## IF A SIGNIFICANT TORNADO IS SELECTED THE FOLLOWING WILL OVERRIDE CERTAIN
## VARIABLES TO HEIGHTED AWARENESS OF THIS DANGEROUS SITUATION
############################################################################
#if(${list.contains($bullets, "significantTornado")})
  #set ($reportType = "A ${confirmed}LARGE AND EXTREMELY DANGEROUS TORNADO") 
  #set ($torHazard = "DAMAGING TORNADO")
  #set ($torThreat = "<L>TORNADO DAMAGE THREAT...SIGNIFICANT</L>")
  #set ($pdstor = "THIS IS A PARTICULARLY DANGEROUS SITUATION.")
  #set ($torimpact = "MAJOR HOUSE AND BUILDING DAMAGE LIKELY AND COMPLETE DESTRUCTION POSSIBLE. NUMEROUS TREES SNAPPED. MAJOR POWER OUTAGES IN PATH OF TORNADO HIGHLY LIKELY. SOME ROADS POSSIBLY BLOCKED BY TORNADO DEBRIS. COMPLETE DESTRUCTION OF VEHICLES LIKELY.")
  #if(${stormType} == "line")
    #set ($pathcastLead = "THESE TORNADIC STORMS")
    #set ($moveLead = " DOPPLER RADAR SHOWED THESE TORNADIC STORMS MOVING")
  #else
    #set ($pathcastLead = "THE TORNADO")
    #set ($moveLead = " DOPPLER RADAR SHOWED THIS TORNADO MOVING")
  #end 
  #set ($preAmbleTOR = "TO REPEAT...A LARGE...EXTREMELY DANGEROUS AND POTENTIALLY DEADLY TORNADO IS ${torGround}. TO PROTECT YOUR LIFE...")
#end
############################################################################
## IF A TORNADO EMERGENCY IS SELECTED THE FOLLOWING WILL OVERRIDE CERTAIN
## VARIABLES TO HEIGHTED AWARENESS OF THIS DANGEROUS SITUATION
############################################################################
#if(${list.contains($bullets, "torEmergency")})
  #set ($reportType = "TORNADO EMERGENCY FOR !** LOCATION **!. A CONFIRMED LARGE AND DESTRUCTIVE TORNADO") 
  #set ($ctaSelected = "YES")
  #set ($torTag = "OBSERVED")
  #set ($torHazard = "DEADLY TORNADO")
  #set ($torThreat = "<L>TORNADO DAMAGE THREAT...CATASTROPHIC</L>")
  #set ($pdstor = "THIS IS A PARTICULARLY DANGEROUS SITUATION.")
  #set ($torimpact = "THIS IS A LIFE THREATENING SITUATION. YOU COULD BE KILLED IF NOT UNDERGROUND OR IN A TORNADO SHELTER. COMPLETE DESTRUCTION OF ENTIRE NEIGHBORHOODS IS LIKELY. MANY WELL BUILT HOMES AND BUSINESSES WILL BE COMPLETELY SWEPT FROM THEIR FOUNDATIONS. DEBRIS WILL BLOCK MOST ROADWAYS. MASS DEVASTATION IS HIGHLY LIKELY MAKING THE AREA UNRECOGNIZABLE TO SURVIVORS.")
  #if(${stormType} == "line")
    #set ($pathcastLead = "THESE TORNADIC STORMS")
    #set ($moveLead = " DOPPLER RADAR SHOWED THESE TORNADIC STORMS MOVING")
  #else
    #set ($pathcastLead = "THE TORNADO")
    #set ($moveLead = " DOPPLER RADAR SHOWED THIS TORNADO MOVING")
  #end 
  #if(${list.contains($bullets, "dopplerTOR")})
    #set ($source = "WEATHER SPOTTERS CONFIRMED TORNADO.")
  #end
  #set ($preAmbleTOR = "TO REPEAT...A LARGE...EXTREMELY DANGEROUS AND DEADLY TORNADO IS ON THE GROUND. TO PROTECT YOUR LIFE...")
#end

###################################################
## HANDLE WIND POSSIBILITIES ######################
###################################################
#set ($windSpeed = 0)
#set ($windImpact = "")
#set ($extensive = "")
#set ($windTag = "<50MPH")
#if(${list.contains($bullets, "60mphWind")})
  #set ($windThreat = "DAMAGING WINDS IN EXCESS OF 60 MPH") 
  #set ($windHazard = "60 MPH WIND GUSTS")
  #set ($windSpeed = 60)
  #set ($windTag = "60MPH")
  #set ($windImpact = "MINOR TREE DAMAGE...WITH LIMBS UP TO ONE INCH IN DIAMETER BROKEN.")
#end
#if(${list.contains($bullets, "70mphWind")})
  #set ($windThreat = "DESTRUCTIVE WINDS IN EXCESS OF 70 MPH")
  #set ($windHazard = "70 MPH WIND GUSTS")
  #set ($windSpeed = 70) 
  #set ($windTag = "70MPH")
  #set ($windImpact = "TREE BRANCHES UP TO THREE INCHES IN DIAMETER BROKEN. POSSIBLE MINOR DAMAGE TO SHINGLE ROOFS AND METAL OUTBUILDINGS.")
#end
#if(${list.contains($bullets, "80mphWind")})
  #set ($windThreat = "DESTRUCTIVE WINDS IN EXCESS OF 80 MPH")
  #set ($windHazard = "80 MPH WIND GUSTS")
  #set ($windSpeed = 80) 
  #set ($windTag = "80MPH")
  #set ($pdssvr = "THIS IS A VERY DANGEROUS STORM.")
  #set ($windImpact = "LARGE TREE BRANCHES MAY BE BROKEN...POSSIBLY BLOCKING ROADS AND DOWNING POWER LINES. SUBSTANTIAL ROOF COVERING DAMAGE LIKELY. METAL OUTBUILDINGS DAMAGED. SIGNIFICANT FLYING DEBRIS WILL BE DANGEROUS FOR ANYONE EXPOSED TO THE ELEMENTS.")
#end
#if(${list.contains($bullets, "90mphWind")})
  #set ($windThreat = "EXTREME DAMAGING WINDS IN EXCESS OF 90 MPH")
  #set ($windHazard = "90 MPH WIND GUSTS")
  #set ($windSpeed = 90)
  #set ($windTag = "90MPH")
  #set ($pdssvr = "THIS IS A VERY DANGEROUS STORM.")
  #set ($windImpact ="MOBILE HOMES MAY SUFFER MAJOR ROOF FAILURE. SUBSTANTIAL ROOF AND WINDOW DAMAGE TO SINGLE FAMILY HOMES. SOME TREES UPROOTED POSSIBLY BLOCKING ROADS AND KNOCKING DOWN POWER LINES. SIGNIFICANT FLYING AND FALLING DEBRIS MAY PROVE DEADLY FOR ANYONE EXPOSED TO THE ELEMENTS.")
#end
#if(${list.contains($bullets, "100mphWind")})
  #set ($windThreat = "EXTREME DAMAGING WINDS IN EXCESS OF 100 MPH")
  #set ($windHazard = "100 MPH WIND GUSTS")
  #set ($windSpeed = 100)
  #set ($windTag = "100MPH")
  #set ($pdssvr = "THIS IS A VERY DANGEROUS STORM.")
  #set ($windImpact ="SIGNIFICANT ROOF AND WINDOW LOSS OF SINGLE FAMILY HOMES. COMPLETE DESTRUCTION OF MOBILE HOMES AND METAL BARNS AND OUTBUILDINGS LIKELY. NUMEROUS TREES UPROOTED AND SOME TREE TRUNKS SNAPPED. SUBSTANTIAL POWER OUTAGES LIKELY. SIGNIFICANT FLYING AND FALLING DEBRIS WILL PROVE DEADLY TO THOSE WHO DO NOT SEEK SHELTER.")
#end
###################################################
## HANDLE HAIL POSSIBILITIES ######################
###################################################
#set ($hailSize = 0)
#set ($smallHail = "")
#set ($hailImpact = "")
#set ($hailTag = "<.75IN")
#if(${list.contains($bullets, "pennyHail")})
  #set ($hailThreat = "PENNY SIZE") 
  #set ($hailTrail = " HAIL") 
  #set ($hailHazard = "PENNY SIZE HAIL")
  #set ($hailLead = "")
  #set ($hailSize = 0.75) 
  #set ($hailTag = "0.75IN")
  #set ($hailImpact = "MINOR DAMAGE TO VEHICLES...ROOFS AND WINDOWS.")
#end
#if(${list.contains($bullets, "nickelHail")})
  #set ($hailThreat = "NICKEL SIZE") 
  #set ($hailTrail = " HAIL") 
  #set ($hailHazard = "NICKEL SIZE HAIL")
  #set ($hailLead = "") 
  #set ($hailSize = 0.88) 
  #set ($hailTag = "0.88IN")
  #set ($hailImpact = "MINOR DAMAGE TO VEHICLES...ROOFS AND WINDOWS.")
#end
#if(${list.contains($bullets, "quarterHail")})
  #set ($hailThreat = "QUARTER SIZE") 
  #set ($hailTrail = " HAIL") 
  #set ($hailHazard = "QUARTER SIZE HAIL")
  #set ($hailLead = "") 
  #set ($hailSize = 1.00)
  #set ($hailTag = "1.00IN") 
  #set ($hailImpact = "MINOR DAMAGE TO VEHICLES...ROOFS AND WINDOWS.")
#end
#if(${list.contains($bullets, "halfdollarHail")})
  #set ($hailThreat = "HALF DOLLAR SIZE") 
  #set ($hailTrail = " HAIL") 
  #set ($hailHazard = "HALF DOLLAR SIZE HAIL")
  #set ($hailLead = "") 
  #set ($hailSize = 1.25)
  #set ($hailTag = "1.25IN") 
  #set ($hailImpact = "MINOR DAMAGE TO VEHICLES...ROOFS AND WINDOWS.")
#end
#if(${list.contains($bullets, "pingpongHail")})
  #set ($hailThreat = "PING PONG BALL SIZE") 
  #set ($hailLead = "LARGE HAIL UP TO ") 
  #set ($hailHazard = "PING PONG SIZE HAIL")
  #set ($hailTrail = "")
  #set ($hailSize = 1.50)  
  #set ($hailTag = "1.50IN")
  #set ($hailImpact = "DAMAGE TO VEHICLES...ROOFS AND WINDOWS.")
#end
#if(${list.contains($bullets, "golfballHail")})
  #set ($hailThreat = "GOLF BALL SIZE") 
  #set ($hailLead = "LARGE DAMAGING HAIL UP TO ") 
  #set ($hailHazard = "GOLF BALL SIZE HAIL")
  #set ($hailTrail = "")
  #set ($hailSize = 1.75)
  #set ($hailTag = "1.75IN")
  #set ($hailImpact = "DAMAGE TO ROOFS...WINDOWS AND VEHICLES.")
#end
#if(${list.contains($bullets, "twoinchHail")})
  #set ($hailThreat = "TWO INCHES IN DIAMETER") 
  #set ($hailLead = "LARGE DAMAGING HAIL UP TO ") 
  #set ($hailHazard = "TWO INCH HAIL")
  #set ($hailTrail = "")
  #set ($hailSize = 2.00)
  #set ($hailTag = "2.00IN")
  #set ($hailImpact = "DAMAGE TO ROOFS...WINDOWS AND VEHICLES.")
#end
#if(${list.contains($bullets, "tennisBallHail")})
  #set ($hailThreat = "TENNIS BALL SIZE") 
  #set ($hailLead = "LARGE DESTRUCTIVE HAIL UP TO ") 
  #set ($hailTrail = "")
  #set ($hailHazard = "TENNIS BALL SIZE HAIL")
  #set ($hailSize = 2.50)
  #set ($hailTag = "2.50IN")
  #set ($hailImpact = "DAMAGE TO ROOFS...WINDOWS AND VEHICLES.")
#end
#if(${list.contains($bullets, "baseballHail")})
  #set ($hailThreat = "BASEBALL SIZE") 
  #set ($hailLead = "LARGE DESTRUCTIVE HAIL UP TO ") 
  #set ($hailHazard = "BASEBALL SIZE HAIL")
  #set ($hailTrail = "")
  #set ($hailSize = 2.75)  
  #set ($hailTag = "2.75IN")
  #set ($pdssvr = "THIS IS A VERY DANGEROUS STORM.")
  #set ($hailImpact = "EXTENSIVE DAMAGE TO ROOFS...WINDOWS AND VEHICLES.")
#end
#if(${list.contains($bullets, "threeinchHail")})
  #set ($hailThreat = "THREE INCHES IN DIAMETER") 
  #set ($hailLead = "LARGE DESTRUCTIVE HAIL UP TO ") 
  #set ($hailHazard = "THREE INCH HAIL")
  #set ($hailTrail = "")
  #set ($hailSize = 3.00)  
  #set ($hailTag = "3.00IN")
  #set ($pdssvr = "THIS IS A VERY DANGEROUS STORM.")
  #set ($hailImpact = "EXTENSIVE DAMAGE TO ROOFS...WINDOWS AND VEHICLES.")
#end
#if(${list.contains($bullets, "grapefruitHail")})
  #set ($hailThreat = "GRAPEFRUIT SIZE") 
  #set ($hailLead = "LARGE DESTRUCTIVE HAIL UP TO ") 
  #set ($hailHazard = "GRAPEFRUIT SIZE HAIL")
  #set ($hailTrail = "")
  #set ($hailSize = 4.00)  
  #set ($hailTag = "4.00IN")
  #set ($pdssvr = "THIS IS A VERY DANGEROUS STORM.")
  #set ($hailImpact = "EXTENSIVE DAMAGE TO ROOFS...WINDOWS AND VEHICLES.")
#end
#if(${list.contains($bullets, "softballHail")})
  #set ($hailThreat = "SOFTBALL SIZE") 
  #set ($hailLead = "LARGE DESTRUCTIVE HAIL UP TO ") 
  #set ($hailHazard = "SOFTBALL SIZE HAIL")
  #set ($hailTrail = "")
  #set ($hailSize = 4.25)  
  #set ($hailTag = "4.25IN")
  #set ($pdssvr = "THIS IS A VERY DANGEROUS STORM.")
  #set ($hailImpact = "EXTENSIVE DAMAGE TO ROOFS...WINDOWS AND VEHICLES.")
#end
##################################################################
######### CREATE SVR TSTM WIND AND HAIL SENTENCE/TAG##############
##################################################################
#set ($hailwind = "")
#if (${hailSize} < 1 && ${windSpeed} < 58)
  #if (${phenomena}=="SV")
    #set ($hailwind = "!**YOU DID NOT SELECT ANY SEVERE WIND OR HAIL THREATS. PLEASE CLOSE THIS WINDOW AND RE-GENERATE THIS WARNING!**!")
    #set ($windhailTag = "WIND...HAIL <50MPH <.75IN")
##    #set ($svrimpact = "!**YOU DID NOT SELECT ANY SEVERE WIND OR HAIL THREATS. PLEASE CLOSE THIS WINDOW AND RE-GENERATE THIS WARNING!**!")
    #set ($hazard = "!**YOU DID NOT SELECT ANY SEVERE WIND OR HAIL THREATS. PLEASE CLOSE THIS WINDOW AND RE-GENERATE THIS WARNING!**!")
  #else
    #set ($hailTag = "HAIL...<.75IN")
  #end
#elseif(${hailSize} > 0 && ${windSpeed} > 0)
  #if (${hailSize} < 1)
    #set ($hailwind = " ${reportAuthSVR} ${windThreat}")
    #if(${phenomena}=="SV")
      #set ($smallHail = "${hailThreat}${hailTrail} MAY ALSO ACCOMPANY THE DAMAGING WINDS.")
##      #set ($svrimpact = "${extensive}${hailImpact} ${windImpact}")
	  #set ($hazard = "${windHazard} AND ${hailHazard}.")
#*
	  #if(${list.contains($bullets, "svrTorTag")})
        #set ($hazard = "${windHazard}...${hailHazard} AND POSSIBLE TORNADO.")
      #end
 *#
    #end
  #else
    #set ($hailwind = " ${reportAuthSVR} ${hailLead}${hailThreat}${hailTrail} AND ${windThreat}")
##    #set ($svrimpact = "${extensive}${hailImpact} ${windImpact}")
  	#set ($hazard = "${hailHazard} AND ${windHazard}.")
#*
  	#if(${list.contains($bullets, "svrTorTag")})
      #set ($hazard = "${hailHazard}...${windHazard} AND POSSIBLE TORNADO.")
    #end
*#
  #end
  #set ($windTag = "WIND...${windTag}")
  #set ($hailTag = "HAIL...${hailTag}")
#elseif(${hailSize} > 0)
  #set ($hailwind = " ${reportAuthSVR} ${hailLead}${hailThreat}${hailTrail}")
  #set ($windhailTag = "WIND...HAIL <50MPH ${hailTag}")
  #set ($windTag = "WIND...${windTag}")
  #set ($hailTag = "HAIL...${hailTag}")
  #set ($hazard = "${hailHazard}.")
##  #set ($svrimpact = "${extensive}${hailImpact} ${windImpact}")
#*
  #if(${list.contains($bullets, "svrTorTag")})
    #set ($hazard = "${hailHazard} AND POSSIBLE TORNADO.")
  #end
*#
#elseif(${windSpeed} > 0)
  #set ($hailwind = " ${reportAuthSVR} ${windThreat}")
  #set ($windhailTag = "WIND...HAIL ${windTag} <.75IN")
  #set ($windTag = "WIND...${windTag}")
  #set ($hailTag = "HAIL...<.75IN")
  #set ($hazard = "${windHazard}.")
##  #set ($svrimpact = "${extensive}${hailImpact} ${windImpact}")
#*
  #if(${list.contains($bullets, "svrTorTag")})
    #set ($hazard = "${windHazard} AND POSSIBLE TORNADO.")
  #end
*#
#end
######################################################################
## Setup wind/hail impact statement based on wind speed and hail size
######################################################################
#if (${phenomena}=="SV")
  #if (${hailSize} < 1 && ${windSpeed} < 58)
    #set ($svrimpact = "!**YOU DID NOT SELECT ANY SEVERE WIND OR HAIL THREATS. PLEASE CLOSE THIS WINDOW AND RE-GENERATE THIS WARNING!**!")
  #elseif(${hailSize} > 0 && ${windSpeed} < 80 && ${hailSize} < 2.75)
    #set ($svrimpact = "${hailImpact} ${windImpact}")
  #elseif(${hailSize} > 2.50 && ${windSpeed} < 80)
    #set ($svrimpact = "${hailImpact}")
  #elseif(${windSpeed} >= 80)
    #set ($svrimpact = "${windImpact}")
  #end
#end
##########################################################
## Set the hazard for a tornado warning follow-up       ##
##########################################################
#if(${phenomena}=="TO")
  #set ($pdssvr = "")
  #set ($svrimpact = "")
  #if (${windSpeed} >= 60 && ${hailSize} >= 1)
    #set ($hazard = "${torHazard}...${hailHazard} AND ${windHazard}.")
  #elseif (${windSpeed} >= 60 && ${hailSize} < 1)
    #set ($hazard = "${torHazard} AND ${windHazard}.") 
  #elseif (${windSpeed} < 60 && ${hailSize} >= 1)
    #set ($hazard = "${torHazard} AND ${hailHazard}.") 
  #else
    #set ($hazard = "${torHazard}.") 
  #end
#########################################################
## If a significant or catastrophic tornado are selected
## do not include any wind or hail informadion
#########################################################
#if(${list.contains($bullets, "significantTornado")} || ${list.contains($bullets, "torEmergency")})
  #set ($hazard = "${torHazard}.")
#end
#end
########################################################
######### CREATE TORNADO HAIL SENTENCE/TAG##############
########################################################
#set($TORHailThreat = "")
#if (${hailSize} >= 1.5 && ${phenomena}=="TO")
 #if(${stormType} == "line")
  #set($TORHailThreat = "IN ADDITION TO TORNADOES...${hailLead}${hailThreat}${hailTrail} IS EXPECTED WITH THESE STORMS.")
 #else
  #set($TORHailThreat = "IN ADDITION TO A TORNADO...${hailLead}${hailThreat}${hailTrail} IS EXPECTED WITH THIS STORM.")
 #end
#end
######################################################
###### Storm current location description   ##########
######################################################
######################################################
###### Add damage information to the source section   
###### If Additional Information is selected
######################################################
#foreach ($bullet in $bullets)
#if($bullet.startsWith("addl"))
  #set ($extrasource = " !**ENTER TYPE OF DAMAGE**! WAS REPORTED !** ENTER LOCATION **!.")
#end
#end
#if(${list.contains($bullets, "addlTorInfo")})
  #set ($extrasource = " !**ENTER TYPE OF TORNADO DAMAGE**! WAS REPORTED !** ENTER LOCATION **!.") 
#end
######################################################
###### CREATE TIME/STORM/MOVEMENT REFERENCE     ######
######################################################
#if(${productClass}=="T")
THIS IS A TEST MESSAGE. ##
#end

AT ${dateUtil.format(${event}, ${timeFormat.clock}, ${localtimezone})}...##
${reportType} WAS LOCATED ##
#handleClosestPoints($list, $closestPoints, $otherClosestPoints, $stormType, "NEAR", 6, "MILES",false)
#if($movementSpeed < 3 || ${stationary})
#if(${stormType} == "line")
...AND ARE NEARLY STATIONARY. 
 #else
...AND IS NEARLY STATIONARY. 
#end
#else
...MOVING #direction(${movementDirectionRounded}) AT ${mathUtil.roundTo5(${movementSpeed})} MPH. 
#end

##########################################################################
## Section to include the dangerous storm wording as well as the hazard ##
##########################################################################
${pdstor}${pdssvr}

HAZARD...${hazard}

SOURCE...${source}${extrasource}

IMPACT...${svrimpact}${torimpact}

#############################################
######## GENERATE ADDITIONAL REPORTS  #######
#############################################
#set ($extraReportTor = "")
#set ($extraReport = "")
#if(${list.contains($bullets, "addlTorInfo")})
 #set ($extraReportTor = "AT !**enter time, tornado/damage**! WAS REPORTED !**enter location**!. ") 
#end
#if(${list.contains($bullets, "addlHailRpt")})
 #set ($extraReport = "IN ADDITION...AT !**enter time, hail**! WAS REPORTED !**enter location**!.") 
#elseif(${list.contains($bullets, "addlWindRpt")})
 #set ($extraReport = "IN ADDITION...AT !**enter time, wind**! WAS REPORTED !**enter location**!.")
#elseif(${list.contains($bullets, "addlHailWindRpt")})
 #set ($extraReport = "IN ADDITION...AT !**enter time, hail and wind**! WAS REPORTED !**enter location**!.")
#end

${extraReportTor}${extraReport} 

##################################################
######## GENERATE PATHCAST OR CITIES LIST ########
##################################################
#if(${phenomena}=="SV" && ${stormType} == "line")
#set ($otherLead = "THESE SEVERE THUNDERSTORMS")
#elseif(${phenomena}=="SV")
#set ($otherLead = "THIS SEVERE THUNDERSTORM")
#elseif(${phenomena}=="TO" && ${stormType} == "line")
#set ($otherLead = "THESE TORNADIC STORMS")
#elseif(${phenomena}=="TO")
#set ($otherLead = "THIS TORNADIC THUNDERSTORM")
#end
#if(${list.contains($bullets, "pathcast")})
#if(${productClass}=="T")
THIS IS A TEST MESSAGE. ##
#end
#pathCast("${pathcastLead} WILL BE NEAR..." ${otherLead} ${pathCast} ${otherPoints} ${areas} ${dateUtil} ${timeFormat} 0)

#elseif(${list.contains($bullets, "listofcities")})
#if(${productClass}=="T")
THIS IS A TEST MESSAGE. ##
#end
#### THE THIRD ARGUMENT IS A NUMBER SPECIFYING THE NUMBER OF COLUMNS TO OUTPUT THE CITIES LIST IN
#### 0 IS A ... SEPARATED LIST, 1 IS ONE PER LINE, >1 IS A COLUMN FORMAT
#### IF YOU USE SOMETHING OTHER THAN "LOCATIONS IMPACTED INCLUDE" LEAD IN BELOW, MAKE SURE THE
#### ACCOMPANYING XML FILE PARSE STRING IS CHANGED TO MATCH!
#locationsList("LOCATIONS IMPACTED INCLUDE..." ${otherLead} 0 ${cityList} ${otherPoints} ${areas} ${dateUtil} ${timeFormat} 0)

#else
LOCATIONS IMPACTED INCLUDE...  
!** YOU DID NOT SELECT A PATHCAST OR LIST OF CITIES BULLET. PLEASE ENTER LOCATIONS IMPACTED **!.

#end
##############################################
###### SPECIAL VENUE/EVENT CASE ##############
##############################################
#if(${list.contains($bullets, "specialEvent")})
#if(${stormType} == "line")
THOSE ATTENDING THE !**now/venue name or location**! ARE IN THE PATH OF THESE STORMS AND SHOULD PREPARE FOR IMMINENT DANGEROUS WEATHER CONDITIONS. SEEK SHELTER NOW!

#else
THOSE ATTENDING THE !**now/venue name or location**! ARE IN THE PATH OF THIS STORM AND SHOULD PREPARE FOR IMMINENT DANGEROUS WEATHER CONDITIONS. SEEK SHELTER NOW!

#end
#end

## parse file command here is to pull in mile marker info
## #parse("mileMarkers.vm")

##################################
######### CALLS TO ACTION ########
##################################
##Check to see if we've selected any calls to action. In our .cfg file
##we ended each CTA bullet ID with "CTA" for this reason as a 'trip'
#foreach ($bullet in $bullets)
#if($bullet.endsWith("CTA"))
#set ($ctaSelected = "YES")
#end
#end
##

#if(${ctaSelected} == "YES") 
PRECAUTIONARY/PREPAREDNESS ACTIONS...

#end
#if(${list.contains($bullets, "torEmergencyCTA")} || ${list.contains($bullets, "torEmergency")})
#if(${list.contains($bullets, "torEmergency")})
THIS IS AN EXTREMELY DANGEROUS TORNADO WITH COMPLETE DEVASTATION LIKELY. YOU COULD BE KILLED IF NOT UNDERGROUND OR IN A TORNADO SHELTER. DO NOT DELAY...SEEK SHELTER NOW! IF NO UNDERGROUND SHELTER IS AVAILABLE SEEK SHELTER IN AN INTERIOR ROOM OF THE LOWEST LEVEL OF A STRUCTURE...OR IF TIME ALLOWS...CONSIDER MOVING TO AN UNDERGROUND SHELTER ELSEWHERE. MOBILE HOMES AND OUTBUILDINGS WILL OFFER NO SHELTER FROM THIS TORNADO.

#else
!** YOU SELECTED THE TORNADO EMERGENCY CTA WITHOUT SELECTING THE TORNADO EMERGENCY HEADER. PLEASE CLOSE THIS WINDOW AND RE-GENERATE THIS WARNING **!

#end
#end
#if(${list.contains($bullets, "defaultMobileCTA")})
${preAmbleTOR}TAKE COVER NOW! MOVE TO A BASEMENT OR AN INTERIOR ROOM ON THE LOWEST FLOOR OF A STURDY BUILDING. AVOID WINDOWS. IF IN A MOBILE HOME...A VEHICLE OR OUTDOORS...MOVE TO THE CLOSEST SUBSTANTIAL SHELTER AND PROTECT YOURSELF FROM FLYING DEBRIS.

#end
#if(${list.contains($bullets, "defaultUrbanCTA")})
${preAmbleTOR}TAKE COVER NOW! MOVE TO A BASEMENT OR AN INTERIOR ROOM ON THE LOWEST FLOOR OF A STURDY BUILDING. AVOID WINDOWS. IF IN A VEHICLE OR OUTDOORS...MOVE TO THE CLOSEST SUBSTANTIAL SHELTER AND PROTECT YOURSELF FROM FLYING DEBRIS.

#end
#if(${list.contains($bullets, "motoristsCTA")})
MOTORISTS SHOULD NOT TAKE SHELTER UNDER HIGHWAY OVERPASSES. IF YOU CANNOT SAFELY DRIVE AWAY FROM THE TORNADO...AS A LAST RESORT...EITHER PARK YOUR VEHICLE AND STAY PUT...OR ABANDON YOUR VEHICLE AND LIE DOWN IN A LOW LYING AREA AND PROTECT YOURSELF FROM FLYING DEBRIS.

#end
#if(${list.contains($bullets, "rainWrappedCTA")})
HEAVY RAINFALL MAY HIDE THIS TORNADO. DO NOT WAIT TO SEE OR HEAR THE TORNADO. TAKE COVER NOW.

#end
#if(${list.contains($bullets, "nighttimeCTA")})
TORNADOES ARE EXTREMELY DIFFICULT TO SEE AND CONFIRM AT NIGHT. DO NOT WAIT TO SEE OR HEAR THE TORNADO. TAKE COVER NOW.

#end
#if(${list.contains($bullets, "largeTORCTA")})
A LARGE AND EXTREMELY DANGEROUS TORNADO IS ON THE GROUND. TAKE IMMEDIATE TORNADO PRECAUTIONS. THIS IS AN EMERGENCY SITUATION.

#end
#if(${list.contains($bullets, "lawEnforcementCTA")})
IF A TORNADO OR OTHER SEVERE WEATHER IS SPOTTED...REPORT IT TO THE NATIONAL WEATHER SERVICE OR YOUR LOCAL AUTHORITY WHO WILL SEND YOUR REPORT. THIS ACT MAY SAVE LIVES OF OTHERS IN THE PATH OF DANGEROUS WEATHER. 

#end
#if(${list.contains($bullets, "squallCTA")} && ${stormType} == "line")
THIS LINE OF THUNDERSTORMS IS CAPABLE OF PRODUCING TORNADOES AND WIDESPREAD SIGNIFICANT WIND DAMAGE. DO NOT WAIT TO SEE OR HEAR THE TORNADO. FOR YOUR PROTECTION MOVE TO AN INTERIOR ROOM ON THE LOWEST FLOOR OF A BUILDING.

#elseif(${list.contains($bullets, "squallCTA")})
THIS CLUSTER OF THUNDERSTORMS IS CAPABLE OF PRODUCING TORNADOES AND WIDESPREAD SIGNIFICANT WIND DAMAGE. DO NOT WAIT TO SEE OR HEAR THE TORNADO. FOR YOUR PROTECTION MOVE TO AN INTERIOR ROOM ON THE LOWEST FLOOR OF A BUILDING.

#end
#if(${list.contains($bullets, "waterCTA")})
IF ON OR NEAR !**NAME OF WATER BODY **!...GET AWAY FROM THE WATER AND MOVE TO SAFE SHELTER IMMEDIATELY. IF YOU CAN HEAR THUNDER...YOU ARE CLOSE ENOUGH TO BE STRUCK BY LIGHTNING. SEVERE THUNDERSTORMS CAN PRODUCE LARGE CAPSIZING WAVES...EVEN ON SMALL BODIES OF WATER. MOVE INTO DOCK AND SEEK SAFE SHELTER NOW. DO NOT BE CAUGHT ON THE WATER IN A THUNDERSTORM.

#end
##
#if(${list.contains($bullets, "torWatchRemainsInEffectCTA")})
#if(${list.contains($bullets, "svrTorTag")})
REMAIN ALERT FOR A POSSIBLE TORNADO! TORNADOES CAN DEVELOP QUICKLY FROM SEVERE THUNDERSTORMS. IF YOU SPOT A TORNADO GO AT ONCE INTO THE BASEMENT OR SMALL CENTRAL ROOM IN A STURDY STRUCTURE.

#else 
A TORNADO WATCH REMAINS IN EFFECT FOR THE WARNED AREA. TORNADOES CAN DEVELOP QUICKLY FROM SEVERE THUNDERSTORMS. ALTHOUGH ONE IS NOT IMMEDIATELY LIKELY...IF A TORNADO IS SPOTTED...ACT QUICKLY AND MOVE TO A PLACE OF SAFETY INSIDE A STURDY STRUCTURE...SUCH AS A BASEMENT OR SMALL INTERIOR ROOM.

#end
#end
##
#if(${list.contains($bullets, "torPossibleTagCTA")})
REMAIN ALERT FOR A POSSIBLE TORNADO! TORNADOES CAN DEVELOP QUICKLY FROM SEVERE THUNDERSTORMS. IF YOU SPOT A TORNADO GO AT ONCE INTO THE BASEMENT OR SMALL CENTRAL ROOM IN A STURDY STRUCTURE.

#end
##
##
#if(${list.contains($bullets, "genericCTA")})
FOR YOUR PROTECTION MOVE TO AN INTERIOR ROOM ON THE LOWEST FLOOR OF A BUILDING.

#end
##
##
#if(${list.contains($bullets, "largeHailCTA")})
PREPARE IMMEDIATELY FOR LARGE HAIL AND DEADLY CLOUD TO GROUND LIGHTNING. SEEK SHELTER INSIDE A WELL-BUILT STRUCTURE. STAY AWAY FROM WINDOWS.

#end
##
#if(${list.contains($bullets, "largeHailWindCTA")})
PREPARE IMMEDIATELY FOR LARGE HAIL AND DAMAGING WINDS. PEOPLE OUTSIDE SHOULD MOVE TO A SHELTER...INSIDE A STRONG BUILDING AND AWAY FROM WINDOWS.

#end
##
#if(${list.contains($bullets, "historyHailCTA")})
#if(${stormType} == "line")
THESE STORMS ARE PRODUCING LARGE HAIL. SEEK SHELTER NOW INSIDE A STURDY STRUCTURE AND STAY AWAY FROM WINDOWS.

#else
THIS STORM IS PRODUCING LARGE HAIL. SEEK SHELTER NOW INSIDE A STURDY STRUCTURE AND STAY AWAY FROM WINDOWS.

#end
#end
##
#if(${list.contains($bullets, "historyWindCTA")})
#if(${stormType} == "line")
THIS IS A DANGEROUS SITUATION. THESE STORMS ARE PRODUCING WIDESPREAD WIND DAMAGE ACROSS !** ENTER LOCATION **!. SEEK SHELTER NOW INSIDE A STURDY STRUCTURE AND STAY AWAY FROM WINDOWS.
 
#else
THIS IS A DANGEROUS SITUATION. THIS STORM IS PRODUCING WIDESPREAD WIND DAMAGE ACROSS !** ENTER LOCATION **!. SEEK SHELTER NOW INSIDE A STURDY STRUCTURE AND STAY AWAY FROM WINDOWS.

#end
#end
##
#if(${list.contains($bullets, "veryLargeHailCTA")})
#if(${stormType} == "line")
THESE ARE DANGEROUS STORMS. PREPARE IMMEDIATELY FOR LARGE DESTRUCTIVE HAIL CAPABLE OF PRODUCING SIGNIFICANT DAMAGE. PEOPLE OUTSIDE SHOULD MOVE TO A SHELTER...INSIDE A STRONG BUILDING AND AWAY FROM WINDOWS.

#else
THIS IS A DANGEROUS STORM. PREPARE IMMEDIATELY FOR LARGE DESTRUCTIVE HAIL CAPABLE OF PRODUCING SIGNIFICANT DAMAGE. PEOPLE OUTSIDE SHOULD MOVE TO A SHELTER...INSIDE A STRONG BUILDING AND AWAY FROM WINDOWS.

#end
#end
##
#if(${list.contains($bullets, "extremeWindsCTA")})
#if(${stormType} == "line")
THIS IS AN EXTREMELY DANGEROUS SITUATION WITH TORNADO LIKE WIND SPEEDS EXPECTED. MOBILE HOMES AND HIGH PROFILE VEHICLES ARE ESPECIALLY SUSCEPTIBLE TO WINDS OF THIS MAGNITUDE AND MAY BE OVERTURNED. FOR YOUR PROTECTION MOVE TO AN INTERIOR ROOM ON THE LOWEST FLOOR OF A BUILDING. THESE STORMS HAVE THE POTENTIAL TO CAUSE SERIOUS INJURY AND SIGNIFICANT PROPERTY DAMAGE.

#else
THIS IS AN EXTREMELY DANGEROUS SITUATION WITH TORNADO LIKE WIND SPEEDS EXPECTED. MOBILE HOMES AND HIGH PROFILE VEHICLES ARE ESPECIALLY SUSCEPTIBLE TO WINDS OF THIS MAGNITUDE AND MAY BE OVERTURNED. FOR YOUR PROTECTION MOVE TO AN INTERIOR ROOM ON THE LOWEST FLOOR OF A BUILDING. THIS STORM HAS THE POTENTIAL TO CAUSE SERIOUS INJURY AND SIGNIFICANT PROPERTY DAMAGE.

#end
#end
##
#if(${list.contains($bullets, "deadlyStormCTA")})
#if(${stormType} == "line")
THESE ARE POTENTIALLY DEADLY STORMS. SEEK SHELTER IN AN INTERIOR ROOM ON THE LOWEST FLOOR OF A WELL-BUILT STRUCTURE. ABANDON VEHICLES IN SEARCH OF A MORE SUBSTANTIAL PERMANENT STRUCTURE. STAY AWAY FROM WINDOWS.

#else
THIS IS A POTENTIALLY DEADLY STORM. SEEK SHELTER IN AN INTERIOR ROOM ON THE LOWEST FLOOR OF A WELL-BUILT STRUCTURE. ABANDON VEHICLES IN SEARCH OF A MORE SUBSTANTIAL PERMANENT STRUCTURE. STAY AWAY FROM WINDOWS.

#end
#end
##
#if(${list.contains($bullets, "widespreadWindCTA")})
#if(${stormType} == "line")
THIS IS AN EXTREMELY DANGEROUS SITUATION. THESE STORMS ARE PRODUCING WIDESPREAD WIND DAMAGE ACROSS !** ENTER LOCATION **!. SEEK SHELTER NOW INSIDE A STURDY STRUCTURE AND STAY AWAY FROM WINDOWS.

#else
THIS IS AN EXTREMELY DANGEROUS SITUATION. THIS STORM IS PRODUCING WIDESPREAD WIND DAMAGE ACROSS !** ENTER LOCATION **!. SEEK SHELTER NOW INSIDE A STURDY STRUCTURE AND STAY AWAY FROM WINDOWS.

#end
#end
##
#if(${list.contains($bullets, "historyWindHailCTA")})
#if(${stormType} == "line")
THESE STORMS ARE PRODUCING DESTRUCTIVE WINDS AND LARGE DAMAGING HAIL. SEEK SHELTER NOW INSIDE A STURDY STRUCTURE AND STAY AWAY FROM WINDOWS.
 
#else
THIS STORM IS PRODUCING DESTRUCTIVE WINDS AND LARGE DAMAGING HAIL. SEEK SHELTER NOW INSIDE A STURDY STRUCTURE AND STAY AWAY FROM WINDOWS.

#end
#end
##
#if(${list.contains($bullets, "lawEnforcementCTA")})
TO REPORT SEVERE WEATHER CONTACT YOUR NEAREST LAW ENFORCEMENT AGENCY. THEY WILL SEND YOUR REPORT TO THE NATIONAL WEATHER SERVICE OFFICE IN ${officeLoc}.

#end
################################
## SPECIAL CASE CALLS TO ACTION
################################
#if(${list.contains($bullets, "gustFrontOutflowCTA")})
#if(${stormType} == "line")
WIND DAMAGE WITH THESE STORMS WILL OCCUR BEFORE ANY RAIN OR LIGHTNING. DO NOT WAIT FOR THE SOUND OF THUNDER BEFORE TAKING COVER. SEEK SHELTER IMMEDIATELY INSIDE A STURDY STRUCTURE AND STAY AWAY FROM WINDOWS.

#else
WIND DAMAGE WITH THIS STORM WILL OCCUR BEFORE ANY RAIN OR LIGHTNING. DO NOT WAIT FOR THE SOUND OF THUNDER BEFORE TAKING COVER. SEEK SHELTER IMMEDIATELY INSIDE A STURDY STRUCTURE AND STAY AWAY FROM WINDOWS.

#end
#end
##
#if(${list.contains($bullets, "squallLineCTA")})
#if(${stormType} == "line")
INTENSE SQUALL LINES CAN SOMETIMES PRODUCE BRIEF TORNADOES AND WIDESPREAD SIGNIFICANT WIND DAMAGE. ALTHOUGH NOT IMMEDIATELY LIKELY...IT IS BEST TO MOVE TO AN INTERIOR ROOM ON THE LOWEST FLOOR OF A BUILDING. THESE STORMS MAY CAUSE SERIOUS INJURY AND SIGNIFICANT PROPERTY DAMAGE.

#else
INTENSE SQUALL LINES CAN SOMETIMES PRODUCE BRIEF TORNADOES AND WIDESPREAD SIGNIFICANT WIND DAMAGE. ALTHOUGH NOT IMMEDIATELY LIKELY...IT IS BEST TO MOVE TO AN INTERIOR ROOM ON THE LOWEST FLOOR OF A BUILDING. THIS STORM MAY CAUSE SERIOUS INJURY AND SIGNIFICANT PROPERTY DAMAGE.

#end
#end
##
#if(${list.contains($bullets, "superCellsCTA")})
#if(${stormType} == "line")
THESE THUNDERSTORMS ARE CAPABLE OF PRODUCING ALL TYPES OF SEVERE WEATHER...INCLUDING EXTREMELY LARGE HAIL...DESTRUCTIVE STRAIGHT LINE WINDS...AND TORNADOES. MOVE QUICKLY TO A SAFE SHELTER...SUCH AS AN INTERIOR ROOM...A BATHROOM OR CLOSET OR BASEMENT.

#else
THIS THUNDERSTORM IS CAPABLE OF PRODUCING ALL TYPES OF SEVERE WEATHER...INCLUDING EXTREMELY LARGE HAIL...DESTRUCTIVE STRAIGHT LINE WINDS...AND TORNADOES. MOVE QUICKLY TO A SAFE SHELTER...SUCH AS AN INTERIOR ROOM...A BATHROOM OR CLOSET OR BASEMENT.

#end
#end
################################
## MISCELLANEOUS CALLS TO ACTION
################################
##
#if(${list.contains($bullets, "lightningCTA")})
#if(${stormType} == "line")
LARGE HAIL AND DAMAGING WINDS AND CONTINUOUS CLOUD TO GROUND LIGHTNING IS OCCURRING WITH THESE STORMS. MOVE INDOORS IMMEDIATELY. LIGHTNING IS ONE OF NATURES LEADING KILLERS. REMEMBER...IF YOU CAN HEAR THUNDER...YOU ARE CLOSE ENOUGH TO BE STRUCK BY LIGHTNING.

#else
LARGE HAIL AND DAMAGING WINDS AND CONTINUOUS CLOUD TO GROUND LIGHTNING IS OCCURRING WITH THIS STORM. MOVE INDOORS IMMEDIATELY. LIGHTNING IS ONE OF NATURES LEADING KILLERS. REMEMBER...IF YOU CAN HEAR THUNDER...YOU ARE CLOSE ENOUGH TO BE STRUCK BY LIGHTNING.

#end
#end
##
#if(${list.contains($bullets, "boatersCTA")})
IF ON OR NEAR !**Name Of Lake**!...GET AWAY FROM THE WATER AND MOVE INDOORS OR INSIDE A VEHICLE. REMEMBER...LIGHTNING CAN STRIKE OUT TO 15 MILES FROM THE PARENT THUNDERSTORM. IF YOU CAN HEAR THUNDER...YOU ARE CLOSE ENOUGH TO BE STRUCK BY LIGHTNING. MOVE TO SAFE SHELTER NOW.  DO NOT BE CAUGHT ON THE WATER IN A THUNDERSTORM.

#end
##
#if(${list.contains($bullets, "torrentialRainfallCTA")})
#if(${stormType} == "line")
TORRENTIAL RAINFALL IS OCCURRING WITH THESE STORMS...AND MAY LEAD TO FLASH FLOODING. DO NOT DRIVE YOUR VEHICLE THROUGH FLOODED ROADWAYS.

#else
TORRENTIAL RAINFALL IS OCCURRING WITH THIS STORM...AND MAY LEAD TO FLASH FLOODING. DO NOT DRIVE YOUR VEHICLE THROUGH FLOODED ROADWAYS.

#end
#end
##
#if(${ctaSelected} == "YES") 
&&

#end
#if(${productClass}=="T")
THIS IS A TEST MESSAGE. DO NOT TAKE ACTION BASED ON THIS MESSAGE.

#end

#printcoords(${areaPoly}, ${list})

TIME...MOT...LOC ##
${dateUtil.format(${event}, ${timeFormat.time})}Z ##
${mathUtil.roundAndPad(${movementDirection})}DEG ##
${mathUtil.round(${movementInKnots})}KT ##
#foreach(${eventCoord} in ${eventLocation})
#llFormat(${eventCoord.y}) #llFormat(${eventCoord.x}) ##
#end
##################################################################
## SVR Tornado/Wind/Hail Tags used by CR for the impact based Warning Experiment.
##################################################################

#if(${phenomena}=="SV")

${svrTorTag}
<L>${hailTag}</L>
<L>${windTag}</L>
#end
###########################################################################
## TOR Tornado/Hail/Wind Tags used by CR for the impact based Warning Experiment.
###########################################################################
#if(${phenomena}=="TO")

<L>TORNADO...${torTag}</L>
#if($torThreat.length() > 0)
${torThreat}
#end
<L>${hailTag}</L>
## UNCOMMENT OUT THE LINE BELOW TO USE THE WIND TAG
##<L>${windTag}</L>
#end
##
###########################################################################
#end


$$
##############################################
#### END CONTINUATION SECTON #################
##############################################

##############################################
## Code to pull the user name into the product
##############################################
##${user}
##################################################################
## If you decide to pull the user name from a file use this coding
##################################################################
##parse("name.vm")
!**NAME/INITIALS**!
