<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.svrl.rsc.SvrlResource"
            name="SVRL"
            recordClass="gov.noaa.nws.ncep.edex.plugin.aww.common.AwwRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW">
      </resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.svrl.rsc.SvrlResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="SVRL">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceParameter">
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="thunderstormEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="thunderstormColor"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="thunderstormSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="thunderstormSymbolSize"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="tornadoEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="tornadoColor"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="tornadoSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="tornadoSymbolSize"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="Watchxxx0Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="Watchxxx0Color"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="Watchxxx0SymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="Watchxxx0SymbolSize"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="Watchxxx1Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="Watchxxx1Color"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="Watchxxx1SymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="Watchxxx1SymbolSize"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="Watchxxx2Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="Watchxxx2Color"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="Watchxxx2SymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="Watchxxx2SymbolSize"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="Watchxxx3Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="Watchxxx3Color"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="Watchxxx3SymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="Watchxxx3SymbolSize"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="Watchxxx4Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="Watchxxx4Color"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="Watchxxx4SymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="Watchxxx4SymbolSize"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="Watchxxx5Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="Watchxxx5Color"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="Watchxxx5SymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="Watchxxx5SymbolSize"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="Watchxxx6Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="Watchxxx6Color"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="Watchxxx6SymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="Watchxxx6SymbolSize"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="Watchxxx7Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="Watchxxx7Color"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="Watchxxx7SymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="Watchxxx7SymbolSize"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="Watchxxx8Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="Watchxxx8Color"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="Watchxxx8SymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="Watchxxx8SymbolSize"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="Watchxxx9Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="Watchxxx9Color"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="Watchxxx9SymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="Watchxxx9SymbolSize"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watchBoxTimeEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watchBoxLabelEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watchBoxNumberEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="colorCodeEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watchBoxOutlineEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SVRL">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            ncResourceName="SVRL"
            paramClass="String"
            paramName="reportType"
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            ncResourceName="SVRL"
            paramClass="String"
            paramName="color"
            defaultValue="RGB {155, 155, 155}"
            paramType="IMPLEMENTATION_PARAM">
      </nc-resourceParameter>
      
   </extension>

</plugin>
