<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.svrl.rsc.SvrlResource"
            name="SVRL"
            recordClass="gov.noaa.nws.ncep.edex.plugin.aww.common.AwwRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW">
      </resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.svrl.rsc.SvrlResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="SVRL">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceAttribute">
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="thunderstormEnable"
            defaultValue="true"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="thunderstormColor"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="thunderstormSymbolWidth"
            defaultValue="1"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="thunderstormSymbolSize"
            defaultValue="1"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="tornadoEnable"
            defaultValue="true"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="tornadoColor"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="tornadoSymbolWidth"
            defaultValue="1"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="tornadoSymbolSize"
            defaultValue="1"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="Watchxxx0Enable"
            defaultValue="true"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="Watchxxx0Color"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="Watchxxx0SymbolWidth"
            defaultValue="1"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="Watchxxx0SymbolSize"
            defaultValue="1"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="Watchxxx1Enable"
            defaultValue="true"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="Watchxxx1Color"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="Watchxxx1SymbolWidth"
            defaultValue="1"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="Watchxxx1SymbolSize"
            defaultValue="1"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="Watchxxx2Enable"
            defaultValue="true"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="Watchxxx2Color"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="Watchxxx2SymbolWidth"
            defaultValue="1"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="Watchxxx2SymbolSize"
            defaultValue="1"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="Watchxxx3Enable"
            defaultValue="true"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="Watchxxx3Color"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="Watchxxx3SymbolWidth"
            defaultValue="1"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="Watchxxx3SymbolSize"
            defaultValue="1"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="Watchxxx4Enable"
            defaultValue="true"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="Watchxxx4Color"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="Watchxxx4SymbolWidth"
            defaultValue="1"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="Watchxxx4SymbolSize"
            defaultValue="1"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="Watchxxx5Enable"
            defaultValue="true"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="Watchxxx5Color"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="Watchxxx5SymbolWidth"
            defaultValue="1"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="Watchxxx5SymbolSize"
            defaultValue="1"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="Watchxxx6Enable"
            defaultValue="true"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="Watchxxx6Color"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="Watchxxx6SymbolWidth"
            defaultValue="1"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="Watchxxx6SymbolSize"
            defaultValue="1"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="Watchxxx7Enable"
            defaultValue="true"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="Watchxxx7Color"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="Watchxxx7SymbolWidth"
            defaultValue="1"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="Watchxxx7SymbolSize"
            defaultValue="1"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="Watchxxx8Enable"
            defaultValue="true"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="Watchxxx8Color"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="Watchxxx8SymbolWidth"
            defaultValue="1"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="Watchxxx8SymbolSize"
            defaultValue="1"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="Watchxxx9Enable"
            defaultValue="true"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="Watchxxx9Color"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="Watchxxx9SymbolWidth"
            defaultValue="1"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="Watchxxx9SymbolSize"
            defaultValue="1"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watchBoxTimeEnable"
            defaultValue="true"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watchBoxLabelEnable"
            defaultValue="true"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watchBoxNumberEnable"
            defaultValue="true"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="colorCodeEnable"
            defaultValue="true"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watchBoxOutlineEnable"
            defaultValue="true"
            ncResourceName="SVRL">
      </nc-resourceAttribute>
      </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.localization.localizationData">
      <singleLocalizationValue
            fileName="county.xml"
            location="stns"
            name="cntyStationFile">
      </singleLocalizationValue>
   </extension>

</plugin>
