<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <!--command
            id="gov.noaa.nws.ncep.viz.rsc.fits.actions.loadHalphaImage"
            name="Load STEREO Images">
         <commandParameter
               id="instrument"
               name="instrument"
               optional="false">
         </commandParameter>
      </command-->
      <command
            id="gov.noaa.nws.ncep.viz.timeseries.actions.loadTimeSeries"
            name="Load Time Series Graph">
      </command>
      <command
            id="gov.noaa.nws.ncep.viz.timeseries.actions.GeoMagPlotAction"
            name="Load Magnetometer Plots">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="gov.noaa.nws.ncep.viz.timeseries.actions.TimeSeriesAction"
            commandId="gov.noaa.nws.ncep.viz.timeseries.actions.loadTimeSeries">
      </handler>
      <handler
            class="gov.noaa.nws.ncep.viz.timeseries.actions.GeoMagPlotAction"
            commandId="gov.noaa.nws.ncep.viz.timeseries.actions.GeoMagPlotAction">
      </handler>
   </extension>
      
   <!--extension
         point="org.eclipse.ui.editors">
      <editor
         class="com.raytheon.uf.viz.xy.VizXyEditor"
         default="true"  
         id="gov.noaa.nws.ncep.viz.rsc.fits.SolarImageEditor"
         name="Solar Image">
      </editor>
   </extension-->
      <extension
         point="com.raytheon.uf.viz.core.descriptor">
      <descriptor
      		name="GeoMagDescriptor"
            class="gov.noaa.nws.ncep.viz.timeseries.GeoMagDescriptor"
            editor="com.raytheon.uf.viz.xy.timeseries.TimeSeriesEditor">
      </descriptor>
   </extension>
      
   <extension
         point="com.raytheon.uf.viz.xy.timeseries.timeseriesadapter">
      <timeSeriesAdapter
            adapter="gov.noaa.nws.ncep.viz.timeseries.GeoMagTimeSeriesAdapter"
            class="gov.noaa.nws.ncep.common.dataplugin.geomag.GeoMagRecord"
            name="Test Time Series Adapter">
      </timeSeriesAdapter>
   </extension>
      
      
</plugin>
