<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="gov.noaa.nws.ncep.viz.ui.display.NatlCntrsEditor"
            default="true"
            id=   "gov.noaa.nws.ncep.viz.ui.display.NcMapEditor"
            name="NcMAP Display">
      </editor>
      <editor
            class="gov.noaa.nws.ncep.viz.ui.display.NatlCntrsEditor"
            default="true"
            id=   "gov.noaa.nws.ncep.viz.ui.display.SolarDisplay"
            name="SOLAR Display">
      </editor>      
      <editor
            class="gov.noaa.nws.ncep.viz.ui.display.NatlCntrsEditor"
            default="true"
            id=   "gov.noaa.nws.ncep.viz.ui.display.NTransDisplay"
            name="NTRANS Display">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="gov.noaa.nws.ncep.viz.ui.display.isMapEditor">
         <with
               variable="activeEditorId">
            <equals
                  value="gov.noaa.nws.ncep.viz.ui.display.NcMapEditor">
            </equals>
         </with>
      </definition>
   </extension>
   
   <!-- I don't believe this is used -->
   <extension
         point="com.raytheon.uf.viz.core.descriptor">
      <descriptor
      		name="NcMapDescriptor"
            class="gov.noaa.nws.ncep.viz.ui.display.NCMapDescriptor"
            editor="gov.noaa.nws.ncep.viz.ui.display.NcMapEditor">
      </descriptor>
      <descriptor
      		name="NcNonMapDescriptor"
            class="gov.noaa.nws.ncep.viz.ui.display.NCNonMapDescriptor"
            editor="gov.noaa.nws.ncep.viz.ui.display.NTransDisplay">
      </descriptor>
   </extension>
   
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="gov.noaa.nws.ncep.viz.ui.display.ZoomStateSourceProvider">
         <variable
               name="gov.noaa.nws.ncep.viz.tools.zoomState"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>

   <extension
          point="com.raytheon.uf.viz.localization.localizationpath">
       	<path
             application="NCEP"
             localizationType="CAVE_STATIC"
             name="Color Bars"
             recursive="true"
             value="ncep/ColorBars"
	         extensionFilter=".xml">
       </path>
    </extension>

<!--  Example Mouse actions from core/d2d
<extension
      point="com.raytheon.uf.viz.ui.mouse.action">
      <mouseAction 
      	id="com.raytheon.viz.ui.input.pan"
      	default="Left Drag,Middle Drag"
      	description="Pan"
      	eventOptions="Left Drag,Middle Drag"
      	name="Panning" 
      	category="Navigation">
      </mouseAction>
      <mouseAction 
      	id="com.raytheon.viz.ui.input.zoomin"
      	default="Scroll Forward,Middle Click"
      	description="Zoom In"
      	eventOptions="Long Left Click,Long Middle Click,Left Click,Middle Click,Right Click,Scroll Forward,Scroll Back"
      	name="Zoom In" 
      	category="Navigation">
      </mouseAction>
     <mouseAction 
      	id="com.raytheon.viz.ui.input.zoomout"
      	default="Scroll Back"
      	description="Zoom out"
      	eventOptions="Long Left Click,Long Middle Click,Left Click,Middle Click,Right Click,Scroll Forward,Scroll Back"
      	name="Zoom Out" 
      	category="Navigation">
      </mouseAction>
      <mouseAction 
      	id="com.raytheon.viz.ui.input.inspect"
      	description="Sample loaded resources"
      	eventOptions="Left Click,Middle Click,Long Left Click,Long Middle Click"
      	name="Sample" 
      	category="Editor Action">
      </mouseAction>
      <mouseAction 
      	id="com.raytheon.viz.ui.clear"
      	description="Reset a map, removing all maps and resources"
      	eventOptions="Left Click,Middle Click,Right Click,Scroll Forward,Scroll Back"
      	name="Clear" 
      	category="Editor Action">
      </mouseAction>
      <mouseAction 
      	id="com.raytheon.viz.ui.input.resource.edit"
      	default="Middle Click"
      	description="Toggle Editable mode on editable resources"
      	eventOptions="Left Click,Middle Click"
      	name="Edit Resource" 
      	category="Legend Interaction">
      </mouseAction>
      <mouseAction 
      	id="com.raytheon.viz.ui.contextmenu"
      	default="Long Right Click"
      	description="Load Context Menu"
      	eventOptions="Right Click,Long Right Click"
      	name="Context Menu" 
      	category="Editor Action">
      </mouseAction>
	</extension>
<extension
      point="com.raytheon.uf.viz.ui.mouse.action">
      <mouseAction 
      	id="com.raytheon.viz.d2d.ui.toggleLegend"
      	default="Right Click"
      	description="Switch which Legends are displayed"
      	eventOptions="Left Click,Middle Click,Right Click"
      	name="Toggle Legends" 
      	category="Editor Action">
      </mouseAction>
      <mouseAction 
      	id="com.raytheon.viz.d2d.ui.hide.resource"
      	default="Left Click"
      	description="Show/Hide a resource when a user clicks on the title in the legend"
      	eventOptions="Left Click,Middle Click"
      	name="Show/Hide Resource" 
      	category="Legend Interaction">
      </mouseAction>
	</extension>
-->
   
<!-- moved pgen and nc perspective context declarations from here to pgen and perspective plugins -->
   <extension
          point="org.eclipse.ui.contexts">
           <context 
                    description="The National Centers Map Editor Context"
                    id="gov.noaa.nws.ncep.viz.ui.display.NCMapContext"
                    name="Natl Centers Map Editor Context">
           </context>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.classContext">
         <classContext
            class="gov.noaa.nws.ncep.viz.ui.display.NatlCntrsEditor">
             <contextId
                   id="gov.noaa.nws.ncep.viz.ui.display.NCMapContext">
             </contextId>
         </classContext>
   </extension>
<!--
   <extension
         point="com.raytheon.uf.viz.core.graphicsTarget">
      <graphicsTarget
            class="gov.noaa.nws.ncep.viz.ui.display.NCGLTarget"
            name="NC-2D">
      </graphicsTarget>
   </extension>
-->
    <extension point="gov.noaa.nws.ncep.viz.common.areaProvider">
       <areaProviderSource
             areaSourceName="DISPLAY_AREA"
             isImageBased="false"
             sourceFactory="gov.noaa.nws.ncep.viz.ui.display.NcDisplayAreaProviderFactory"
             sourceLocation="current displays"/>    
               
   </extension>
    <extension point="gov.noaa.nws.ncep.viz.common.areaProvider">
       <areaProviderSource
             areaSourceName="INITIAL_DISPLAY_AREA"
             isImageBased="false"
             sourceFactory="gov.noaa.nws.ncep.viz.ui.display.NcDisplayAreaProviderFactory"
             sourceLocation="initial area of current displays"/>    
               
   </extension>

</plugin>
