#macro(standardSelect $scriptLibrary $maxRecords $scriptMetadata $ignoreDataTime)
include("${scriptLibrary}.js");
#set($pluginName = $scriptMetadata.get("pluginName").constraintValue)
var dataRequest = new ${scriptLibrary}("${pluginName}");
dataRequest.setCount(${maxRecords});
#foreach (${key} in ${scriptMetadata.keySet()})  
#if(${key})
#if(${key} != "pluginName" && (${key} != "dataTime" || !${ignoreDataTime}))
#set($constraint = $scriptMetadata.get($key))
#if(${constraint.constraintType} == "IN")
dataRequest.addList("${key}", "${constraint.constraintValue}");
#elseif(${constraint.constraintType} == "LIKE")
dataRequest.addParameter("${key}", "${constraint.constraintValue}", "like");
#else
dataRequest.addParameter("${key}", "${constraint.constraintValue}");
#end
#end
#end
#end
dataRequest.execute();
#end


#macro(standardCatalog $scriptLibrary $scriptMetadata)
include("CatalogQuery.js");
var query = new CatalogQuery("distinctValue");
query.setQueryField('$scriptMetadata.get("fieldName").constraintValue');

#foreach (${name} in ${scriptMetadata.keySet()}) 
#set($constraint = $scriptMetadata.get($name))
#if ($name == "pluginName") 
#set($name = "plugin")
#end
#if($name != "fieldName")
#set($operand = "=")
#if ($constraint.constraintType == "NOT_EQUALS")
#set($operand = "!=")
#elseif ($constraint.constraintType == "GREATER_THAN")
#set($operand = ">")
#elseif ($constraint.constraintType == "GREATER_THAN_EQUALS")
#set($operand = ">=")
#elseif ($constraint.constraintType == "LESS_THAN") 
#set($operand = "<")
#elseif ($constraint.constraintType == "LESS_THAN_EQUALS") 
#set($operand = "<=")    
#elseif ($constraint.constraintType == "BETWEEN") 
#set($operand = "between")  
#elseif ($constraint.constraintType == "IN") 
#set($operand = "in")
#elseif ($constraint.constraintType == "LIKE") 
#set($operand = "like")
#end     
query.addConstraint("${name}","${constraint.constraintValue}","${operand}");
#end
#end
query.execute();
#end

#macro(standardLatestTime $scriptMetadata)
include("LatestTime.js");
var ltq = new LatestTimeQuery('$scriptMetadata.get("uriList").constraintValue');
ltq.execute();
#end