<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin> 
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.solarimage.rsc.SolarImageResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.rsc.solarimage.rsc.EditSolarImageAttrsDialog"
            name="SolarImage">
      </nc-resource>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.solarimage.rsc.SolarImageResource"
            recordClass="gov.noaa.nws.ncep.common.dataplugin.solarimage.SolarImageRecord"
            name="SolarImageResource"
            renderingOrderId="PLOT" 
            resourceType="PLAN_VIEW"/>
   </extension>
   
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceParameter">
 
      <nc-resourceParameter
            paramClass="gov.noaa.nws.ncep.viz.ui.display.ColorBarFromColormap"
            paramName="colorBar"
            paramType="EDITABLE_ATTRIBUTE"
            paramRefLocation="ncep/ColorBars/Solar"
            ncResourceName="SolarImage">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="colorMapName"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SolarImage">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Float"
            paramName="alpha"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"
            ncResourceName="SolarImage">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Float"
            paramName="brightness"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"
            ncResourceName="SolarImage">
      </nc-resourceParameter>      
      <nc-resourceParameter
            paramClass="Float"
            paramName="contrast"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"
            ncResourceName="SolarImage">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="imageFunction"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue=""
            ncResourceName="SolarImage">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramName="satellite"
            ncResourceName="SolarImage"
            paramClass="String"
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramName="instrument"
            ncResourceName="SolarImage"
            paramClass="String"
            defaultValue="%"
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>
      <!-- since this is given in the attribute sets it must have a default 
           value given so that the code can 'validate' a rsc defn up front (ie w/o an attr set)
        -->
      <nc-resourceParameter
            ncResourceName="SolarImage"
            paramClass="String"
            paramName="wavelength"
            defaultValue="NA"
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>
      <nc-resourceParameter
            ncResourceName="SolarImage"
            paramClass="Double"
            paramName="intTime"
            defaultValue="0.0"           
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter> 
      <nc-resourceParameter
            ncResourceName="SolarImage"
            paramClass="String"
            paramName="site"
            defaultValue="NA"           
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>     
      <nc-resourceParameter
            ncResourceName="SolarImage"
            paramClass="String"
            paramName="reportType"
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>      
   </extension>
   
   <extension
      point="com.raytheon.viz.ui.contextualMenu">
      <contextualMenu
            actionClass="gov.noaa.nws.ncep.viz.rsc.solarimage.actions.EnableDisableSamplingAction"
            capabilityInterface="gov.noaa.nws.ncep.viz.rsc.solarimage.rsc.SolarImageResource"
            name="Sample"
            sortID="14">
      </contextualMenu>
   </extension> 
   
   <extension
      point="com.raytheon.viz.ui.contextualMenu">
      <contextualMenu
            actionClass="gov.noaa.nws.ncep.viz.rsc.solarimage.actions.StonyLatLonAction"
            capabilityInterface="gov.noaa.nws.ncep.viz.rsc.solarimage.rsc.SolarImageResource"
            capabilityClass="gov.noaa.nws.ncep.viz.rsc.solarimage.rsc.SolarImageResource"
            name="StonyLatLon"            
            sortID="15">
      </contextualMenu>     
   </extension>
   <extension
      point="com.raytheon.viz.ui.contextualMenu">
      <contextualMenu
            actionClass="gov.noaa.nws.ncep.viz.rsc.solarimage.actions.CarrLatLonAction"
            capabilityInterface="gov.noaa.nws.ncep.viz.rsc.solarimage.rsc.SolarImageResource"
            capabilityClass="gov.noaa.nws.ncep.viz.rsc.solarimage.rsc.SolarImageResource"
            name="CarrLatLon"            
            sortID="16">
      </contextualMenu>
    </extension>        
    <extension
      point="com.raytheon.viz.ui.contextualMenu">
      <contextualMenu
            actionClass="gov.noaa.nws.ncep.viz.rsc.solarimage.actions.CylindricalCedAction"
            capabilityInterface="gov.noaa.nws.ncep.viz.rsc.solarimage.rsc.SolarImageResource"
            capabilityClass="gov.noaa.nws.ncep.viz.rsc.solarimage.rsc.SolarImageResource"
            name="CylindricCedDiplay"            
            sortID="13">
      </contextualMenu>
    </extension>
</plugin>
