<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.atcf.rsc.AtcfResource"
            name="ATCF"
            recordClass="gov.noaa.nws.ncep.common.dataplugin.atcf.AtcfRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW">
      </resource>
   </extension>
    <extension
         point="com.raytheon.uf.viz.core.scriptTemplate">
      <scriptTemplate
            pluginName="atcf"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
       <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.atcf.rsc.AtcfResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="ATCF">
      </nc-resource>
   </extension> 
      <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceAttribute">
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="ohpcEnable"
            defaultValue="true"
            ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="ohpcColor"
            defaultValue="RGB {255,0,0}"
               
            ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="ohpcLineWidth"
            defaultValue="3"
              
             ncResourceName="ATCF">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="ohpcSymbolWidth"
            defaultValue="1"
               
            ncResourceName="ATCF">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="ohpcSymbolSize"
            defaultValue="1.0"
              
             ncResourceName="ATCF">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="clipEnable"
            defaultValue="true"
              
             ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="clipColor"
            defaultValue="RGB {0,255,0}"
              
             ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="clipLineWidth"
            defaultValue="3"
              
             ncResourceName="ATCF">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="clipSymbolWidth"
            defaultValue="1"
               
            ncResourceName="ATCF">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="clipSymbolSize"
            defaultValue="1.0"
               
            ncResourceName="ATCF">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="avnoEnable"
            defaultValue="true"
               
            ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="avnoColor"
            defaultValue="RGB {0,0,255}"
               
            ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="avnoLineWidth"
            defaultValue="3"
               
            ncResourceName="ATCF">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="avnoSymbolWidth"
            defaultValue="1"
               
            ncResourceName="ATCF">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="avnoSymbolSize"
            defaultValue="1.0"
               
            ncResourceName="ATCF">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="mrfoEnable"
            defaultValue="true"
               
            ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="mrfoColor"
            defaultValue="RGB {255,255,0}"
               
            ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="mrfoLineWidth"
            defaultValue="3"
               
            ncResourceName="ATCF">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="mrfoSymbolWidth"
            defaultValue="1"
               
            ncResourceName="ATCF">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="mrfoSymbolSize"
            defaultValue="1.0"
              
             ncResourceName="ATCF">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="ukmEnable"
            defaultValue="true"
              
             ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="ukmColor"
            defaultValue="RGB {255,174,185}"
             
              ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="ukmLineWidth"
            defaultValue="3"
             
              ncResourceName="ATCF">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="ukmSymbolWidth"
            defaultValue="1"
              
             ncResourceName="ATCF">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="ukmSymbolSize"
            defaultValue="1.0"
               ncResourceName="ATCF">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="avniEnable"
            defaultValue="true"
              
             ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="avniColor"
            defaultValue="RGB {0,205,0}"
              
             ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="avniLineWidth"
            defaultValue="3"
              
             ncResourceName="ATCF">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="avniSymbolWidth"
            defaultValue="1"
              
             ncResourceName="ATCF">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="avniSymbolSize"
            defaultValue="1.0"
              
             ncResourceName="ATCF">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="namiEnable"
            defaultValue="true"
              
             ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="namiColor"
            defaultValue="RGB {238,64,0}"
              
             ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="namiLineWidth"
            defaultValue="3"
               
            ncResourceName="ATCF">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="namiSymbolWidth"
            defaultValue="1"
             
 ncResourceName="ATCF">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="namiSymbolSize"
            defaultValue="1.0"
              
             ncResourceName="ATCF">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="emx2Enable"
            defaultValue="true"
               
            ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="emx2Color"
            defaultValue="RGB {255,0,0}"
               
            ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="emx2LineWidth"
            defaultValue="3"
               
            ncResourceName="ATCF">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="emx2SymbolWidth"
            defaultValue="1"
              
             ncResourceName="ATCF">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="emx2SymbolSize"
            defaultValue="1.0"
               
            ncResourceName="ATCF">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="egriEnable"
            defaultValue="true"
               
            ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="egriColor"
            defaultValue="RGB {0,0,255}"
             
 ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="egriLineWidth"
            defaultValue="3"
              
             ncResourceName="ATCF">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="egriSymbolWidth"
            defaultValue="1"
               
            ncResourceName="ATCF">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="egriSymbolSize"
            defaultValue="1.0"
              
             ncResourceName="ATCF">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="ngpiEnable"
            defaultValue="true"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="ngpiColor"
            defaultValue="RGB {0,178,238}"
               
            ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="ngpiLineWidth"
            defaultValue="3"
              
             ncResourceName="ATCF">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="ngpiSymbolWidth"
            defaultValue="1"
              
             ncResourceName="ATCF">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="ngpiSymbolSize"
            defaultValue="1.0"
              
ncResourceName="ATCF">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="ukm2Enable"
            defaultValue="true"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="ukm2Color"
            defaultValue="RGB {255,127,0}"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="ukm2LineWidth"
            defaultValue="3"
               ncResourceName="ATCF">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="ukm2SymbolWidth"
            defaultValue="1"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="ukm2SymbolSize"
            defaultValue="1.0"
               ncResourceName="ATCF">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="hwfiEnable"
            defaultValue="true"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="hwfiColor"
            defaultValue="RGB {205,0,0}"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="hwfiLineWidth"
            defaultValue="3"
               ncResourceName="ATCF">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="hwfiSymbolWidth"
            defaultValue="1"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="hwfiSymbolSize"
            defaultValue="1.0"
               ncResourceName="ATCF">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="ghmiEnable"
            defaultValue="true"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="ghmiColor"
            defaultValue="RGB {255,165,79}"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="ghmiLineWidth"
            defaultValue="3"
               ncResourceName="ATCF">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="ghmiSymbolWidth"
            defaultValue="1"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="ghmiSymbolSize"
            defaultValue="1.0"
               ncResourceName="ATCF">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="gfniEnable"
            defaultValue="true"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="gfniColor"
            defaultValue="RGB {255,174,185}"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="gfniLineWidth"
            defaultValue="3"
               ncResourceName="ATCF">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="gfniSymbolWidth"
            defaultValue="1"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="gfniSymbolSize"
            defaultValue="1.0"
               ncResourceName="ATCF">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="aemiEnable"
            defaultValue="true"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="aemiColor"
            defaultValue="RGB {205,133,0}"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="aemiLineWidth"
            defaultValue="3"
               ncResourceName="ATCF">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="aemiSymbolWidth"
            defaultValue="1"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="aemiSymbolSize"
            defaultValue="1.0"
               ncResourceName="ATCF">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="tconEnable"
            defaultValue="true"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="tconColor"
            defaultValue="RGB {145,44,238}"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="tconLineWidth"
            defaultValue="3"
               ncResourceName="ATCF">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="tconSymbolWidth"
            defaultValue="1"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="tconSymbolSize"
            defaultValue="1.0"
               ncResourceName="ATCF">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="gunaEnable"
            defaultValue="true"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="gunaColor"
            defaultValue="RGB {30,144,255}"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="gunaLineWidth"
            defaultValue="3"
               ncResourceName="ATCF">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="gunaSymbolWidth"
            defaultValue="1"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="gunaSymbolSize"
            defaultValue="1.0"
               ncResourceName="ATCF">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="tvcnEnable"
            defaultValue="true"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="tvcnColor"
            defaultValue="RGB {255,106,106}"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="tvcnLineWidth"
            defaultValue="3"
               ncResourceName="ATCF">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="tvcnSymbolWidth"
            defaultValue="1"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="tvcnSymbolSize"
            defaultValue="1.0"
               ncResourceName="ATCF">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="emxiEnable"
            defaultValue="true"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="emxiColor"
            defaultValue="RGB {0,139,0}"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="emxiLineWidth"
            defaultValue="3"
               ncResourceName="ATCF">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="emxiSymbolWidth"
            defaultValue="1"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="emxiSymbolSize"
            defaultValue="1.0"
               ncResourceName="ATCF">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="fsseEnable"
            defaultValue="true"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="fsseColor"
            defaultValue="RGB {0,255,0}"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="fsseLineWidth"
            defaultValue="3"
               ncResourceName="ATCF">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="fsseSymbolWidth"
            defaultValue="1"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="fsseSymbolSize"
            defaultValue="1.0"
               ncResourceName="ATCF">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="ukmiEnable"
            defaultValue="true"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="ukmiColor"
            defaultValue="RGB {0,255,255}"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="ukmiLineWidth"
            defaultValue="3"
               ncResourceName="ATCF">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="ukmiSymbolWidth"
            defaultValue="1"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="ukmiSymbolSize"
            defaultValue="1.0"
               ncResourceName="ATCF">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="bammEnable"
            defaultValue="true"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="bammColor"
            defaultValue="RGB {255,215,0}"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="bammLineWidth"
            defaultValue="3"
               ncResourceName="ATCF">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="bammSymbolWidth"
            defaultValue="1"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="bammSymbolSize"
            defaultValue="1.0"
               ncResourceName="ATCF">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="bamdEnable"
            defaultValue="true"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="bamdColor"
            defaultValue="RGB {238,238,0}"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="bamdLineWidth"
            defaultValue="3"
               ncResourceName="ATCF">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="bamdSymbolWidth"
            defaultValue="1"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="bamdSymbolSize"
            defaultValue="1.0"
               ncResourceName="ATCF">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="bamsEnable"
            defaultValue="true"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="bamsColor"
            defaultValue="RGB {255,255,0}"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="bamsLineWidth"
            defaultValue="3"
               ncResourceName="ATCF">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="bamsSymbolWidth"
            defaultValue="1"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="bamsSymbolSize"
            defaultValue="1.0"
               ncResourceName="ATCF">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="egr2Enable"
            defaultValue="true"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="egr2Color"
            defaultValue="RGB {255,0,255}"
               ncResourceName="ATCF">
      </nc-resourceAttribute>         
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="egr2LineWidth"
            defaultValue="3"
               ncResourceName="ATCF">
       </nc-resourceAttribute>
       <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="egr2SymbolWidth"
            defaultValue="1"
               
            ncResourceName="ATCF">
      </nc-resourceAttribute>         
       <nc-resourceAttribute
            attributeClass="Float"
            attributeName="egr2SymbolSize"
            defaultValue="1.0"
              
             ncResourceName="ATCF">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="timeEnable"
            defaultValue="true"
              
             ncResourceName="ATCF">
      </nc-resourceAttribute> 
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="nameEnable"
            defaultValue="true"
             
              ncResourceName="ATCF">
      </nc-resourceAttribute>  
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="speedEnable"
            defaultValue="false"
               
            ncResourceName="ATCF">
      </nc-resourceAttribute>               
      <nc-resourceAttribute      
            attributeClass="Boolean"
            attributeName="markerEnable"
            defaultValue="false"
               
            ncResourceName="ATCF">
      </nc-resourceAttribute>        
      </extension>   
</plugin>
   