<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.atcf.rsc.AtcfResource"
            name="ATCF"
            recordClass="gov.noaa.nws.ncep.common.dataplugin.atcf.AtcfRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW">
      </resource>
   </extension>
    <extension
         point="com.raytheon.uf.viz.core.scriptTemplate">
      <scriptTemplate
            pluginName="atcf"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
       <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.atcf.rsc.AtcfResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="ATCF">
      </nc-resource>
   </extension> 
      <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceParameter">
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="ohpcEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="ohpcColor"
            defaultValue="RGB {255,0,0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="ohpcLineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
             ncResourceName="ATCF">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="ohpcSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ATCF">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="ohpcSymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
             ncResourceName="ATCF">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="clipEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
             ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="clipColor"
            defaultValue="RGB {0,255,0}"
            paramType="EDITABLE_ATTRIBUTE"
             ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="clipLineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
             ncResourceName="ATCF">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="clipSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ATCF">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="clipSymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ATCF">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="avnoEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="avnoColor"
            defaultValue="RGB {0,0,255}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="avnoLineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ATCF">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="avnoSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ATCF">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="avnoSymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ATCF">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="mrfoEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="mrfoColor"
            defaultValue="RGB {255,255,0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="mrfoLineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ATCF">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="mrfoSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ATCF">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="mrfoSymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
             ncResourceName="ATCF">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="ukmEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
             ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="ukmColor"
            defaultValue="RGB {255,174,185}"
            paramType="EDITABLE_ATTRIBUTE"
              ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="ukmLineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
              ncResourceName="ATCF">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="ukmSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
             ncResourceName="ATCF">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="ukmSymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ATCF">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="avniEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
             ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="avniColor"
            defaultValue="RGB {0,205,0}"
            paramType="EDITABLE_ATTRIBUTE"
             ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="avniLineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
             ncResourceName="ATCF">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="avniSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
             ncResourceName="ATCF">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="avniSymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ATCF">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="namiEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
             ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="namiColor"
            defaultValue="RGB {238,64,0}"
            paramType="EDITABLE_ATTRIBUTE"
             ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="namiLineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ATCF">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="namiSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ATCF">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="namiSymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
             ncResourceName="ATCF">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="emx2Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="emx2Color"
            defaultValue="RGB {255,0,0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="emx2LineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
               
            ncResourceName="ATCF">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="emx2SymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
              
             ncResourceName="ATCF">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="emx2SymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
               
            ncResourceName="ATCF">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="egriEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
               
            ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="egriColor"
            defaultValue="RGB {0,0,255}"
            paramType="EDITABLE_ATTRIBUTE"
             
 ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="egriLineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
              
             ncResourceName="ATCF">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="egriSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
               
            ncResourceName="ATCF">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="egriSymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
              
             ncResourceName="ATCF">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="ngpiEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="ngpiColor"
            defaultValue="RGB {0,178,238}"
            paramType="EDITABLE_ATTRIBUTE"
               
            ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="ngpiLineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
              
             ncResourceName="ATCF">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="ngpiSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
              
             ncResourceName="ATCF">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="ngpiSymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
              
ncResourceName="ATCF">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="ukm2Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="ukm2Color"
            defaultValue="RGB {255,127,0}"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="ukm2LineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="ukm2SymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="ukm2SymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="hwfiEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="hwfiColor"
            defaultValue="RGB {205,0,0}"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="hwfiLineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="hwfiSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="hwfiSymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="ghmiEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="ghmiColor"
            defaultValue="RGB {255,165,79}"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="ghmiLineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="ghmiSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="ghmiSymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="gfniEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="gfniColor"
            defaultValue="RGB {255,174,185}"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="gfniLineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="gfniSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="gfniSymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="aemiEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="aemiColor"
            defaultValue="RGB {205,133,0}"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="aemiLineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="aemiSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="aemiSymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="tconEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="tconColor"
            defaultValue="RGB {145,44,238}"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="tconLineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="tconSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="tconSymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="gunaEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="gunaColor"
            defaultValue="RGB {30,144,255}"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="gunaLineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="gunaSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="gunaSymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="tvcnEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="tvcnColor"
            defaultValue="RGB {255,106,106}"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="tvcnLineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="tvcnSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="tvcnSymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="emxiEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="emxiColor"
            defaultValue="RGB {0,139,0}"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="emxiLineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="emxiSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="emxiSymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="fsseEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="fsseColor"
            defaultValue="RGB {0,255,0}"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="fsseLineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="fsseSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="fsseSymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="ukmiEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="ukmiColor"
            defaultValue="RGB {0,255,255}"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="ukmiLineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="ukmiSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="ukmiSymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="bammEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="bammColor"
            defaultValue="RGB {255,215,0}"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="bammLineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="bammSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="bammSymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="bamdEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="bamdColor"
            defaultValue="RGB {238,238,0}"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="bamdLineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="bamdSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="bamdSymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="bamsEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="bamsColor"
            defaultValue="RGB {255,255,0}"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="bamsLineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="bamsSymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="bamsSymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="egr2Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="RGB"
            paramName="egr2Color"
            defaultValue="RGB {255,0,255}"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
      </nc-resourceParameter>         
      <nc-resourceParameter
            paramClass="Integer"
            paramName="egr2LineWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
               ncResourceName="ATCF">
       </nc-resourceParameter>
       <nc-resourceParameter
            paramClass="Integer"
            paramName="egr2SymbolWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
               
            ncResourceName="ATCF">
      </nc-resourceParameter>         
       <nc-resourceParameter
            paramClass="Float"
            paramName="egr2SymbolSize"
            defaultValue="1.0"
            paramType="EDITABLE_ATTRIBUTE"
              
             ncResourceName="ATCF">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="timeEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
              
             ncResourceName="ATCF">
      </nc-resourceParameter> 
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="nameEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
             
              ncResourceName="ATCF">
      </nc-resourceParameter>  
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="speedEnable"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
               
            ncResourceName="ATCF">
      </nc-resourceParameter>               
      <nc-resourceParameter      
            paramClass="Boolean"
            paramName="markerEnable"
            defaultValue="false"               
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ATCF">
      </nc-resourceParameter>        
      
      <nc-resourceParameter
            ncResourceName="ATCF"
            paramClass="RGB"
            paramName="legendColor"
            defaultValue="RGB {255, 255, 255}"               
            paramType="IMPLEMENTATION_PARAM">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            ncResourceName="ATCF"
            paramClass="String"
            paramName="reportType"
            defaultValue="ATCF"               
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>
      
      </extension>   
</plugin>
   
