<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.ncscat.rsc.NcscatResource"
            name="SCAT"
            recordClass="gov.noaa.nws.ncep.common.dataplugin.ncscat.NcscatRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW"/>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.scriptTemplate">
      <scriptTemplate
            pluginName="ncscat"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.ncscat.rsc.NcscatResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.rsc.ncscat.rsc.EditNcscatAttrsDialog"
            name="SCAT">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceParameter">
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="skipEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SCAT">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="skipValue"
            defaultValue="5"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SCAT">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="densityValue"
            defaultValue="50"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SCAT">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="timeStampEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SCAT">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="timeStampColor"
            defaultValue="RGB {255, 255, 255}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SCAT">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="timeStampInterval"
            defaultValue="30"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SCAT">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="timeStampLineWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SCAT">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="ArrowStyle"
            paramName="arrowStyle"
            defaultValue="WIND_BARB"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SCAT">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="arrowWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SCAT">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="arrowSize"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SCAT">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="headSize"
            defaultValue="4"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SCAT">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="ColorBar"
            paramName="colorBar1"
            paramType="EDITABLE_ATTRIBUTE"
            paramRefLocation="ncep/ColorBars/SCAT"
            ncResourceName="SCAT">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="ColorBar"
            paramName="colorBar2"
            paramType="EDITABLE_ATTRIBUTE"
            paramRefLocation="ncep/ColorBars/SCAT"
            ncResourceName="SCAT">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="highWindSpeedEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SCAT">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="lowWindSpeedEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SCAT">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="rainFlagEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SCAT">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="availabilityFlagEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SCAT">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="use2ndColorForRainEnable"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SCAT">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="plotCirclesForRainEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SCAT">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            ncResourceName="SCAT"
            paramClass="String"
            paramName="reportType"
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>
      <nc-resourceParameter
            ncResourceName="SCAT"
            paramClass="String"
            paramName="color"
            defaultValue="RGB {155, 155, 155}"
            paramType="IMPLEMENTATION_PARAM">
      </nc-resourceParameter>
      
   </extension>

</plugin>
