<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.ncscat.rsc.NcscatResource"
            name="SCAT"
            recordClass="gov.noaa.nws.ncep.common.dataplugin.ncscat.NcscatRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW"/>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.scriptTemplate">
      <scriptTemplate
            pluginName="ncscat"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.ncscat.rsc.NcscatResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.rsc.ncscat.rsc.EditNcscatAttrsDialog"
            name="SCAT">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceAttribute">
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="skipEnable"
            defaultValue="true"
            ncResourceName="SCAT">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="skipValue"
            defaultValue="5"
            ncResourceName="SCAT">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="densityValue"
            defaultValue="50"
            ncResourceName="SCAT">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="timeStampEnable"
            defaultValue="true"
            ncResourceName="SCAT">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="timeStampColor"
            defaultValue="RGB {255, 255, 255}"
            ncResourceName="SCAT">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="timeStampInterval"
            defaultValue="30"
            ncResourceName="SCAT">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="timeStampLineWidth"
            defaultValue="1"
            ncResourceName="SCAT">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="ArrowStyle"
            attributeName="arrowStyle"
            defaultValue="WIND_BARB"
            ncResourceName="SCAT">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="arrowWidth"
            defaultValue="1"
            ncResourceName="SCAT">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="arrowSize"
            defaultValue="2"
            ncResourceName="SCAT">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="headSize"
            defaultValue="4"
            ncResourceName="SCAT">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="ColorBar"
            attributeName="colorBar1"
            ncResourceName="SCAT">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="ColorBar"
            attributeName="colorBar2"
            ncResourceName="SCAT">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="highWindSpeedEnable"
            defaultValue="true"
            ncResourceName="SCAT">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="lowWindSpeedEnable"
            defaultValue="true"
            ncResourceName="SCAT">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="rainFlagEnable"
            defaultValue="true"
            ncResourceName="SCAT">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="availabilityFlagEnable"
            defaultValue="true"
            ncResourceName="SCAT">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="use2ndColorForRainEnable"
            defaultValue="false"
            ncResourceName="SCAT">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="plotCirclesForRainEnable"
            defaultValue="true"
            ncResourceName="SCAT">
      </nc-resourceAttribute>
   </extension>

</plugin>
