<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.OverlayResourceGroup"
            name="OverlayGroup"
            renderingOrderId="MAP_OUTLINE">
         <fileType
               fileExtension="bcd"
               name="BCD File">
         </fileType>
      </resource>
      <resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.LPIResource"
            name="LpiOverlay"
            renderingOrderId="MAP_OUTLINE">
         <fileType
               fileExtension="lpi"
               name="LPI File">
         </fileType>
      </resource>
      <!--resource
            class="com.raytheon.viz.core.topo.TopoResource"
            name="NC-TopoResource"
            renderingOrderId="MAP_IMAGE">
      </resource-->
      <resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.LatLonOverlayResource"
            name="LatlonOverlay"
            renderingOrderId="MAP_OUTLINE">
      </resource>
      <resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.ScaleOverlayResource"
            name="ScaleOverlay"
            renderingOrderId="MAP_OUTLINE">
      </resource>
      <resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.DbOverlayResource"
            name="DbOverlay"
            renderingOrderId="MAP_OUTLINE">
      </resource>
      <resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.SPIResource"
            name="SpiOverlay"
            renderingOrderId="MAP_OUTLINE">
         <fileType
               fileExtension="spi"
               name="SPI File">
         </fileType>
      </resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.OverlayResourceGroupData"
            editDialogClass="gov.noaa.nws.ncep.viz.overlays.dialogs.ChangeLineAttributesDialog"
            name="OverlayGroup">
      </nc-resource>
      <nc-resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.LatLonOverlayResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.overlays.dialogs.ChangeLatLonAttributesDialog"
            name="LatlonOverlay">
      </nc-resource>
      <nc-resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.ScaleOverlayResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.overlays.dialogs.ChangeScaleAttributesDialog"
            name="ScaleOverlay">
      </nc-resource>
      <nc-resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.DbOverlayResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.overlays.dialogs.ChangeLineAttributesDialog"
            name="DbOverlay">
      </nc-resource>
      <nc-resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.LPIResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.overlays.dialogs.ChangeMarkerAttributesDialog"
            name="LpiOverlay">
      </nc-resource>
      <nc-resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.SPIResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.overlays.dialogs.ChangeMarkerAttributesDialog"
            name="SpiOverlay">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceAttribute">
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="color"
            defaultValue="RGB {255, 165, 79}"
            ncResourceName="DbOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="LineStyle"
            attributeName="lineStyle"
            defaultValue="SOLID"
            ncResourceName="DbOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="lineWidth"
            defaultValue="1"
            ncResourceName="DbOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="color"
            defaultValue="RGB {255, 165, 79}"
            ncResourceName="OverlayGroup">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="LineStyle"
            attributeName="lineStyle"
            defaultValue="SOLID"
            ncResourceName="OverlayGroup">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="lineWidth"
            defaultValue="1"
            ncResourceName="OverlayGroup">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="color"
            defaultValue="RGB {255, 165, 79}"
            ncResourceName="LatlonOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="LineStyle"
            attributeName="lineStyle"
            defaultValue="SOLID"
            ncResourceName="LatlonOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="lineWidth"
            defaultValue="1"
            ncResourceName="LatlonOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="longitudeInterval"
            defaultValue="10"
            ncResourceName="LatlonOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="latitudeInterval"
            defaultValue="10"
            ncResourceName="LatlonOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="color"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="ScaleOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="scaleModel"
            defaultValue="0"
            ncResourceName="ScaleOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="scalePosition"
            defaultValue="0"
            ncResourceName="ScaleOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="scaleUnit"
            defaultValue="0"
            ncResourceName="ScaleOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="scaleIntervalMode"
            defaultValue="0"
            ncResourceName="ScaleOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="scaleIntervalValue"
            defaultValue="0"
            ncResourceName="ScaleOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="scaleLatMode"
            defaultValue="0"
            ncResourceName="ScaleOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="scaleEffectiveLatitudeValue"
            defaultValue="0"
            ncResourceName="ScaleOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="scaleTextFont"
            defaultValue="0"
            ncResourceName="ScaleOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="scaleTextSize"
            defaultValue="0"
            ncResourceName="ScaleOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="scaleTextStyle"
            defaultValue="0"
            ncResourceName="ScaleOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="color"
            defaultValue="RGB {255, 255, 255}"
            ncResourceName="LpiOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="MarkerState"
            attributeName="markerState"
            defaultValue="MARKER_PLUS_TEXT"
            ncResourceName="LpiOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="MarkerType"
            attributeName="markerType"
            defaultValue="ASTERISK"
            ncResourceName="LpiOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="MarkerTextSize"
            attributeName="markerTextSize"
            defaultValue="MEDIUM"
            ncResourceName="LpiOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Float"
            attributeName="markerSize"
            defaultValue="1"
            ncResourceName="LpiOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="markerWidth"
            defaultValue="1"
            ncResourceName="LpiOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="color"
            defaultValue="RGB {255, 255, 255}"
            ncResourceName="SpiOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="MarkerState"
            attributeName="markerState"
            defaultValue="MARKER_PLUS_TEXT"
            ncResourceName="SpiOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="MarkerType"
            attributeName="markerType"
            defaultValue="ASTERISK"
            ncResourceName="SpiOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="MarkerTextSize"
            attributeName="markerTextSize"
            defaultValue="MEDIUM"
            ncResourceName="SpiOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Float"
            attributeName="markerSize"
            defaultValue="1"
            ncResourceName="SpiOverlay">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="markerWidth"
            defaultValue="1"
            ncResourceName="SpiOverlay">
      </nc-resourceAttribute>
   </extension>
   
</plugin>
