<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.OverlayResourceGroup"
            name="OverlayGroup"
            renderingOrderId="MAP_OUTLINE">
         <fileType
               fileExtension="bcd"
               name="BCD File">
         </fileType>
      </resource>
      <resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.LPIResource"
            name="LpiOverlay"
            renderingOrderId="MAP_OUTLINE">
         <fileType
               fileExtension="lpi"
               name="LPI File">
         </fileType>
      </resource>
      <resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.PgenStaticOverlayResource"
            name="PgenStaticOverlay"
            renderingOrderId="MAP_OUTLINE">
         <fileType
               fileExtension="xml"
               name="XML File">
         </fileType>
      </resource>
      <!--resource
            class="com.raytheon.viz.core.topo.TopoResource"
            name="NC-TopoResource"
            renderingOrderId="MAP_IMAGE">
      </resource-->
      <resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.LatLonOverlayResource"
            name="LatlonOverlay"
            renderingOrderId="MAP_OUTLINE">
      </resource>
      <resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.ScaleOverlayResource"
            name="ScaleOverlay"
            renderingOrderId="MAP_OUTLINE">
      </resource>
      <resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.DbOverlayResource"
            name="DbOverlay"
            renderingOrderId="MAP_OUTLINE">
      </resource>
      <resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.SPIResource"
            name="SpiOverlay"
            renderingOrderId="MAP_OUTLINE">
         <fileType
               fileExtension="spi"
               name="SPI File">
         </fileType>
      </resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.OverlayResourceGroupData"
            editDialogClass="gov.noaa.nws.ncep.viz.overlays.dialogs.ChangeLineAttributesDialog"
            name="OverlayGroup">
      </nc-resource>
      <nc-resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.LatLonOverlayResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.overlays.dialogs.ChangeLatLonAttributesDialog"
            name="LatlonOverlay">
      </nc-resource>
      <nc-resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.ScaleOverlayResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.overlays.dialogs.ChangeScaleAttributesDialog"
            name="ScaleOverlay">
      </nc-resource>
      <nc-resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.DbOverlayResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.overlays.dialogs.ChangeLineAttributesDialog"
            name="DbOverlay">
      </nc-resource>
      <nc-resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.PgenStaticOverlayResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="PgenStaticOverlay">
      </nc-resource>
      <nc-resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.LPIResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.overlays.dialogs.ChangeMarkerAttributesDialog"
            name="LpiOverlay">
      </nc-resource>
      <nc-resource
            class="gov.noaa.nws.ncep.viz.overlays.resources.SPIResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.overlays.dialogs.ChangeMarkerAttributesDialog"
            name="SpiOverlay">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceParameter">
      <nc-resourceParameter
            paramClass="RGB"
            paramName="color"
            defaultValue="RGB {255, 165, 79}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="DbOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="LineStyle"
            paramName="lineStyle"
            defaultValue="SOLID"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="DbOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="lineWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="DbOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="dbName"
            paramType="IMPLEMENTATION_PARAM"
            ncResourceName="DbOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="tableName"
            paramType="IMPLEMENTATION_PARAM"
            ncResourceName="DbOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="labelField"
            paramType="IMPLEMENTATION_PARAM"
            ncResourceName="DbOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="mapName"
            paramType="IMPLEMENTATION_PARAM"
            ncResourceName="DbOverlay">
      </nc-resourceParameter>

<!-- The Resource for displaying static PGEN Products -->
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="monoColorEnable"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="PgenStaticOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="color"
            defaultValue="RGB {200, 200, 200}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="PgenStaticOverlay">
      </nc-resourceParameter>
   <!--   </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="fillModeEnable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="true"
            ncResourceName="PgenStaticOverlay">
      </nc-resourceParameter>
-->
      <nc-resourceParameter
            ncResourceName="PgenStaticOverlay"
            paramClass="String"
            paramName="pgenStaticProductName"
            defaultValue="none"
            paramType="IMPLEMENTATION_PARAM">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="pgenStaticProductLocation"
            paramType="IMPLEMENTATION_PARAM"
            ncResourceName="PgenStaticOverlay">
      </nc-resourceParameter>
      
      
      <nc-resourceParameter
            paramClass="RGB"
            paramName="color"
            defaultValue="RGB {255, 165, 79}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="OverlayGroup">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="LineStyle"
            paramName="lineStyle"
            defaultValue="SOLID"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="OverlayGroup">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="lineWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="OverlayGroup">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="mapName"
            paramType="IMPLEMENTATION_PARAM"
            ncResourceName="OverlayGroup">
      </nc-resourceParameter>      
      
      <nc-resourceParameter
            paramClass="RGB"
            paramName="color"
            defaultValue="RGB {255, 165, 79}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="LatlonOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="LineStyle"
            paramName="lineStyle"
            defaultValue="SOLID"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="LatlonOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="lineWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="LatlonOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="longitudeInterval"
            defaultValue="10"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="LatlonOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="latitudeInterval"
            defaultValue="10"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="LatlonOverlay">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            paramClass="RGB"
            paramName="color"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ScaleOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="scaleModel"
            defaultValue="0"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ScaleOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="scalePosition"
            defaultValue="0"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ScaleOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="scaleUnit"
            defaultValue="0"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ScaleOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="scaleIntervalMode"
            defaultValue="0"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ScaleOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="scaleIntervalValue"
            defaultValue="0"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ScaleOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="scaleLatMode"
            defaultValue="0"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ScaleOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="scaleEffectiveLatitudeValue"
            defaultValue="0"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ScaleOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="scaleTextFont"
            defaultValue="0"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ScaleOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="scaleTextSize"
            defaultValue="0"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ScaleOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="scaleTextStyle"
            defaultValue="0"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ScaleOverlay">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            paramClass="RGB"
            paramName="color"
            defaultValue="RGB {255, 255, 255}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="LpiOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="MarkerState"
            paramName="markerState"
            defaultValue="MARKER_PLUS_TEXT"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="LpiOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="MarkerType"
            paramName="markerType"
            defaultValue="ASTERISK"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="LpiOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="MarkerTextSize"
            paramName="markerTextSize"
            defaultValue="MEDIUM"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="LpiOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Float"
            paramName="markerSize"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="LpiOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="markerWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="LpiOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Float"
            paramName="markerTextAppearanceZoomLevel"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="LpiOverlay">
      </nc-resourceParameter>            
      <nc-resourceParameter
            paramClass="String"
            paramName="LpiFilename"
            paramType="IMPLEMENTATION_PARAM"
            ncResourceName="LpiOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="mapName"
            paramType="IMPLEMENTATION_PARAM"
            ncResourceName="LpiOverlay">
      </nc-resourceParameter>      
      
      <nc-resourceParameter
            paramClass="RGB"
            paramName="color"
            defaultValue="RGB {255, 255, 255}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SpiOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="MarkerState"
            paramName="markerState"
            defaultValue="MARKER_PLUS_TEXT"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SpiOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="MarkerType"
            paramName="markerType"
            defaultValue="ASTERISK"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SpiOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="MarkerTextSize"
            paramName="markerTextSize"
            defaultValue="MEDIUM"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SpiOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Float"
            paramName="markerSize"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SpiOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="markerWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="SpiOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="SpiFilename"
            paramType="IMPLEMENTATION_PARAM"
            ncResourceName="SpiOverlay">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="mapName"
            paramType="IMPLEMENTATION_PARAM"
            ncResourceName="SpiOverlay">
      </nc-resourceParameter>      
   </extension>
       
   <extension
          point="com.raytheon.uf.viz.localization.localizationpath">
       <path
             application="NCEP"
             localizationType="CAVE_STATIC"
             name="basemaps"
             recursive="false"
             value="ncep/basemaps"
	         extensionFilter=".lpi,.spi">
       </path>
       <path
             application="NCEP"
             localizationType="CAVE_STATIC"
             name="StaticPgenOverlays"
             recursive="false"
             value="ncep/StaticPgenOverlays"
	         extensionFilter=".xml">
       </path>
    </extension>
   
</plugin>
