<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="gov.noaa.nws.ncep.ui.nsharp.palette"
            name="Nsharp">
      </command>
    </extension>
   <extension 
         point="org.eclipse.ui.handlers">
        <handler
             class="gov.noaa.nws.ncep.ui.nsharp.NsharpViewAction"
             commandId="gov.noaa.nws.ncep.ui.nsharp.palette">
       </handler>     
 	</extension>

	<extension 
         point="org.eclipse.ui.views">
           <category 
            id="gov.noaa.nws.ncep.ui.nsharp.view"
            name="NSHARP Views"/>
           <view 
            category="gov.noaa.nws.ncep.ui.nsharp.view"
            allowMultiple="false"
            restorable="true"
            class="gov.noaa.nws.ncep.ui.nsharp.view.NsharpPaletteWindow"
            id="gov.noaa.nws.ncep.ui.nsharp"
            name="NSHARP"/>
           <view
                 allowMultiple="false"
                 category="gov.noaa.nws.ncep.ui.nsharp.view"
                 class="gov.noaa.nws.ncep.ui.nsharp.view.NsharpPaletteWindow"
                 id="gov.noaa.nws.ncep.ui.nsharp.defaultview1"
                 name="Nsharp"
                 restorable="false">
           </view>
   </extension> 
	<extension
       point="org.eclipse.ui.editors">
      <editor
         class="gov.noaa.nws.ncep.ui.nsharp.display.NsharpEditor"
         default="true"
         icon="icons/skewt.gif"  
         id="gov.noaa.nws.ncep.ui.nsharp.display.NsharpEditor"
         name="NsharpEditor">
      </editor>
   </extension> 
   <extension
         point="com.raytheon.uf.viz.core.descriptor">
      <descriptor
            class="gov.noaa.nws.ncep.ui.nsharp.display.NsharpSkewTPaneDescriptor"
            editor="gov.noaa.nws.ncep.ui.nsharp.display.NsharpEditor"
            name="gov.noaa.nws.ncep.ui.nsharp.display.NsharpSkewTPaneDescriptor">
      </descriptor>
   </extension>
   <extension
          point="com.raytheon.uf.viz.localization.localizationpath">
       	<path
             application="NCEP"
             localizationType="CAVE_STATIC"
             name="Nsharp"
             recursive="true"
             value="ncep/nsharp"
	         extensionFilter=".xml,.txt">
       </path>
    </extension>
</plugin>
