<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<logSrvConfig>

  <!-- Config file for the log service and how it produces the reports. 
       Depending on what tags are here vs missing/commented out, the log
       service can
            a. email the report
            b. save the report to a specific directory
            c. both a and b
            d. neither a and b (rather pointless to run it then)  
  -->

  <!-- the cluster name, required but only used for the report -->
  <clusterName>ec-oma</clusterName>
  
  <!-- Where to keep track of the errors.  Required field.  
             how much space you need depends on how many errors the system is throwing
             -->
  <databaseDir>/common/njensen/logsrv/</databaseDir>
  
  <!-- fromAddress, smtpHost, smtpPort, and toAddress are required
            to send an email.  If any of those are commented out then the
            report will not be emailed.  
            -->
  
  <!--  How to send the email report -->
  <fromAddress>Nathan.Jensen@raytheon.com</fromAddress>
  <smtpHost>mk2-msg10.raymail.ray.com</smtpHost>
  <smtpPort>143</smtpPort>
  
  <!-- Where to send the email report, a comma-separated list of addresses -->
  <toAddress>awipsctl@list.app.ray.com, awipstest@list.app.ray.com, david_j_hladky@raytheon.com</toAddress>
  
  <!-- Where to save a copy of the report.  Note that at present there is
        no built-in purging of this directory.  If this is commented out or
        missing, the report will not be saved.  -->
  <!--outputDir>/common/njensen/tmp</outputDir-->

  <!-- The time of day to send and/or save the report.  Required to be set.
              The specific time only really matters if you're installing or
              auto-deploying at a specific time, as you may want to clear out
              the databaseDir that contains errors from a previous build/install.              
              -->  
  <timeToSend>00:45</timeToSend>
  
</logSrvConfig>