<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<logSrvConfig>
  <clusterName>ec-oma</clusterName>
  <databaseDir>/awips2/edex/data/utility/nate</databaseDir>
  <fromAddress>Nathan.Jensen@raytheon.com</fromAddress>
  <smtpHost>mk2-msg10.raymail.ray.com</smtpHost>
  <smtpPort>143</smtpPort>
  <toAddress>awipsctl@list.app.ray.com, awipstest@list.app.ray.com, david_j_hladky@raytheon.com</toAddress>
  <!-- >toAddress>Nathan.Jensen@raytheon.com</toAddress-->
  <timeToSend>00:45</timeToSend>
  <ignoreThreads>shefThreadPool</ignoreThreads>
</logSrvConfig>