<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.productbrowser.dataDefinition">
      <dataDefinition
            class="com.raytheon.uf.viz.pointset.PointSetProductBrowserDataDefinition"
            name="com.raytheon.uf.viz.pointset.PointSetProductBrowserDataDefinition">
      </dataDefinition>
   </extension>

</plugin>
