<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="tearoffperspective" name="tearoffperspective" schema="schema/tearoffperspective.exsd"/>
   <extension-point id="com.raytheon.uf.viz.ui.menus.contribItemProvider" name="contribItemProvider" schema="schema/com.raytheon.uf.viz.ui.menus.contribItemProvider.exsd"/>
   <extension
         point="com.raytheon.uf.viz.localization.localizationpath">
      <path
            application="CAVE"
            localizationType="CAVE_STATIC"
            name="Menus"
            value="menus"
            recursive="true"
            extensionFilter=".xml">
      </path>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.raytheon.uf.viz.ui.menus.widgets.tearoff.TearOffPreferencePage"
            id="com.raytheon.uf.viz.ui.menus.tearoffpreferencepage"
            name="Tear-Off Menus"/>
   </extension>
</plugin>
