<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ecf.ui.connectWizards">
      <wizard
            class="org.eclipse.ecf.internal.provider.xmpp.ui.wizards.XMPPConnectWizard"
            containerFactoryName="ecf.xmpp.smack"
            id="org.eclipse.ecf.provider.ui.xmpp.xmppConnect"
            name="XMPP"/>
      <wizard
            class="org.eclipse.ecf.internal.provider.xmpp.ui.wizards.XMPPSConnectWizard"
            containerFactoryName="ecf.xmpps.smack"
            id="org.eclipse.ecf.provider.ui.xmpp.xmppsConnect"
            name="XMPPS"/>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.eclipse.ecf.internal.provider.xmpp.ui.wizards.XMPPConnectWizard"
            id="org.eclipse.ecf.provider.ui.xmpp.xmppConnect"
            name="XMPP"
            icon="icons/new_connection.gif"
            category="org.eclipse.ecf.ui.newConnection.category"
            finalPerspective="org.eclipse.ecf.ui.perspective.communications">
          <description>%XMPPConnectWizardPage.description</description>
      </wizard>
      <wizard
            class="org.eclipse.ecf.internal.provider.xmpp.ui.wizards.XMPPSConnectWizard"
            id="org.eclipse.ecf.provider.ui.xmpp.xmppsConnect"
            name="XMPPS"
            icon="icons/new_connection.gif"
            category="org.eclipse.ecf.ui.newConnection.category"
            finalPerspective="org.eclipse.ecf.ui.perspective.communications">
          <description>%XMPPSConnectWizardPage.description</description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ecf.ui.perspective.communications">
         <newWizardShortcut id="org.eclipse.ecf.provider.ui.xmpp.xmppConnect"/>
         <newWizardShortcut id="org.eclipse.ecf.provider.ui.xmpp.xmppsConnect"/>
      </perspectiveExtension>
   </extension>

      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ecf.presence.ui.MultiRosterView?before=additions">
         <dynamic
               class="org.eclipse.ecf.internal.provider.xmpp.ui.XMPPCompoundContributionItem"
               id="org.eclipse.ecf.provider.xmpp.ui.dynamicContribution">
         </dynamic>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="org.eclipse.ecf.internal.provider.xmpp.ui.hyperlink.XMPPHyperlinkDetector"
            id="org.eclipse.ecf.internal.provider.xmpp.ui.hyperlink.XMPPHyperlinkDetector"
            name="%XMPPHyperlinkDetector"
            targetId="org.eclipse.ui.DefaultTextEditor">
      </hyperlinkDetector>
   </extension>

   
</plugin>
