AAANNNXXX @@@
CCCFLPXXX 9
CCCFMRXXX 2
CCCFRHXXX 9
CCCFWCXXX 5
CCCMAVXXX 5
CCCMEXXXX 2
CCCMTRXXX 6
CCCOSBXXX 2
CCCWRKXXX 10
CCCMETXXX 3
CCCPOEXXX 2
CCCFLSXXX 50
@@@MTRXXX 72
@@@NNNXXX 12
@@@PIRXXX 24
@@@RR3@@@ 30
@@@ZFPXXX 18
WSRNNNXXX 12
