<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.nonconvsigmet.rsc.NonConvSigmetResource"
            name="NonconvectiveSigmet"
            recordClass="gov.noaa.nws.ncep.common.dataplugin.nonconvsigmet.NonConvSigmetRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW"/>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.scriptTemplate">
      <scriptTemplate
            pluginName="nonconvsigmet"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.nonconvsigmet.rsc.NonConvSigmetResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="NonconvectiveSigmet">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceParameter">
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="icingEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="icingColor"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="icingLineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="icingSymbolWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="icingSymbolSize"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="turbulenceEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="turbulenceColor"
            defaultValue="RGB {30, 144, 255}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="turbulenceLineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="turbulenceSymbolWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="turbulenceSymbolSize"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="duststormEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="duststormColor"
            defaultValue="RGB {255, 215, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="duststormLineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="duststormSymbolWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="duststormSymbolSize"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="volcanicAshEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="volcanicAshColor"
            defaultValue="RGB {255, 127, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="volcanicAshLineWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="volcanicAshSymbolWidth"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="volcanicAshSymbolSize"
            defaultValue="2"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="symbolEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="timeEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="nameNumberEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="flightLevelEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="novemberEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="oscarEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="papaEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="quebecEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="romeoEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="uniformEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="victorEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="whiskeyEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="xrayEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="yankeeEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            ncResourceName="NonconvectiveSigmet"
            paramClass="String"
            paramName="reportType"
            defaultValue="nonconvsigmet"
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            ncResourceName="NonconvectiveSigmet"
            paramClass="String"
            paramName="color"
            defaultValue="RGB {155, 155, 155}"
            paramType="IMPLEMENTATION_PARAM">
      </nc-resourceParameter>
      
      
   </extension>

</plugin>
