<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.nonconvsigmet.rsc.NonConvSigmetResource"
            name="NonconvectiveSigmet"
            recordClass="gov.noaa.nws.ncep.common.dataplugin.nonconvsigmet.NonConvSigmetRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW"/>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.scriptTemplate">
      <scriptTemplate
            pluginName="nonconvsigmet"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.nonconvsigmet.rsc.NonConvSigmetResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="NonconvectiveSigmet">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceAttribute">
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="icingEnable"
            defaultValue="true"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="icingColor"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="icingLineWidth"
            defaultValue="2"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="icingSymbolWidth"
            defaultValue="2"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="icingSymbolSize"
            defaultValue="2"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="turbulenceEnable"
            defaultValue="true"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="turbulenceColor"
            defaultValue="RGB {30, 144, 255}"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="turbulenceLineWidth"
            defaultValue="2"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="turbulenceSymbolWidth"
            defaultValue="2"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="turbulenceSymbolSize"
            defaultValue="2"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="duststormEnable"
            defaultValue="true"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="duststormColor"
            defaultValue="RGB {255, 215, 0}"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="duststormLineWidth"
            defaultValue="2"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="duststormSymbolWidth"
            defaultValue="2"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="duststormSymbolSize"
            defaultValue="2"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="volcanicAshEnable"
            defaultValue="true"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="volcanicAshColor"
            defaultValue="RGB {255, 127, 0}"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="volcanicAshLineWidth"
            defaultValue="2"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="volcanicAshSymbolWidth"
            defaultValue="2"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="volcanicAshSymbolSize"
            defaultValue="2"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="symbolEnable"
            defaultValue="true"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="timeEnable"
            defaultValue="true"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="nameNumberEnable"
            defaultValue="true"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="flightLevelEnable"
            defaultValue="true"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="novemberEnable"
            defaultValue="true"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="oscarEnable"
            defaultValue="true"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="papaEnable"
            defaultValue="true"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="quebecEnable"
            defaultValue="true"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="romeoEnable"
            defaultValue="true"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="uniformEnable"
            defaultValue="true"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="victorEnable"
            defaultValue="true"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="whiskeyEnable"
            defaultValue="true"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="xrayEnable"
            defaultValue="true"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="yankeeEnable"
            defaultValue="true"
            ncResourceName="NonconvectiveSigmet">
      </nc-resourceAttribute>
   </extension>

</plugin>
