## The standard template gets all of its behavior from VM_global_library macros
#if($mode == "select")
#standardSelect($scriptLibrary $maxRecords $scriptMetadata false)
#elseif($mode == "catalog")
#standardCatalog($scriptLibrary $scriptMetadata)
#elseif($mode == "latestTime")
#standardLatestTime($scriptMetadata)
#elseif($mode == "xml")
#standardSelect($scriptLibrary $maxRecords $scriptMetadata false)
#elseif($mode == "xmljs")
#standardSelectJs($scriptLibrary $maxRecords $scriptMetadata false)
#elseif($mode == "image")
#standardImageSelect($scriptLibrary $maxRecords $scriptMetadata false)
#elseif($mode == "imagejs")
#standardImageSelectJs($scriptLibrary $maxRecords $scriptMetadata false)
#elseif($mode == "dbquery")
#standardDbQuery($scriptMetadata)
#end
