#macro(gfeTask $scriptMetadata $taskName)
import GfeTask
from com.raytheon.edex.uengine.tasks.gfe.rpc import $taskName
task = $taskName()
pyTask = GfeTask.GfeTask("$scriptMetadata.get("wsId").constraintValue", task)
#foreach (${key} in ${scriptMetadata.keySet()})  
#if(${key})
#if(${key} != "task" && ${key} != "pluginName" && ${key} != "wsId")
#set($constraint = $scriptMetadata.get($key))
pyTask.addArgument("${constraint.constraintValue}")
#end
#end
#end
return pyTask.execute()
#end


#if($mode=="saveGrids")
#gfeTask($scriptMetadata "SaveGfeGridTask")
#elseif($mode=="gridInventory")
#gfeTask($scriptMetadata "GetGridInventoryTask")
#elseif($mode=="commitGrid")
#gfeTask($scriptMetadata "CommitGridTask")
#elseif($mode=="parmList")
#gfeTask($scriptMetadata "GetParmListTask")
#elseif($mode=="parmInfo")
#gfeTask($scriptMetadata "GetGridParmInfoTask")
#elseif($mode=="dbInventory")
#gfeTask($scriptMetadata "GetDbInventoryTask")
#elseif($mode=="lockTables")
#gfeTask($scriptMetadata "GetLockTablesTask")
#elseif($mode=="requestGloc")
#gfeTask($scriptMetadata "GridLocRequestTask")
#elseif($mode=="changeLock")
#gfeTask($scriptMetadata "RequestLockChangeTask")
#elseif($mode=="getSiteID")
#gfeTask($scriptMetadata "GetSiteIdTask")
#elseif($mode=="discreteDef")
#gfeTask($scriptMetadata "GetDiscreteDefinitionTask")
#elseif($mode=="weatherVisibilities")
#gfeTask($scriptMetadata "GetWeatherVisibilities")
#elseif($mode=="wxDefinition")
#gfeTask($scriptMetadata "GetWXDefinitionTask")
#elseif($mode=="getOfficialDb")
#gfeTask($scriptMetadata "GetOfficialDbNameTask")
#elseif($mode=="sendNotifications")
#gfeTask($scriptMetadata "SendNotifications")
#elseif($mode=="stageD2DGridData")
#gfeTask($scriptMetadata "StageD2DGridData")
#elseif($mode == "catalog")
#standardCatalog($scriptLibrary $scriptMetadata)
#elseif($mode == "select")
#standardSelect($scriptLibrary $maxRecords $scriptMetadata false)
#end


