<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.wtch.rsc.WtchResource"
            name="WATCH"
            recordClass="gov.noaa.nws.ncep.edex.plugin.aww.common.AwwRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW">
      </resource>
    </extension>
      <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.wtch.rsc.WtchResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="WATCH">
      </nc-resource>
   </extension>
      <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceParameter">
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="thunderstormEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="thunderstormColor"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="thunderstormLineWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="tornadoEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="tornadoColor"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="tornadoLineWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="statusEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="statusColor"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="statusLineWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watchxxx0Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="watchxxx0Color"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="watchxxx0LineWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watchxxx1Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="watchxxx1Color"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="watchxxx1LineWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watchxxx2Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="watchxxx2Color"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="watchxxx2LineWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watchxxx3Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="watchxxx3Color"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="watchxxx3LineWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watchxxx4Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="watchxxx4Color"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="watchxxx4LineWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
            <nc-resourceParameter
            paramClass="Boolean"
            paramName="watchxxx5Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="watchxxx5Color"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="watchxxx5LineWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watchxxx6Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="watchxxx6Color"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="watchxxx6LineWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watchxxx7Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="watchxxx7Color"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="watchxxx7LineWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watchxxx8Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="watchxxx8Color"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="watchxxx8LineWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watchxxx9Enable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="watchxxx9Color"
            defaultValue="RGB {0, 255, 0}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="watchxxx9LineWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watchBoxTimeEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="statusLinesTimeEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="watchBoxNumberEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="statusLinesNumberEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="colorCodeEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="mostRecentStatusEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="WATCH">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            ncResourceName="WATCH"
            paramClass="String"
            paramName="reportType"
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            ncResourceName="WATCH"
            paramClass="String"
            paramName="color"
            defaultValue="RGB {155, 155, 155}"
            paramType="IMPLEMENTATION_PARAM">
      </nc-resourceParameter>
      <nc-resourceParameter
            ncResourceName="WATCH"
            paramClass="String"
            paramName="legendName"
            defaultValue="Watch"
            paramType="IMPLEMENTATION_PARAM">
      </nc-resourceParameter>
      
      
      </extension>
</plugin>
