<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.wtch.rsc.WtchResource"
            name="WATCH"
            recordClass="gov.noaa.nws.ncep.edex.plugin.aww.common.AwwRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW">
      </resource>
    </extension>
      <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.wtch.rsc.WtchResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="WATCH">
      </nc-resource>
   </extension>
      <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceAttribute">
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="thunderstormEnable"
            defaultValue="true"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="thunderstormColor"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="thunderstormLineWidth"
            defaultValue="1"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="tornadoEnable"
            defaultValue="true"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="tornadoColor"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="tornadoLineWidth"
            defaultValue="1"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="statusEnable"
            defaultValue="true"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="statusColor"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="statusLineWidth"
            defaultValue="1"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watchxxx0Enable"
            defaultValue="true"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="watchxxx0Color"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="watchxxx0LineWidth"
            defaultValue="1"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watchxxx1Enable"
            defaultValue="true"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="watchxxx1Color"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="watchxxx1LineWidth"
            defaultValue="1"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watchxxx2Enable"
            defaultValue="true"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="watchxxx2Color"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="watchxxx2LineWidth"
            defaultValue="1"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watchxxx3Enable"
            defaultValue="true"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="watchxxx3Color"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="watchxxx3LineWidth"
            defaultValue="1"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watchxxx4Enable"
            defaultValue="true"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="watchxxx4Color"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="watchxxx4LineWidth"
            defaultValue="1"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
            <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watchxxx5Enable"
            defaultValue="true"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="watchxxx5Color"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="watchxxx5LineWidth"
            defaultValue="1"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watchxxx6Enable"
            defaultValue="true"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="watchxxx6Color"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="watchxxx6LineWidth"
            defaultValue="1"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watchxxx7Enable"
            defaultValue="true"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="watchxxx7Color"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="watchxxx7LineWidth"
            defaultValue="1"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watchxxx8Enable"
            defaultValue="true"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="watchxxx8Color"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="watchxxx8LineWidth"
            defaultValue="1"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watchxxx9Enable"
            defaultValue="true"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="watchxxx9Color"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="watchxxx9LineWidth"
            defaultValue="1"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watchBoxTimeEnable"
            defaultValue="true"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="statusLinesTimeEnable"
            defaultValue="true"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="watchBoxNumberEnable"
            defaultValue="true"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="statusLinesNumberEnable"
            defaultValue="true"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="colorCodeEnable"
            defaultValue="true"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="mostRecentStatusEnable"
            defaultValue="true"
            ncResourceName="WATCH">
      </nc-resourceAttribute>
      </extension>
</plugin>
