<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Host" value="localhost" />
    <add key="Port" value="5672" />
    <add key="VirtualHost" value="test" />
    <add key="UserName" value="guest" />
    <add key="Password" value="guest" />
   <!-- <add key="ProcessorAssembly" value="C:\Project\qpid\dotnet\client-010\addins\ExcelAddInMessageProcessor\bin\Debug\ExcelAddInMessageProcessor.dll"/>
    <add key="ProcessorClass" value="ExcelAddInMessageProcessor.Processor"/> -->
  </appSettings>
</configuration>