<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.mosaic.rsc.MosaicResource"
            name="RadarMosaic"
            recordClass="gov.noaa.nws.ncep.edex.plugin.mosaic.common.MosaicRecord"
            renderingOrderId="IMAGE_COUNTRY"
            resourceType="PLAN_VIEW"/>
   </extension>
<!-- Raytheons radar plugin extends this. Do we need this too?
   <extension
         point="com.raytheon.uf.viz.core.units">
      <units
            class="com.raytheon.viz.radar.units.RadarUnits"
            name="RadarUnits">
      </units>
   </extension>
-->
   <extension
         point="com.raytheon.uf.viz.core.scriptTemplate">
      <scriptTemplate
            pluginName="mosaic"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource"> 
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.mosaic.rsc.MosaicResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.rsc.mosaic.rsc.EditMosaicAttrsDialog"
            name="RadarMosaic">
      </nc-resource>
   </extension>

   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceParameter">
      <nc-resourceParameter
            paramClass="gov.noaa.nws.ncep.viz.ui.display.ColorBarFromColormap"
            paramName="colorBar"
            paramType="EDITABLE_ATTRIBUTE"
            paramRefLocation="ncep/ColorBars/Radar"
            ncResourceName="RadarMosaic">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="colorMapName"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="RadarMosaic">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Float"
            paramName="alpha"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="RadarMosaic">
      </nc-resourceParameter>      
      <nc-resourceParameter
            paramClass="Float"
            paramName="brightness"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="RadarMosaic">
      </nc-resourceParameter>      
      <nc-resourceParameter
            paramClass="Float"
            paramName="contrast"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="RadarMosaic">
      </nc-resourceParameter>      
      
      <!-- the productCode is given in the attrSet but we provide a
	       default value here to pass validity checking -->                  
      <nc-resourceParameter
            ncResourceName="RadarMosaic"
            paramClass="String"
            paramName="productCode"
            defaultValue="not-specified"
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>
<!--
      <nc-resourceParameter
            ncResourceName="RadarMosaic"
            paramClass="String"
            paramName="prodName"
            defaultValue="not-specified"
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>
 -->
      <nc-resourceParameter
            ncResourceName="RadarMosaic"
            paramClass="RGB"
            paramName="legendColor"
            defaultValue="RGB {200, 200, 200}"
            paramType="IMPLEMENTATION_PARAM">
      </nc-resourceParameter>

   </extension>

</plugin>
