<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.mosaic.rsc.MosaicResource"
            name="RadarMosaic"
            recordClass="gov.noaa.nws.ncep.edex.plugin.mosaic.common.MosaicRecord"
            renderingOrderId="IMAGE_COUNTRY"
            resourceType="PLAN_VIEW"/>
   </extension>
<!-- Raytheons radar plugin extends this. Do we need this too?
   <extension
         point="com.raytheon.uf.viz.core.units">
      <units
            class="com.raytheon.viz.radar.units.RadarUnits"
            name="RadarUnits">
      </units>
   </extension>
-->
   <extension
         point="com.raytheon.uf.viz.core.scriptTemplate">
      <scriptTemplate
            pluginName="mosaic"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource"> 
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.mosaic.rsc.MosaicResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.rsc.mosaic.rsc.EditMosaicAttrsDialog"
            name="RadarMosaic">
      </nc-resource>
   </extension>

   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceAttribute">
      <nc-resourceAttribute
            attributeClass="gov.noaa.nws.ncep.viz.ui.display.ColorBarFromColormap"
            attributeName="colorBar"
            ncResourceName="RadarMosaic">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="String"
            attributeName="colorMapName"
            ncResourceName="RadarMosaic">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Float"
            attributeName="alpha"
            ncResourceName="RadarMosaic">
      </nc-resourceAttribute>      
      <nc-resourceAttribute
            attributeClass="Float"
            attributeName="brightness"
            ncResourceName="RadarMosaic">
      </nc-resourceAttribute>      
      <nc-resourceAttribute
            attributeClass="Float"
            attributeName="contrast"
            ncResourceName="RadarMosaic">
      </nc-resourceAttribute>      
   </extension>

</plugin>
