<?xml version="1.0" encoding="UTF-8"?>
    <!--
        This_software_was_developed_and_/_or_modified_by_Raytheon_Company,
        pursuant_to_Contract_DG133W-05-CQ-1067_with_the_US_Government.
        
        U.S._EXPORT_CONTROLLED_TECHNICAL_DATA
        This_software_product_contains_export-restricted_data_whose
        export/transfer/disclosure_is_restricted_by_U.S._law._Dissemination
        to_non-U.S._persons_whether_in_the_United_States_or_abroad_requires
        an_export_license_or_other_authorization.
        
        Contractor_Name:________Raytheon_Company
        Contractor_Address:_____6825_Pine_Street,_Suite_340
        ________________________Mail_Stop_B8
        ________________________Omaha,_NE_68106
        ________________________402.291.0100
        
        See_the_AWIPS_II_Master_Rights_File_("Master_Rights_File.pdf")_for
        further_licensing_information.
    -->

<?eclipse version="3.2"?>
<plugin>
  <extension
      point="org.eclipse.ui.commands">
   <command
         id="com.raytheon.uf.viz.image.export.print"
         categoryId="com.raytheon.uf.viz.core.commandCategory"
         description="Print the currently active editor"
         name="Print Screen">
         <commandParameter
               id="frameSelection"
               name="Frame Selection"
               optional="true">
         </commandParameter>
   </command>
   <command
         id="com.raytheon.uf.viz.image.export.save"
         categoryId="com.raytheon.uf.viz.core.commandCategory"
      	 description="Save the active editor to an image file"
         name="Save Screen">
         <commandParameter
               id="frameSelection"
               name="Frame Selection"
               optional="true">
         </commandParameter>
         <commandParameter
               id="dialogType"
               name="Type of Dialog"
               optional="true">
         </commandParameter>
    </command>
</extension>
<extension
      point="org.eclipse.ui.handlers">
   <handler
         class="com.raytheon.uf.viz.image.export.handler.PrintImageCaptureHandler"
         commandId="com.raytheon.uf.viz.image.export.print">
   </handler>
   <handler
         class="com.raytheon.uf.viz.image.export.handler.ExportImageHandler"
         commandId="com.raytheon.uf.viz.image.export.save">
   </handler>
</extension>
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         locationURI="menu:export">
       <command
             commandId="com.raytheon.uf.viz.image.export.save"
             label="Image"
             style="push">
       </command>
       <command
             commandId="com.raytheon.uf.viz.image.export.print"
             label="Print Screen"
             style="push">
             <parameter
                   name="frameSelection"
                   value="current">
             </parameter>
       </command>
   </menuContribution>
</extension>
</plugin>
