<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
    <!--
        This_software_was_developed_and_/_or_modified_by_Raytheon_Company,
        pursuant_to_Contract_DG133W-05-CQ-1067_with_the_US_Government.
        
        U.S._EXPORT_CONTROLLED_TECHNICAL_DATA
        This_software_product_contains_export-restricted_data_whose
        export/transfer/disclosure_is_restricted_by_U.S._law._Dissemination
        to_non-U.S._persons_whether_in_the_United_States_or_abroad_requires
        an_export_license_or_other_authorization.
        
        Contractor_Name:________Raytheon_Company
        Contractor_Address:_____6825_Pine_Street,_Suite_340
        ________________________Mail_Stop_B8
        ________________________Omaha,_NE_68106
        ________________________402.291.0100
        
        See_the_AWIPS_II_Master_Rights_File_("Master_Rights_File.pdf")_for
        further_licensing_information.
    -->
<configuration>
    <blinkRate>0.1</blinkRate>
    <blinkRate>0.25</blinkRate>
    <blinkRate>0.5</blinkRate>
    <blinkRate>1.0</blinkRate>
    <blinkRate>1.5</blinkRate>
    <blinkRate>2.0</blinkRate>
    <magnification>0</magnification>
    <magnification>0.8</magnification>
    <magnification>1</magnification>
    <magnification>1.25</magnification>
    <magnification>1.5</magnification>
    <magnification>2</magnification>
    <magnification>2.5</magnification>
    <density>0.0</density>
    <density>0.33</density>
    <density>0.5</density>
    <density>0.67</density>
    <density>1.0</density>
    <density>1.25</density>
    <density>1.5</density>
    <density>2.0</density>
    <density>99999.0</density> <!-- Used for max to show up -->
</configuration>
