<?xml version="1.0" encoding="UTF-8"?>
    <!--
        This_software_was_developed_and_/_or_modified_by_Raytheon_Company,
        pursuant_to_Contract_DG133W-05-CQ-1067_with_the_US_Government.
        
        U.S._EXPORT_CONTROLLED_TECHNICAL_DATA
        This_software_product_contains_export-restricted_data_whose
        export/transfer/disclosure_is_restricted_by_U.S._law._Dissemination
        to_non-U.S._persons_whether_in_the_United_States_or_abroad_requires
        an_export_license_or_other_authorization.
        
        Contractor_Name:________Raytheon_Company
        Contractor_Address:_____6825_Pine_Street,_Suite_340
        ________________________Mail_Stop_B8
        ________________________Omaha,_NE_68106
        ________________________402.291.0100
        
        See_the_AWIPS_II_Master_Rights_File_("Master_Rights_File.pdf")_for
        further_licensing_information.
    -->
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.raytheon.viz.volumebrowser.volumeBrowser"
            name="Volume Browser">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.raytheon.viz.volumebrowser.volumeBrowserRef"
            name="Volume Browser">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.raytheon.viz.volumebrowser.vbui.VolumeBrowserAction"
            commandId="com.raytheon.viz.volumebrowser.volumeBrowserRef">
      </handler>
   </extension>
   <extension point="com.raytheon.uf.viz.core.alterBundle">
   	  <alterBundle id="grids" class="com.raytheon.viz.volumebrowser.GridAlterBundleContributor"/>
   </extension>
   <extension
       point="com.raytheon.uf.viz.localization.localizationpath">
       <path
          application="D2D"
          localizationType="CAVE_STATIC"
          name="Volume Browser"
          value="volumebrowser" 
          recursive="true">
       </path>
       <path
          application="D2D"
          localizationType="CAVE_STATIC"
          name="Height Scales"
          value="scales" 
          recursive="true">
       </path>
    </extension>
    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:volume?after=top">
             <command
                   commandId="com.raytheon.viz.volumebrowser.volumeBrowserRef"
                   label="Browser...">
             </command>
             <separator name="afterVB" visible="false"/>
             <separator name="VolumeBundles" visible="true"/>
             <separator name="ComparisonFamilies" visible="true"/>
             <separator name="SurfaceFamilies" visible="false"/>
             <separator name="StdEnvDataPackageFamilies" visible="true"/>
      </menuContribution>
    </extension>
</plugin>
