<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.ui.locator.resource.LocatorResource"
            name="Locator"
            renderingOrderId="MAP_OUTLINE">
      </resource>   
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.ui.locator.resource.LocatorResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.ui.locator.resource.LocatorEditDialog"
            name="Locator">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceParameter">
      <nc-resourceParameter
            paramClass="RGB"
            paramName="color"
            paramType="IMPLEMENTATION_PARAM"
            defaultValue="RGB {200,200,200}"
            ncResourceName="Locator">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="fontName"
            paramType="IMPLEMENTATION_PARAM"
            defaultValue="Times"
            ncResourceName="Locator">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="fontSize"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="12"
            ncResourceName="Locator">
      </nc-resourceParameter>
         
      <nc-resourceParameter
            paramClass="String"
            paramName="pos1LocatorSource"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Locator">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="java.lang.Integer"
            paramName="pos1RoundToNearest"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Locator">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="pos1DisplayUnit"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Locator">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="pos1DirectionUnit"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Locator">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            paramClass="String"
            paramName="pos2LocatorSource"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Locator">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="java.lang.Integer"
            paramName="pos2RoundToNearest"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Locator">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="pos2DisplayUnit"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Locator">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="pos2DirectionUnit"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Locator">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            paramClass="String"
            paramName="pos3LocatorSource"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Locator">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="java.lang.Integer"
            paramName="pos3RoundToNearest"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Locator">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="pos3DisplayUnit"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Locator">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="pos3DirectionUnit"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Locator">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            paramClass="String"
            paramName="pos4LocatorSource"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Locator">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="java.lang.Integer"
            paramName="pos4RoundToNearest"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Locator">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="pos4DisplayUnit"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Locator">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="pos4DirectionUnit"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Locator">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            paramClass="String"
            paramName="pos5LocatorSource"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Locator">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="java.lang.Integer"
            paramName="pos5RoundToNearest"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Locator">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="pos5DisplayUnit"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Locator">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="pos5DirectionUnit"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="Locator">
      </nc-resourceParameter>
      
   </extension>
   <extension
          point="com.raytheon.uf.viz.localization.localizationpath">
       	<path
             application="NCEP"
             localizationType="CAVE_STATIC"
             name="LocatorDataSources"
             recursive="false"
             value="ncep/LocatorDataSources"
	         extensionFilter=".xml">
       </path>
      </extension>
   
</plugin>
