<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="com.raytheon.uf.viz.collaboration.comm.xmpp.internal.XMPPContainerInstantiator"
            description="AWIPS XMPP (Jabber)"
            name="com.raytheon.uf.viz.collaboration.comm.xmpp">
      </containerFactory>
   </extension>

</plugin>
