<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="rosterViewerDropTarget" name="Roster Viewer Drop Target" schema="schema/rosterViewerDropTarget.exsd"/>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.presence.roster.IRoster"
            class="org.eclipse.ecf.presence.ui.RosterWorkbenchAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.presence.roster.IRosterGroup"
            class="org.eclipse.ecf.presence.ui.RosterWorkbenchAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.presence.roster.IRosterEntry"
            class="org.eclipse.ecf.presence.ui.RosterWorkbenchAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.presence.roster.IRosterItem"
            class="org.eclipse.ecf.presence.ui.RosterWorkbenchAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.presence.roster.IRoster"
            class="org.eclipse.ecf.presence.ui.RosterWorkbenchAdapter2Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.presence.roster.IRosterGroup"
            class="org.eclipse.ecf.presence.ui.RosterWorkbenchAdapter2Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.presence.roster.IRosterEntry"
            class="org.eclipse.ecf.presence.ui.RosterWorkbenchAdapter2Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.presence.roster.IRosterItem"
            class="org.eclipse.ecf.presence.ui.RosterWorkbenchAdapter2Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ecf.ui.viewcategory"
            class="org.eclipse.ecf.presence.ui.MessagesView"
            icon="icons/messages.gif"
            id="org.eclipse.ecf.presence.ui.MessagesView"
            name="%views.messages">
      </view>
      <view
            category="org.eclipse.ecf.ui.viewcategory"
            class="org.eclipse.ecf.presence.ui.MultiRosterView"
            icon="icons/contacts.gif"
            id="org.eclipse.ecf.presence.ui.MultiRosterView"
            name="%views.multiRosterView">
      </view>
      <view
            allowMultiple="true"
            category="org.eclipse.ecf.ui.viewcategory"
            class="org.eclipse.ecf.presence.ui.chatroom.ChatRoomManagerView"
            icon="icons/chats.gif"
            id="org.eclipse.ecf.presence.ui.chatroom.ChatRoomManagerView"
            name="%Chats"/>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ecf.ui.perspective.communications">
         <viewShortcut id="org.eclipse.ecf.presence.ui.MultiRosterView"/>
         <viewShortcut id="org.eclipse.ecf.presence.ui.MessagesView"/>
         <viewShortcut id="org.eclipse.ecf.presence.ui.chatroom.ChatRoomManagerView"/>
         <showInPart id="org.eclipse.ecf.presence.ui.MultiRosterView"/>
         <showInPart id="org.eclipse.ecf.presence.ui.MessagesView"/>
         <showInPart id="org.eclipse.ecf.presence.ui.chatroom.ChatRoomManagerView"/>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ecf.ui.perspective.communications">
         <!--
         <view
               id="org.eclipse.ecf.presence.ui.MultiRosterView"
               relationship="stack"
               relative="org.eclipse.ui.views.ResourceNavigator"
               visible="true">
         </view>
         <view
               id="org.eclipse.ecf.presence.ui.chatroom.ChatRoomManagerView"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               visible="true">
         </view>
         <view
               id="org.eclipse.ecf.presence.ui.MessagesView"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               visible="true">
         </view>
         -->
      </perspectiveExtension>
   </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ecf.ui.commands.category"
            id="org.eclipse.ecf.presence.ui.commands.browse"
            name="Open Contact">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.ecf.internal.presence.ui.handlers.BrowseHandler"
            commandId="org.eclipse.ecf.presence.ui.commands.browse">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ecf.presence.ui.commands.browse"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+P">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.search.searchActionSet">
                        <command
                              commandId="org.eclipse.ecf.presence.ui.commands.browse"
                              icon="icons/open_contacts.gif"
                              id="org.eclipse.ecf.presence.ui.commands.browse.toolbar"
                              label="%browse.command.label"
                              style="push"
                              tooltip="%browse.command.tooltip"/>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:navigate?after=open.ext3">
            <separator
                  name="org.eclipse.ecf.ui.browse.separator"
                  visible="true"/>
            <command
                  commandId="org.eclipse.ecf.presence.ui.commands.browse"
                  icon="icons/open_contacts.gif"
                  id="org.eclipse.ecf.presence.ui.commands.browse.menu"
                  label="%browse.command.label"
                  style="push"
                  tooltip="%browse.command.tooltip">
            </command>
      </menuContribution>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ecf.ui.category"
            class="org.eclipse.ecf.internal.presence.ui.preferences.ChatRoomPreferencePage"
            id="org.eclipse.ecf.internal.presence.ui.preferences.ChatRoomPreferencePage"
            name="%chatroom.preferencePage.name">
      </page>
    </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
                  class="org.eclipse.ecf.internal.presence.ui.preferences.PreferenceInitializer">
      </initializer>
  </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="org.eclipse.ecf.presence.ui.themeElementCategory"
            label="%themeElementCategory.messagesAndChats">
         <description>
            %themeElementCategory.messagesAndChats.description
         </description>
      </themeElementCategory>
      <fontDefinition
            categoryId="org.eclipse.ecf.presence.ui.themeElementCategory"
            id="org.eclipse.ecf.presence.ui.dateFont"
            isEditable="true"
            label="%fontDefinition.dateFont">
         <description>
            %fontDefinition.dateFont.description
         </description>
      </fontDefinition>
      <colorDefinition
            categoryId="org.eclipse.ecf.presence.ui.themeElementCategory"
            id="org.eclipse.ecf.presence.ui.dateColor"
            label="%colorDefinition.dateColor"
            value="0,0,0">
         <description>
            %colorDefinition.dateColor.description
         </description>
      </colorDefinition>
      <fontDefinition
            categoryId="org.eclipse.ecf.presence.ui.themeElementCategory"
            id="org.eclipse.ecf.presence.ui.receivedHighlightFont"
            isEditable="true"
            label="%fontDefinition.highlightFont">
         <description>
            %fontDefinition.highlightFont.description
         </description>
      </fontDefinition>
      <colorDefinition
            categoryId="org.eclipse.ecf.presence.ui.themeElementCategory"
            id="org.eclipse.ecf.presence.ui.receivedHighlightColor"
            label="%colorDefinition.highlightColor"
            value="255,0,0">
         <description>
            %colorDefinition.HighlightColor.description
         </description>
      </colorDefinition>
      <fontDefinition
            categoryId="org.eclipse.ecf.presence.ui.themeElementCategory"
            id="org.eclipse.ecf.presence.ui.systemFont"
            isEditable="true"
            label="%fontDefinition.systemMessagesFont"
            value="-bold-">
         <description>
            %fontDefinition.systemMessagesFont.description
         </description>
      </fontDefinition>
      <colorDefinition
            categoryId="org.eclipse.ecf.presence.ui.themeElementCategory"
            id="org.eclipse.ecf.presence.ui.systemColor"
            label="%colorDefinition.systemMessagesColor"
            value="0,0,255">
         <description>
            %colorDefinition.systemMessagesColor.description
         </description>
      </colorDefinition>
      <fontDefinition
            categoryId="org.eclipse.ecf.presence.ui.themeElementCategory"
            id="org.eclipse.ecf.presence.ui.receivedFont"
            isEditable="true"
            label="%fontDefinition.receivedMessagesFont">
         <description>
            %fontDefinition.receivedMessagesFont.description
         </description>
      </fontDefinition>
      <colorDefinition
            categoryId="org.eclipse.ecf.presence.ui.themeElementCategory"
            id="org.eclipse.ecf.presence.ui.receivedColor"
            label="%colorDefinition.receivedMessagesColor"
            value="0,0,0">
         <description>
            %colorDefinition.receivedMessagesColor.description
         </description>
      </colorDefinition>
      <fontDefinition
            categoryId="org.eclipse.ecf.presence.ui.themeElementCategory"
            id="org.eclipse.ecf.presence.ui.sentFont"
            isEditable="true"
            label="%fontDefinition.sentMessagesFont">
         <description>
            %fontDefinition.sentMessagesFont.description
         </description>
      </fontDefinition>
      <colorDefinition
            categoryId="org.eclipse.ecf.presence.ui.themeElementCategory"
            id="org.eclipse.ecf.presence.ui.sentColor"
            label="%colorDefinition.sentMessagesColor"
            value="75,75,75">
         <description>
            %colorDefinition.sentMessagesColor.description
         </description>
      </colorDefinition>
      
   </extension>
</plugin>
