<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
 - This software was developed and / or modified by Raytheon Company,
 - pursuant to Contract DG133W-05-CQ-1067 with the US Government.
 - 
 - U.S. EXPORT CONTROLLED TECHNICAL DATA
 - This software product contains export-restricted data whose
 - export/transfer/disclosure is restricted by U.S. law. Dissemination
 - to non-U.S. persons whether in the United States or abroad requires
 - an export license or other authorization.
 - 
 - Contractor Name:        Raytheon Company
 - Contractor Address:     6825 Pine Street, Suite 340
 -                         Mail Stop B8
 -                         Omaha, NE 68106
 -                         402.291.0100
 - 
 - See the AWIPS II Master Rights File ("Master Rights File.pdf") for
 - further licensing information.
 -->
<!--
 - Virtual host configuration for edex
 -
 - 
 - SOFTWARE HISTORY
 - 
 - Date         Ticket#    Engineer    Description
 - ============ ========== =========== ==========================
 - Mar 18, 2013 1814       rjpeter     Initial Creation
 - 
 -->
<broker>
    <prefix>${QPID_HOME}</prefix>
    <work>${QPID_WORK}</work>
    <conf>${prefix}/etc</conf>

    <plugin-directory>${QPID_HOME}/lib/opt</plugin-directory>
    <cache-directory>${QPID_WORK}/cache</cache-directory>
    
    <connector>
        <!-- To enable SSL edit the keystorePath and keystorePassword
         and set enabled to true. 
             To disable Non-SSL port set sslOnly to true -->
        <ssl>
            <enabled>false</enabled>
            <port>5671</port>
            <sslOnly>false</sslOnly>
            <keyStorePath>/path/to/keystore.ks</keyStorePath>
            <keyStorePassword>keystorepass</keyStorePassword>
        </ssl>
        <port>5672</port>
        <socketReceiveBuffer>32768</socketReceiveBuffer>
        <socketWriteBuffer>16384</socketWriteBuffer>
    </connector>
    <management>
        <enabled>true</enabled>
        <jmxport>
            <registryServer>8999</registryServer>
            <!--
             If unspecified, connectorServer defaults to 100 + registryServer port.
            <connectorServer>9099</connectionServer>
            -->
        </jmxport>
        <ssl>
            <enabled>false</enabled>
            <!-- Update below path to your keystore location. -->
            <keyStorePath>${conf}/qpid.keystore</keyStorePath>
            <keyStorePassword>password</keyStorePassword>
        </ssl>
        <http>
            <enabled>true</enabled>
            <port>8180</port>
            <basic-auth>false</basic-auth>
            <sasl-auth>false</sasl-auth>
            <session-timeout>600</session-timeout>
        </http>
        <https>
            <enabled>false</enabled>
        </https>
    </management>
    <advanced>
        <framesize>65535</framesize>
        <locale>en_US</locale>
    </advanced>

    <security>
        <pd-auth-manager>
            <principal-database>
                <class>org.apache.qpid.server.security.auth.database.PlainPasswordFilePrincipalDatabase</class>
                <attributes>
                    <attribute>
                        <name>passwordFile</name>
                        <value>${conf}/passwd</value>
                    </attribute>
                </attributes>
            </principal-database>
        </pd-auth-manager>

        <!-- By default, all authenticated users have permissions to perform all actions -->

        <!-- ACL Example
             This example illustrates securing the both Management (JMX) and Messaging.
        <acl>${conf}/broker_example.acl</acl>
        -->
        
        <msg-auth>false</msg-auth>
    </security>

    <virtualhosts>${conf}/virtualhosts.xml</virtualhosts>
    
    <heartbeat>
        <delay>0</delay>
        <timeoutFactor>2.0</timeoutFactor>
    </heartbeat>
    <queue>
        <auto_register>true</auto_register>
    </queue>

    <status-updates>ON</status-updates>

</broker>
