<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.ffa.rsc.FFAResource"
            name="FFA"
            recordClass="gov.noaa.nws.ncep.edex.plugin.aww.common.AwwRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW">
      </resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.ffa.rsc.FFAResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="FFA">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceAttribute">
      <nc-resourceAttribute
            attributeClass="java.lang.Boolean"
            attributeName="flashFloodAdvisoryEnable"
            defaultValue="true"
            ncResourceName="FFA">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="flashFloodAdvisoryColor"
            defaultValue="RGB {100, 100, 100}"
            ncResourceName="FFA">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="flashFloodAdvisorySymbolWidth"
            defaultValue="3"
            ncResourceName="FFA">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="flashFloodAdvisorySymbolSize"
            defaultValue="1"
            ncResourceName="FFA">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="flashFloodWarningEnable"
            defaultValue="true"
            ncResourceName="FFA">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="flashFloodWarningColor"
            defaultValue="RGB {155, 100, 100}"
            ncResourceName="FFA">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="flashFloodWarningSymbolWidth"
            defaultValue="3"
            ncResourceName="FFA">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="flashFloodWarningSymbolSize"
            defaultValue="1"
            ncResourceName="FFA">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="flashFloodWatchEnable"
            defaultValue="true"
            ncResourceName="FFA">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="flashFloodWatchColor"
            defaultValue="RGB {100, 100, 155}"
            ncResourceName="FFA">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="flashFloodWatchSymbolWidth"
            defaultValue="3"
            ncResourceName="FFA">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="flashFloodWatchSymbolSize"
            defaultValue="1"
            ncResourceName="FFA">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="flashFloodStatementEnable"
            defaultValue="true"
            ncResourceName="FFA">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="flashFloodStatementColor"
            defaultValue="RGB {100, 155, 100}"
            ncResourceName="FFA">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="flashFloodStatementSymbolWidth"
            defaultValue="3"
            ncResourceName="FFA">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="flashFloodStatementSymbolSize"
            defaultValue="1"
            ncResourceName="FFA">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="timeEnable"
            defaultValue="true"
            ncResourceName="FFA">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="countyOrZoneNameEnable"
            defaultValue="true"
            ncResourceName="FFA">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="immediateCauseEnable"
            defaultValue="true"
            ncResourceName="FFA">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="outlineEnable"
            defaultValue="true"
            ncResourceName="FFA">
      </nc-resourceAttribute>
   </extension>

</plugin>
