<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.ffa.rsc.FFAResource"
            name="FFA"
            recordClass="gov.noaa.nws.ncep.edex.plugin.aww.common.AwwRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW">
      </resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.ffa.rsc.FFAResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="FFA">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceParameter">
      <nc-resourceParameter
            paramClass="java.lang.Boolean"
            paramName="flashFloodAdvisoryEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="FFA">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="flashFloodAdvisoryColor"
            defaultValue="RGB {100, 100, 100}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="FFA">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="flashFloodAdvisorySymbolWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="FFA">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="flashFloodAdvisorySymbolSize"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="FFA">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="flashFloodWarningEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="FFA">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="flashFloodWarningColor"
            defaultValue="RGB {155, 100, 100}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="FFA">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="flashFloodWarningSymbolWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="FFA">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="flashFloodWarningSymbolSize"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="FFA">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="flashFloodWatchEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="FFA">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="flashFloodWatchColor"
            defaultValue="RGB {100, 100, 155}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="FFA">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="flashFloodWatchSymbolWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="FFA">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="flashFloodWatchSymbolSize"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="FFA">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="flashFloodStatementEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="FFA">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="flashFloodStatementColor"
            defaultValue="RGB {100, 155, 100}"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="FFA">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="flashFloodStatementSymbolWidth"
            defaultValue="3"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="FFA">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Integer"
            paramName="flashFloodStatementSymbolSize"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="FFA">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="timeEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="FFA">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="countyOrZoneNameEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="FFA">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="immediateCauseEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="FFA">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="outlineEnable"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="FFA">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            ncResourceName="FFA"
            paramClass="String"
            paramName="reportType"
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            ncResourceName="FFA"
            paramClass="String"
            paramName="color"
            defaultValue="RGB {155, 155, 155}"
            paramType="IMPLEMENTATION_PARAM">
      </nc-resourceParameter>
      <nc-resourceParameter
            ncResourceName="FFA"
            paramClass="String"
            paramName="legendName"
            defaultValue="Watch"
            paramType="IMPLEMENTATION_PARAM">
      </nc-resourceParameter>
      
      
   </extension>

</plugin>
