<?xml version="1.0" encoding="UTF-8"?>
    <!--
        This_software_was_developed_and_/_or_modified_by_Raytheon_Company,
        pursuant_to_Contract_DG133W-05-CQ-1067_with_the_US_Government.
        
        U.S._EXPORT_CONTROLLED_TECHNICAL_DATA
        This_software_product_contains_export-restricted_data_whose
        export/transfer/disclosure_is_restricted_by_U.S._law._Dissemination
        to_non-U.S._persons_whether_in_the_United_States_or_abroad_requires
        an_export_license_or_other_authorization.
        
        Contractor_Name:________Raytheon_Company
        Contractor_Address:_____6825_Pine_Street,_Suite_340
        ________________________Mail_Stop_B8
        ________________________Omaha,_NE_68106
        ________________________402.291.0100
        
        See_the_AWIPS_II_Master_Rights_File_("Master_Rights_File.pdf")_for
        further_licensing_information.
    -->
<?eclipse version="3.3"?>
<plugin>
<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="CAVE"
               label="CAVE">
            <menu
                  id="file.new"
                  label="New">
               <command commandId="org.eclipse.ui.window.newEditor"
               			label="Editor"
               			style="push">
               </command>
               <!--
               <command commandId="com.raytheon.viz.ui.window.new4Editor"
               			label="Four Panel Editor"
               			style="push">
               </command>
               <command
                     commandId="com.raytheon.viz.ui.newPage"
                     label="Window"
                     style="push">
               </command>
               -->
               <command
                     commandId="com.raytheon.viz.textworkstation.opentextworkstation"
                     label="Text Workstation"
                     style="push">
               </command>
               <menu id="file.new.Aviation" label="Aviation">
               </menu>
            </menu>
            <menu id="perspectives" label="Perspective">
            	<dynamic
                   class="com.raytheon.viz.ui.personalities.awips.OpenPerspectiveMenu"
                   id="com.raytheon.viz.ui.personalities.awips.openPerspective">
            	</dynamic>
            </menu>
            <menu id="browsers"
            	label="Data Browsers">
            	<!--
            	<command 
                  commandId="com.raytheon.viz.volumebrowser.originalVolumeBrowser"
                  label="Browser Classic..."
                  style="push">
            	</command>
            	-->
            	<command
            	  commandId="com.raytheon.uf.viz.productbrowser.productBrowser"
            	  label="Product Browser"
                  style="push">
            	</command>
            </menu>
            <separator
                  name="afterNewGroup"
                  visible="true">
            </separator>
            <separator
                  name="group1"
                  visible="true">
            </separator>
            <separator
                  name="group2"
                  visible="true">
            </separator>
            <separator
                  name="group3"
                  visible="true">
            </separator>
            <separator
                  name="group4"
                  visible="true">
            </separator>
            <separator
                  name="group5"
                  visible="true">
            </separator>
            <separator
                  name="importExportSeparator"
                  visible="true">
            </separator>
            <menu
                  id="import"
                  label="Import">
            </menu>
            <menu
                  id="export"
                  label="Export">
            </menu>
            <menu id="displaysState"
                  label="Load/Save Displays">
               <command
                     commandId="com.raytheon.viz.ui.saveBundle"
                     label="Save Editor Display..."
                     style="push">
               </command>
               <command
                     commandId="com.raytheon.viz.ui.saveProcedure"
                     label="Save Perspective Displays..."
                     style="push">
               </command>
               <command
                     commandId="com.raytheon.viz.ui.loadSerialized"
                     label="Load Displays..."
                     style="push">
               </command>
            </menu>
            <separator
                  name="preferenceGroup"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences..."
                  style="push">
            </command>
             <separator
                   name="beforeExitGroup"
                   visible="true">
             </separator>
             <command
                   commandId="org.eclipse.ui.file.exit"
                   label="Exit..."
                   style="push">
             </command>
         </menu>         
          <menu
                id="help"
                label="Help"
                mnemonic="H">
             <command
                   commandId="com.raytheon.viz.ui.actions.notImplemented"
                   label="Show tooltips"
                   style="toggle">
             </command>
             <separator
                   name="separator1"
                   visible="true">
             </separator>
             <command
                   commandId="org.eclipse.ui.help.aboutAction"
                   label="About CAVE"
                   mnemonic="A"
                   style="push">
             </command>
             <separator
                   name="aboutAdditions"
                   visible="false">
             </separator>
             <dynamic
                   class="com.raytheon.viz.ui.personalities.awips.menus.SystemIdItem"
                   id="systemIdMenuItem">
             </dynamic>
          </menu>          
      </menuContribution>
      </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
         id="com.raytheon.viz.ui.personalities.awips"
         name="AWIPS" description="Command category for AWIPS">
	  </category>
      <command id="com.raytheon.viz.ui.window.new4Editor"
      		   categoryId="com.raytheon.viz.ui.personalities.awips"
      		   description="Opens a new four panel editor"
      		   name="New Four Panel Editor">
      </command>
      <command
            id="com.raytheon.viz.ui.settime"
            categoryId="com.raytheon.viz.ui.personalities.awips"
            description="Launches the set time dialog to change the time of the system"
            name="Set Time">
      </command>
      <command
      		id="com.raytheon.viz.ui.setbackgroundcolor"
      		categoryId="com.raytheon.viz.ui.personalities.awips"
      		description="Launches the change background color dialog"
      		name="Set Background Color">
      </command>
      <command
      		id="com.raytheon.viz.ui.imageProperties"
      		categoryId="com.raytheon.viz.ui.personalities.awips"
      		description="Launches the image properties dialog"
      		name="Image Properties">
      </command>
      <command
            id="com.raytheon.viz.ui.actions.toggleResource"
            name="Toggle Resource">
        <commandParameter
               id="index"
               name="index"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   
   
   <extension
      point="org.eclipse.ui.handlers">
      <handler
            class="com.raytheon.viz.ui.actions.ShowTimeDialog"
            commandId="com.raytheon.viz.ui.settime">
      </handler>
      <handler
            class="com.raytheon.viz.ui.actions.SetBackgroundColor"
            commandId="com.raytheon.viz.ui.setbackgroundcolor">
      </handler>
      <handler
      		class="com.raytheon.viz.ui.actions.ImagePropertiesAction"
      		commandId="com.raytheon.viz.ui.imageProperties">
      		<activeWhen>
	       		<with variable="activeEditor">
					<instanceof value="com.raytheon.uf.viz.core.IDisplayPaneContainer"/>
				</with>
       		</activeWhen>
      </handler>
    <handler
         class="com.raytheon.viz.ui.personalities.awips.ClosePerspectiveHandler"
         commandId="org.eclipse.ui.window.closePerspective">
         <activeWhen>
	 		<with
	               variable="activeContexts">
	            <iterate
	                  operator="or">
	               <equals
	                     value="com.raytheon.uf.viz.application.awips">
	               </equals>
	            </iterate>
	         </with>
 		</activeWhen>
   </handler>
   <handler
         class="com.raytheon.viz.ui.personalities.awips.CloseAllPerspectivesHandler"
         commandId="org.eclipse.ui.window.closeAllPerspectives">
         <activeWhen>
	 		<with
	               variable="activeContexts">
	            <iterate
	                  operator="or">
	               <equals
	                     value="com.raytheon.uf.viz.application.awips">
	               </equals>
	            </iterate>
	         </with>
 		</activeWhen>
   </handler>
</extension>
   <extension
         point="com.raytheon.uf.viz.core.scriptTemplate">
      <scriptTemplate
            pluginName="bufr"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
      <scriptTemplate
            pluginName="taf"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="org.eclipse.ui.presentationFactories">
      <factory
            class="com.raytheon.viz.ui.personalities.awips.VizPresentationFactory"
            id="com.raytheon.viz.ui.personalities.awips.VizPresentationFactory"
            name="Viz Presentation">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.raytheon.viz.ui.actions.toggleResource"
            contextId="com.raytheon.viz.ui.displayPaneContainer.context"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="NUMPAD_0">
            <parameter
                  id="index"
                  value="0">
            </parameter>
      </key>
      <key
            commandId="com.raytheon.viz.ui.actions.toggleResource"
            contextId="com.raytheon.viz.ui.displayPaneContainer.context"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="NUMPAD_1">
            <parameter
                  id="index"
                  value="1">
            </parameter>
      </key>
      <key
            commandId="com.raytheon.viz.ui.actions.toggleResource"
            contextId="com.raytheon.viz.ui.displayPaneContainer.context"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="NUMPAD_2">
            <parameter
                  id="index"
                  value="2">
            </parameter>
      </key>
      <key
            commandId="com.raytheon.viz.ui.actions.toggleResource"
            contextId="com.raytheon.viz.ui.displayPaneContainer.context"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="NUMPAD_3">
            <parameter
                  id="index"
                  value="3">
            </parameter>
      </key>
      <key
            commandId="com.raytheon.viz.ui.actions.toggleResource"
            contextId="com.raytheon.viz.ui.displayPaneContainer.context"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="NUMPAD_4">
            <parameter
                  id="index"
                  value="4">
            </parameter>
      </key>
      <key
            commandId="com.raytheon.viz.ui.actions.toggleResource"
            contextId="com.raytheon.viz.ui.displayPaneContainer.context"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="NUMPAD_5">
            <parameter
                  id="index"
                  value="5">
            </parameter>
      </key>
      <key
            commandId="com.raytheon.viz.ui.actions.toggleResource"
            contextId="com.raytheon.viz.ui.displayPaneContainer.context"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="NUMPAD_6">
            <parameter
                  id="index"
                  value="6">
            </parameter>
      </key>
      <key
            commandId="com.raytheon.viz.ui.actions.toggleResource"
            contextId="com.raytheon.viz.ui.displayPaneContainer.context"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="NUMPAD_7">
            <parameter
                  id="index"
                  value="7">
            </parameter>
      </key>
      <key
            commandId="com.raytheon.viz.ui.actions.toggleResource"
            contextId="com.raytheon.viz.ui.displayPaneContainer.context"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="NUMPAD_8">
            <parameter
                  id="index"
                  value="8">
            </parameter>
      </key>
      <key
            commandId="com.raytheon.viz.ui.actions.toggleResource"
            contextId="com.raytheon.viz.ui.displayPaneContainer.context"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="NUMPAD_9">
            <parameter
                  id="index"
                  value="9">
            </parameter>
      </key>
      <key
            commandId="com.raytheon.viz.ui.actions.toggleResource"
            contextId="com.raytheon.viz.ui.displayPaneContainer.context"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="M1+NUMPAD_0">
            <parameter
                  id="index"
                  value="10">
            </parameter>
      </key>
      <key
            commandId="com.raytheon.viz.ui.actions.toggleResource"
            contextId="com.raytheon.viz.ui.displayPaneContainer.context"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="M1+NUMPAD_1">
            <parameter
                  id="index"
                  value="11">
            </parameter>
      </key>
      <key
            commandId="com.raytheon.viz.ui.actions.toggleResource"
            contextId="com.raytheon.viz.ui.displayPaneContainer.context"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="M1+NUMPAD_2">
            <parameter
                  id="index"
                  value="12">
            </parameter>
      </key>
      <key
            commandId="com.raytheon.viz.ui.actions.toggleResource"
            contextId="com.raytheon.viz.ui.displayPaneContainer.context"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="M1+NUMPAD_3">
            <parameter
                  id="index"
                  value="13">
            </parameter>
      </key>
      <key
            commandId="com.raytheon.viz.ui.actions.toggleResource"
            contextId="com.raytheon.viz.ui.displayPaneContainer.context"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="M1+NUMPAD_4">
            <parameter
                  id="index"
                  value="14">
            </parameter>
      </key>
      <key
            commandId="com.raytheon.viz.ui.actions.toggleResource"
            contextId="com.raytheon.viz.ui.displayPaneContainer.context"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="M1+NUMPAD_5">
            <parameter
                  id="index"
                  value="15">
            </parameter>
      </key>
      <key
            commandId="com.raytheon.viz.ui.actions.toggleResource"
            contextId="com.raytheon.viz.ui.displayPaneContainer.context"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="M1+NUMPAD_6">
            <parameter
                  id="index"
                  value="16">
            </parameter>
      </key>
      <key
            commandId="com.raytheon.viz.ui.actions.toggleResource"
            contextId="com.raytheon.viz.ui.displayPaneContainer.context"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="M1+NUMPAD_7">
            <parameter
                  id="index"
                  value="17">
            </parameter>
      </key>
      <key
            commandId="com.raytheon.viz.ui.actions.toggleResource"
            contextId="com.raytheon.viz.ui.displayPaneContainer.context"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="M1+NUMPAD_8">
            <parameter
                  id="index"
                  value="18">
            </parameter>
      </key>
      <key
            commandId="com.raytheon.viz.ui.actions.toggleResource"
            contextId="com.raytheon.viz.ui.displayPaneContainer.context"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="M1+NUMPAD_9">
            <parameter
                  id="index"
                  value="19">
            </parameter>
      </key>
   </extension>
   <extension
   		point="com.raytheon.uf.viz.core.component">
   		<component key="viz" class="com.raytheon.viz.ui.personalities.awips.CAVE"/>
   </extension>
   <extension
   		point="org.eclipse.ui.contexts">
      <context
            id="com.raytheon.uf.viz.application.awips"
            name="AWIPS Application context">
      </context>
   </extension>
</plugin>
