<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.eclipse.ecf.provider.ui.generic.client"
         name="ECF Generic Client Connect Wizard Extension"
         point="org.eclipse.ecf.ui.connectWizards">
      <wizard
            class="org.eclipse.ecf.provider.ui.wizards.GenericClientContainerConnectWizard"
            containerFactoryName="ecf.generic.client"
            icon="icons/contact_enabled.gif"
            id="org.eclipse.ecf.provider.ui.generic.client"
            name="ECF Generic Client">
      </wizard>
   </extension>

</plugin>
