<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ecf.ui.connectWizards">
      <wizard
            class="org.eclipse.ecf.internal.provider.msn.ui.MSNConnectWizard"
            containerFactoryName="ecf.msn.msnp"
            id="org.eclipse.ecf.provider.ui.msn.connectWizard"
            name="%wizardLabel"/>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.eclipse.ecf.internal.provider.msn.ui.MSNConnectWizard"
            id="org.eclipse.ecf.provider.ui.msn.connectWizard"
            name="%wizardLabel"
            icon="icons/new_connection.gif"
            category="org.eclipse.ecf.ui.newConnection.category"
            finalPerspective="org.eclipse.ecf.ui.perspective.communications">
          <description>%MSNConnectWizardPage.description</description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ecf.ui.perspective.communications">
         <newWizardShortcut id="org.eclipse.ecf.provider.ui.msn.connectWizard"/>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="org.eclipse.ecf.internal.provider.msn.ui.MSNHyperlinkDetector"
            id="org.eclipse.ecf.internal.provider.msn.ui.MSNHyperlinkDetector"
            name="MSN"
            targetId="org.eclipse.ui.DefaultTextEditor">
      </hyperlinkDetector>
   </extension>


</plugin>
