<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <!-- The following extension point is internal and likely to change. -->
   <extension-point
      id="dynamicWizard"
      name="%PLUGIN_XP_DYNAMIC_WIZARD"/>

   <!-- The following extension point is internal and likely to change. -->   
   <extension-point
      id="actionDialogPreferenceType"
      name="%PLUGIN_XP_POPUP_DIALOGS"/>

   <extension-point id="antDataMapping" name="%XP_antDataMapping" schema="schema/antdatamapping.exsd"/>
   <extension-point id="antScenario" name="%XP_antScenario" schema="schema/antScenario.exsd"/>
     
   <extension
         id="wsgen"
         name="wsgen"
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="ws.ant.task.WebServiceGenerationAntTask"
            eclipseRuntime="true"
            headless="true"
            library="ant-lib/anttasks.jar"
            name="wsgen"/>
   </extension> 
     <extension
           point="org.eclipse.ant.core.extraClasspathEntries">
        <extraClasspathEntry library="ant-lib/anttasks.jar"/>
     </extension>     

</plugin>
