<?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <!--
        This_software_was_developed_and_/_or_modified_by_Raytheon_Company,
        pursuant_to_Contract_DG133W-05-CQ-1067_with_the_US_Government.
        
        U.S._EXPORT_CONTROLLED_TECHNICAL_DATA
        This_software_product_contains_export-restricted_data_whose
        export/transfer/disclosure_is_restricted_by_U.S._law._Dissemination
        to_non-U.S._persons_whether_in_the_United_States_or_abroad_requires
        an_export_license_or_other_authorization.
        
        Contractor_Name:________Raytheon_Company
        Contractor_Address:_____6825_Pine_Street,_Suite_340
        ________________________Mail_Stop_B8
        ________________________Omaha,_NE_68106
        ________________________402.291.0100
        
        See_the_AWIPS_II_Master_Rights_File_("Master_Rights_File.pdf")_for
        further_licensing_information.
    -->
<configuration>
<pluginName>radar, binlightning, bufrua</pluginName>
<radarIcao>ktlx</radarIcao>
<wmoNumber>72357</wmoNumber>
<startInterval>60</startInterval>
<cellTilt>0.0</cellTilt>
<dmdTilt>0.5</dmdTilt>
<cellTableAttributes>true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true</cellTableAttributes>
<mesoTableAttributes>true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true</mesoTableAttributes>
<tvsTableAttributes>true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true,true</tvsTableAttributes>
<!--
SCAN Table values
-->
<cellTable>
<time>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>n</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>sec</units>
</time>
<radar>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>n</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>4letID</units>
</radar>
<ident>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>a</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>2letID</units>
</ident>
<azm>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>a</rank>
<trend>y</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>30</intrvl>
<range>360.1</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>deg</units>
</azm>
<rng>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>a</rank>
<trend>y</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>20</intrvl>
<range>200.1</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>nmi</units>
</rng>
<rank>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>a</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>n</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>none</units>
</rank>
<tvs>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>y</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>?</units>
</tvs>
<mdaSR>
<low>1</low>
<mid>3</mid>
<upp>5</upp>
<rank>d</rank>
<trend>n</trend>
<mClr>y</mClr>
<clucon>y</clucon>
<inTbl>y</inTbl>
<min>1</min>
<intrvl>2</intrvl>
<range>15.1</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>none</units>
</mdaSR>
<posh>
<low>20</low>
<mid>35</mid>
<upp>50</upp>
<rank>d</rank>
<trend>y</trend>
<mClr>y</mClr>
<clucon>y</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>10</intrvl>
<range>100.1</range>
<alarm>101</alarm>
<aAlarm>101</aAlarm>
<units>%</units>
</posh>
<poh>
<low>20</low>
<mid>40</mid>
<upp>70</upp>
<rank>d</rank>
<trend>y</trend>
<mClr>y</mClr>
<clucon>y</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>10</intrvl>
<range>100.1</range>
<alarm>101</alarm>
<aAlarm>101</aAlarm>
<units>%</units>
</poh>
<hSize>
<low>.75</low>
<mid>1.5</mid>
<upp>2.0</upp>
<rank>d</rank>
<trend>y</trend>
<mClr>y</mClr>
<clucon>y</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>0.5</intrvl>
<range>2.76</range>
<alarm>10</alarm>
<aAlarm>10</aAlarm>
<units>in(d)</units>
</hSize>
<vil>
<low>15</low>
<mid>30</mid>
<upp>50</upp>
<rank>d</rank>
<trend>y</trend>
<mClr>y</mClr>
<clucon>y</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>10</intrvl>
<range>70.1</range>
<alarm>200</alarm>
<aAlarm>200</aAlarm>
<units>kg/m2</units>
</vil>
<dbz>
<low>30</low>
<mid>52</mid>
<upp>60</upp>
<rank>d</rank>
<trend>y</trend>
<mClr>y</mClr>
<clucon>y</clucon>
<inTbl>y</inTbl>
<min>30</min>
<intrvl>4</intrvl>
<range>36.1</range>
<alarm>100</alarm>
<aAlarm>100</aAlarm>
<units>dbz</units>
</dbz>
<dbzHt>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>a</rank>
<trend>y</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>5</intrvl>
<range>30.1</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>kft</units>
</dbzHt>
<top>
<low>28</low>
<mid>34</mid>
<upp>40</upp>
<rank>d</rank>
<trend>y</trend>
<mClr>y</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>5</intrvl>
<range>50.1</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>kft</units>
</top>
<dir>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>a</rank>
<trend>y</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>30</intrvl>
<range>360.1</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>deg</units>
</dir>
<spd>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>d</rank>
<trend>y</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>5</intrvl>
<range>50</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>kts</units>
</spd>
<azm15>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>n</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>deg</units>
</azm15>
<rng15>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>n</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>nmi</units>
</rng15>
<azm30>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>n</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>deg</units>
</azm30>
<rng30>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>n</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>nmi</units>
</rng30>
<azm45>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>n</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>deg</units>
</azm45>
<rng45>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>n</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>nmi</units>
</rng45>
<azm60>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>n</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>deg</units>
</azm60>
<rng60>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>n</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>nmi</units>
</rng60>
<mvtErr>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>n</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>kts</units>
</mvtErr>
<mvtMn>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>n</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>deg</units>
</mvtMn>
<lat>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>n</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>deg</units>
</lat>
<lon>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>n</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>deg</units>
</lon>
<polh>
<low>20</low>
<mid>40</mid>
<upp>60</upp>
<rank>d</rank>
<trend>y</trend>
<mClr>y</mClr>
<clucon>y</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>10</intrvl>
<range>100.1</range>
<alarm>101</alarm>
<aAlarm>101</aAlarm>
<units>%</units>
</polh>
<svrwx>
<low>20</low>
<mid>40</mid>
<upp>60</upp>
<rank>d</rank>
<trend>y</trend>
<mClr>y</mClr>
<clucon>y</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>10</intrvl>
<range>100.1</range>
<alarm>101</alarm>
<aAlarm>101</aAlarm>
<units>%</units>
</svrwx>
<hvyPr>
<low>20</low>
<mid>40</mid>
<upp>60</upp>
<rank>d</rank>
<trend>y</trend>
<mClr>y</mClr>
<clucon>y</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>10</intrvl>
<range>100.1</range>
<alarm>101</alarm>
<aAlarm>101</aAlarm>
<units>%</units>
</hvyPr>
<pPos>
<low>50</low>
<mid>70</mid>
<upp>90</upp>
<rank>d</rank>
<trend>y</trend>
<mClr>y</mClr>
<clucon>y</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>10</intrvl>
<range>100.1</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>%</units>
</pPos>
<cgRate>
<low>1</low>
<mid>2</mid>
<upp>6</upp>
<rank>d</rank>
<trend>y</trend>
<mClr>y</mClr>
<clucon>y</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>1</intrvl>
<range>8.1</range>
<alarm>999</alarm>
<aAlarm>999</aAlarm>
<units>/min</units>
</cgRate>
<vcp>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>n</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>none</units>
</vcp>
<cape>
<low>800</low>
<mid>1500</mid>
<upp>3000</upp>
<rank>d</rank>
<trend>y</trend>
<mClr>y</mClr>
<clucon>y</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>500</intrvl>
<range>5000.1</range>
<alarm>20000</alarm>
<aAlarm>20000</aAlarm>
<units>J/kg</units>
</cape>
<sreh>
<low>50</low>
<mid>150</mid>
<upp>250</upp>
<rank>d</rank>
<trend>y</trend>
<mClr>y</mClr>
<clucon>y</clucon>
<inTbl>y</inTbl>
<min>-200</min>
<intrvl>100</intrvl>
<range>800.1</range>
<alarm>10000</alarm>
<aAlarm>10000</aAlarm>
<units>m2/s2</units>
</sreh>
<county>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>a</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>none</units>
</county>
</cellTable>
<mesoTable>
<time>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>n</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>sec</units>
</time>
<radar>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>n</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>none</units>
</radar>
<strmID>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>a</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>2letID</units>
</strmID>
<ident>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>a</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>numID</units>
</ident>
<azm>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>a</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>deg</units>
</azm>
<rng>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>a</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>nmi</units>
</rng>
<mdaSR>
<low>1</low>
<mid>3</mid>
<upp>5</upp>
<rank>d</rank>
<trend>n</trend>
<mClr>y</mClr>
<clucon>y</clucon>
<inTbl>y</inTbl>
<min>1</min>
<intrvl>2</intrvl>
<range>15.1</range>
<alarm>26</alarm>
<aAlarm>26</aAlarm>
<units>none</units>
</mdaSR>
<class>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>n</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>1-let</units>
</class>
<llVr>
<low>35</low>
<mid>40</mid>
<upp>58</upp>
<rank>d</rank>
<trend>y</trend>
<mClr>y</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>10</intrvl>
<range>130.1</range>
<alarm>999</alarm>
<aAlarm>999</aAlarm>
<units>kts</units>
</llVr>
<llgtg>
<low>19</low>
<mid>38</mid>
<upp>77</upp>
<rank>d</rank>
<trend>y</trend>
<mClr>y</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>50</intrvl>
<range>253.1</range>
<alarm>999</alarm>
<aAlarm>999</aAlarm>
<units>kts</units>
</llgtg>
<base>
<low>3.3</low>
<mid>999</mid>
<upp>999</upp>
<rank>a</rank>
<trend>y</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>3.8</intrvl>
<range>16.5</range>
<alarm>99</alarm>
<aAlarm>-1</aAlarm>
<units>kft</units>
</base>
<depth>
<low>6.5</low>
<mid>9.8</mid>
<upp>16.5</upp>
<rank>d</rank>
<trend>y</trend>
<mClr>y</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>6.5</intrvl>
<range>27.1</range>
<alarm>99</alarm>
<aAlarm>99</aAlarm>
<units>kft</units>
</depth>
<relDep>
<low>30</low>
<mid>50</mid>
<upp>75</upp>
<rank>d</rank>
<trend>y</trend>
<mClr>y</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>10</intrvl>
<range>100.1</range>
<alarm>101</alarm>
<aAlarm>101</aAlarm>
<units>%</units>
</relDep>
<maxVr>
<low>35</low>
<mid>40</mid>
<upp>58</upp>
<rank>d</rank>
<trend>y</trend>
<mClr>y</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>10</intrvl>
<range>126.6</range>
<alarm>999</alarm>
<aAlarm>999</aAlarm>
<units>kts</units>
</maxVr>
<htMxVr>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>a</rank>
<trend>y</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>5</intrvl>
<range>40.1</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>kft</units>
</htMxVr>
<tvs>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>y</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>none</units>
</tvs>
<dir>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>a</rank>
<trend>y</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>30</intrvl>
<range>360.1</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>deg</units>
</dir>
<spd>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>d</rank>
<trend>y</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>10</intrvl>
<range>100.1</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>kts</units>
</spd>
<msi>
<low>2000</low>
<mid>2300</mid>
<upp>3600</upp>
<rank>d</rank>
<trend>y</trend>
<mClr>y</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>2000</intrvl>
<range>10000.1</range>
<alarm>20000</alarm>
<aAlarm>20000</aAlarm>
<units>none</units>
</msi>
<lat>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>n</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>deg</units>
</lat>
<lon>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>n</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>deg</units>
</lon>
<county>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>a</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>none</units>
</county>
</mesoTable>
<tvsTable>
<time>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>n</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>sec</units>
</time>
<radar>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>n</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>none</units>
</radar>
<strmID>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>a</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>numID</units>
</strmID>
<ident>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>a</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>2letID</units>
</ident>
<type>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>a</rank>
<trend>n</trend>
<mClr>y</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>2letID</units>
</type>
<azm>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>a</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>deg</units>
</azm>
<rng>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>a</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>nmi</units>
</rng>
<avgDv>
<low>2</low>
<mid>4</mid>
<upp>6</upp>
<rank>d</rank>
<trend>n</trend>
<mClr>y</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>5</aAlarm>
<units>kts</units>
</avgDv>
<llDv>
<low>2</low>
<mid>4</mid>
<upp>6</upp>
<rank>d</rank>
<trend>n</trend>
<mClr>y</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>5</aAlarm>
<units>kts</units>
</llDv>
<maxDv>
<low>2</low>
<mid>4</mid>
<upp>6</upp>
<rank>d</rank>
<trend>n</trend>
<mClr>y</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>5</aAlarm>
<units>kts</units>
</maxDv>
<mxDvHt>
<low>10</low>
<mid>20</mid>
<upp>30</upp>
<rank>a</rank>
<trend>n</trend>
<mClr>y</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>kft</units>
</mxDvHt>
<base>
<low>2</low>
<mid>4</mid>
<upp>6</upp>
<rank>a</rank>
<trend>n</trend>
<mClr>y</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>3</aAlarm>
<units>kft</units>
</base>
<depth>
<low>1</low>
<mid>3</mid>
<upp>5</upp>
<rank>d</rank>
<trend>n</trend>
<mClr>y</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>4</aAlarm>
<units>kft</units>
</depth>
<top>
<low>25</low>
<mid>35</mid>
<upp>45</upp>
<rank>d</rank>
<trend>n</trend>
<mClr>y</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>40</aAlarm>
<units>kft</units>
</top>
<shear>
<low>2</low>
<mid>4</mid>
<upp>6</upp>
<rank>d</rank>
<trend>n</trend>
<mClr>y</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>5</aAlarm>
<units>e-3/s</units>
</shear>
<shrHt>
<low>10</low>
<mid>20</mid>
<upp>30</upp>
<rank>a</rank>
<trend>n</trend>
<mClr>y</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>25</aAlarm>
<units>kft</units>
</shrHt>
<lat>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>n</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>deg</units>
</lat>
<lon>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>n</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>n</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>deg</units>
</lon>
<county>
<low>999</low>
<mid>999</mid>
<upp>999</upp>
<rank>a</rank>
<trend>n</trend>
<mClr>n</mClr>
<clucon>n</clucon>
<inTbl>y</inTbl>
<min>0</min>
<intrvl>0</intrvl>
<range>0</range>
<alarm>-999</alarm>
<aAlarm>-999</aAlarm>
<units>none</units>
</county>
</tvsTable>
</configuration>