<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.raytheon.uf.viz.monitor.scan.openCELLTable"
            name="SCAN">
            <commandParameter id="icao"	name="Icao"	optional="true">
            </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.raytheon.uf.viz.monitor.scan.openDMDTable"
            name="SCAN">
            <commandParameter id="icao"	name="Icao"	optional="true">
            </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.raytheon.uf.viz.monitor.scan.CellAction"
            commandId="com.raytheon.uf.viz.monitor.scan.openCELLTable">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.raytheon.uf.viz.monitor.scan.DmdAction"
            commandId="com.raytheon.uf.viz.monitor.scan.openDMDTable">
      </handler>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="com.raytheon.uf.viz.monitor.scan.resource.ScanResource"
            name="com.raytheon.uf.viz.monitor.scan.ScanResource"
            renderingOrderId="PLOT">
      </resource>
      <resource
            class="com.raytheon.uf.viz.monitor.scan.resource.CWATLocalThreatResource"
            name="com.raytheon.uf.viz.monitor.scan.CWATLocalThreatResource"
            renderingOrderId="CONTOUR">
      </resource>
   </extension>
   <extension
         point="com.raytheon.uf.viz.localization.perspective.localizationpath">
      <path
            application="D2D"
            localizationType="cave_static"
            name="SCAN"
            recursive="true"
            value="scan">
      </path>
            <path
            application="D2D"
            localizationType="common_static"
            name="SCAN COMMON"
            recursive="true"
            value="scan">
      </path>
   </extension>
  </plugin>
