<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.internal.provider.bittorrent.BitTorrentContainerInstantiator"
            description="ECF BitTorrent File Transfer Implementation"
            name="ecf.filetransfer.bittorrent"/>
   </extension>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.internal.provider.bittorrent.TorrentNamespace"
            name="ecf.namespace.bittorrent"/>
   </extension>
   <extension
         point="org.eclipse.ecf.provider.filetransfer.retrieveFileTransferProtocolFactory">
      <retrieveFileTransferProtocolFactory
            class="org.eclipse.ecf.internal.provider.bittorrent.BitTorrentRetrieveFileTransferFactory"
            protocol="torrent">
      </retrieveFileTransferProtocolFactory>
   </extension>
</plugin>
