<?xml version="1.0" encoding="UTF-8"?>
    <!--
        This_software_was_developed_and_/_or_modified_by_Raytheon_Company,
        pursuant_to_Contract_DG133W-05-CQ-1067_with_the_US_Government.
        
        U.S._EXPORT_CONTROLLED_TECHNICAL_DATA
        This_software_product_contains_export-restricted_data_whose
        export/transfer/disclosure_is_restricted_by_U.S._law._Dissemination
        to_non-U.S._persons_whether_in_the_United_States_or_abroad_requires
        an_export_license_or_other_authorization.
        
        Contractor_Name:________Raytheon_Company
        Contractor_Address:_____6825_Pine_Street,_Suite_340
        ________________________Mail_Stop_B8
        ________________________Omaha,_NE_68106
        ________________________402.291.0100
        
        See_the_AWIPS_II_Master_Rights_File_("Master_Rights_File.pdf")_for
        further_licensing_information.
    -->
<?eclipse version="3.3"?>
<plugin>
	<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:file.new.Aviation">
          <command
                commandId="com.raytheon.viz.aviation.openaviation"
                label="AvnFPS Menu ..."
                style="push">
          </command>
          <separator
              name="xxx"
              visible="true">
          </separator>
          <command
                commandId="com.raytheon.viz.aviation.openavnconfig"
                label="Configuration GUI ..."
                style="push">
          </command>    
      </menuContribution>
      </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.raytheon.viz.aviation.openaviation"
            name="Aviation">
      </command>
      <command
            id="com.raytheon.viz.aviation.openavnconfig"
            name="AvnConfig">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.raytheon.viz.aviation.AviationAction"
            commandId="com.raytheon.viz.aviation.openaviation">
      </handler>
      <handler
            class="com.raytheon.viz.aviation.AvnconfigAction"
            commandId="com.raytheon.viz.aviation.openavnconfig">
      </handler>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.scriptTemplate">
      <scriptTemplate
            pluginName="ccfp"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
   		point="com.raytheon.uf.viz.core.component">
   		<component key="avnmenu" class="com.raytheon.viz.aviation.AviationComponent"/>
   		<component key="avnsetup" class="com.raytheon.viz.aviation.AvnconfigComponent"/>
   		<component key="metar" class="com.raytheon.viz.aviation.MetarComponent"/>
   		<component key="windrose" class="com.raytheon.viz.aviation.WindRoseComponent"/>
   		<component key="cigvisdist" class="com.raytheon.viz.aviation.CigVisDistComponent"/>
   		<component key="cigvistrend" class="com.raytheon.viz.aviation.CigVisTrendComponent"/>
   </extension>
   <extension
        point="com.raytheon.uf.viz.localization.localizationpath">
        <path
                application="AvnFPS"
                localizationType="CAVE_STATIC"
                name="Configuration"
                value="aviation/config"
                recursive="true">
        </path>
        <path
                application="AvnFPS"
                localizationType="CAVE_STATIC"
                name="Avnwatch"
                value="aviation/avnwatch"
                recursive="true">
        </path>          
       </extension> 
</plugin>
