<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- ==================================================================== -->
<!-- Declares mosaic ingest properties                                    -->
<!--                                                                      -->
<!-- File History:                                                        -->
<!--  Date:     Ticket     Engineer      Description                      -->
<!--  ========= =========  ============  ==============================   -->
<!--  20090817      143       L. Lin        Initial Creation              -->
<!-- ==================================================================== -->
<properties>
	<Name>MOSAIC</Name>
	<Plugin>true</Plugin>
	<Database>metadata</Database>
	<Record>gov.noaa.nws.ncep.edex.plugin.mosaic.MosaicRecord</Record>
	<Decoder>gov.noaa.nws.ncep.edex.plugin.mosaic.MosaicDecoder</Decoder>
	<PacketList>gov.noaa.nws.ncep.edex.plugin.mosaic.level3.RadialPacket,
	            gov.noaa.nws.ncep.edex.plugin.mosaic.level3.RadialPacket8bit,
	            gov.noaa.nws.ncep.edex.plugin.mosaic.level3.RasterPacket,
	            gov.noaa.nws.ncep.edex.plugin.mosaic.level3.TextSymbolPacket,
	            gov.noaa.nws.ncep.edex.plugin.mosaic.level3.UnlinkedVectorPacket,
	            gov.noaa.nws.ncep.edex.plugin.mosaic.level3.LinkedVectorPacket
	</PacketList>
</properties>
