<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.lightning.rsc.LightningResource"
            name="Lightning"
            recordClass="com.raytheon.edex.plugin.binlightning.BinLightningRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW"/>
   </extension>
   <!--  already extended by raytheon's lightning resource
   <extension
         point="com.raytheon.uf.viz.core.scriptTemplate">
      <scriptTemplate
            pluginName="binlightning"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   -->
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.lightning.rsc.LightningResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.rsc.lightning.rsc.EditLightningAttrsDialog"
            name="Lightning">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceAttribute">
      <nc-resourceAttribute
            attributeClass="RGB"
            attributeName="color"
            defaultValue="RGB {255, 0, 0}"
            ncResourceName="Lightning">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="enablePositiveStrikes"
            defaultValue="true"
            ncResourceName="Lightning">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="enableNegativeStrikes"
            defaultValue="true"
            ncResourceName="Lightning">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="positiveSymbolSize"
            defaultValue="1"
            ncResourceName="Lightning">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Integer"
            attributeName="negativeSymbolSize"
            defaultValue="1"
            ncResourceName="Lightning">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Boolean"
            attributeName="colorByIntensity"
            defaultValue="false"
            ncResourceName="Lightning">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="ColorBar"
            attributeName="colorBar"
            ncResourceName="Lightning">
      </nc-resourceAttribute>
   </extension>
</plugin>
