<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.pgen.rsc.PgenDisplayResource"
            name="PGEN"
            recordClass=""
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW"/>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.pgen.rsc.PgenDisplayResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="PGEN">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceParameter">
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="monoColorEnable"
            defaultValue="false"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="PGEN">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="RGB"
            paramName="monoColor"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="RGB {0, 255, 0}"
            ncResourceName="PGEN">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="fillModeEnable"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="true"
            ncResourceName="PGEN">
      </nc-resourceParameter>

      <nc-resourceParameter
            ncResourceName="PGEN"
            paramClass="String"
            paramName="pgenDirectory"
            defaultValue="/home/awp2pgen/activities"
            paramType="IMPLEMENTATION_PARAM">
      </nc-resourceParameter>

      <nc-resourceParameter
            ncResourceName="PGEN"
            paramClass="String"
            paramName="productName"
            defaultValue="none"
            paramType="IMPLEMENTATION_PARAM">
      </nc-resourceParameter>

   </extension>
</plugin>
