<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- ==================================================================== -->
<!-- Declares nctaf ingest properties                                      -->
<!--                                                                      -->
<!-- File History:                                                        -->
<!--  Date:     Ticket     Engineer      Description                      -->
<!--  ========= =========  ============  ==============================   -->
<!--  09/12/2011 458       S. Gurung     Initial Creation              -->
<!-- ==================================================================== -->
<properties>
	<Name>nctaf</Name>
	<Plugin>true</Plugin>
	<Database>metadata</Database>
	<Record>gov.noaa.nws.ncep.common.dataplugin.nctaf.NcTafRecord</Record>
	<Decoder>gov.noaa.nws.ncep.edex.plugin.nctaf.NcTafDecoder</Decoder>
	<SEPARATOR>gov.noaa.nws.ncep.edex.plugin.nctaf.decoder.NcTafSeparator</SEPARATOR>
	<Purger>com.raytheon.edex.db.purge.DefaultPurgerImpl</Purger>
</properties>
