<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ecf.provider.filetransfer.retrieveFileTransferProtocolFactory">
      <retrieveFileTransferProtocolFactory
            class="org.eclipse.ecf.internal.provider.filetransfer.efs.RetrieveFileTransferFactory"
            protocol="efs">
      </retrieveFileTransferProtocolFactory>
   </extension>

   <extension
         point="org.eclipse.ecf.provider.filetransfer.sendFileTransferProtocolFactory">
      <sendFileTransferProtocolFactory 
            class="org.eclipse.ecf.internal.provider.filetransfer.efs.SendFileTransferFactory"
            protocol="efs">
      </sendFileTransferProtocolFactory>
   </extension>

   <extension
         point="org.eclipse.ecf.provider.filetransfer.browseFileTransferProtocolFactory">
      <browseFileTransferProtocolFactory 
            class="org.eclipse.ecf.internal.provider.filetransfer.efs.EFSRemoteFileSystemBrowseFactory"
            protocol="efs">
      </browseFileTransferProtocolFactory>
   </extension>

</plugin>
