<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="com.raytheon.viz.ui.contextualMenu">
      <contextualMenu
            actionClass="com.raytheon.uf.viz.damagepath.NewTornadoDamagePathAction"
            capabilityClass="com.raytheon.uf.viz.damagepath.DamagePathLayer"
            name="New Tornado Damage Path"
            sortID="4">
      </contextualMenu>
      <contextualMenu
            actionClass="com.raytheon.uf.viz.damagepath.ExportToLdadAction"
            capabilityClass="com.raytheon.uf.viz.damagepath.DamagePathLayer"
            name="Export to LDAD"
            sortID="5">
      </contextualMenu>
      <contextualMenu
            actionClass="com.raytheon.uf.viz.damagepath.ExportDamagePathAction"
            capabilityClass="com.raytheon.uf.viz.damagepath.DamagePathLayer"
            name="Export to File"
            sortID="6">
      </contextualMenu>
      <contextualMenu
            actionClass="com.raytheon.uf.viz.damagepath.ImportDamagePathAction"
            capabilityClass="com.raytheon.uf.viz.damagepath.DamagePathLayer"
            name="Import from File"
            sortID="7">
      </contextualMenu>
   </extension>
   
   <extension
         point="com.raytheon.uf.viz.localization.perspective.localizationpath">
      <path
            application="D2D"
            extensionFilter=".xml"
            localizationType="COMMON_STATIC"
            name="Damage Path"
            recursive="false"
            value="damagepath">
      </path>
   </extension>
</plugin>
