<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
    <!--
        This_software_was_developed_and_/_or_modified_by_Raytheon_Company,
        pursuant_to_Contract_DG133W-05-CQ-1067_with_the_US_Government.
        
        U.S._EXPORT_CONTROLLED_TECHNICAL_DATA
        This_software_product_contains_export-restricted_data_whose
        export/transfer/disclosure_is_restricted_by_U.S._law._Dissemination
        to_non-U.S._persons_whether_in_the_United_States_or_abroad_requires
        an_export_license_or_other_authorization.
        
        Contractor_Name:________Raytheon_Company
        Contractor_Address:_____6825_Pine_Street,_Suite_340
        ________________________Mail_Stop_B8
        ________________________Omaha,_NE_68106
        ________________________402.291.0100
        
        See_the_AWIPS_II_Master_Rights_File_("Master_Rights_File.pdf")_for
        further_licensing_information.
    -->
<configuration>
    <collaborationParticipantColor>DeepSkyBlue3</collaborationParticipantColor>
    <collaborationParticipantColor>DarkOrange3</collaborationParticipantColor>
    <collaborationParticipantColor>ForestGreen</collaborationParticipantColor>
    <collaborationParticipantColor>firebrick3</collaborationParticipantColor>
    <collaborationParticipantColor>MediumPurple3</collaborationParticipantColor>
    <collaborationParticipantColor>DarkGoldenrod3</collaborationParticipantColor>
    <collaborationParticipantColor>HotPink3</collaborationParticipantColor>
    <collaborationParticipantColor>burlywood4</collaborationParticipantColor>
    <collaborationParticipantColor>CornflowerBlue</collaborationParticipantColor>
    <collaborationParticipantColor>OrangeRed2</collaborationParticipantColor>
    <collaborationParticipantColor>DarkOliveGreen4</collaborationParticipantColor>
    <collaborationParticipantColor>BlueViolet</collaborationParticipantColor>
    <collaborationParticipantColor>SkyBlue3</collaborationParticipantColor>
    <collaborationParticipantColor>orange3</collaborationParticipantColor>
    <collaborationParticipantColor>chartreuse4</collaborationParticipantColor>
    <collaborationParticipantColor>brown2</collaborationParticipantColor>
    <collaborationParticipantColor>gold4</collaborationParticipantColor>
    <collaborationParticipantColor>magenta3</collaborationParticipantColor>
    <collaborationParticipantColor>CadetBlue4</collaborationParticipantColor>
    <collaborationParticipantColor>green3</collaborationParticipantColor>
    <collaborationParticipantColor>coral3</collaborationParticipantColor>
    <collaborationParticipantColor>khaki4</collaborationParticipantColor>
    <collaborationParticipantColor>DarkOrchid3</collaborationParticipantColor>
    <collaborationParticipantColor>chocolate3</collaborationParticipantColor>
    <collaborationParticipantColor>DodgerBlue2</collaborationParticipantColor>
    <collaborationParticipantColor>OliveDrab4</collaborationParticipantColor>
    <collaborationParticipantColor>DarkRed</collaborationParticipantColor>
    <collaborationParticipantColor>tan3</collaborationParticipantColor>
    <collaborationParticipantColor>DeepPink3</collaborationParticipantColor>
    <collaborationParticipantColor>SeaGreen</collaborationParticipantColor>
    <collaborationParticipantColor>DarkViolet</collaborationParticipantColor>
    <collaborationParticipantColor>DarkTurquoise</collaborationParticipantColor>
</configuration>
