<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.satellite.rsc.McidasSatResource"
            name="McidasSatellite"
            recordClass="gov.noaa.nws.ncep.common.dataplugin.mcidas.McidasRecord"
            renderingOrderId="IMAGE_COUNTRY"
            resourceType="PLAN_VIEW"/>
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.satellite.rsc.GiniSatResource"
            name="GiniSatellite"
            recordClass="com.raytheon.edex.plugin.satellite.SatelliteRecord"
            renderingOrderId="IMAGE_COUNTRY"
            resourceType="PLAN_VIEW">
      </resource>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.scriptTemplate">
      <scriptTemplate
            pluginName="mcidas"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.satellite.rsc.SatelliteResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.rsc.satellite.rsc.EditSatelliteAttrsDialog"
            name="McidasSatellite">
      </nc-resource>
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.satellite.rsc.SatelliteResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.rsc.satellite.rsc.EditSatelliteAttrsDialog"
            name="GiniSatellite">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceAttribute">
      <nc-resourceAttribute
            attributeClass="gov.noaa.nws.ncep.viz.ui.display.ColorBarFromColormap"
            attributeName="colorBar"
            ncResourceName="GiniSatellite">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="String"
            attributeName="colorMapName"
            ncResourceName="GiniSatellite">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="gov.noaa.nws.ncep.viz.ui.display.ColorBarFromColormap"
            attributeName="colorBar"
            ncResourceName="McidasSatellite">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="String"
            attributeName="colorMapName"
            ncResourceName="McidasSatellite">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Float"
            attributeName="alpha"
            ncResourceName="McidasSatellite">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Float"
            attributeName="alpha"
            ncResourceName="GiniSatellite">
      </nc-resourceAttribute>
      <nc-resourceAttribute
            attributeClass="Float"
            attributeName="brightness"
            ncResourceName="McidasSatellite">
      </nc-resourceAttribute>      
      <nc-resourceAttribute
            attributeClass="Float"
            attributeName="brightness"
            ncResourceName="GiniSatellite">
      </nc-resourceAttribute>      
      <nc-resourceAttribute
            attributeClass="Float"
            attributeName="contrast"
            ncResourceName="McidasSatellite">
      </nc-resourceAttribute>      
      <nc-resourceAttribute
            attributeClass="Float"
            attributeName="contrast"
            ncResourceName="GiniSatellite">
      </nc-resourceAttribute>
   </extension>

</plugin>
