<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.ntrans.rsc.NtransResource"
            name="NTRANS"
            recordClass="gov.noaa.nws.ncep.common.dataplugin.ntrans.NtransRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW"/>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.scriptTemplate">
      <scriptTemplate
            pluginName="ntrans"
            scriptLibrary="BaseRequest">
      </scriptTemplate>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.ntrans.rsc.NtransResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.resources.misc.EditMiscResourceAttrsDialog"
            name="NTRANS">
      </nc-resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceParameter">
      <nc-resourceParameter
            paramClass="String"
            paramName="modelName"
            defaultValue="%"
            paramType="REQUEST_CONSTRAINT"
            ncResourceName="NTRANS">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="metafileName"
            defaultValue="%"
            paramType="REQUEST_CONSTRAINT"
            ncResourceName="NTRANS">
      </nc-resourceParameter>
      <nc-resourceParameter
            paramClass="String"
            paramName="productName"
            defaultValue="%"
            paramType="REQUEST_CONSTRAINT"
            ncResourceName="NTRANS">
      </nc-resourceParameter>
   </extension>
</plugin>
