<?xml version="1.0" encoding="UTF-8"?>
    <!--
        This_software_was_developed_and_/_or_modified_by_Raytheon_Company,
        pursuant_to_Contract_DG133W-05-CQ-1067_with_the_US_Government.
        
        U.S._EXPORT_CONTROLLED_TECHNICAL_DATA
        This_software_product_contains_export-restricted_data_whose
        export/transfer/disclosure_is_restricted_by_U.S._law._Dissemination
        to_non-U.S._persons_whether_in_the_United_States_or_abroad_requires
        an_export_license_or_other_authorization.
        
        Contractor_Name:________Raytheon_Company
        Contractor_Address:_____6825_Pine_Street,_Suite_340
        ________________________Mail_Stop_B8
        ________________________Omaha,_NE_68106
        ________________________402.291.0100
        
        See_the_AWIPS_II_Master_Rights_File_("Master_Rights_File.pdf")_for
        further_licensing_information.
    -->
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="renderingExtension" name="renderingExtension" schema="schema/renderingExtension.exsd"/>

   <!-- Collaboration groups -->
   <extension
         point="org.eclipse.ui.views">
         <view
               allowMultiple="false"
               category="com.raytheon.viz.ui"
               class="com.raytheon.uf.viz.collaboration.ui.CollaborationGroupView"
               id="com.raytheon.uf.viz.collaboration.ui.CollaborationGroupView"
               icon="icons/browser.gif"
               name="Collaboration Information"
               restorable="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
         id="com.raytheon.uf.viz.collaborationBrowser"
         name="Collaboration Browser" description="Command category for the Collaboration Browser">
	  </category>
      <command
            id="com.raytheon.uf.viz.collaboration.collaborationBrowser"
            name="Collaboration Browser">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.raytheon.uf.viz.collaboration.ui.CollaborationGroupAction"
            commandId="com.raytheon.uf.viz.collaboration.collaborationBrowser">
      </handler>
   </extension>
   <!-- Session Views -->
   <extension
         point="org.eclipse.ui.views">
         <view
               allowMultiple="true"
               category="com.raytheon.viz.ui"
               class="com.raytheon.uf.viz.collaboration.ui.session.CollaborationSessionView"
               id="com.raytheon.uf.viz.collaboration.CollaborationSession"
               icon="icons/messages.gif"
               name="Collaboration Session"
               restorable="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
         <view
               allowMultiple="true"
               category="com.raytheon.viz.ui"
               class="com.raytheon.uf.viz.collaboration.ui.session.SessionView"
               id="com.raytheon.uf.viz.collaboration.SessionView"
               icon="icons/chats.gif"
               name="Private Session"
               restorable="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
         <view
               allowMultiple="true"
               category="com.raytheon.viz.ui"
               class="com.raytheon.uf.viz.collaboration.ui.session.PeerToPeerView"
               id="com.raytheon.uf.viz.collaboration.PeerToPeerView"
               icon="icons/chats.gif"
               name="Chat"
               restorable="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
         id="com.raytheon.uf.viz.collaboration.chatView"
         name="Collaboration Browser" description="Command category for the Chat Room View">
	  </category>
      <command
            id="com.raytheon.uf.viz.collaboration.ChatRoom"
            name="Collaboration Browser">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
         id="com.raytheon.uf.viz.collaboration.collaborationView"
         name="Collaboration Browser" description="Command category for the Chat Room View">
	  </category>
      <command
            id="com.raytheon.uf.viz.collaboration.CollaborationRoom"
            name="Collaboration Browser">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.raytheon.uf.viz.collaboration.ui.session.SessionAction"
            commandId="com.raytheon.uf.viz.collaboration.ChatRoom">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.raytheon.uf.viz.collaboration.ui.session.CollaborationSessionAction"
            commandId="com.raytheon.uf.viz.collaboration.CollaborationRoom">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="menu:CAVE?after=browsers">
            <separator
                  name="com.raytheon.uf.viz.collaboration.ui.separator"
                  visible="true">
            </separator>
      </menuContribution>
      <menuContribution
            locationURI="menu:CAVE?after=com.raytheon.uf.viz.collaboration.ui.separator">
         <command
                 commandId="com.raytheon.uf.viz.collaboration.collaborationBrowser"
                 label="Collaboration"
                 style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="com.raytheon.viz.ui.editorMenuAddition">
      <editorMenuAddition
            class="com.raytheon.uf.viz.collaboration.ui.actions.ShareEditorAction"
            name="Share Editor"
            icon="icons/add_correction.gif">
      </editorMenuAddition>
   </extension>
   <extension 
   		point="com.raytheon.uf.viz.collaboration.ui.renderingExtension">
      <renderingExtension
            class="com.raytheon.uf.viz.collaboration.ui.rsc.rendering.GeneralRenderingHandler">
      </renderingExtension>
      <renderingExtension
            class="com.raytheon.uf.viz.collaboration.ui.rsc.rendering.ImagingRenderingHandler">
      </renderingExtension>
      <renderingExtension
            class="com.raytheon.uf.viz.collaboration.ui.rsc.rendering.OffscreenRenderingHandler">
      </renderingExtension>
      <renderingExtension
            class="com.raytheon.uf.viz.collaboration.ui.rsc.rendering.ShapeRenderingHandler">
      </renderingExtension>
      <renderingExtension
            class="com.raytheon.uf.viz.collaboration.ui.rsc.rendering.StringRenderingHandler">
      </renderingExtension>
      <renderingExtension
            class="com.raytheon.uf.viz.collaboration.ui.rsc.rendering.PrimitiveRenderingHandler">
      </renderingExtension>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.raytheon.uf.viz.collaboration.ui.prefs.CollabPrefInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.raytheon.uf.viz.collaboration.ui.prefs.CollaborationPreferencePage"
            id="com.raytheon.uf.viz.collaboration.ui.prefs.collaborationpreferencepage"
            name="Collaboration"/>
      <page
            class="com.raytheon.uf.viz.collaboration.ui.prefs.CollaborationAlertWordsPreferencePage"
            id="com.raytheon.uf.viz.collaboration.ui.prefs.collaborationalertwordspreferencepage"
            name="Significant Words"
            category="com.raytheon.uf.viz.collaboration.ui.prefs.collaborationpreferencepage"/>
   </extension>
</plugin>
