<?xml version="1.0" encoding="UTF-8"?>
    <!--
        This_software_was_developed_and_/_or_modified_by_Raytheon_Company,
        pursuant_to_Contract_DG133W-05-CQ-1067_with_the_US_Government.
        
        U.S._EXPORT_CONTROLLED_TECHNICAL_DATA
        This_software_product_contains_export-restricted_data_whose
        export/transfer/disclosure_is_restricted_by_U.S._law._Dissemination
        to_non-U.S._persons_whether_in_the_United_States_or_abroad_requires
        an_export_license_or_other_authorization.
        
        Contractor_Name:________Raytheon_Company
        Contractor_Address:_____6825_Pine_Street,_Suite_340
        ________________________Mail_Stop_B8
        ________________________Omaha,_NE_68106
        ________________________402.291.0100
        
        See_the_AWIPS_II_Master_Rights_File_("Master_Rights_File.pdf")_for
        further_licensing_information.
    -->
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
         id="com.raytheon.uf.viz.collaborationBrowser"
         name="Collaboration Browser" description="Command category for the Collaboration Browser">
	  </category>
      <command
            id="com.raytheon.uf.viz.collaboration.collaborationBrowser"
            name="Collaboration Browser">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.raytheon.uf.viz.collaboration.ui.actions.CollaborationGroupAction"
            commandId="com.raytheon.uf.viz.collaboration.collaborationBrowser">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
   <!-- Session Views -->
         <view
               allowMultiple="true"
               category="com.raytheon.viz.ui"
               class="com.raytheon.uf.viz.collaboration.ui.session.CollaborationSessionView"
               id="com.raytheon.uf.viz.collaboration.CollaborationSession"
               icon="icons/messages.gif"
               name="Collaboration Session"
               restorable="false"/>
         <view
               allowMultiple="true"
               category="com.raytheon.viz.ui"
               class="com.raytheon.uf.viz.collaboration.ui.session.SessionView"
               id="com.raytheon.uf.viz.collaboration.SessionView"
               icon="icons/chats.gif"
               name="Private Session"
               restorable="false"/>      
		<view
               allowMultiple="true"
               category="com.raytheon.viz.ui"
               class="com.raytheon.uf.viz.collaboration.ui.session.SessionFeedView"
               id="com.raytheon.uf.viz.collaboration.SessionFeedView"
               icon="icons/chats.gif"
               name="Text Session"
               restorable="false"/>
         <stickyView
               closable="true"
               id="com.raytheon.uf.viz.collaboration.SessionFeedView"/>      
         <view
               allowMultiple="true"
               category="com.raytheon.viz.ui"
               class="com.raytheon.uf.viz.collaboration.ui.session.PeerToPeerView"
               id="com.raytheon.uf.viz.collaboration.PeerToPeerView"
               icon="icons/chats.gif"
               name="Chat"
               restorable="false"/>
         <stickyView
               closable="true"
               id="com.raytheon.uf.viz.collaboration.PeerToPeerView"/>      
   <!-- Collaboration groups -->
         <view
               allowMultiple="false"
               category="com.raytheon.viz.ui"
               class="com.raytheon.uf.viz.collaboration.ui.CollaborationGroupView"
               id="com.raytheon.uf.viz.collaboration.ui.CollaborationGroupView"
               icon="icons/browser.gif"
               name="Collaboration Information"
               restorable="false"/>
         <stickyView
               closable="true"
               id="com.raytheon.uf.viz.collaboration.ui.CollaborationGroupView"/>
         <view
               allowMultiple="true"
               category="com.raytheon.viz.ui"
               class="com.raytheon.uf.viz.collaboration.ui.session.SessionMsgArchiveView"
               id="com.raytheon.uf.viz.collaboration.ui.session.SessionMsgArchiveView"
               icon="icons/log.gif"
               name="Log Browser"
               restorable="false"/>
         <stickyView
               closable="true"
               id="com.raytheon.uf.viz.collaboration.ui.session.SessionMsgArchiveView"/>      
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
         id="com.raytheon.uf.viz.collaboration.chatView"
         name="Collaboration Browser" description="Command category for the Chat Room View">
	  </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
         id="com.raytheon.uf.viz.collaboration.collaborationView"
         name="Collaboration Browser" description="Command category for the Chat Room View">
	  </category>
      <command
            id="com.raytheon.uf.viz.collaboration.CollaborationRoom"
            name="Collaboration Browser">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.raytheon.uf.viz.collaboration.ui.session.CollaborationSessionAction"
            commandId="com.raytheon.uf.viz.collaboration.CollaborationRoom">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="menu:CAVE?after=browsers">
            <separator
                  name="com.raytheon.uf.viz.collaboration.ui.separator"
                  visible="true">
            </separator>
      </menuContribution>
      <menuContribution
            locationURI="menu:CAVE?after=com.raytheon.uf.viz.collaboration.ui.separator">
         <command
                 commandId="com.raytheon.uf.viz.collaboration.collaborationBrowser"
                 label="Collaboration"
                 style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="com.raytheon.viz.ui.editorMenuAddition">
      <editorMenuAddition
            class="com.raytheon.uf.viz.collaboration.ui.actions.ShareEditorAction"
            name="Share with"
            icon="icons/add_correction.gif">
      </editorMenuAddition>
      <editorMenuAddition
            class="com.raytheon.uf.viz.collaboration.ui.actions.UnshareEditorAction"
            name="Unshare"
            icon="icons/remove_editor.gif">
      </editorMenuAddition>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.raytheon.uf.viz.collaboration.ui.prefs.CollaborationPreferencePage"
            id="com.raytheon.uf.viz.collaboration.ui.prefs.collaborationpreferencepage"
            name="Collaboration"/>
      <page
            class="com.raytheon.uf.viz.collaboration.ui.prefs.CollaborationAlertWordsPreferencePage"
            id="com.raytheon.uf.viz.collaboration.ui.prefs.collaborationalertwordspreferencepage"
            name="Significant Words"
            category="com.raytheon.uf.viz.collaboration.ui.prefs.collaborationpreferencepage"/>
      <page
            class="com.raytheon.uf.viz.collaboration.ui.prefs.CollaborationRoomChangePreferencePage"
            id="com.raytheon.uf.viz.collaboration.ui.prefs.collaborationroomchangepreferencepage"
            name="Room Alerts"
            category="com.raytheon.uf.viz.collaboration.ui.prefs.collaborationpreferencepage"/>
      <page
            class="com.raytheon.uf.viz.collaboration.ui.prefs.ContactNotifierPreferencePage"
            id="com.raytheon.uf.viz.collaboration.ui.contactnotifierprefs"
            name="Contact Notifiers"
            category="com.raytheon.uf.viz.collaboration.ui.prefs.collaborationpreferencepage"/>
   </extension>
	<extension
          point="org.eclipse.ui.contexts">
           <context 
                    description="Collaboration Drawing Context"
                    id="com.raytheon.uf.viz.collaboration.tellestrator.context"
                    name="Collaboration Drawing Context">
           </context>           
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
          id="com.raytheon.uf.viz.collaboration.tellestrator.undoRedo"
          name="Undo/Redo command">
          <commandParameter
                id="com.raytheon.uf.viz.collaboration.tellestrator.action"
                name="Undo/Redo Action"
                optional="false">
          </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.raytheon.uf.viz.collaboration.ui.telestrator.handlers.UndoRedoHandler"
            commandId="com.raytheon.uf.viz.collaboration.tellestrator.undoRedo">
      </handler>
   </extension>
      <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.raytheon.uf.viz.collaboration.tellestrator.undoRedo"
            contextId="com.raytheon.uf.viz.collaboration.tellestrator.context"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="M1+Z">
            <parameter id="com.raytheon.uf.viz.collaboration.tellestrator.action" value="UNDO"/>
      </key>
      <key
            commandId="com.raytheon.uf.viz.collaboration.tellestrator.undoRedo"
            contextId="com.raytheon.uf.viz.collaboration.tellestrator.context"
            schemeId="com.raytheon.viz.ui.awips.scheme"
            sequence="M1+Y">
            <parameter id="com.raytheon.uf.viz.collaboration.tellestrator.action" value="REDO"/>
      </key>
   </extension>
   <extension
   		point="com.raytheon.uf.viz.core.classContext">
      <classContext
            class="com.raytheon.uf.viz.collaboration.ui.session.CollaborationSessionView">
         <contextId
               id="com.raytheon.uf.viz.collaboration.tellestrator.context">
         </contextId>
      </classContext>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.raytheon.uf.viz.collaboration.ui.editor.CollaborationEditor"
            default="true"
            id="com.raytheon.uf.viz.collaboration.display.editor.ICollaborationEditor"
            icon="icons/collab_editor.gif"
            name="Collaboration">
      </editor>
   </extension>   
   <extension
       point="com.raytheon.uf.viz.localization.localizationpath">
       <path
          application="CAVE"
          localizationType="CAVE_STATIC"
          name="Collaboration"
          value="collaboration" 
          recursive="true">
       </path>
  </extension>
</plugin>
