####################################################################################
## AIRPORT WEATHER WARNING TEMPLATE                                               ##
## EXAMPLE TEMPLATE USING HUNTSVILLE PRODUCT                                      ##
## CREATED BY PHIL KURIMSKI - WFO DTX                                             ##
##     UPDATED EVAN BOOKBINDER 9-18-2013 Implemented config.vm                    ##
##     MIKE DANGELO 06-25-2014 removed bullet format/went to free form text       ##
##                 per request of local offices, moved ugcline per local examples ## 
##     Mike Dangelo   26 March 2015   Mixed Case Changes                          ##
####################################################################################
#parse("config.vm")
${WMOId} ${vtecOffice} 000000 ${BBBId}
AWW${siteId}
${ugcline} 

#if(${productClass}=="T")
TEST...Airport Weather Warning...TEST##
#else
Airport Weather Warning
#end
National Weather Service ${officeShort}
#backupText(${backupSite})
${dateUtil.format(${now}, ${timeFormat.header}, ${localtimezone})}

 
#if(${productClass}=="T")
...THIS MESSAGE IS FOR TEST PURPOSES ONLY...
#end

#######################################################################
## Set initial variables for initial issuance
#######################################################################
#set ($cancel = "")
#set ($issue = "issued an")
#######################################################################
## Override initial variables if a cancellation is selected
#######################################################################
#if(${list.contains(${bullets}, "cancelAWW")})
#set ($cancel = " CANCELLED")
#set ($issue = "cancelled the")
#end
#######################################################################
## Set the airport based on selection in template 
## Sites can use different airports by modifying the code below
#######################################################################
#set ($site = "!** YOU DIDN'T SELECT AN AIRPORT **!")
#if(${list.contains(${bullets}, "HSV")})
  #set ($site = "Huntsville International Airport /HSV/")
#end
#if(${list.contains(${bullets}, "MSL")})
  #set ($site = "Northwest Alabama Regional Airport (in Muscle Shoals) /MSL/") 
#end
######################################################
###### Storm current location description   ##########
######################################################
...AIRPORT WEATHER WARNING${cancel}...

The National Weather Service in ${officeLoc} has ${issue} Airport Weather Warning for...

${site}

####################################################
############# SECOND BULLET ########################
####################################################
## If cancelling the AWW do not output any text
####################################################
#if(${list.contains(${bullets}, "cancelAWW")})
!** GIVE REASON FOR CANCELLATION **!
#else

#if(${productClass}=="T")
THIS IS A TEST MESSAGE. ##
#end

For the following threats...

###################################################################
## Create threats based on selections in the xml file
## Sites can add or modify threats by changing the code below
###################################################################
#if(${list.contains(${bullets}, "wind")})
Wind gusts 30 knots or higher.

#end
#if(${list.contains(${bullets}, "lightning")})
Cloud to ground lightning within 5 nm of the airport.

#end
#if(${list.contains(${bullets}, "hail")})
Hail of 1/2 inch or greater.

#end
#if(${list.contains(${bullets}, "freezingRain")})
The onset of freezing rain.

#end
#if(${list.contains(${bullets}, "sleetSnow")})
The onset of accumulating sleet or snow.

#end

#end
#############
## WATCHES ##
#############
#######################################################################
## If sites do not want watches in their AWW product comment out the
## section below
#######################################################################
#if(${list.contains(${includedWatches}, "TO.A")} && ${list.contains(${bullets}, "includeTorWatches")})
#inserttorwatches(${watches}, ${list}, ${secondtimezone}, ${dateUtil}, ${timeFormat})

#end
#if(${list.contains(${includedWatches}, "SV.A")} && ${list.contains(${bullets}, "includeSvrWatches")})
#insertsvrwatches(${watches}, ${list}, ${secondtimezone}, ${dateUtil}, ${timeFormat})

#end

## #printcoords(${areaPoly}, ${list})

$$

#parse("forecasterName.vm")
