####################################
## FLOOD ADVISORY FOLLOW-UP ZONES ##
####################################
## Created by Mike Dangelo 09-19-2011 at Alaska TIM  for zones
## Edited by Mike Dangelo 01-26-2012 at CRH TIM
## Edited by Phil Kurimski 2-29-2012
##           Qinglu Lin   12-27-2012  DR 15594. Appended true to headlineLocList's parameter list.
##
#if(${action} == "EXT")
	#set($starttime = "000000T0000Z")
	#set($extend = true)
#else
	#set($starttime = ${dateUtil.format(${start}, ${timeFormat.ymdthmz})})
	#set($extend = false)
#end
##
#if(${list.contains($bullets, "uss")})
	#set($advType = "URBAN AND SMALL STREAM FLOOD ADVISORY")
	#set($advTypeShort = "URBAN AND SMALL STREAM FLOODING")
#elseif(${list.contains($bullets, "small")})
	#set($advType = "SMALL STREAM FLOOD ADVISORY")
	#set($advTypeShort = "SMALL STREAM FLOODING")	
#elseif(${list.contains($bullets, "arroyo")})
	#set($advType = "ARROYO AND SMALL STREAM FLOOD ADVISORY")
	#set($advTypeShort = "ARROYO AND SMALL STREAM FLOODING")
#elseif(${list.contains($bullets, "hydrologic")})
	#set($advType = "HYDROLOGIC ADVISORY")
	#set($advTypeShort = "MINOR FLOODING")
#else
	#set($advType = "FLOOD ADVISORY")
	#set($advTypeShort = "MINOR FLOODING")
#end
#if(${ic} == "SM")
	#set($hycType = "FOR MELTING SNOW IN")
#elseif(${ic} == "RS")
	#set($hycType = "FOR RAIN AND MELTING SNOW IN")
#elseif(${ic} == "IJ")
	#set($hycType = "FOR ICE JAM FLOODING IN")
#elseif(${ic} == "IC")
	#set($hycType = "FOR AN ICE JAM AND RAIN")
#elseif(${list.contains($bullets, "ic1")})
	#set($hycType = "FOR RAPID RIVER RISES IN")
#elseif(${list.contains($bullets, "ic2")})
	#set($hycType = "FOR MINOR FLOODING OF POOR DRAINAGE AREAS IN")
#end
#set ($hycType = "")
#set ($report = "!** warning basis **!")
#set ($typeofevent = "")
#set ($report2 = "")
#set ($cause = "HEAVY RAIN")
#if(${list.contains($bullets, "rapidRiver")})
  #set ($report2 = ". RAPID RIVER RISES WILL RESULT IN MINOR FLOODING") 
  #set ($hycType = "FOR RAPID RIVER RISES ")  
#end
#if(${list.contains($bullets, "poorDrainage")})
  #set ($report2 = ". OVERFLOWING POOR DRAINAGE AREAS WILL RESULT IN MINOR FLOODING")   
  #set ($hycType = "FOR MINOR FLOODING OF POOR DRAINAGE AREAS ")
#end
#if(${ic} == "SM")
  #set ($cause = "SNOW MELT")   
  #set ($hycType = "FOR MELTING SNOW ")
#end
#if(${ic} == "RS")
  #set ($cause = "HEAVY RAIN AND SNOW MELT") 
  #set ($hycType = "FOR RAIN AND MELTING SNOW ")  
#end
#if(${ic} == "IJ")
  #set ($cause = "AN ICE JAM") 
  #set ($hycType = "FOR ICE JAM FLOODING ")  
#end
#if(${ic} == "IC")
  #set ($cause = "AN ICE JAM AND HEAVY RAIN")   
#end
#if(${list.contains($bullets, "rapidRiver")})
  #set ($typeofevent = ". RAPID RIVER RISES ARE EXPECTED")   
#end
#if(${list.contains($bullets, "poorDrainage")})
  #set ($typeofevent = ". OVERFLOWING POOR DRAINAGE AREAS WILL RESULT IN MINOR FLOODING")   
#end
#if(${list.contains($bullets, "glacierOutburst")})
  #set ($report = "A GLACIER-DAMMED LAKEOUTBURST FLOOD WILL RESULT IN MINOR FLOODING AT !** LOCATION **!")   
#end
#if(${list.contains($bullets, "groundWater")})
  #set ($report = "RISING GROUND WATER LEVELS WILL RESULT IN MINOR FLOODING AT !** LOCATION **!")   
#end
#if(${list.contains($bullets, "satellite")})
  #set ($report = "SATELLITE ESTIMATES INDICATE HEAVY RAINFALL THAT WILL CAUSE ${advTypeShort}${typeofevent} IN THE ADVISORY AREA")   
#end
#if(${list.contains($bullets, "satelliteGauge")})
  #set ($report = "SATELLITE ESTIMATES AND RAIN GAUGE DATA INDICATE HEAVY RAINFALL THAT WILL CAUSE ${advTypeShort}${typeofevent} IN THE ADVISORY AREA")   
#end
#if(${list.contains($bullets, "doppler")})
  #set ($report = "DOPPLER RADAR INDICATED ${cause} THAT WILL CAUSE ${advTypeShort}${report2} IN THE ADVISORY AREA")   
#end
#if(${list.contains($bullets, "doppler")} && ${list.contains($bullets, "thunder")})
  #set ($report = "DOPPLER RADAR INDICATED ${cause} DUE TO A THUNDERSTORM THAT WILL CAUSE ${advTypeShort}${report2} IN THE ADVISORY AREA")   
#end
#if(${list.contains($bullets, "doppler")} && ${list.contains($bullets, "thunder")} && ${stormType} == "line")
  #set ($report = "DOPPLER RADAR INDICATED ${cause} DUE TO A LINE OF THUNDERSTORMS THAT WILL CAUSE ${advTypeShort}${report2} IN THE ADVISORY AREA")   
#end
#if(${list.contains($bullets, "dopplerGauge")})
  #set ($report = "DOPPLER RADAR AND AUTOMATED RAIN GAUGES INDICATED ${cause} THAT WILL CAUSE ${advTypeShort}${report2} IN THE ADVISORY AREA")   
#end
#if(${list.contains($bullets, "dopplerGauge")} && ${list.contains($bullets, "thunder")})
  #set ($report = "DOPPLER RADAR AND AUTOMATED RAIN GAUGES INDICATED ${cause} DUE TO A THUNDERSTORM THAT WILL CAUSE ${advTypeShort}${report2} IN THE ADVISORY AREA")   
#end
#if(${list.contains($bullets, "dopplerGauge")} && ${list.contains($bullets, "thunder")} && ${stormType} == "line")
  #set ($report = "DOPPLER RADAR AND AUTOMATED RAIN GAUGES INDICATED ${cause} DUE TO A LINE OF THUNDERSTORMS THAT WILL CAUSE ${advTypeShort}${report2} IN THE ADVISORY AREA")   
#end
#if(${list.contains($bullets, "trainedSpotters")})
  #set ($report = "TRAINED WEATHER SPOTTERS REPORTED ${cause} CAUSING ${advTypeShort} IN !** LOCATION **!${report2}")   
#end
#if(${list.contains($bullets, "trainedSpotters")} && ${list.contains($bullets, "thunder")})
  #set ($report = "TRAINED WEATHER SPOTTERS REPORTED ${cause} IN !** LOCATION **! DUE TO A THUNDERSTORM THAT WILL CAUSE ${advTypeShort}${report2}")   
#end
#if(${list.contains($bullets, "trainedSpotters")} && ${list.contains($bullets, "actual")})
  #set ($report = "TRAINED WEATHER SPOTTERS REPORTED ${cause} CAUSING ${advTypeShort} IN !** LOCATION **!${report2}")   
#end
#if(${list.contains($bullets, "trainedSpotters")} && ${list.contains($bullets, "plainRain")})
  #set ($report = "TRAINED WEATHER SPOTTERS REPORTED ${cause} IN !** LOCATION **! THAT WILL CAUSE ${advTypeShort}${report2}")   
#end
#if(${list.contains($bullets, "trainedSpotters")} && ${list.contains($bullets, "glacierOutburst")})
  #set ($report = "A TRAINED SPOTTER REPORTED MINOR FLOODING IN !** LOCATION **! DUE TO A GLACIER-DAMMED LAKE OUTBURST FLOOD")   
#end
#if(${list.contains($bullets, "trainedSpotters")} && ${list.contains($bullets, "groundWater")})
  #set ($report = "A TRAINED SPOTTER REPORTED MINOR FLOODING IN !** LOCATION **! DUE TO RISING GROUND WATER LEVELS")   
#end
#if(${list.contains($bullets, "lawEnforcement")})
  #set ($report = "LOCAL LAW ENFORCEMENT REPORTED ${cause} CAUSING ${advTypeShort} IN !** LOCATION **!${report2}")   
#end
#if(${list.contains($bullets, "lawEnforcement")} && ${list.contains($bullets, "thunder")})
  #set ($report = "LOCAL LAW ENFORCEMENT REPORTED ${cause} IN !** LOCATION **! DUE TO A THUNDERSTORM IN THAT WILL CAUSE ${advTypeShort}${report2}")   
#end
#if(${list.contains($bullets, "lawEnforcement")} && ${list.contains($bullets, "actual")})
  #set ($report = "LOCAL LAW ENFORCEMENT REPORTED ${cause} CAUSING ${advTypeShort} IN !** LOCATION **!${report2}")   
#end
#if(${list.contains($bullets, "lawEnforcement")} && ${list.contains($bullets, "plainRain")})
  #set ($report = "LOCAL LAW ENFORCEMENT REPORTED ${cause} IN !** LOCATION **! THAT WILL CAUSE ${advTypeShort}${report2}")   
#end
#if(${list.contains($bullets, "lawEnforcement")} && ${list.contains($bullets, "glacierOutburst")})
  #set ($report = "LOCAL LAW ENFORCEMENT REPORTED MINOR FLOODING IN !** LOCATION **! DUE TO A GLACIER-DAMMED LAKE OUTBURST FLOOD")   
#end
#if(${list.contains($bullets, "lawEnforcement")} && ${list.contains($bullets, "groundWater")})
  #set ($report = "LOCAL LAW ENFORCEMENT REPORTED MINOR FLOODING IN !** LOCATION **! DUE TO RISING GROUND WATER LEVELS")   
#end
#if(${list.contains($bullets, "emergencyManagement")})
  #set ($report = "EMERGENCY MANAGEMENT REPORTED ${cause} CAUSING ${advTypeShort} IN !** LOCATION **!${typeofevent}")   
#end
#if(${list.contains($bullets, "emergencyManagement")} && ${list.contains($bullets, "thunder")})
  #set ($report = "EMERGENCY MANAGEMENT REPORTED ${cause} IN !** LOCATION **! DUE TO A THUNDERSTORM IN THAT WILL CAUSE ${advTypeShort}${typeofevent}")   
#end
#if(${list.contains($bullets, "emergencyManagement")} && ${list.contains($bullets, "actual")})
  #set ($report = "EMERGENCY MANAGEMENT REPORTED ${cause} CAUSING ${advTypeShort} IN !** LOCATION **!${typeofevent}")   
#end
#if(${list.contains($bullets, "emergencyManagement")} && ${list.contains($bullets, "plainRain")})
  #set ($report = "EMERGENCY MANAGEMENT REPORTED ${cause} IN !** LOCATION **! THAT WILL CAUSE ${advTypeShort}${typeofevent}")   
#end
#if(${list.contains($bullets, "emergencyManagement")} && ${list.contains($bullets, "glacierOutburst")})
  #set ($report = "EMERGENCY MANAGEMENT REPORTED MINOR FLOODING IN !** LOCATION **! DUE TO A GLACIER-DAMMED LAKE OUTBURST FLOOD")   
#end
#if(${list.contains($bullets, "emergencyManagement")} && ${list.contains($bullets, "groundWater")})
  #set ($report = "EMERGENCY MANAGEMENT REPORTED MINOR FLOODING IN !** LOCATION **! DUE TO RISING GROUND WATER LEVELS")   
#end
#if(${list.contains($bullets, "public")})
  #set ($report = "THE PUBLIC REPORTED ${cause} CAUSING ${advTypeShort} IN !** LOCATION **!${report2}")   
#end
#if(${list.contains($bullets, "public")} && ${list.contains($bullets, "thunder")})
  #set ($report = "THE PUBLIC REPORTED ${advTypeShort} IN !** LOCATION **! DUE TO A THUNDERSTORM THAT WILL CAUSE ${advTypeShort}")   
#end
#if(${list.contains($bullets, "public")} && ${list.contains($bullets, "actual")})
  #set ($report = "THE PUBLIC REPORTED ${cause} CAUSING ${advTypeShort} IN !** LOCATION **!${report2}")   
#end
#if(${list.contains($bullets, "public")} && ${list.contains($bullets, "plainRain")})
  #set ($report = "THE PUBLIC REPORTED ${cause} IN !** LOCATION **! THAT WILL CAUSE MINOR FLOODING${report2}")   
#end
#if(${list.contains($bullets, "public")} && ${list.contains($bullets, "glacierOutburst")})
  #set ($report = "THE PUBLIC REPORTED MINOR FLOODING IN !** LOCATION **! DUE TO A GLACIER-DAMMED LAKE OUTBURST FLOOD")   
#end
#if(${list.contains($bullets, "public")} && ${list.contains($bullets, "groundWater")})
  #set ($report = "THE PUBLIC REPORTED MINOR FLOODING IN !** LOCATION **! DUE TO RISING GROUND WATER LEVELS")   
#end
#if(${list.contains($bullets, "doppler")} || ${list.contains($bullets, "dopplerGauge")})
#set($estimate = "UP TO !** Number **! INCHES OF RAIN HAS FALLEN IN THE PAST HOUR.")
#else
#set($estimate = "")
#end
##########################################
## FLOOD ADVISORY FOLLOW-UP HEADER INFO ##
##########################################
#if(${action}=="COR" && ${cancelareas})
#set($CORCAN = "true")
#else
#set($CORCAN = "false")
#end
#if(${action}!="CANCON" && ${CORCAN}!="true")
${WMOId} ${vtecOffice} 000000 ${BBBId}
FLS${siteId}

#if(${productClass}=="T")
TEST...FLOOD ADVISORY...TEST
#else
FLOOD ADVISORY
#end
NATIONAL WEATHER SERVICE ${officeShort}
#backupText(${backupSite})
${dateUtil.format(${now}, ${timeFormat.header}, ${localtimezone})}

#if(${productClass}=="T")
...THIS MESSAGE IS FOR TEST PURPOSES ONLY...

#end
${ugcline}
/${productClass}.${action}.${vtecOffice}.FA.Y.${etn}.000000T0000Z-${dateUtil.format(${expire}, ${timeFormat.ymdthmz}, 15)}/
/00000.N.${ic}.000000T0000Z.000000T0000Z.000000T0000Z.OO/
#foreach (${area} in ${areas}) 
${area.name} ${area.stateabbr}-##
#end

${dateUtil.format(${now}, ${timeFormat.header}, ${localtimezone})}

#if(${productClass}=="T")
...THIS MESSAGE IS FOR TEST PURPOSES ONLY...

#end
#end
########################
## FLOOD ADVISORY CAN ##
########################
#if(${action}=="CAN")
#if(${productClass}=="T")
THIS IS A TEST MESSAGE.##
#end
...THE ${advType} ${hycType}HAS BEEN CANCELLED FOR ##
## REMMED OUT FOR Alaska
## #headlineLocList(${areas} true true true false)
!**INSERT RIVER/STREAM OR AREA**! IN !**INSERT GEO AREA**!...

########### END NEW HEADLINE CODE ####################

#if(${list.contains($bullets, "recedingWater")})
THE HIGH WATER IS RECEDING...AND IS NO LONGER EXPECTED TO POSE A THREAT. PLEASE CONTINUE TO HEED ANY ROAD CLOSURES.

#end
#if(${list.contains($bullets, "rainEnded")})
THE HEAVY RAIN HAS ENDED...AND FLOODING IS NO LONGER EXPECTED TO POSE A THREAT.

#else
!** THE HEAVY RAIN HAS ENDED. !** OR **! THE FLOOD WATER IS RECEDING. THEREFORE...THE FLOODING THREAT HAS ENDED. **!

#end
#end
########################
## FLOOD ADVISORY EXP ##
########################
#if(${action}=="EXP")
#if(${productClass}=="T")
THIS IS A TEST MESSAGE.##
#end
...THE ${advType} ${hycType}##
#if(${now.compareTo(${expire})} > -1)
EXPIRED AT ${dateUtil.format(${expire}, ${timeFormat.clock}, 15, ${localtimezone})} FOR ##
#else
WILL EXPIRE AT ${dateUtil.format(${expire}, ${timeFormat.clock}, 15, ${localtimezone})} FOR ##
#end
## REMMED OUT FOR Alaska
## #headlineLocList(${areas} true true true false)
!**INSERT RIVER/STREAM OR AREA **! IN !**INSERT GEO AREA**!...

########### END NEW HEADLINE CODE ####################

#if(${list.contains($bullets, "recedingWater")})
THE HIGH WATER IS RECEDING...AND IS NO LONGER EXPECTED TO POSE A THREAT. PLEASE CONTINUE TO HEED ANY ROAD CLOSURES.

#end
#if(${list.contains($bullets, "rainEnded")})
THE HEAVY RAIN HAS ENDED...AND FLOODING IS NO LONGER EXPECTED TO POSE A THREAT.

#end
#end
########################
## FLOOD ADVISORY CON ##
########################
#if(${action}=="CON" || ${action}=="COR")
#if(${productClass}=="T")
THIS IS A TEST MESSAGE.##
#end
...THE ${advType} ${hycType}REMAINS IN EFFECT #secondBullet(${dateUtil},${expire},${timeFormat},${localtimezone},${secondtimezone}) FOR ##
## REMMED OUT FOR Alaska
## #headlineLocList(${areas} true true true false)
!**INSERT RIVER/STREAM OR AREA**! IN !**INSERT GEO AREA**!...##

########### END NEW HEADLINE CODE ####################

#if(${productClass}=="T")

THIS IS A TEST MESSAGE. AT ${dateUtil.format(${event}, ${timeFormat.clock}, ${localtimezone})}...!** warning basis **!
#else

AT ${dateUtil.format(${event}, ${timeFormat.clock}, ${localtimezone})}...${report}. ${estimate}
#end

#set ($phenomena = "FLASH FLOOD") 
#set ($warningType = "ADVISORY") 
#if(${productClass}=="T")
THIS IS A TEST MESSAGE. ##
#end
## REMMED OUT FOR Alaska
## #locationsList("SOME LOCATIONS THAT WILL EXPERIENCE MINOR FLOODING INCLUDE" "THE FLOODING IS EXPECTED TO IMPACT MAINLY RURAL AREAS OF" 0 ${cityList} ${otherPoints} ${areas} ${dateUtil} ${timeFormat} 0) EXCLUDED FOR ALASKA
#if(${list.contains($bullets, "fcstPoint")})
FOR THE !** insert river name and forecast point **!...
AT ${dateUtil.format(${now}, ${timeFormat.clock}, ${localtimezone})} THE STAGE WAS !** xx.x **! FEET.
FLOOD STAGE IS !** xx.x **! FEET.
FORECAST... !** insert crest stage and time **!.
IMPACTS...!** discussion of expected impacts and flood path **!
#else
!** insert impacts and flood path **!

#end

#if(${list.contains($bullets, "addRainfall")})
ADDITIONAL RAINFALL OF !** Edit Amount **! INCHES IS EXPECTED OVER THE AREA.  THIS ADDITIONAL RAIN WILL CAUSE MINOR FLOODING.

#end
#if(${list.contains($bullets, "specificPlace")})
MINOR FLOODING IS OCCURRING NEAR !** Enter Location **!. 

#end
#if(${list.contains($bullets, "drainages")})
#drainages(${riverdrainages})

#end

## parse file command here is to pull in mile marker info
## #parse("mileMarkers.vm")

#####################
## CALL TO ACTIONS ##
#####################
##Check to see if we've selected any calls to action. In our .cfg file
##we ended each CTA bullet ID with "CTA" for this reason as a 'trip'
#foreach ($bullet in $bullets)
#if($bullet.endsWith("CTA"))
#set ($ctaSelected = "YES")
#end
#end
##
#if(${ctaSelected} == "YES") 
PRECAUTIONARY/PREPAREDNESS ACTIONS...

#end
#if(${list.contains($bullets, "dontdrownCTA")})
MOST FLOOD DEATHS OCCUR IN AUTOMOBILES. NEVER DRIVE YOUR VEHICLE INTO AREAS WHERE THE WATER COVERS THE ROADWAY. FLOOD WATERS ARE USUALLY DEEPER THAN THEY APPEAR. JUST ONE FOOT OF FLOWING WATER IS POWERFUL ENOUGH TO SWEEP VEHICLES OFF THE ROAD. WHEN ENCOUNTERING FLOODED ROADS MAKE THE SMART CHOICE...TURN AROUND...DONT DROWN.

#end
#if(${list.contains($bullets, "urbanCTA")})
EXCESSIVE RUNOFF FROM HEAVY RAINFALL WILL CAUSE ELEVATED LEVELS ON SMALL CREEKS AND STREAMS...AND PONDING OF WATER IN URBAN AREAS...HIGHWAYS...STREETS AND UNDERPASSES AS WELL AS OTHER POOR DRAINAGE AREAS AND LOW LYING SPOTS.

#end
#if(${list.contains($bullets, "ruralCTA")})
EXCESSIVE RUNOFF FROM HEAVY RAINFALL WILL CAUSE FLOODING OF SMALL CREEKS AND STREAMS...HIGHWAYS AND UNDERPASSES.  ADDITIONALLY...COUNTRY ROADS AND FARMLANDS ALONG THE BANKS OF CREEKS...STREAMS AND OTHER LOW LYING AREAS ARE SUBJECT TO FLOODING.

#end
#if(${list.contains($bullets, "donotdriveCTA")})
DO NOT DRIVE YOUR VEHICLE INTO AREAS WHERE THE WATER COVERS THE ROADWAY. THE WATER DEPTH MAY BE TOO GREAT TO ALLOW YOUR CAR TO CROSS SAFELY. MOVE TO HIGHER GROUND.

#end
#if(${list.contains($bullets, "lowspotsCTA")})
IN HILLY TERRAIN THERE ARE HUNDREDS OF LOW WATER CROSSINGS WHICH ARE POTENTIALLY DANGEROUS IN HEAVY RAIN. DO NOT ATTEMPT TO TRAVEL ACROSS FLOODED ROADS. FIND ALTERNATE ROUTES. IT TAKES ONLY A FEW INCHES OF SWIFTLY FLOWING WATER TO CARRY VEHICLES AWAY.

#end
#if(${list.contains($bullets, "powerCTA")})
DO NOT UNDERESTIMATE THE POWER OF FLOOD WATERS. ONLY A FEW INCHES OF RAPIDLY FLOWING WATER CAN QUICKLY CARRY AWAY YOUR VEHICLE.

#end
#if(${list.contains($bullets, "reportFloodingCTA")})
TO REPORT FLOODING...HAVE THE NEAREST LAW ENFORCEMENT AGENCY RELAY YOUR REPORT TO THE NATIONAL WEATHER SERVICE FORECAST OFFICE.

#end
#if(${list.contains($bullets, "advisoryMeansCTA")})
A FLOOD ADVISORY MEANS RIVER OR STREAM FLOWS ARE ELEVATED OR PONDING OF WATER IN URBAN OR OTHER AREAS IS OCCURRING OR IS IMMINENT. KEEP AN EYE ON WATERWAYS AND BE PREPARED TO TAKE ACTION.

#end
#if(${ctaSelected} == "YES") 
&&

#end
#################################### END OF CTA STUFF ###################################
#end
############################
## FLOOD ADVISORY CAN/CON ##
############################
#if(${action}=="CANCON")
${WMOId} ${vtecOffice} 000000 ${BBBId}
FLS${siteId}

#if(${productClass}=="T")
TEST...FLOOD ADVISORY...TEST
#else
FLOOD ADVISORY
#end
NATIONAL WEATHER SERVICE ${officeShort}
#backupText(${backupSite})
${dateUtil.format(${now}, ${timeFormat.header}, ${localtimezone})}

#if(${productClass}=="T")
...THIS MESSAGE IS FOR TEST PURPOSES ONLY...

#end
${ugclinecan}
/${productClass}.CAN.${vtecOffice}.FA.Y.${etn}.000000T0000Z-${dateUtil.format(${expire}, ${timeFormat.ymdthmz}, 15)}/
/00000.N.${ic}.000000T0000Z.000000T0000Z.000000T0000Z.OO/
#foreach (${area} in ${cancelareas}) 
${area.name} ${area.stateabbr}-##
#end

${dateUtil.format(${now}, ${timeFormat.header}, ${localtimezone})}

#if(${productClass}=="T")
...THIS MESSAGE IS FOR TEST PURPOSES ONLY...

#elseif(${CORCAN} == "true")
${WMOId} ${vtecOffice} 000000 ${BBBId}
FLS${siteId}

#if(${productClass}=="T")
TEST...FLOOD ADVISORY...TEST
#else
FLOOD ADVISORY
#end
NATIONAL WEATHER SERVICE ${officeShort}
#backupText(${backupSite})
${dateUtil.format(${now}, ${timeFormat.header}, ${localtimezone})}

#if(${productClass}=="T")
...THIS MESSAGE IS FOR TEST PURPOSES ONLY...

#end
${ugclinecan}
/${productClass}.COR.${vtecOffice}.FA.Y.${etn}.000000T0000Z-${dateUtil.format(${expire}, ${timeFormat.ymdthmz}, 15)}/
/00000.N.${ic}.000000T0000Z.000000T0000Z.000000T0000Z.OO/
#foreach (${area} in ${cancelareas}) 
${area.name} ${area.stateabbr}-##
#end

${dateUtil.format(${now}, ${timeFormat.header}, ${localtimezone})}

#if(${productClass}=="T")
...THIS MESSAGE IS FOR TEST PURPOSES ONLY...

#end
#if(${productClass}=="T")
THIS IS A TEST MESSAGE.##
#end
...THE ${advType} ${hycType}HAS BEEN CANCELLED FOR ##
#headlineLocList(${cancelareas} true true true false true)
...##
########### END NEW HEADLINE CODE ####################

## One line explanation - user can delete the one they don't want
## or delete both and explain why manually
!** THE HEAVY RAIN HAS ENDED. THEREFORE...THE FLOODING THREAT HAS ENDED. **!
!** THE FLOOD WATER IS RECEDING. THEREFORE...THE FLOODING THREAT HAS ENDED. **!

#if(${productClass}=="T")
THIS IS A TEST MESSAGE. DO NOT TAKE ACTION BASED ON THIS MESSAGE.

#end
#printcoords(${areaPoly}, ${list})


$$

${ugcline}
/${productClass}.CON.${vtecOffice}.FA.Y.${etn}.000000T0000Z-${dateUtil.format(${expire}, ${timeFormat.ymdthmz}, 15)}/
/00000.N.${ic}.000000T0000Z.000000T0000Z.000000T0000Z.OO/
#foreach (${area} in ${areas}) 
${area.name} ${area.stateabbr}-##
#end

${dateUtil.format(${now}, ${timeFormat.header}, ${localtimezone})}

#if(${productClass}=="T")
...THIS MESSAGE IS FOR TEST PURPOSES ONLY...

#end
#if(${productClass}=="T")
THIS IS A TEST MESSAGE.##
#end
...THE ${advType} REMAINS IN EFFECT UNTIL ${dateUtil.format(${expire}, ${timeFormat.clock}, 15, ${localtimezone})} FOR ##
## REMMED OUT FOR Alaska
## #headlineLocList(${areas} true true true false)
!**INSERT RIVER/STREAM OR AREA **! IN !**INSERT GEO AREA**!...##
########### END NEW HEADLINE CODE ####################

#if(${productClass}=="T")

THIS IS A TEST MESSAGE. AT ${dateUtil.format(${event}, ${timeFormat.clock}, ${localtimezone})}...!** warning basis **!
#else

AT ${dateUtil.format(${event}, ${timeFormat.clock}, ${localtimezone})}...${report}. ${estimate}
#end

#set ($phenomena = "FLASH FLOOD") 
#set ($warningType = "ADVISORY") 

#if(${productClass}=="T")
THIS IS A TEST MESSAGE. ##
#end
##locationsList("SOME LOCATIONS THAT WILL EXPERIENCE MINOR FLOODING INCLUDE" "THE FLOODING IS EXPECTED TO IMPACT MAINLY RURAL AREAS OF" 0 ${cityList} ${otherPoints} ${areas} ${dateUtil} ${timeFormat} 0) EXCLUDED FOR ALASKA
#if(${list.contains($bullets, "fcstPoint")})
FOR THE !** insert river name and forecast point **!...
AT ${dateUtil.format(${now}, ${timeFormat.clock}, ${localtimezone})} THE STAGE WAS !** xx.x **! FEET.
FLOOD STAGE IS !** xx.x **! FEET.
FORECAST... !** insert crest stage and time **!.
IMPACTS...!** discussion of expected impacts and flood path **!
#else
!** insert impacts and flood path **!

#end
#if(${list.contains($bullets, "addRainfall")})

ADDITIONAL RAINFALL OF !** Edit Amount **! INCHES IS EXPECTED OVER THE AREA.  THIS ADDITIONAL RAIN WILL MAKE MINOR FLOODING.
#end
#if(${list.contains($bullets, "specificPlace")})

MINOR FLOODING IS OCCURRING NEAR !** Enter Location **!. 
#end

#if(${list.contains($bullets, "drainages")})
#drainages(${riverdrainages})

#end
#####################
## CALL TO ACTIONS ##
#####################
#foreach ($bullet in $bullets)
#if($bullet.endsWith("CTA"))
#set ($ctaSelected = "YES")
#end
#end
##
#if(${ctaSelected} == "YES") 
PRECAUTIONARY/PREPAREDNESS ACTIONS...

#end
#if(${list.contains($bullets, "dontdrownCTA")})
MOST FLOOD DEATHS OCCUR IN AUTOMOBILES. NEVER DRIVE YOUR VEHICLE INTO AREAS WHERE THE WATER COVERS THE ROADWAY. FLOOD WATERS ARE USUALLY DEEPER THAN THEY APPEAR. JUST ONE FOOT OF FLOWING WATER IS POWERFUL ENOUGH TO SWEEP VEHICLES OFF THE ROAD. WHEN ENCOUNTERING FLOODED ROADS MAKE THE SMART CHOICE...TURN AROUND...DONT DROWN.

#end
#if(${list.contains($bullets, "urbanCTA")})
EXCESSIVE RUNOFF FROM HEAVY RAINFALL WILL CAUSE ELEVATED LEVELS ON SMALL CREEKS AND STREAMS...AND PONDING OF WATER IN URBAN AREAS...HIGHWAYS...STREETS AND UNDERPASSES AS WELL AS OTHER POOR DRAINAGE AREAS AND LOW LYING SPOTS.

#end
#if(${list.contains($bullets, "ruralCTA")})
EXCESSIVE RUNOFF FROM HEAVY RAINFALL WILL CAUSE FLOODING OF SMALL CREEKS AND STREAMS...HIGHWAYS AND UNDERPASSES.  ADDITIONALLY...COUNTRY ROADS AND FARMLANDS ALONG THE BANKS OF CREEKS...STREAMS AND OTHER LOW LYING AREAS ARE SUBJECT TO FLOODING.

#end
#if(${list.contains($bullets, "donotdriveCTA")})
DO NOT DRIVE YOUR VEHICLE INTO AREAS WHERE THE WATER COVERS THE ROADWAY. THE WATER DEPTH MAY BE TOO GREAT TO ALLOW YOUR CAR TO CROSS SAFELY. MOVE TO HIGHER GROUND.

#end
#if(${list.contains($bullets, "lowspotsCTA")})
IN HILLY TERRAIN THERE ARE HUNDREDS OF LOW WATER CROSSINGS WHICH ARE POTENTIALLY DANGEROUS IN HEAVY RAIN. DO NOT ATTEMPT TO TRAVEL ACROSS FLOODED ROADS. FIND ALTERNATE ROUTES. IT TAKES ONLY A FEW INCHES OF SWIFTLY FLOWING WATER TO CARRY VEHICLES AWAY.

#end
#if(${list.contains($bullets, "powerCTA")})
DO NOT UNDERESTIMATE THE POWER OF FLOOD WATERS. ONLY A FEW INCHES OF RAPIDLY FLOWING WATER CAN QUICKLY CARRY AWAY YOUR VEHICLE.

#end
#if(${list.contains($bullets, "reportFloodingCTA")})
TO REPORT FLOODING...HAVE THE NEAREST LAW ENFORCEMENT AGENCY RELAY YOUR REPORT TO THE NATIONAL WEATHER SERVICE FORECAST OFFICE.

#end
#if(${list.contains($bullets, "advisoryMeansCTA")})
A FLOOD ADVISORY MEANS RIVER OR STREAM FLOWS ARE ELEVATED...OR PONDING OF WATER IN URBAN OR OTHER AREAS IS OCCURRING OR IS IMMINENT. DO NOT ATTEMPT TO TRAVEL ACROSS FLOODED ROADS. FIND ALTERNATE ROUTES. IT TAKES ONLY A FEW INCHES OF SWIFTLY FLOWING WATER TO CARRY VEHICLES AWAY.

#end
#if(${ctaSelected} == "YES") 
&&

#end
#################################### END OF CTA STUFF ###################################
#elseif(${CORCAN}=="true")
${WMOId} ${vtecOffice} 000000 ${BBBId}
FLS${siteId}

#if(${productClass}=="T")
TEST...FLOOD ADVISORY...TEST
#else
FLOOD ADVISORY
#end
NATIONAL WEATHER SERVICE ${officeShort}
#backupText(${backupSite})
${dateUtil.format(${now}, ${timeFormat.header}, ${localtimezone})}

#if(${productClass}=="T")
...THIS MESSAGE IS FOR TEST PURPOSES ONLY...

#end
${ugclinecan}
/${productClass}.COR.${vtecOffice}.FA.Y.${etn}.000000T0000Z-${dateUtil.format(${expire}, ${timeFormat.ymdthmz}, 15)}/
/00000.N.${ic}.000000T0000Z.000000T0000Z.000000T0000Z.OO/
#foreach (${area} in ${cancelareas}) 
${area.name} ${area.stateabbr}-##
#end

${dateUtil.format(${now}, ${timeFormat.header}, ${localtimezone})}

#if(${productClass}=="T")
...THIS MESSAGE IS FOR TEST PURPOSES ONLY...

#elseif(${CORCAN} == "true")
${WMOId} ${vtecOffice} 000000 ${BBBId}
FLS${siteId}

#if(${productClass}=="T")
TEST...FLOOD ADVISORY...TEST
#else
FLOOD ADVISORY
#end
NATIONAL WEATHER SERVICE ${officeShort}
#backupText(${backupSite})
${dateUtil.format(${now}, ${timeFormat.header}, ${localtimezone})}

#if(${productClass}=="T")
...THIS MESSAGE IS FOR TEST PURPOSES ONLY...

#end
${ugclinecan}
/${productClass}.COR.${vtecOffice}.FA.Y.${etn}.000000T0000Z-${dateUtil.format(${expire}, ${timeFormat.ymdthmz}, 15)}/
/00000.N.${ic}.000000T0000Z.000000T0000Z.000000T0000Z.OO/
#foreach (${area} in ${cancelareas}) 
${area.name} ${area.stateabbr}-##
#end

${dateUtil.format(${now}, ${timeFormat.header}, ${localtimezone})}

#if(${productClass}=="T")
...THIS MESSAGE IS FOR TEST PURPOSES ONLY...

#end
#if(${productClass}=="T")
THIS IS A TEST MESSAGE.##
#end
...THE ${advType} ${hycType}HAS BEEN CANCELLED FOR ##
#headlineLocList(${cancelareas} true true true false true)
...##
########### END NEW HEADLINE CODE ####################

## One line explanation - user can delete the one they don't want
## or delete both and explain why manually
!** THE HEAVY RAIN HAS ENDED. THEREFORE...THE FLOODING THREAT HAS ENDED. **!
!** THE FLOOD WATER IS RECEDING. THEREFORE...THE FLOODING THREAT HAS ENDED. **!

#if(${productClass}=="T")
THIS IS A TEST MESSAGE. DO NOT TAKE ACTION BASED ON THIS MESSAGE.

#end
#printcoords(${areaPoly}, ${list})


$$

${ugcline}
/${productClass}.COR.${vtecOffice}.FA.Y.${etn}.000000T0000Z-${dateUtil.format(${expire}, ${timeFormat.ymdthmz}, 15)}/
/00000.N.${ic}.000000T0000Z.000000T0000Z.000000T0000Z.OO/
#foreach (${area} in ${areas}) 
${area.name} ${area.stateabbr}-##
#end

${dateUtil.format(${now}, ${timeFormat.header}, ${localtimezone})}

#if(${productClass}=="T")
...THIS MESSAGE IS FOR TEST PURPOSES ONLY...

#end
#if(${productClass}=="T")
THIS IS A TEST MESSAGE.##
#end
...THE ${advType} REMAINS IN EFFECT UNTIL ${dateUtil.format(${expire}, ${timeFormat.clock}, 15, ${localtimezone})} FOR ##
## REMMED OUT FOR Alaska
## #headlineLocList(${areas} true true true false)
!**INSERT RIVER/STREAM OR AREA **! IN !**INSERT GEO AREA**!...##
########### END NEW HEADLINE CODE ####################

#if(${productClass}=="T")

THIS IS A TEST MESSAGE. AT ${dateUtil.format(${event}, ${timeFormat.clock}, ${localtimezone})}...!** warning basis **!
#else

AT ${dateUtil.format(${event}, ${timeFormat.clock}, ${localtimezone})}...${report}. ${estimate}
#end

#set ($phenomena = "FLASH FLOOD") 
#set ($warningType = "ADVISORY") 

#if(${productClass}=="T")
THIS IS A TEST MESSAGE. ##
#end
##locationsList("SOME LOCATIONS THAT WILL EXPERIENCE MINOR FLOODING INCLUDE" "THE FLOODING IS EXPECTED TO IMPACT MAINLY RURAL AREAS OF" 0 ${cityList} ${otherPoints} ${areas} ${dateUtil} ${timeFormat} 0) EXCLUDED FOR ALASKA
#if(${list.contains($bullets, "fcstPoint")})
FOR THE !** insert river name and forecast point **!...
AT ${dateUtil.format(${now}, ${timeFormat.clock}, ${localtimezone})} THE STAGE WAS !** xx.x **! FEET.
FLOOD STAGE IS !** xx.x **! FEET.
FORECAST... !** insert crest stage and time **!.
IMPACTS...!** discussion of expected impacts and flood path **!
#else
!** insert impacts and flood path **!

#end
#if(${list.contains($bullets, "addRainfall")})

ADDITIONAL RAINFALL OF !** Edit Amount **! INCHES IS EXPECTED OVER THE AREA.  THIS ADDITIONAL RAIN WILL MAKE MINOR FLOODING.
#end
#if(${list.contains($bullets, "specificPlace")})

MINOR FLOODING IS OCCURRING NEAR !** Enter Location **!. 
#end

#if(${list.contains($bullets, "drainages")})
#drainages(${riverdrainages})

#end
#####################
## CALL TO ACTIONS ##
#####################
#foreach ($bullet in $bullets)
#if($bullet.endsWith("CTA"))
#set ($ctaSelected = "YES")
#end
#end
##
#if(${ctaSelected} == "YES") 
PRECAUTIONARY/PREPAREDNESS ACTIONS...

#end
#if(${list.contains($bullets, "dontdrownCTA")})
MOST FLOOD DEATHS OCCUR IN AUTOMOBILES. NEVER DRIVE YOUR VEHICLE INTO AREAS WHERE THE WATER COVERS THE ROADWAY. FLOOD WATERS ARE USUALLY DEEPER THAN THEY APPEAR. JUST ONE FOOT OF FLOWING WATER IS POWERFUL ENOUGH TO SWEEP VEHICLES OFF THE ROAD. WHEN ENCOUNTERING FLOODED ROADS MAKE THE SMART CHOICE...TURN AROUND...DONT DROWN.

#end
#if(${list.contains($bullets, "urbanCTA")})
EXCESSIVE RUNOFF FROM HEAVY RAINFALL WILL CAUSE ELEVATED LEVELS ON SMALL CREEKS AND STREAMS...AND PONDING OF WATER IN URBAN AREAS...HIGHWAYS...STREETS AND UNDERPASSES AS WELL AS OTHER POOR DRAINAGE AREAS AND LOW LYING SPOTS.

#end
#if(${list.contains($bullets, "ruralCTA")})
EXCESSIVE RUNOFF FROM HEAVY RAINFALL WILL CAUSE FLOODING OF SMALL CREEKS AND STREAMS...HIGHWAYS AND UNDERPASSES.  ADDITIONALLY...COUNTRY ROADS AND FARMLANDS ALONG THE BANKS OF CREEKS...STREAMS AND OTHER LOW LYING AREAS ARE SUBJECT TO FLOODING.

#end
#if(${list.contains($bullets, "donotdriveCTA")})
DO NOT DRIVE YOUR VEHICLE INTO AREAS WHERE THE WATER COVERS THE ROADWAY. THE WATER DEPTH MAY BE TOO GREAT TO ALLOW YOUR CAR TO CROSS SAFELY. MOVE TO HIGHER GROUND.

#end
#if(${list.contains($bullets, "lowspotsCTA")})
IN HILLY TERRAIN THERE ARE HUNDREDS OF LOW WATER CROSSINGS WHICH ARE POTENTIALLY DANGEROUS IN HEAVY RAIN. DO NOT ATTEMPT TO TRAVEL ACROSS FLOODED ROADS. FIND ALTERNATE ROUTES. IT TAKES ONLY A FEW INCHES OF SWIFTLY FLOWING WATER TO CARRY VEHICLES AWAY.

#end
#if(${list.contains($bullets, "powerCTA")})
DO NOT UNDERESTIMATE THE POWER OF FLOOD WATERS. ONLY A FEW INCHES OF RAPIDLY FLOWING WATER CAN QUICKLY CARRY AWAY YOUR VEHICLE.

#end
#if(${list.contains($bullets, "reportFloodingCTA")})
TO REPORT FLOODING...HAVE THE NEAREST LAW ENFORCEMENT AGENCY RELAY YOUR REPORT TO THE NATIONAL WEATHER SERVICE FORECAST OFFICE.

#end
#if(${list.contains($bullets, "advisoryMeansCTA")})
A FLOOD ADVISORY MEANS RIVER OR STREAM FLOWS ARE ELEVATED...OR PONDING OF WATER IN URBAN OR OTHER AREAS IS OCCURRING OR IS IMMINENT. DO NOT ATTEMPT TO TRAVEL ACROSS FLOODED ROADS. FIND ALTERNATE ROUTES. IT TAKES ONLY A FEW INCHES OF SWIFTLY FLOWING WATER TO CARRY VEHICLES AWAY.

#end
#if(${ctaSelected} == "YES") 
&&

#end
#end
####################################
## END OF FLOOD ADVISORY PRODUCTS ##
####################################
#if(${productClass}=="T")
THIS IS A TEST MESSAGE. DO NOT TAKE ACTION BASED ON THIS MESSAGE.

#end

#printcoords(${areaPoly}, ${list})


$$

!**NAME/INITIALS**!