#########################################################################
## The next section is for site specific burn scars and other areas that
## need a pre-defined polygon for a FFW. Each site should take the
## example below and customize it with the information they used in 
## AWIPS 1. The following is an example of a burn scar area for a
## pre-defined polygon in Boulders (BOU) cwa. 
## If you have any questions please contact Phil Kurimski - WFO DTX 
#########################################################################
#*
#if(${list.contains($bullets, "FourMileBurnArea")})
    #set($burnScarName = "FOUR MILE BURN AREA")
    #set($burnScarEnd = " OVER THE FOUR MILE BURN AREA")
    #set($emergencyHeadline = "AREAS IN AND AROUND THE ${burnScarName}")
#end
#if(${list.contains($bullets, "fourmilelowimpact")})
  #set($ctaSelected = "YES")
  #set($burnScar = "THIS IS A LIFE THREATENING SITUATION.  HEAVY RAINFALL WILL CAUSE EXTENSIVE AND SEVERE FLASH FLOODING OF CREEKS...STREAMS...AND DITCHES IN THE FOURMILE BURN AREA.")
  #set($burnDrainage = "SOME DRAINAGE BASINS IMPACTED INCLUDE FOURMILE CREEK...GOLD RUN...AND FOURMILE CANYON CREEK.")
  #set($burnCTA = "THIS IS A LIFE THREATENING SITUATION.  HEAVY RAINFALL WILL CAUSE EXTENSIVE AND SEVERE FLASH FLOODING OF CREEKS...STREAMS...AND DITCHES IN THE FOURMILE BURN AREA.  SOME DRAINAGE BASINS IMPACTED INCLUDE FOURMILE CREEK...GOLD RUN...AND FOURMILE CANYON CREEK.  SEVERE DEBRIS FLOWS CAN ALSO BE ANTICIPATED ACROSS ROADS.  ROADS AND DRIVEWAYS MAY BE WASHED AWAY IN PLACES.  IF YOU ENCOUNTER FLOOD WATERS...CLIMB TO SAFETY.")
#end
#if(${list.contains($bullets, "fourmilehighimpact")})
  #set($ctaSelected = "YES")
  #set($burnScar = "THIS IS A LIFE THREATENING SITUATION FOR PEOPLE ALONG BOULDER CREEK IN THE CITY OF BOULDER...IN THE FOURMILE BURN AREA...AND IN BOULDER CANYON.  HEAVY RAINFALL WILL CAUSE EXTENSIVE AND SEVERE FLASH FLOODING OF CREEKS AND STREAMS FROM THE FOURMILE BURN AREA DOWNSTREAM THROUGH THE CITY OF BOULDER.")
  #set($burnDrainage = "SOME DRAINAGE BASINS IMPACTED INCLUDE BOULDER CREEK...FOURMILE CREEK...GOLD RUN...FOURMILE CANYON CREEK...AND WONDERLAND CREEK.")
  #set($burnCTA = "THIS IS A LIFE THREATENING SITUATION FOR PEOPLE ALONG BOULDER CREEK IN THE CITY OF BOULDER...IN THE FOURMILE BURN AREA...AND IN BOULDER CANYON.  HEAVY RAINFALL WILL CAUSE EXTENSIVE AND SEVERE FLASH FLOODING OF CREEKS AND STREAMS FROM THE FOURMILE BURN AREA DOWNSTREAM THROUGH THE CITY OF BOULDER.  SOME DRAINAGE BASINS IMPACTED INCLUDE BOULDER CREEK...FOURMILE CREEK...GOLD RUN...FOURMILE CANYON CREEK...AND WONDERLAND CREEK.  SEVERE DEBRIS FLOWS CAN ALSO BE ANTICIPATED ACROSS ROADS.  ROADWAYS AND BRIDGES MAY BE WASHED AWAY IN PLACES. IF YOU ENCOUNTER FLOOD WATERS...CLIMB TO SAFETY.")
#end
*#
#########################################################
## End of example
#########################################################

#######################################################################
## End of Site Specific Burn Scar Information
#######################################################################

