#*
CREATED 09-20-2013 BY EVAN BOOKBINDER

dbTable list should include the pointSource objects created in
dssEvents.xml

*#

#if ($dss_events)
#set($size = ${list.size($dss_events)})
#if ($size > 0)
PEOPLE ATTENDING ##
#set($counter = 1)
#foreach($dss in $dss_events)
#if($counter < $size)
${dss.name}...##
#set($counter = $counter + 1)
#elseif($counter == $size)
#if($size > 1)
AND ## 
#end
${dss.name} ##
#end
#end
SHOULD SEEK SAFE SHELTER IMMEDIATELY!

#end
#end