#################
############################################################################
## EXTREME WIND WARNING TEMPLATE                                          ##
## RECENT HISTORY
##          QINGLU LIN                 8-14-2012 DR 14493 use TMLtime     ##
##          Mike Dangelo 9-13-2012 minor tweaks to ${variables}           ##
##          Evan Bookbinder 06-07-2013 Fixed CTAs/&&
##          Evan Bookbinder 09-18-2013 Implemented config.vm 
##          Dave Tomalak 03-24-2015 Mixed Case
############################################################################
#################
## EWW PRODUCT ##
#################
#parse("config.vm")
##
${WMOId} ${vtecOffice} 000000 ${BBBId}
EWW${siteId}
${ugcline}
/${productClass}.${action}.${vtecOffice}.EW.W.${etn}.${dateUtil.format(${start}, ${timeFormat.ymdthmz})}-${dateUtil.format(${expire}, ${timeFormat.ymdthmz}, 15)}/

BULLETIN - EAS ACTIVATION REQUESTED
#if(${productClass}=="T")
TEST...Extreme Wind Warning...TEST
#else
Extreme Wind Warning
#end
National Weather Service ${officeShort}
#backupText(${backupSite})
${dateUtil.format(${now}, ${timeFormat.header}, ${localtimezone})}


#if(${productClass}=="T")
This message is for test purposes only

#end
#headline(${officeLoc}, ${backupSite})

##################
## FIRST BULLET ##
##################
* ##
#if(${productClass}=="T")
This is a test message. ##
#end
Extreme Wind Warning for...
#firstBullet(${areas})

###################
## SECOND BULLET ##
###################
* ##
#if(${productClass}=="T")
This is a test message. ##
#end
#secondBullet(${dateUtil},${expire},${timeFormat},${localtimezone},${secondtimezone})

#set($reportType1 = "!**NO THREAT TYPE WAS SELECTED. PLEASE CHECK YOUR WARNGEN SELECTIONS AND RE-GENERATE THIS PRODUCT**!")

#if(${list.contains(${bullets}, "var1")})
#set($reportType1 = "associated with the eyewall of Hurricane !**name**!, were moving onshore")
#set($reportType = "extreme winds")
#set($reportType2 = "the hurricane eyewall was")
#end

##
#if(${list.contains(${bullets}, "var2")})
#set($reportType1 = "associated with a broad area of intense thunderstorms, located")
#set($reportType = "extreme winds were occurinG")
#set($reportType2 = "this area of thunderstorm winds was")
#end
##
#if(${list.contains(${bullets}, "var3")})
#set($reportType1 = "associated with an intense low pressure area, located")
#set($reportType = "extreme winds were occuring")
#set($reportType2 = "this intense low pressure system was")
#end
##
#if(${list.contains(${bullets}, "var4")})
#set($reportType1 = "associated with a downslope windstorm, located")
#set($reportType = "extreme winds were occuring")
#set($reportType2 = "this area of downslope winds was")
#end
##
#if(${list.contains(${bullets}, "basis1")})
#set($reportType = "National Weather Service Doppler radar indicated extreme winds")
#end
##
#if(${list.contains(${bullets}, "basis2")})
#set($reportType = "surface observations indicated extreme winds")
#end
##
#if(${list.contains(${bullets}, "basis3")})
#set($reportType = "maritime observations indicated extreme winds")
#end
##
#if(${list.contains(${bullets}, "basis4")})
#set($reportType = "trained weather spotters reported extreme winds")
#end
##
#if(${list.contains(${bullets}, "basis5")})
#set($reportType = "National Weather Service Doppler radar and surface observations indicated extreme winds")
#end
##
#if(${list.contains(${bullets}, "basis6")})
#set($reportType = "National Weather Service Doppler radar and maritime observations indicated extreme winds")
#end
##
#if(${list.contains(${bullets}, "basis7")})
#set($reportType = "National Weather Service Doppler radar and trained weather spotters reported extreme winds")
#end
##
## Storm current location description

* ##
#if(${productClass}=="T")
This is a test message. ##
#end
#thirdBullet(${dateUtil},${event},${timeFormat},${localtimezone},${secondtimezone})
, ${reportType}, ${reportType1} ##
##Many of the variables passed below are controlled by config.vm
#if(${stormType} == "line")
#handleClosestPoints(${list}, ${closestPoints}, ${otherClosestPoints}, ${stormType}, ${nearPhrase} , ${maxLandNearDistance}, ${overPhrase}, ${maxLandOverDistance}, ${landDistanceUnits}, ${useSecondReferenceLine})
#else
#handleClosestPoints(${list}, ${closestPoints}, ${otherClosestPoints}, ${stormType}, ${nearPhrase} , ${maxLandNearDistance}, ${overPhrase}, ${maxLandOverDistance}, ${landDistanceUnits}, ${useSecondReferenceCell})
#end
#if(${movementSpeed} < ${landStationary} || ${stationary})
. ${reportType2} nearly stationary.##
#else
, moving #direction(${movementDirectionRounded}) at ${mathUtil.roundTo5(${movementSpeed})} mph.##
#end
 This is an extremely dangerous and life-threatening situation!

#set($phenomena = "Extreme winds") 
#set($warningType = "Warning") 
#if(${list.contains(${bullets}, "pathcast")})
* ##
#if(${productClass}=="T")
This is a test message. ##
#end
#pathCast("${phenomena} will be near..." ${phenomena} ${pathCast} ${otherPoints} ${areas} ${dateUtil} ${timeFormat} 0)

#elseif(${list.contains(${bullets}, "listofcities")})
* ##
#if(${productClass}=="T")
This is a test message. ##
#end
#### THE THIRD ARGUMENT IS A NUMBER SPECIFYING THE NUMBER OF COLUMNS TO OUTPUT THE CITIES LIST IN
#### 0 IS A ,  SEPARATED LIST, 1 IS ONE PER LINE, >1 IS A COLUMN FORMAT
#### IF YOU USE SOMETHING OTHER THAN "LOCATIONS IMPACTED INCLUDE" LEAD IN BELOW, MAKE SURE THE
#### ACCOMPANYING XML FILE PARSE STRING IS CHANGED TO MATCH!
#locationsList("Locations impacted include... " ${phenomena} 0 ${cityList} ${otherPoints} ${areas} ${dateUtil} ${timeFormat} 0)

#end

## parse file command here is to pull in mile marker info
## #parse("pointMarkers.vm")
## parse file command here is to pull in mile marker info
## #parse("mileMarkers.vm")

#####################
## CALL TO ACTIONS ##
#####################
#foreach (${bullet} in ${bullets})
#if(${bullet.endsWith("CTA")})
#set($ctaSelected = "YES")
#end
#end
##
#if(${ctaSelected} == "YES") 
PRECAUTIONARY/PREPAREDNESS ACTIONS, 

#end
#if(${list.contains(${bullets}, "destructiveWindsCTA")})
Widespread destructive winds of !** **! TO !** **! mph will spread across ##
#foreach (${area} in ${areas})
 ${area.name} ${area.areaNotation}, ##
#end
producing swaths of tornado-like damage.

#end
#if(${list.contains(${bullets}, "takeCoverCTA")})
Take cover now! Treat these imminent extreme winds as if a tornado was approaching and move immediately to the safe room in your shelter. Take action now to protect your life!

#end
#if(${list.contains(${bullets}, "safePlacesCTA")})
The safest place to be during a major landfalling hurricane is in a reinforced interior room away from windows. Get under a table or other piece of sturdy furniture. Use mattresses, blankets or pillows to cover your head and body. Remain in place through the passage of these life threatening conditions.

#end
#if(${ctaSelected} == "YES") 
&&

#end
#############
## WATCHES ##
#############
#if(${list.contains(${includedWatches}, "TO.A")})
#inserttorwatches(${watches}, ${list}, ${secondtimezone}, ${dateUtil}, ${timeFormat})
#end
#if(${list.contains(${includedWatches}, "SV.A")})
#insertsvrwatches(${watches}, ${list}, ${secondtimezone}, ${dateUtil}, ${timeFormat})
#end


#if(${productClass}=="T")
This is a test message. do not take action based on this message.

#end
#printcoords(${areaPoly}, ${list})

#tml(${TMLtime}, ${timeFormat}, ${movementDirection}, ${movementInKnots}, ${eventLocation})


$$

#parse("forecasterName.vm")
