######################################################
## DAM BREAK FFW  TEMPLATE                          ##
## CREATED BY PHIL KURIMSKI - WFO DTX               ##
## RECENT VERSION HISTORY:
## VERSION AWIPS II 1.4 - SEP 13 2012   OB12.9.1-12 ## 
##            to add Flash Flood Emergency Headline ##
## VERSION AWIPS II 1.5 - FEB 08 2013   OB13.2.1-5  ##
##            to update CTA statements              ##     
## VERSION AWIPS II 1.6 - JUN 26 2013   OB13.4.1    ##
##              to add "U" Unknown servity          ##
## VERSION AWIPS II 1.7 - SEP 17 2013   OB13.5.2-4  ##
##   Phil Kurimski - Added FFW Emergency Headline   ##
##   Gene Petrescu - SEP 20 2013                    ##
##				added AK modifications              ##
## VERSION AWIPS II 1.8 - JAN 18 2014   OB14.2.1    ##
##   Mike Rega - added Alaska GP changes            ##
##   Mike Dangelo 1/24/2014 tweaks to hycTypes to match 10-922
######################################################
##
#parse("config.vm")
#if(${action} == "EXT")
	#set($starttime = "000000T0000Z")
	#set($extend = true)
#else
	#set($starttime = ${dateUtil.format(${start}, ${timeFormat.ymdthmz})})
	#set($extend = false)
#end
#if(${list.contains(${bullets}, "sev3")} || ${list.contains(${bullets}, "ffwEmergency")})
	#set($sev = "3")
#elseif(${list.contains(${bullets}, "sev1")})
	#set($sev = "1")
#elseif(${list.contains(${bullets}, "sev2")})
	#set($sev = "2")
#elseif(${list.contains(${bullets}, "sevUnk")})
	#set($sev = "U")	
#else
	#set($sev = "0")
#end
##
## set reportType2 to a default value in case nothing is selected for site specific
#set($reportType2 = "THE FAILURE OF")
#####################################################################
## set variables to be used in site specific dam break selections
#####################################################################
#set($addInfo = "")
#set($scenario = "")
#set($ruleofthumb = "")
#set($sitespecCTA = "")
#set($volcanoCTA = "")
### added by GP	
#set($glacierCTA = "")
### GP end
#set($emergencyHeadline = "!** ENTER LOCATION **!")
#if(${list.contains(${bullets}, "levee")})
	#set($ic = "DM")
	#set($hycType = "A LEVEE FAILURE")
	#set($reportType1 = "A LEVEE ON THE !** **! RIVER AT !** **! FAILED CAUSING FLASH FLOODING OF IMMEDIATELY SURROUNDING AREAS")
#elseif(${list.contains(${bullets}, "floodgate")})
	#set($ic = "DR")
	#set($hycType = "A DAM FLOODGATE RELEASE")
	#set($reportType1 = "THE FLOODGATES ON THE !** **! DAM WERE OPENED CAUSING FLASH FLOODING DOWNSTREAM ON THE !** **! RIVER")
#elseif(${list.contains(${bullets}, "glacier")})
	#set($ic = "GO")
### modified by GP
	#set($hycType = "A GLACIER-DAMMED LAKE OUTBURST")
	#set($ctaSelected = "YES")
	#set($reportType1 = "A GLACIER-DAMMED LAKE AT !** **! IS RAPIDLY RELEASING LARGE QUANTITIES OF IMPOUNDED WATER RESULTING IN FLASH FLOODING !** **!")
	#set($glacierCTA = "STAY AWAY FROM IMPACTED WATERWAYS. WATER LEVELS CAN RISE VERY RAPIDLY EVEN IN DRY WEATHER. VERY COLD GLACIAL MELT WATER INCREASES THE RISK FOR HYPOTHERMIA.")
### GP end
#elseif(${list.contains(${bullets}, "icejam")})
	#set($ic = "IJ")
	#set($hycType = "AN ICE JAM")
	#set($reportType1 = "AN ICE JAM ON THE !** **! RIVER AT !** **! BROKE CAUSING FLASH FLOODING DOWNSTREAM")
#elseif(${list.contains(${bullets}, "rain")})
	#set($ic = "RS")
	#set($hycType = "EXTREMELY RAPID SNOWMELT")
	#set($reportType1 = "EXTREMELY RAPID SNOWMELT !** COMBINED WITH HEAVY RAIN **! IS GENERATING FLASH FLOODING")
#elseif(${list.contains(${bullets}, "volcano")})
	#set($ic = "SM")
### modified by GP	
	#set($hycType = "EXTREMELY RAPID SNOWMELT CAUSED BY VOLCANIC ERUPTION")
	#set($ctaSelected = "YES")
	#set($reportType1 = "ACTIVITY OF THE !** **! VOLCANO WAS CAUSING RAPID SNOWMELT ON ITS SLOPES AND GENERATING FLASH FLOODING")
	#set($volcanoCTA = "PERSONS IN THE VICINITY OF !** DRAINAGE **! SHOULD HEAD TO HIGHER GROUND IMMEDIATELY. FLOODS DUE TO VOLCANO INDUCED SNOWMELT CAN OCCUR VERY RAPIDLY AND IMPACT AREAS WELL AWAY FROM NORMAL WATERWAY CHANNELS.")
### end GP
#elseif(${list.contains(${bullets}, "volcanoLahar")})
	#set($ic = "SM")
### modified by GP	
	#set($hycType = "VOLCANIC INDUCED DEBRIS FLOW")
	#set($ctaSelected = "YES")
	#set($reportType1 = "ACTIVITY OF THE !** **! VOLCANO WAS CAUSING RAPID MELTING OF SNOW AND ICE ON THE MOUNTAIN. THIS WILL RESULT IN A TORRENT OF MUD...ASH...ROCK AND HOT WATER TO FLOW DOWN THE MOUNTAIN THROUGH !** DRAINAGE **! AND GENERATE FLASH FLOODING")
	#set($volcanoCTA = "PERSONS IN THE VICINITY OF !** DRAINAGE **! SHOULD HEAD TO HIGHER GROUND IMMEDIATELY. VOLCANIC DEBRIS FLOWS ARE EXTREMELY DANGEROUS. VOLCANIC DEBRIS FLOWS CAN IMPACT AREAS WELL AWAY FROM NORMAL WATERWAY CHANNELS.")
### end GP
#elseif(${list.contains(${bullets}, "dam")})
	#set($ic = "DM")
	#set($hycType = "A DAM FAILURE")
	#set($reportType1 = "THE !** **! DAM FAILED CAUSING FLASH FLOODING DOWNSTREAM ON THE !** **! RIVER")
	#set($addInfo = "!** **! DAM ON THE !** **! RIVER UPSTREAM FROM !** **! HAS GIVEN WAY AND HIGH WATERS ARE NOW MOVING TOWARD !** **!. AREAS DOWNSTREAM FROM THE DAM ALONG THE !** **! RIVER SHOULD BE PREPARED FOR FLOODING. TAKE NECESSARY PRECAUTIONS IMMEDIATELY")
#elseif(${list.contains(${bullets}, "siteimminent")})
	#set($ic = "DM")
	#set($hycType = "A DAM BREAK")
	#set($reportType1 = "THE IMMINENT FAILURE OF !** **! DAM")
	#set($reportType2 = "THE IMMINENT FAILURE OF")
	#set($addInfo = "!** **! DAM ON THE !** **! RIVER UPSTREAM FROM !** **! HAS GIVEN WAY AND HIGH WATERS ARE NOW MOVING TOWARD !** **!. AREAS DOWNSTREAM FROM THE DAM ALONG THE !** **! RIVER SHOULD BE PREPARED FOR FLOODING. TAKE NECESSARY PRECAUTIONS IMMEDIATELY")
#elseif(${list.contains(${bullets}, "sitefailed")})
	#set($ic = "DM")
	#set($hycType = "A DAM BREAK")
	#set($reportType1 = "THE FAILURE OF !** **! DAM")
	#set($reportType2 = "THE FAILURE OF")
	#set($addInfo = "!** **! DAM ON THE !** **! RIVER UPSTREAM FROM !** **! HAS GIVEN WAY AND HIGH WATERS ARE NOW MOVING TOWARD !** **!. AREAS DOWNSTREAM FROM THE DAM ALONG THE !** **! RIVER SHOULD BE PREPARED FOR FLOODING. TAKE NECESSARY PRECAUTIONS IMMEDIATELY")
#else
	#set($ic = "ER")
	#set($hycType = "EXCESSIVE RAIN")
	#set($reportType1 = "EXCESSIVE RAIN CAUSING FLASH FLOODING WAS OCCURING OVER THE WARNED AREA")
#end
#########################################################################
## Parse command to include a damInfo.vm file with site specific dam
## information. Sites can include their information in this file.
#########################################################################
#parse ("damInfo.vm")
##
${WMOId} ${vtecOffice} 000000 ${BBBId}
FFW${siteId}
${ugcline}
/${productClass}.${action}.${vtecOffice}.FF.W.${etn}.${starttime}-${dateUtil.format(${expire}, ${timeFormat.ymdthmz}, 15)}/
/00000.${sev}.${ic}.000000T0000Z.000000T0000Z.000000T0000Z.OO/

BULLETIN - EAS ACTIVATION REQUESTED
#if(${productClass}=="T")
TEST...FLASH FLOOD WARNING...TEST
#else
FLASH FLOOD WARNING
#end
NATIONAL WEATHER SERVICE ${officeShort}
#backupText(${backupSite})
${dateUtil.format(${now}, ${timeFormat.header}, ${localtimezone})}

#if(${productClass}=="T")
...THIS MESSAGE IS FOR TEST PURPOSES ONLY...

#end
####################################
## Flash Flood Emergency Headline  #
####################################
#if(${list.contains(${bullets}, "ffwEmergency")} )
...FLASH FLOOD EMERGENCY FOR ${emergencyHeadline}...

#end

#headlineext(${officeLoc}, ${backupSite}, ${extend})

* ##
#if(${productClass}=="T")
THIS IS A TEST MESSAGE. ##
#end
#######################################################################
## Put the hycType variable on the next line and included the word 'IN'
## to come in line with the 10-922 directive
#######################################################################
FLASH FLOOD WARNING FOR...
#### added by GP
#if(${alaska}=="true")
  ${hycType} ON THE...
!**INSERT RIVER/STREAM OR AREA**! IN !**INSERT GEO AREA**!
#elseif(${wrZoneCounty}=="true")
  ${hycType} IN...
#firstBullet(${affectedCounties})
#else
  ${hycType} IN...
#firstBullet(${areas})
#end
### GP end

* ##
#if(${productClass}=="T")
THIS IS A TEST MESSAGE. ##
#end
#secondBullet(${dateUtil},${expire},${timeFormat},${localtimezone},${secondtimezone})

#set($report = "${reportType1}")
#if(${list.contains(${bullets}, "county")})
  #set($report = "COUNTY DISPATCH REPORTED ${reportType1}") 
#end
#if(${list.contains(${bullets}, "lawEnforcement")})
  #set($report = "LOCAL LAW ENFORCEMENT REPORTED ${reportType1}") 
#end
#if(${list.contains(${bullets}, "corps")})
  #set($report = "CORPS OF ENGINEERS REPORTED ${reportType1}") 
#end
#if(${list.contains(${bullets}, "damop")})
  #set($report = "DAM OPERATORS REPORTED ${reportType1}") 
#end
#if(${list.contains(${bullets}, "bureau")})
  #set($report = "BUREAU OF RECLAMATION REPORTED ${reportType1}") 
#end
#if(${list.contains(${bullets}, "public")})
  #set($report = "THE PUBLIC REPORTED ${reportType1}") 
#end
### added by GP
#if(${list.contains(${bullets}, "onlyGauge")})
  #set($report = "GAUGES INDICATED ${reportType1}") 
#end
#if(${list.contains(${bullets}, "CAP")})
  #set($report = "THE CIVIL AIR PATROL REPORTED ${reportType1}") 
#end
#if(${list.contains(${bullets}, "alaskaVoc")})
  #set($report = "THE ALASKA VOLCANO OBSERVATORY REPORTED ${reportType1}") 
#end
#if(${list.contains(${bullets}, "cascadeVoc")})
  #set($report = "THE CASCADES VOLCANO OBSERVATORY REPORTED ${reportType1}") 
#end
### GP end

* ##
#if(${productClass}=="T")
THIS IS A TEST MESSAGE. ##
#end
#thirdBullet(${dateUtil},${event},${timeFormat},${localtimezone},${secondtimezone})...${report}.

##########################################################################
## Flash Flood Emergency per NWS 10-922 Directive goes with third bullet #
##########################################################################
#if(${list.contains(${bullets}, "ffwEmergency")})
#wrapText("THIS IS A FLASH FLOOD EMERGENCY FOR ${emergencyHeadline}." 2 2)

#end
#set($phenomena = "FLASH FLOOD") 
#set($warningType = "WARNING") 
##########################################################################
## Optional 4th bullet...comment out if not needed.
##########################################################################
## This first if loop will override the locations impacted statement
## with the site specific information in the 4th bullet.
##########################################################################
#if(${sitespecSelected} == "YES")
* ##
${addInfo} 

${scenario}

${ruleofthumb}

##########################################################################
## Continue with the regular 4th bullet information
##########################################################################
#elseif(${list.contains(${bullets}, "pathcast")})
* ##
#if(${productClass}=="T")
THIS IS A TEST MESSAGE. ##
#end
#pathCast("THE FLOOD WILL BE NEAR..." "THIS FLOODING" ${pathCast} ${otherPoints} ${areas} ${dateUtil} ${timeFormat} 0)

#elseif(${list.contains(${bullets}, "listofcities")})
* ##
#if(${productClass}=="T")
THIS IS A TEST MESSAGE. ##
#end
#### THE THIRD ARGUMENT IS A NUMBER SPECIFYING THE NUMBER OF COLUMNS TO OUTPUT THE CITIES LIST IN
#### 0 IS A ... SEPARATED LIST, 1 IS ONE PER LINE, >1 IS A COLUMN FORMAT
#### IF YOU USE SOMETHING OTHER THAN "LOCATIONS IMPACTED INCLUDE" LEAD IN BELOW, MAKE SURE THE
#### ACCOMPANYING XML FILE PARSE STRING IS CHANGED TO MATCH!
#locationsList("LOCATIONS IMPACTED INCLUDE..." "THIS FLOODING" 0 ${cityList} ${otherPoints} ${areas} ${dateUtil} ${timeFormat} 0)

#end
############################ End of Optional 4th Bullet ###########################
#if(${list.contains(${bullets}, "drainages")})
#drainages(${riverdrainages})

#end

## parse file command here is to pull in mile marker info
## #parse("mileMarkers.vm")

#if(${list.contains(${bullets}, "floodMoving")})
FLOOD WATERS ARE MOVING DOWN !**name of channel**! FROM !**location**! TO !**location**!. THE FLOOD CREST IS EXPECTED TO REACH !**location(s)**! BY !**time(s)**!.

#end

#####################
## CALL TO ACTIONS ##
#####################
#######################################################################
## Check to see if we've selected any calls to action. In our .xml file
## we ended each CTA bullet ID with "CTA" for this reason as a 'trip'
#######################################################################
#foreach (${bullet} in ${bullets})
#if(${bullet.endsWith("CTA")})
#set($ctaSelected = "YES")
#end
#end
##
#if(${ctaSelected} == "YES")
PRECAUTIONARY/PREPAREDNESS ACTIONS...
#end
##

${sitespecCTA}

${volcanoCTA}

${glacierCTA}

#if(${list.contains(${bullets}, "ffwEmergencyCTA")} || ${list.contains(${bullets}, "ffwEmergency")})
#if(${list.contains(${bullets}, "ffwEmergency")})
MOVE TO HIGHER GROUND NOW. THIS IS AN EXTREMELY DANGEROUS AND LIFE THREATENING SITUATION. DO NOT ATTEMPT TO TRAVEL UNLESS YOU ARE FLEEING AN AREA SUBJECT TO FLOODING OR UNDER AN EVACUATION ORDER.

#else
!** YOU SELECTED THE FLASH FLOOD EMERGENCY CTA WITHOUT SELECTING THE FLASH FLOOD EMERGENCY HEADER. PLEASE CLOSE THIS WINDOW AND RE-GENERATE THIS WARNING **!

#end
#end
#if(${list.contains(${bullets}, "actQuicklyCTA")})
MOVE TO HIGHER GROUND NOW. ACT QUICKLY TO PROTECT YOUR LIFE.

#end
#if(${list.contains(${bullets}, "childSafetyCTA")})
KEEP CHILDREN AWAY FROM STORM DRAINS...CULVERTS...CREEKS AND STREAMS. WATER LEVELS CAN RISE RAPIDLY AND SWEEP CHILDREN AWAY.

#end
#if(${list.contains(${bullets}, "nighttimeCTA")})
BE ESPECIALLY CAUTIOUS AT NIGHT WHEN IT IS HARDER TO RECOGNIZE THE DANGERS OF FLOODING. 

#end
#if(${list.contains(${bullets}, "safetyCTA")})
DO NOT ENTER OR CROSS FLOWING WATER OR WATER OF UNKNOWN DEPTH. 

#end
#if(${list.contains(${bullets}, "stayAwayCTA")})
STAY AWAY OR BE SWEPT AWAY. RIVER BANKS AND CULVERTS CAN BECOME UNSTABLE AND UNSAFE. 

#end
#if(${list.contains(${bullets}, "turnAroundCTA")})
TURN AROUND...DONT DROWN WHEN ENCOUNTERING FLOODED ROADS. MOST FLOOD DEATHS OCCUR IN VEHICLES.

#end
#if(${list.contains(${bullets}, "arroyosCTA")})
REMAIN ALERT FOR FLOODING EVEN IN LOCATIONS NOT RECEIVING RAIN. ARROYOS...STREAMS AND RIVERS CAN BECOME RAGING KILLER CURRENTS IN A MATTER OF MINUTES...EVEN FROM DISTANT RAINFALL.

#end
#if(${list.contains(${bullets}, "burnAreasCTA")})
MOVE AWAY FROM RECENTLY BURNED AREAS. LIFE THREATENING FLOODING OF CREEKS...ROADS AND NORMALLY DRY ARROYOS IS LIKELY. THE HEAVY RAINS WILL LIKELY TRIGGER ROCKSLIDES...MUDSLIDES AND DEBRIS FLOWS IN STEEP TERRAIN...ESPECIALLY IN AND AROUND THESE AREAS.

#end
#if(${list.contains(${bullets}, "reportFloodingCTA")})
PLEASE REPORT TO YOUR LOCAL LAW ENFORCEMENT AGENCY WHEN YOU CAN DO SO SAFELY. 

#end
#if(${ctaSelected} == "YES")
&&
#end

#if(${productClass}=="T")
THIS IS A TEST MESSAGE. DO NOT TAKE ACTION BASED ON THIS MESSAGE.

#end
#printcoords(${areaPoly}, ${list})


$$

#parse("forecasterName.vm")
