#*
CREATED 2-29-2012 BY EVAN BOOKBINDER

dbTable list should include the pointSource objects created in
stormReports.xml

*#

##set ($dbTable = [${lsr_severe},${lsr_flood}])
#set ($dbTable = [${lsr_severe}])
#if ($dbTable)
#foreach($table in $dbTable)
#set($size = ${list.size($table)})
#if ($size > 0)
!** RECENT LOCAL STORM REPORTS:
(COPY AND PASTE VALID REPORTS INTO 3RD BULLET THEN DELETE THIS SECTION)
#foreach($report in $table)
${report.name}
#end
**!


#end

#end
#end