<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.1"?>
<plugin>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.provider.jmdns.container.ContainerInstantiator"
            description="Discovery Container"
            name="ecf.discovery.jmdns"
            server="true">
       </containerFactory>
   </extension>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.provider.jmdns.identity.JMDNSNamespace"
            description="JMDNS Namespace"
            name="ecf.namespace.jmdns"/>
   </extension>
   <extension
         point="org.eclipse.ecf.start">
      <run
            asynchronous="true"
            class="org.eclipse.ecf.internal.provider.jmdns.DiscoveryStart">
      </run>
   </extension>

</plugin>
