<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ecf.presence.ui.MultiRosterView?before=additions">
         <dynamic
               class="org.eclipse.ecf.presence.collab.ui.url.URLShareRosterEntryContributionItem"
               id="org.eclipse.ecf.presence.collab.ui.dynamic2">
         </dynamic>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ecf.presence.ui.MultiRosterView?before=additions">
         <dynamic
               class="org.eclipse.ecf.presence.collab.ui.url.URLShareRosterContributionItem"
               id="org.eclipse.ecf.presence.collab.ui.dynamic3">
         </dynamic>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ecf.presence.ui.MultiRosterView?before=additions">
         <dynamic
               class="org.eclipse.ecf.presence.collab.ui.view.ViewShareRosterEntryContributionItem"
               id="org.eclipse.ecf.presence.collab.ui.dynamic4">
         </dynamic>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ecf.presence.ui.MultiRosterView?before=additions">
         <dynamic
               class="org.eclipse.ecf.presence.collab.ui.view.ViewShareRosterContributionItem"
               id="org.eclipse.ecf.presence.collab.ui.dynamic5">
         </dynamic>
      </menuContribution>
   </extension>
   
      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ecf.presence.ui.MultiRosterView?before=additions">
         <dynamic
               class="org.eclipse.ecf.presence.collab.ui.screencapture.ScreenCaptureShareRosterEntryContributionItem"
               id="org.eclipse.ecf.presence.collab.ui.dynamic6">
         </dynamic>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ecf.presence.ui.MultiRosterView?before=additions">
         <dynamic
               class="org.eclipse.ecf.presence.collab.ui.screencapture.ScreenCaptureShareRosterContributionItem"
               id="org.eclipse.ecf.presence.collab.ui.dynamic7">
         </dynamic>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ecf.presence.ui.rosterViewerDropTarget">
      <dropTarget
            class="org.eclipse.ecf.presence.collab.ui.url.URLRosterViewerDropTarget">
      </dropTarget>
   </extension>
   <extension
         point="org.eclipse.ecf.start">
      <run
            class="org.eclipse.ecf.internal.presence.collab.ui.ShareReceiversECFStart">
      </run>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ecf.presence.ui.MultiRosterView?before=additions">
         <dynamic
               class="org.eclipse.ecf.presence.collab.ui.console.ConsoleShareRosterEntryContributionItem"
               id="org.eclipse.ecf.presence.collab.ui.console">
         </dynamic>
      </menuContribution>
   </extension>
</plugin>
