<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="gov.noaa.nws.ncep.standalone.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="gov.noaa.nws.ncep.standalone.Perspective"
            id="gov.noaa.nws.ncep.standalone.perspective">
      </perspective>
   </extension> 
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="gov.noaa.nws.ncep.standalone.application"
            name="CAVEStandalone">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="CAVEStandalone">
         </property>
         <property
               name="aboutText"
               value="AWIPS Common Visualization Environment (CAVE)&#x0A;&#x0A;&#x0A;&#x0A;Developed on the Raytheon Visualization Environment (viz)">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="gov.noaa.nws.ncep.standalone.colormapConverter.ConvertHandler"
            id="gov.noaa.nws.ncep.standalone.commands.ConvertHandler"
            name="ConvertHandler">
      </command>
      <command
            defaultHandler="gov.noaa.nws.ncep.standalone.vgfConverter.VgfConvertHandler"
            id="gov.noaa.nws.ncep.standalone.commands.VgfConvertHandler"
            name="VgfConvertHandler">
      </command> 
      <command
            defaultHandler="gov.noaa.nws.ncep.standalone.xmlConverter.XmlConvertHandler"
            id="gov.noaa.nws.ncep.standalone.commands.XmlConvertHandler"
            name="XmlConvertHandler">
      </command>
      <command
            defaultHandler="gov.noaa.nws.ncep.standalone.testConverter.TestXmlHandler"
            id="gov.noaa.nws.ncep.standalone.commands.TestXmlHandler"
            name="TestXmlHandler">
      </command>
      <command
            defaultHandler="gov.noaa.nws.ncep.standalone.testVgfConverter.TestVgfHandler"
            id="gov.noaa.nws.ncep.standalone.commands.TestVgfHandler"
            name="TestVgfHandler">
      </command>
      <command
            defaultHandler="gov.noaa.nws.ncep.standalone.clipvgf.ClipVGFHandler"
            description="Clip PGen XML"
            id="gov.noaa.nws.ncep.standalone.commands.ClipVGFHandler"
            name="ClipVGF">
      </command>
      <command
            defaultHandler="gov.noaa.nws.ncep.standalone.joinvgf.JoinVGFHandler"
            description="Join PGen XML"
            id="gov.noaa.nws.ncep.standalone.commands.JoinVGFHandler"
            name="JoinVGF">
      </command>
      <command
            defaultHandler="gov.noaa.nws.ncep.standalone.fop.FOPHandler"
            description="Flood Outlook Product"
            id="gov.noaa.nws.ncep.standalone.commands.FOPHandler"
            name="FOP">
      </command>
      <command
            defaultHandler="gov.noaa.nws.ncep.standalone.rfop.RFOPHandler"
            description="Reverse Flood Outlook Product"
            id="gov.noaa.nws.ncep.standalone.commands.RFOPHandler"
            name="RFOP">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="Converter"
               label="Converter">
            <command
                  commandId="gov.noaa.nws.ncep.standalone.commands.ConvertHandler"
                  label="Convert Colormap"
                  style="push"
                  tooltip="Convert TBL Colormap">
            </command>
            <command
                  commandId="gov.noaa.nws.ncep.standalone.commands.VgfConvertHandler"
                  label="Convert VGF"
                  style="push"
                  tooltip="Convert VGF files to XML files">
            </command>
            <command
                  commandId="gov.noaa.nws.ncep.standalone.commands.XmlConvertHandler"
                  label="Convert XML"
                  style="push"
                  tooltip="Convert XML files to TAG files">
            </command>
         </menu>
         <menu
               id="TestConverter"
               label="TestConverter">
            <command
                  commandId="gov.noaa.nws.ncep.standalone.commands.TestVgfHandler"
                  label="Test Vgf Converter"
                  style="push"
                  tooltip="Test Vgf file and the converted Vgf file">
            </command> 
            <command
                  commandId="gov.noaa.nws.ncep.standalone.commands.TestXmlHandler"
                  label="Test XML Converter"
                  style="push"
                  tooltip="Test Xml file and the converted XML file">
            </command>
         </menu>
         <menu
               id="VGFMenu"
               label="PGen XML">
            <command
                  commandId="gov.noaa.nws.ncep.standalone.commands.ClipVGFHandler"
                  label="clipvgf"
                  style="push"
                  tooltip="ClipVGF">
            </command>
            <command
                  commandId="gov.noaa.nws.ncep.standalone.commands.JoinVGFHandler"
                  label="joinvgf"
                  style="push"
                  tooltip="JoinVGF">
            </command>
            <command
                  commandId="gov.noaa.nws.ncep.standalone.commands.FOPHandler"
                  label="fop"
                  style="push"
                  tooltip="Flood Outlook Product">
            </command>
            <command
                  commandId="gov.noaa.nws.ncep.standalone.commands.RFOPHandler"
                  label="rfop"
                  style="push"
                  tooltip="Reverse Flood Outlook Product">
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
