<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin> 
      <extension
         point="com.raytheon.uf.viz.productbrowser.dataDefinition">
         <dataDefinition
         	name="crimssProductBrowserDataDefinition"
         	class="com.raytheon.uf.viz.npp.crimss.CrimssDataDefinition" >
         </dataDefinition>
   </extension>
     <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.raytheon.uf.viz.productbrowser.DataTypePreferencePage"
            id="com.raytheon.uf.viz.productbrowser.productbrowserdatapreferencepage"
            name="CrIMSS"
            category="com.raytheon.uf.viz.productbrowser.productbrowserpreferencespage"/>
   </extension>

</plugin>
